﻿@model CodexMVC.Models.ViewTourList
@{
    ViewBag.Title = "Tours";
    ViewBag.Section = "Tour";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    ul {
        list-style: none;
    }
</style>

<div class="page-header">
    <h1>Tours</h1>
</div>

@*<div class="row">
        <div class="col-md-12">
            <a href="/Agent/List?mode=ByArtist" class="btn btn-default">Alphabetical</a>
            <a href="/Agent/List?mode=ByCitizenship" class="btn btn-default">By Place</a>
            <a href="/Agent/List?mode=ByRepresentativeOf" class="btn btn-default">By Style</a>
            <a href="/Agent/List?mode=ByAttribute" class="btn btn-default">By Profession</a>
            <a href="/Agent/List?mode=ByDateOfBirth" class="btn btn-default">By Date</a>
        </div>
    </div>*@

@if (Model.Tours != null && Model.Tours.Any())
{
    var exhibitions = Model.Tours.GroupBy(x => x.Location.Guid);
    foreach (var item in exhibitions.OrderBy(x => x.First().Location.Name))
    {
        var current = item.First();
        <h2>
            @current.Location.Name
            @if (current.Inside.Any())
            {
                <small>
                    @string.Join(", ", current.Inside.Select(x => x.Name))
                </small>
            }
            <a href="/Place/ViewDetail/@current.Location.Guid" class="btn btn-default btn-sm">see all</a>
        </h2>
        <ul>
            @foreach (var subitem in item.OrderBy(x => x.Tour.Name))
            {
                <li>
                    <h4>
                        <a href="/Tour/ViewDetail/@subitem.Tour.Guid">@subitem.Tour.ToDisplay()</a>
                        in <a href="/Place/ViewDetail/@subitem.Location.Guid">@subitem.Location.Name</a>
                    </h4>
                </li>
            }
        </ul>
    }

}