﻿@using Data.Entities
@using CodexMVC.Helpers
@using Humanizer
@model CodexMVC.Models.ViewAgentPublic
@{
    var markdown = new MarkdownDeep.Markdown();
    var hasTimeline = Model.NewActs != null && Model.NewActs.Any();
}
@if (hasTimeline)
{
    <div id="Timeline" style="padding: 20px;">
        <div class="row">
            <div class="col-md-12">
                <h1 id="timeline-slider-value" class="pull-right"></h1>
                <div id="timeline-slider"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                @foreach (var group in Model.NewActs.OrderBy(x => x.Act.Year).GroupBy(x => x.Act.Year))
                {
                    int lastMonth = 0;
                    var lastDay = 0;
                    var first = group.First().Act;
                    var year = first.Decade ? first.Year.Value.ToString() + "s" : first.Year.Value.ToString();
                    <div class="act-container year-@(first.Year.Value)">
                        <div class="shadow-z-1 " style="padding: 20px; padding-left: 40px; margin: 20px;">

                            @{
                    var yearStyle = Model.Details.Age.HasValue
                        && (first.Year.Value == Model.Details.Birth.Year.Value || first.Year.Value == Model.Details.Death.Year.Value) ? "color: red;" : "";
                            }
                            <h1 style="@yearStyle">
                                <a href="/Time/ViewDetail?year=@year" target="_blank" data-year="@year">
                                    @year
                                    <span class="glyphicon glyphicon-new-window" style="font-size: 0.5em;"></span>
                                </a>
                                @if (Model.Details.Age.HasValue)
                                {
                                    var age = first.Year.Value - Model.Details.Birth.Year.Value;
                                    if (age > 0 && age <= Model.Details.Age.Value)
                                    {
                                        var ageText = string.Format("aged {0}", false == first.Decade ? age.ToString() : age + " to " + (age + 10));
                                        <small>@ageText</small>
                                    }
                                }
                                @{
                    var places = group.SelectMany(x => x.EntityImages.Select(x2 => x2.Entity)).OfType<Place>().Select(x => x.Name).Distinct();
                                }
                                @if (places.Any())
                                {
                                    <small>in @RazorHelper.And(places)</small>
                                }
                            </h1>
                            @foreach (var newAct in group.OrderBy(x => x.Act.Month).ThenBy(x => x.Act.Day))
                            {
                                if (newAct.Act.Month.HasValue && newAct.Act.Month.Value != lastMonth)
                                {
                                    lastMonth = newAct.Act.Month.Value;
                                    lastDay = 0;
                                }
                                if (newAct.Act.Day.HasValue && newAct.Act.Day.Value != lastDay)
                                {
                                    lastDay = newAct.Act.Day.Value;
                                }
                                if (newAct.Act.Month.HasValue)
                                {
                                    <h3>
                                        @Month(lastMonth) @(lastDay > 0 ? lastDay.ToString() : "")
                                    </h3>
                                }
                                <div id="act-@newAct.Act.Guid">
                                    @{
                                var importance = newAct.Act.Importance == Importance.Small ? "font-size: 0.9em;" : newAct.Act.Importance == Importance.Big ? "font-size: 1.5em;" : "";
                                    }
                                    <div style="position: relative;">
                                        <div>
                                            <h4>
                                                @Html.Raw(CodexMVC.Helpers.RazorHelper.RemoveOuterTag("p", markdown.Transform(newAct.ToHtml(visitors: new IEntity[] { Model.Agent.Agent }))))
                                            </h4>
                                            @if (newAct.Source != null)
                                            {
                                                <p>
                                                    <b>Source:</b> @Html.Raw(("<span style='text-decoration: underline;'>" + newAct.Source.ToDisplay() + "</span>" + (newAct.Act.Source != null ? ", " + newAct.Act.Source : "")))
                                                </p>
                                            }
                                        </div>
                                        <div style="position: absolute; left: -30px; top: 0px;">
                                            @{
                                            var starClass = "glyphicon-bookmark";
                                            var starStyle = newAct.Bookmarked ? "color: red; " : "";
                                            var clockStyle = newAct.InItinerary ? "color: red;" : "";
                                            }
                                            <a href="#" onclick="codex.api.addBookmark(this); return false;" data-bookmarked="@newAct.Bookmarked.ToString().ToLower()" data-guid="@newAct.Act.Guid" data-type="Act"><span style="@starStyle font-size: 1.5em;" class="glyphicon @starClass"></span></a>
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-4">
                <div class="row" style="margin-top: 20px;">
                    <h3>
                        Filter by <span id="filtering-by"></span>
                    </h3>
                    <div class="col-md-8">
                        @{
    var filterGrouping = Model.NewActs
        .SelectMany(x => x.EntityImages)
        .Where(x => x.Entity != null)
        .Distinct(new Services.EntityImageComparer())
        .GroupBy(x => x.Entity.GetType().UnderlyingSystemType.Name);
                        }
                        @if (filterGrouping.Any())
                        {

                            foreach (var group in filterGrouping)
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4 class="perforation">
                                            @EntityTypeName(group.Key)
                                        </h4>
                                        <div style="float: left;" class="two-cols">
                                            @foreach (var item in group.OrderBy(x => NameOf(x.Entity)))
                                            {
                                                <div>
                                                    <a href="#" data-name="@NameOf(item.Entity)" data-filtering="false" data-entity="@(string.Format("{0}-{1}", item.Entity.GetType().UnderlyingSystemType.Name, item.Entity.Guid))" onclick="toggleTimeline(this); return false;">
                                                        @NameOf(item.Entity)
                                                    </a>
                                                    @if (item.Attributes != null && item.Attributes.Any())
                                                    {
                                                        <small>@string.Join(", ", item.Attributes.Select(x => x.Name.ToLower()))</small>
                                                    }
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="col-md-4">
                        @{
    var attributes = Model.NewActs
        .SelectMany(x => x.EntityImages.Where(x2 => x2.Attributes != null).SelectMany(x2 => x2.Attributes))
        .Where(x => x != null)
        .Distinct(new CodexMVC.Areas.Admin.Controllers.CategoryComparer())
        ;
                        }
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="perforation">
                                    any kind of
                                </h4>
                                <div style="float: left;">
                                    @foreach (var item in attributes.OrderBy(x => x.Name))
                                    {
                                        <div>
                                            <a href="#" data-name="@item.Name.ToLower()" data-filtering="false" data-entity="@(string.Format("Category-{0}", item.Guid))" onclick="toggleTimeline(this); return false;">
                                                @(item.Name.ToLower())
                                            </a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-12">
                        @{
                        var entities = Model.NewActs
                            .SelectMany(x => x.EntityImages.Where(x2 => x2.Image != null))
                            .Distinct(new Services.EntityImageComparer());
                        }
                        @if (entities.Any())
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>artworks</h4>
                                    <div class="justified-small">
                                        @foreach (var item in entities)
                                        {
                                            <div>
                                                <a href="/Artefact/ViewDetail/@item.Entity.Guid">
                                                    <img alt="@NameOf(item.Entity)" src="@item.Image.VirtualPath().Replace("~", "")?width=350&mode=crop" />
                                                </a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@functions {

    public string Month(int month)
    {
        switch (month)
        {
            case 1: return "January";
            case 2: return "February";
            case 3: return "March";
            case 4: return "April";
            case 5: return "May";
            case 6: return "June";
            case 7: return "July";
            case 8: return "August";
            case 9: return "September";
            case 10: return "October";
            case 11: return "November";
            case 12: return "December";
            case 13: return "Spring";
            case 14: return "Summer";
            case 15: return "Autumn";
            case 16: return "Winter";
            case 17: return "Early";
            case 18: return "Late";
            default: return "???";
        }
    }
    public string NameOf(IEntity entity)
    {
        if (entity is Data.Agent)
        {
            return ((Data.Agent)entity).FullName2;
        }
        if (entity is Artefact)
        {
            return ((Artefact)entity).ToDisplay();
        }
        return entity.Name;
    }
    public string EntityTypeName(string type)
    {
        switch (type)
        {
            case "Agent": return "people and entities";
            case "Artefact": return "art";
            case "Category": return "concepts";
            default: return type.ToLower() + "s";
        }
    }
}