
.mobile-navigation,
.mobile-navigation-button { .visually-hidden(); }

.main-logo-link  { display: block; text-decoration: none; }

.main-header__cell--logo { width: 15%; }
		.main-header__cell--main-nav {}
		.main-header__cell--search { width: 25%; }


/*
	#Main Nav
----------------------------------------*/

	.main-nav__list {
		margin: 0;
		list-style-type: none;
		font-size: 1.6em;
		position: relative;
	}
		.main-nav__list-item {
			display: inline-block;
			vertical-align: top;
			//position: relative;
			//overflow: hidden;
		}
			.main-nav__link {
				display: block;
				text-decoration: none;
				position: relative;
				color: white;
				padding: 1em .75em;
				background-color: @mainNavLink;
				border-left: 1px solid rgba(255, 255, 255, .1);
				border-right: 1px solid rgba(0, 0, 0, .05);
			}

			.main-nav__list-item:last-child .main-nav__link { border-right-color: transparent; }

			.main-nav__list-item.is-current .main-nav__link { background-color: mix(@mainNavLink, rgba(255,255,255,.2)); border-right-color: transparent; }


/*
	#Secondary Nav
	#Tertiary Nav
----------------------------------------*/

.secondary-nav,
.tertiary-nav {}

	.secondary-nav__list,
	.tertiary-nav__list {
		list-style-type: none;
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		background-color: #ebebeb;
		border-left: 3px solid @blue;
		box-shadow: 0 5px 5px -5px rgba(0,0,0,.25) inset;
	}

	.tertiary-nav__list { font-size: 1.2em; }

		.secondary-nav__list-item,
		.tertiary-nav__list-item {
			display: inline-block;
			vertical-align: top;
			position: relative;
			overflow: hidden;
			border-left: 1px solid rgba(255, 255, 255, .6);
			border-right: 1px solid rgba(0, 0, 0, .05);
		}

			.secondary-nav__list-item:first-child,
			.tertiary-nav__list-item:first-child { border-left: none; }
			.secondary-nav__list-item:last-child,
			.tertiary-nav__list-item:last-child { border-right-color: transparent; }

			.secondary-nav__link,
			.tertiary-nav__link {
				display: block;
				padding: .5em 1em;
			}

			.badge {
			    display: inline-block;
			    vertical-align: middle;
			    width: 22px;
			    height: 20px;
			    text-align: center;
			    background-color: rgba(0,0,0,.05);
			    border-left: 1px solid rgba(0, 0, 0, 0.1);
			    border-right: 1px solid rgba(255, 255, 255, 0.8);
			    font-family: monospace;
			    line-height: 20px;
			    font-size: 1em;
			    border-radius: 50%;
			}
