
//============================================================*\
//
//	#Layout
//
//============================================================*/

::selection { background: #ffb7b7; }
::-moz-selection { background: #ffb7b7; }

iframe { border: 0 none; }


//
//	#Blockquote
//--------------------------------------*/

blockquote {
	color: @copy-color;
	font-size: 2.8em;
	font-style: italic;
	line-height: 1.6em;
	margin: .5em 0;
	padding: 1em;
	quotes: "\201C" "\201D" "\2018" "\2019";
	text-align: center;

	&:before { content: open-quote; }
	&:after { content: close-quote; }

}


//
//	#Tables
//--------------------------------------*/

table {
	color: @copy-color;
	text-align: left;
	width: 100%;
}

	thead {}
	tbody {}
	tfoot {}

	tr {}

		th, td {
			border: 1px solid #cecece;
			font-size: @font-size-copy;
			padding: .5em 1em;
		}

		th {
			background-color: #ebebeb;
			font-weight: normal;
		}

		td {}
			td td { font-size: 1em; } /* Prevents nested elements' font sizes from increasing */


//============================================================*\
//
//	#Custom
//
//============================================================*/

.wrapper {}


//
//	#Portal Blocks
//--------------------------------------*/

.portal-blocks {}

	.portal-block {
		margin-bottom: 25px;
	}

	.portal-block-link {
		display: block;
	}

		.portal-block-link .portal-block__heading { color: @blue; }

		.portal-block__wrapper {
			display: block;
			position: relative;
			padding: 25px;
			border-radius: 3px;
			//.gradient(rgba(0,0,0,.025), rgba(0,0,0,.1));
			background-color: rgba(0,0,0,.025);
			//box-shadow: 0 0 7px 1px rgba(0,0,0,.09), 0 1px 1px rgba(0,0,0,.15);
			box-shadow: 0 1px 2px rgba(0,0,0,.15);
			transition: box-shadow .2s ease, transform .2s ease;
		}

			.portal-block-link:hover .portal-block__wrapper {
				box-shadow: 0 2px 5px 1px rgba(0,0,0,.09);
				.translateY(-2px);
			}

		.portal-block__heading {
			font-size: 2em;
		}

		.portal-block__description {}

		// Modifiers
		.portal-blocks--decades {
			.portal-block__heading { font-size: 1.6em; text-align: center; }
		}


//
//	#Gallery
//--------------------------------------*/

.gallery {}

	.gallery__image-link {
		display: inline-block;
		vertical-align: top;
	}

	.gallery__image {
		max-width: 100%;
		height: auto;
	}

.gallery--small {
	.gallery__image-link {
		max-width: 20%;
		padding: 0 5px;
	}
}


//
//	#Timeline
//--------------------------------------*/

.timeline {}

	.timeline__year {
		display: table;
		width: 100%;
		background-color: #f6f6f6;
		margin-top: 10px;
	} .timeline__year:first-child { margin-top: 0; }

	.timeline__year:nth-of-type(even) {
		//background-color: #f6f6f6;
	}

		.timeline__year__row {
			display: table-row;
		}

			.timeline__year__cell {
				display: table-cell;
				vertical-align: top;
				float: none;
				padding: 10px 15px;
			}

				.timeline__year__cell p { margin: 0; }

			.timeline__year__cell--year-title {
				border-left: 3px solid @blue;
			}

			.timeline__year__cell--ages-places p {
				display: inline-block;
			}

			.timeline__year__cell--month-title {
				background-color: #ebebeb;
				border-top: 1px solid #dedede;
			}
			.timeline__year__cell--details {
				border-top: 1px solid #ebebeb;
				position: relative;
			}
			.timeline__year__cell--details:after {
				content: "";
				position: absolute;
				width: 100%;
				height: 1px;
				background-color: white;
				top: 0;
				left: 0;
			}

				.timeline__year__title {
					font-size: 2em;
					margin-bottom: 0;
				}

				.timeline__year__month-title {
					font-size: 1.5em;
					margin-bottom: 0;
				}

				.timeline__year__details {
					font-size: @font-size-copy;
					line-height: @line-height-copy;
				}


//
//	#Filter
//--------------------------------------*/

.filter__title {
	margin-top: 20px;
	margin-bottom: 10px;
}

.filter__list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.filter__list-item {
	margin-top: 5px;
} .filter__list-item:first-child { margin-top: 0; }

.filter__link {
	display: block;
	line-height: 1;
}
.filter__link__detail {
	display: block;
	line-height: 1;
}

.show-more-filters,
.show-less-filters { margin-top: 10px; }

//
//	#Footer
//--------------------------------------*/

.main-footer {
	background-color: #ebebeb;
	clear: both;
}

	.main-footer__wrapper {
		max-width: 1200px;
		width: 100%;
		margin: 0 auto;
		padding: 25px;
	}

	.main-footer p { margin: 0; }