

//============================================================*\
//
//	#Misc
//
//============================================================*/

//
//	#Clearfix
//--------------------------------------*/

.clearfix:after { content: ""; display: table; clear: both; }


//
//	#IE10 Styles
//--------------------------------------*/

html[data-useragent*='MSIE 10.0'] {
	// IE10-specific styles go here
}


//
//	#No JavaScript
//--------------------------------------*/

.no-js { margin-top: 60px; }

.noscript-message {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 7px;
	background-color: #cc6c6c;
	color: white;
	font-weight: bold;
	text-align: center;
	z-index: 9;
}


//
//	#Old Browser message
//--------------------------------------*/

.lt-ie8 { padding-bottom: 83px; }

.lt-ie8-message {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 7px;
	background-color: #cc6c6c;
	color: white;
	font-weight: bold;
	text-align: center;
	z-index: 9;
}