// Variables
@font-size-copy: 1.4em;
@line-height-copy: unit(@font-size-copy * 1.2);
@copy-color: #222;

@blue: rgba(0,138,189,1);
@mainNavLink: mix(@blue, rgba(255, 255, 255, .2));

@red: rgba(219, 113, 68, 1);