
// Default styles

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
}

*,
*:before,
*:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
}

a,
a:visited {
    text-decoration: underline;
}

// Adds URL after links
a[href]:after {
    content: " (" attr(href) ")";
}

abbr[title]:after {
    content: " (" attr(title) ")";
}

a[href^="#"]:after,
a[href^="javascript:"]:after {
    content: "";
}

pre,
blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
}

thead {
    display: table-header-group;
}

tr,
img {
    page-break-inside: avoid;
}

img {
    max-width: 100% !important;
}

p,
h2,
h3 {
    orphans: 3;
    widows: 3;
}

h2,
h3 {
    page-break-after: avoid;
}


//============================================================*\

//  #Custom

//============================================================*/

// Styles

// Show logo without needing an extra "print" logo in the markup, if the logo is being displayed as a background-image.
// Not necessarily required if you have an img element for the logo
.logo {
  display: block;
  margin: .5cm 0;
  color: transparent !important;
}

    .logo:before {
        // Get base64 logo from http://b64.io, insert into content as url
        //content: url(data:image/png;base64...);
        float: left;
    }

    .logo:after { display: none; } // Hides URL