
//============================================================*\
//
//	#Import
//
//============================================================*/

// Variables for the project
@import (less) "_variables.less";

// Mixins for the project
@import (less) "_mixins.less";

// Fonts for the project
@import (less) "_fonts.less";

@import (less) "_bootstrap.less";

// Style modules
@import (less) "_layout.less";
@import (less) "_forms.less";
@import (less) "_misc.less";


//
//	#Mobile-only
//--------------------------------------*/

@media only screen
and (max-width: 767px) {

	// Styles

}


//
//	#768+
//--------------------------------------*/

@media only screen
and (min-width: 768px) {

	@import (less) "_768.less";

}


//
//	#1280+
//--------------------------------------*/

@media only screen
and (min-width: 1280px) {

	@import (less) "_1280.less";

}