﻿@using Data
@using Data.Entities
@model CodexMVC.Models.ViewAuditTrail
@{
    ViewBag.Title = "Audit Trail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@functions {
    public string NameOf(IEntity entity)
    {
        if (entity is Agent)
        {
            return ((Agent)entity).FullName2;
        }
        if (entity is Artefact)
        {
            return ((Artefact)entity).ToDisplay();
        }
        return entity.Name;
    }
}
<h2>Audit Trail for @Model.User.Name</h2>

@if (Model.Trail != null && Model.Trail.Any())
{
    <table class="table table-hover table-condensed table-striped">
        <tr>
            <th>
                Date
            </th>
            <th>
                IP Address
            </th>
            <th>
                Action
            </th>
            <th>
                Target
            </th>
            <th>
                Description
            </th>
        </tr>
        @foreach (var item in Model.Trail.OrderByDescending(x => x.Audit.Date))
        {
            <tr>
                <td>
                    @item.Audit.Date.ToString()
                </td>
                <td>
                    @item.Audit.IPAddress
                </td>
                <td>
                    @item.Audit.Action.ToString()
                </td>
                <td>
                    @if (item.Entity != null)
                    {
                        var type = item.Entity.GetType().Name;
                        <a href="/Admin/@type/ViewDetail/@item.Entity.Guid">
                            @NameOf(item.Entity)
                        </a>
                    }
                </td>
                <td>
                    @item.Audit.Description
                </td>
            </tr>
        }
    </table>
}

