﻿@model CodexMVC.Models.EditUserModel

@{
    var mode = Model.UserGuid != null ? "Edit" : "Add";
    ViewBag.Title = mode + " User";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .field-validation-error {
        color: red;
    }
</style>

<h2>
    @mode User
</h2>

@using (Html.BeginForm("Edit", "User"))
{
    @Html.HiddenFor(x => x.UserGuid)
    <div class="row form-group">
        <div class="col-md-6">
            <div class="col-md-6">
                @Html.LabelFor(x => x.FirstName)
                @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.FirstName)
            </div>
            <div class="col-md-6">
                @Html.LabelFor(x => x.LastName)
                @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.LastName)
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            <div class="col-md-6">
                @Html.LabelFor(x => x.Username)
                @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Username)
            </div>
            <div class="col-md-6">
                @Html.LabelFor(x => x.Password)
                @Html.TextBoxFor(x => x.Password, new { type = "password", @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Password)
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
            <button type="submit" class="btn btn-default btn-primary">Save</button>
        </div>
    </div>
}