﻿@model List<Data.Entities.User>
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Users</h2>
<div>
    <a href="/Admin/User/Add">Add User</a>
</div>
<ul>
    @foreach (var user in Model)
    {
        <li><a href="/Admin/User/ViewDetail?userGuid=@user.Guid">@user.Name</a></li>
    }
</ul>