﻿@using Services.Common
@{
    var user = User as Data.Entities.CustomPrincipal;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/animate.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <link href="~/Content/bootstrap-3.3.2-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-3.3.2-dist/css/bootstrap-theme.css" rel="stylesheet" />
    <script src="~/Content/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap-markdown/bootstrap-markdown.min.css" rel="stylesheet" />
    <link href="~/Content/slabtext.css" rel="stylesheet" />
    <link href="~/Content/star-rating.min.css" rel="stylesheet" />
    <link href="~/Content/justifiedGallery.min.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Codex</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                @{
                    var controller = this.ViewContext.RouteData.Values["controller"].ToString();
                    var area = this.ViewContext.RouteData.DataTokens["area"].ToString();
                }
                <ul class="nav navbar-nav">
                    <li class="@{if (controller == "Agent") { <text>active</text> } } presentation dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="#">Agents <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="/Admin/Agent/List">List</a>
                            </li>
                            <li>
                                <a href="/Admin/Agent/AddArtist" target="_blank">Add Artist</a>
                            </li>
                            <li>
                                <a href="/Admin/Agent/AddAgent" target="_blank">Add Agent</a>
                            </li>
                            <li>
                                <a href="/Admin/Agent/OrderedList">Filter By</a>
                            </li>
                        </ul>

                    </li>
                    <li @{if (controller == "Place") { <text> class="active" </text>             } }>
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="#">Places <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="/Admin/Place/List">List</a>
                            </li>
                            <li>
                                <a href="/Admin/Place/Add" target="_blank">Add</a>
                            </li>
                        </ul>
                    </li>
                    <li class="presentation dropdown @{if (controller == "Category") { <text>active</text>} }">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="#">Vocabulary <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="/Admin/Category/List">List</a>
                            </li>
                            <li>
                                <a href="/Admin/Category/Add" target="_blank">Add term</a>
                            </li>
                            <li>
                                <a href="/Admin/Category/AddInterest" target="_blank">Add interest</a>
                            </li>
                            <li>
                                <a href="/Admin/Category/AddMotif" target="_blank">Add motif</a>
                            </li>
                            <li>
                                <a href="/Admin/Category/AddSubject" target="_blank">Add subject</a>
                            </li>
                            <li>
                                <a href="/Admin/Category/AddGenre" target="_blank">Add genre</a>
                            </li>
                            <li>
                                <a href="/Admin/Category/AddStyle" target="_blank">Add style</a>
                            </li>
                            <li>
                                <a href="/Admin/Category/AddSubstance" target="_blank">Add substance</a>
                            </li>
                            <li>
                                <a href="/Admin/Category/AddArtistType" target="_blank">Add artist type</a>
                            </li>
                            <li>
                                <a href="/Admin/Category/AddAestheticConvention" target="_blank">Add aesthetic convention</a>
                            </li>
                        </ul>
                    </li>
                    <li class="presentation dropdown @{if (controller == "Artefact" || controller == "Collection" || controller == "Exhibition" || controller == "Tour")
                                                       { <text>active</text> } }">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="#">Artefacts <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="/Admin/Artefact/AddArtwork" target="_blank">Add artwork</a>
                            </li>
                            <li>
                                <a href="/Admin/Artefact/AddBook" target="_blank">Add book</a>
                            </li>
                            <li>
                                <a href="/Admin/Collection/Add" target="_blank">Add collection</a>
                            </li>
                            <li>
                                <a href="/Admin/Video/Add" target="_blank">Add video</a>
                            </li>
                            <li>
                                <a href="/Admin/Exhibition/Add" target="_blank">Add exhibition</a>
                            </li>
                            <li>
                                <a href="/Admin/Tour/Add" target="_blank">Add tour</a>
                            </li>
                            <li>
                                <a href="/Admin/Artefact/AddMusic" target="_blank">Add musical piece</a>
                            </li>
                            <li>
                                <a href="/Admin/Artefact/List">List all</a>
                            </li>
                            <li>
                                <a href="/Admin/Collection/List">List collections</a>
                            </li>
                            <li>
                                <a href="/Admin/Exhibition/List">List exhibitions</a>
                            </li>
                            <li>
                                <a href="/Admin/Tour/List">List tours</a>
                            </li>
                        </ul>
                    </li>
                    <li class="presentation dropdown @{if (controller == "Video") { <text>active</text> } }">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="#">Media <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="/Admin/Video/Add" target="_blank">Add Video</a>
                            </li>
                            <li>
                                <a href="/Admin/Video/List" target="_blank">List Videos</a>
                            </li>
                            <li>
                                <a href="/Admin/Image/Add" target="_blank">Add Image</a>
                            </li>
                            <li>
                                <a href="/Admin/Image/List" target="_blank">List Images</a>
                            </li>
                        </ul>
                    </li>
                    <li class="presentation dropdown @{if (controller == "Tag") { <text>active</text> } }">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="#">Tags <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="/Admin/Tag/Add" target="_blank">Add</a>
                            </li>
                            <li>
                                <a href="/Admin/Tag/List" target="_blank">List</a>
                            </li>
                        </ul>
                    </li>
                    <li class="presentation dropdown @{if (controller == "DataSet") { <text>active</text> } }">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="#">DataSets <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="/Admin/DataSet/Add">Add</a>
                            </li>
                            <li>
                                <a href="/Admin/DataSet/List">List</a>
                            </li>
                        </ul>
                    </li>
                    <li class="@(controller == "Timeline"? "active":"") presentation dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="#">Timeline <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="/Admin/Act/AddAct">Add event</a>
                            </li>
                            <li>
                                <a href="/Admin/Timeline/Index">Show comparisons</a>
                            </li>
                            <li>
                                <a href="/Admin/Timeline/Dates">Show by date</a>
                            </li>
                            <li>
                                <a href="/Admin/Timeline/IntersectCategory">Show intersection</a>
                            </li>
                        </ul>
                    </li>
                    <li class="presentation dropdown @{if (controller == "Query") { <text>active</text> } }">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="#">Queries <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="/Admin/Query/Index">Index</a>
                            </li>
                            <li>
                                <a href="/Admin/Query/AllArtefactsSharingSameAttributes">Similar Artefacts</a>
                            </li>

                            <li>
                                <a href="/Admin/Query/ByAgent">By Agent</a>
                            </li>

                            <li>
                                <a href="/Admin/Query/ByMovement">By Movement</a>
                            </li>

                            <li>
                                <a href="/Admin/Query/ByGenre">By Genre</a>
                            </li>

                            <li>
                                <a href="/Admin/Query/BySubject">By Subject</a>
                            </li>

                            <li>
                                <a href="/Admin/Query/ByMotif">By Motif</a>
                            </li>

                            <li>
                                <a href="/Admin/Query/ByAgentRepresented">By Agent Represented</a>
                            </li>

                            <li>
                                <a href="/Admin/Query/ByAgentTypeRepresented">By Agent Type Represented</a>
                            </li>
                            <li>
                                <a href="/Admin/Query/ByCategoryRepresented">By Object Represented</a>
                            </li>
                            <li>
                                <a href="/Admin/Query/ByAestheticConvention">By Aesthetic Conventions</a>
                            </li>
                            <li>
                                <a href="/Admin/Query/ByExterior">By Exterior</a>
                            </li>
                            <li>
                                <a href="/Admin/Query/ByAge">By Age</a>
                            </li>
                            <li>
                                <a href="/Admin/Query/UniversalSearch">Universal Search</a>
                            </li>
                        </ul>
                    </li>

                    <li @{if (controller == "Stats") { <text> class="active" </text>              } }><a href="/Admin/Stats/Index">Stats</a></li>
                    @*<li @{if (controller == "Config") { <text> class="active" </text>     } }><a href="/Admin/Config/Index">Config</a></li>*@
                    @if (User.IsInRole(Permissions.ListUsers))
                    {
                        var active = controller == "User" ? "active" : "";
                        <li class="@active presentation dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="#">Users <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="/Admin/User/List">List</a>
                                </li>
                            </ul>
                        </li>
                    }
                    @if (User.IsInRole(Permissions.ListRoles))
                    {
                        <li @{if (controller == "Role") { <text> class="active" </text>              } }>
                            <a href="/Admin/Role/List">Roles</a>
                        </li>
                    }
                    @if (User.IsInRole(Permissions.ListPermissions))
                    {
                        <li @{if (controller == "Permission") { <text> class="active" </text>              } }>
                            <a href="/Admin/Permission/List">Permissions</a>
                        </li>
                    }
                </ul>
                @{
                    var authenticated = Request.IsAuthenticated;
                    var buttonText = authenticated ? "Logout" : "Login";
                    var buttonAction = authenticated ? "/Account/Logout" : "/Account/Login";
                }
                @if (authenticated)
                {

                    <p class="navbar-text">
                        Welcome, <b>@user.FirstName</b>
                        @*@using (Html.BeginForm("Query", "Search", new { area = "Admin" }))
                            {
                                <div class="col-md-2">
                                    <input type="text" class="form-control" name="search" />
                                    <button type="submit" class="btn btn-default btn-sm pull-right">OK</button>
                                </div>
                            }*@
                    </p>
                }
                <div class="nav navbar-nav navbar-right">
                    @if (area == "Admin")
                    {
                        <a href="/Agent/List" class="btn btn-default navbar-btn">Public</a>
                    }
                    else
                    {
                        <a href="/Admin/Agent/List" class="btn btn-default navbar-btn">Admin</a>
                    }
                    <a href="/Account/ResetPassword" class="btn btn-default navbar-btn">Reset Password</a>
                    <a href="@buttonAction" class="btn btn-default navbar-btn">@buttonText</a>
                </div>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container body-content">
        <div style="font-size: 0.8em;">

        </div>

        @Html.Partial("~/Views/Shared/_AdminAlerts.cshtml")

        @RenderBody()

        <div class="row" style="margin-top: 40px;">
            <div class="col-md-12">
                &copy; The Codex, @DateTime.Now.Year - contact: <a href="mailto:iian.d.neill@gmail.com">iian.d.neill@gmail.com</a>
            </div>
        </div>
    </div>
    <script src="~/Scripts/knockout-3.3.0.js"></script>
    <script src="~/Scripts/App.Utils.js"></script>
    <script src="~/Scripts/App.API.js"></script>
    <script src="~/Scripts/App.Common.js"></script>
    <script src="~/Scripts/to-markdown.js"></script>
    <script src="~/Scripts/markdown.js"></script>
    <script src="~/Scripts/bootstrap-markdown.js"></script>
    <script src="~/Scripts/jquery.slabtext.min.js"></script>
    <script src="~/Scripts/star-rating.min.js"></script>
    <script src="~/Scripts/jquery.justifiedGallery.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
