﻿@{
    var Alerts = (List<CodexMVC.Helpers.Alert>)TempData["Alerts"];
}

@if (Alerts != null && Alerts.Any())
{
    foreach (var alert in Alerts)
    {
        <div class="alert alert-@alert.Status.ToString().ToLower() alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div>@alert.Message</div>
            @if (alert.Exception != null)
            {
                <div>
                    @alert.Exception
                </div>
            }
        </div>
    }
}