﻿@using System.Web.Optimization
@using Services.Common
@{
    var authenticated = Request.IsAuthenticated;
    var buttonText = authenticated ? "Logout" : "Login";
    var buttonAction = authenticated ? "/Account/Logout" : "/Account/Login";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codex: @ViewBag.Title</title>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Content/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
    <link href="~/Content/reset.css" rel="stylesheet" />
    @Styles.Render("~/Content/css/bootstrap", "~/css")
    <link href="~/Content/bootstrap-markdown/bootstrap-markdown.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.structure.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.theme.min.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <link href="~/Content/jqcloud.css" rel="stylesheet" />
    <style>
        #universal-search {
            z-index: 999;
            background-color: #ccc;
            display: none;
            width: 70%;
            position: relative;
            right: 0;
            top: -20px;
            font-size: 1.5em;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        #universal-search-content {
            padding-left: 50px;
            padding-right: 50px;
        }

        #universal-search .heading {
            color: red;
        }
    </style>
    @RenderSection("styles", false)
    @RenderSection("meta", false)
</head>
<body>
    <div id="fb-root"></div>
    <script>
        function showNotifications() {
            var ul = $("#notifications-dropdown-menu");
            $.get("/Account/Notifications", null, function (html) {
                ul.html(html);
            }, "html");
        }
    </script>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Codex</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                @{
                    var controller = this.ViewContext.RouteData.Values["controller"].ToString();
                    var action = this.ViewContext.RouteData.Values["action"].ToString();
                    var area = this.ViewContext.RouteData.DataTokens["area"] != null ? this.ViewContext.RouteData.DataTokens["area"].ToString() : null;
                }
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/Time/People">People</a>
                    </li>
                    <li>
                        <a href="/Time/Places">Places</a>
                    </li>
                    <li>
                        <a href="/Time/List">Times</a>
                    </li>
                    <li>
                        <a href="/Time/Artworks">Artworks</a>
                    </li>
                    <li>
                        <a href="/Time/Tags">Concepts</a>
                    </li>
                    <li>
                        <a href="/Dataset/List">Datasets</a>
                    </li>
                    <li>
                        <a href="/Time/ControlPanel">Atlas</a>
                    </li>
                    <li><a href="#">|</a></li>
                    <li><a href="/Agent/List">Artists</a></li>
                    <li><a href="/Place/List">Cities</a></li>
                    <li><a href="/Collection/List">Museums</a></li>
                    <li><a href="/Time/AgentTypes">Professions</a></li>
                    <li><a href="/Character/List">Characters</a></li>
                    <li><a href="/Subject/List">Subjects</a></li>
                    <li><a href="/Motif/List">Motifs</a></li>
                    <li><a href="/Time/Compare">Comparisons</a></li>
                    @if (authenticated)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" onclick="showNotifications(); return false;" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-user"></i>@if (UpdatesTotal > 0)
                                {
                                    <span class="badge">@UpdatesTotal</span>
                                }
                            </a>
                            <ul id="notifications-dropdown-menu" class="dropdown-menu">
                            </ul>
                        </li>
                        <li class="@{if (controller == "Account") { <text>active</text> } } presentation dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="#">YOU <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/Account/Profile">Profile</a></li>
                                <li><a href="/Itinerary/List">Itineraries</a></li>
                                <li><a href="/Account/Notifications">Notifications</a></li>
                                <li><a href="/Account/Achievements">Achievements</a></li>
                                <li>
                                    <a href="/Account/History">
                                        History
                                    </a>
                                </li>
                            </ul>
                        </li>

                    }
                </ul>
                <div class="nav navbar-nav navbar-right">
                    @if (authenticated)
                    {

                        if (area == "Admin")
                        {
                            <a href="/Agent/List" class="btn btn-default navbar-btn">Public</a>
                        }
                        else
                        {
                            if (authenticated && User.IsInRole(Permissions.CanAccessAdmin))
                            {
                                <a href="/Admin/Agent/List" class="btn btn-default navbar-btn">Admin</a>
                            }
                        }
                    }
                    @if (false == authenticated)
                    {
                        <a href="#" class="btn btn-default navbar-btn" onclick="showLoginModal(); return false;"><span style="font-size: 1.2em;" class="glyphicon glyphicon-log-in"></span></a>
                    }
                    else
                    {
                        <a href="/Account/Logout" class="btn btn-default navbar-btn">
                            <span style="font-size: 1.2em;" class="glyphicon glyphicon-log-out
"></span>
                        </a>
                    }
                    @if (false == authenticated)
                    {
                        <a href="/Account/Join" class="btn btn-default navbar-btn">Join</a>
                        <a href="/Account/ForgotPassword" class="btn btn-default navbar-btn">Forgot Password</a>
                    }
                </div>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="body-content" style="background-color: white; margin-top: 20px; padding: 20px;">
        @RenderBody()
        <div class="row">
            <div class="col-md-12">
                &copy; The Codex, @DateTime.Now.Year - contact: <a href="https://twitter.com/IianNeill">https://twitter.com/IianNeill</a>
            </div>
        </div>
    </div>
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Login</h3>
                </div>
                <div class="modal-body" style="margin-top: 20px;">
                    <div id="login-content"></div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    @Scripts.Render("~/js", "~/appJs")
    <script src="~/Scripts/jquery.justifiedGallery.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/jqcloud-1.0.4.min.js"></script>
    <script>
        $.material.init();
    </script>
    <script>
        function showLoginModal() {
            $.get("/Account/LoginModal", null, function (html) {
                $("#login-content").html(html);
                $("#login-modal").modal({ show: true });
            }, "html");
        }
    </script>
    @RenderSection("scripts", false)
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-61825904-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
