﻿@model CodexMVC.Models.TimelineJS
@{
var markdown2 = new MarkdownDeep.Markdown();
}
<link rel="stylesheet" type="text/css" href="http://cdn.knightlab.com/libs/timeline/latest/css/timeline.css">
<script type="text/javascript" src="http://cdn.knightlab.com/libs/timeline/latest/js/timeline.js"></script>
<script type="text/javascript" src="http://cdn.knightlab.com/libs/timeline/latest/js/storyjs-embed.js"></script>

<script>

    var timelineDrawn = false;

    var dataObject = {
        "timeline":
        {
            "headline": "@Model.Name",
            "type": "default",
            "text": "<p>The Life of @Model.Name</p>",
            "date": [
                @foreach (var newAct in Model.Timeline.OrderBy(x => x.Act.Year).ThenBy(x => x.Act.Month).ThenBy(x => x.Act.Day))
                        {
                            var entityImage = newAct.EntityImages.FirstOrDefault(x => x.Entity is Data.Entities.Artefact && x.Image != null);
                            var entityGeo = newAct.EntityImages.FirstOrDefault(x =>
                            {
                                var geo = x.Entity as Data.Entities.IGeo;
                                return geo != null && geo.Latitude.HasValue && geo.Longitude.HasValue;
                            });
                            var useBlockQuote = entityImage == null && entityGeo == null;
                    var actText = newAct.ToHtml(openInNewTab: true).Replace(Environment.NewLine, "").Replace("\"", @"'").Trim();
                    var text = false == useBlockQuote ? actText : "<blockquote>" + actText + "</blockquote>";
                            <text>
                    {
                        "startDate": "@newAct.ToTimelineStartDate()",
                        "endDate": "@newAct.ToTimelineEndDate()",
                        "headline": "@newAct.ToTimelineHeader(visitors: Model.Visitors)",
                        "text": "@Html.Raw(text)"
                        @{
                            if (entityImage != null)
                            {
                                var artefact = (Data.Entities.Artefact)entityImage.Entity;
                                        <text>, "asset": {
                            "media": "@entityImage.Image.VirtualPath().Replace("~","")?mode=max&height=400&width=400",
                            "credit": "@(entityImage.Image.Source?? "The Codex")",
                            "caption": "@artefact.ToDisplay()"
                        }</text>
                            }
                            else if (entityGeo != null)
                            {
                                var geo = (Data.Entities.IGeo)entityGeo.Entity;
                                if (geo.Latitude.HasValue && geo.Longitude.HasValue)
                                {
                                    <text>, "asset": {
                            "media": "http://maps.google.com/?ie=UTF8&hq=&ll=@(geo.Latitude.Value),@(geo.Longitude.Value)&z=13",
                            "caption": "@geo.Name"
                        }</text>
                                }
                            }                            
                        }
                    },
                    </text>
                        }
            ]
        }
    };

    function drawTimeline() {
        if (timelineDrawn) {
            return;
        }
        createStoryJS({
            type: 'timeline',
            width: '100%',
            height: '600',
            source: dataObject,
            embed_id: 'timeline-embed'           // ID of the DIV you want to load the timeline into
        });
        timelineDrawn = true;
    }

    drawTimeline();

</script>