﻿@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>We're sorry, the system has experienced a technical error. It will be addressed as soon as possible.</h3>

<p>
    <a href="/Agent/List" class="btn btn-default btn-primary">OK</a>
</p>

