﻿@{
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}
<!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>The Codex</h1>
                    <h3>An Atlas of History</h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="https://twitter.com/IianNeill" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://bitbucket.org/argimenes/codex" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">BitBucket</span></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/iianneill" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->
<!-- Page Content -->
<a name="services"></a>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">
                    An atlas of history
                </h2>
                <p class="lead">
                    Codex is a digital humanities initiative built on the Neo4j graph database and the .NET platform. It aims to provide a high-resolution view of the past, built both from historical commentaries as well as the actual stories of historical figures.
                </p>
                <h4>
                    More videos
                </h4>
                <ul>
                    <li style="margin-bottom: 10px;">
                        <a target="_blank" href="http://screencast.com/t/82I8Xan5nKoI" style="margin-right: 10px;" class="btn btn-default">Watch</a> 5 minute video on exploring Data Sets
                    </li>
                    <li style="margin-bottom: 10px;">
                        <a target="_blank" href="http://screencast.com/t/MefvhXZ0" class="btn btn-default" style="margin-right: 10px;">Watch</a> 3 minute video on using the Control Panel map mode
                    </li>
                </ul>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <iframe width="420" height="315" src="https://www.youtube.com/embed/_R0ESfLBuHo" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">
                    Zoom in, zoom out
                </h2>
                <p class="lead">
                    The Codex allows you to zoom in and out of history. Not only can you see all of the events of a person's life, you can see all the events that took place in a town, city, or country. You can see events that took place over a decade or in a single day. And you can see all events relating to a specific subject like 'a murder' and then zoom out to see all events under the generic heading of 'deaths'.
                </p>
                <p style="text-align: center;">
                    <a class="btn btn-default btn-lg" href="/Time/ControlPanel">Zoom In</a>
                </p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <iframe width="420" height="315" src="https://www.youtube.com/embed/FZjlNonvOcA" frameborder="0" allowfullscreen></iframe>
                @*<img class="img-responsive" src="/Images/map-compare.png" alt="">*@
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-b -->
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">
                    History in a resolution<br />
                    <span stye="color: #ccc;">you've never seen before</span>
                </h2>
                <p class="lead">
                    The Codex will be built chiefly out of primary source historical texts and carefully annotated with graph database nodes. Already over 40 years of entries from the <em>Florentine Diary</em> of Luca Landucci (1436-1516) have been transcribed as well as letters from artists like Michelangelo, Leonardo, Ghiberti, Mantegna and others. Many more primary sources will be included, as well as the addition of over 90,000 secondary source events from Wikipedia.
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="~/Images/execution-of-savonarolla.jpg" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->