﻿@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}
<style>
    .blog {
        margin-top: 80px;
        margin-bottom: 80px;
    }

        .blog p {
            font-size: 1.25em;
        }

        .blog h1 {
            font-size: 5em;
        }

        .blog h2 {
            font-size: 2.5em;
        }

        .blog h3 {
            font-size: 1.25em;
        }

    .blog-post {
    }
</style>
<div class="container blog">
    <div class="row">
        <div class="col-md-8">
            <h1>
                The Appendices
            </h1>
            <p>
                News and musings from The Codex
            </p>
            <a name="blog-post-2"></a>
            <div style="margin-top: 40px;">
                <h2>
                    Upgrade
                </h2>
                <p style="color: #888;">
                    February 23, 2017 by <a href="https://twitter.com/IianNeill">Iian</a>
                </p>
                <p style="margin-top: 20px;"></p>
                <p style="margin-top: 20px;">
                    In preparation for the next phase of Codex I ugpraded the database to version 3.1.1. In theory it should load a little faster now ...
                </p>                
            </div>
            <a name="blog-post-1"></a>
            <div style="margin-top: 40px;">
                <h2>
                    Codex Podcast Interview
                </h2>
                <p style="color: #888;">
                    February 12, 2016 by <a href="https://twitter.com/IianNeill">Iian</a>
                </p>
                <p style="margin-top: 20px;"></p>
                <p style="margin-top: 20px;">
                    I was interviewed by Rik Van Bruggen for the Neo4j-related podcast, Graphistania. The recording of that podcast as well as a transcript can be found on <a target="_blank" href="http://blog.bruggen.com/2016/02/podcast-interview-with-iian-neill-codex.html">Bruggen Blog</a>.
                </p>
                <p>
                    <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/246576221&color=00cc11"></iframe>
                </p>
            </div>

        </div>
        <div class="col-md-4">
            @*<h4>Sidebar</h4>
            <p>
                More test test test
            </p>*@
        </div>
    </div>
</div>