﻿@model List<Services.Permission>
@{
    ViewBag.Title = "Permissions";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Permissions</h2>
<div>
    <a href="/Admin/Permission/Add">Add Permission</a>
</div>
<ul>
    @foreach (var permission in Model.OrderBy(x => x.Name))
    {
        <li><a href="/Admin/Permission/ViewDetail?permissionGuid=@permission.Guid">@permission.Name</a></li>
    }
</ul>