﻿@model CodexMVC.Models.ViewPermissionModel
@{
    ViewBag.Title = "Permission: " + Model.Permission.Name;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="form-group">
    <div class="form-row">
        <label>Guid</label>
        @Model.Permission.Guid
    </div>
    <div class="form-row">
        <label>Name</label>
        @Model.Permission.Name
    </div>
    <div class="form-row">
        <label>Description</label>
        @Model.Permission.Description
    </div>
</div>
<div>
    <a href="/Admin/Permission/Edit?permissionGuid=@Model.Permission.Guid">Edit Permission</a>
</div>
<ul>
    @foreach (var role in Model.RolesAssociatedWith)
    {
        <li><a href="/Admin/Role/ViewDetail?roleGuid=@role.Guid">@role.Name</a></li>
    }
</ul>
