﻿@using Data.Entities
@model CodexMVC.Models.GenericRelationModel<Artefact,Entity>
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<ol class="breadcrumb">
    <li><a href="/Artefact/List">List</a></li>
    <li><a href="/Artefact/ViewDetail?guid=@Model.Node.Source.Guid">@Model.Node.Source.Name</a></li>
    <li class="active">@Model.Title</li>
</ol>
<h2>@Model.Title</h2>
@using (Html.BeginForm(Model.Action, "Tour"))
{
    @Html.HiddenFor(x => x.Node.Source.Guid)
    @Html.HiddenFor(x => x.Node.HasRelationGuid)
    @Html.HiddenFor(x => x.Node.RelationToDestinationGuid)
    @Html.HiddenFor(x => x.Relation.Guid)
    @Html.HiddenFor(x => x.ArtefactGuid)
    <div class="row">
        <div class="form-group">
            <div>
                @Html.LabelFor(x => x.AgentGuid, "Agent")
                @Html.DropDownListFor(x => x.AgentGuid, new SelectList(Model.Agents, "Value", "Text"), new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div>
                @Html.LabelFor(x => x.CategoryGuid, "Category")
                @Html.DropDownListFor(x => x.CategoryGuid, new SelectList(Model.Categories, "Value", "Text"), new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div>
                @Html.LabelFor(x => x.PlaceGuid, "Place")
                @Html.DropDownListFor(x => x.PlaceGuid, new SelectList(Model.Places, "Value", "Text"), new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div>
                @Html.LabelFor(x => x.OtherArtefactGuid, "Artefact")
                @Html.DropDownListFor(x => x.OtherArtefactGuid, new SelectList(Model.Artefacts, "Value", "Text"), new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <h4>Primary? <small>The attribute is characteristic (of primary importance) to the artefact</small></h4>
            </div>
            <div class="col-md-2 form-group">
                @Html.RadioButtonFor(x => x.Relation.Primary, "true")
                <label>Yes</label>
            </div>
            <div class="col-md-2 form-group">
                @Html.RadioButtonFor(x => x.Relation.Primary, "false")
                <label>No</label>
            </div>
        </div>
    </div>
    <div class="row">
        <button type="submit" class="btn btn-lg">Save</button>
    </div>
    
    <div class="row" style="border-top: 2px dashed #808080; margin-top: 20px;">
        <div class="col-md-6 ">
            <div class="form-group">
                <h3>Text <small>Optional description of the relationship</small></h3>
                @Html.TextAreaFor(x => x.Relation.Description, new { rows = 5, data_provide = "markdown-editable", data_autofocs = "true", @class = "form-control input-lg" })
            </div>
        </div>
    </div>
    <h3>
        Date/Time <small>Optional from and to dates for the duration of the relationship</small>
    </h3>
    <div class="row" style="margin-bottom: 40px; ">
        <div class="col-md-6">
            <h4>From</h4>
            <div class="row">
                <div class="col-md-12  form-group">
                    <div class="col-md-3">
                        @Html.RadioButtonFor(x => x.Proximity, Proximity.On)
                        @Html.LabelFor(x => x.Proximity, "On")
                    </div>
                    <div class="col-md-3">
                        @Html.RadioButtonFor(x => x.Proximity, Proximity.Around)
                        @Html.LabelFor(x => x.Proximity, "Around")
                    </div>
                    <div class="col-md-3">
                        @Html.RadioButtonFor(x => x.Proximity, Proximity.Before)
                        @Html.LabelFor(x => x.Proximity, "Before")
                    </div>
                    <div class="col-md-3">
                        @Html.RadioButtonFor(x => x.Proximity, Proximity.After)
                        @Html.LabelFor(x => x.Proximity, "After")
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-3">
                        <label>AD/BC</label>
                        @Html.DropDownListFor(x => x.Relation.Milennium, new SelectList(Model.Milennia, "Value", "Text"), new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <label>Year</label>
                        @Html.TextBoxFor(x => x.Relation.Year, new { @class = "form-control" })
                        @Html.CheckBoxFor(x => x.Relation.Decade)
                        @Html.LabelFor(x => x.Relation.Decade, "Decade?")
                    </div>
                    <div class="col-md-3">
                        <label>Month</label>
                        @Html.DropDownListFor(x => x.Relation.Month, new SelectList(Model.Months, "Value", "Text"), new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <label>Day</label>
                        @Html.TextBoxFor(x => x.Relation.Day, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-3">
                        <label>Hour</label>
                        @Html.TextBoxFor(x => x.Relation.Hour, new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <label>Minute</label>
                        @Html.TextBoxFor(x => x.Relation.Minute, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h4>To</h4>
            <div class="row">
                <div class="col-md-12  form-group">
                    <div class="col-md-3">
                        @Html.RadioButtonFor(x => x.ProximityEnd, Proximity.On)
                        @Html.LabelFor(x => x.ProximityEnd, "On")
                    </div>
                    <div class="col-md-3">
                        @Html.RadioButtonFor(x => x.ProximityEnd, Proximity.Around)
                        @Html.LabelFor(x => x.ProximityEnd, "Around")
                    </div>
                    <div class="col-md-3">
                        @Html.RadioButtonFor(x => x.ProximityEnd, Proximity.Before)
                        @Html.LabelFor(x => x.ProximityEnd, "Before")
                    </div>
                    <div class="col-md-3">
                        @Html.RadioButtonFor(x => x.ProximityEnd, Proximity.After)
                        @Html.LabelFor(x => x.ProximityEnd, "After")
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-3">
                        <label>AD/BC</label>
                        @Html.DropDownListFor(x => x.Relation.MilenniumEnd, new SelectList(Model.Milennia, "Value", "Text"), new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <label>Year</label>
                        @Html.TextBoxFor(x => x.Relation.YearEnd, new { @class = "form-control" })
                        @Html.CheckBoxFor(x => x.Relation.DecadeEnd)
                        @Html.LabelFor(x => x.Relation.DecadeEnd, "Decade?")
                    </div>
                    <div class="col-md-3">
                        <label>Month</label>
                        @Html.DropDownListFor(x => x.Relation.MonthEnd, new SelectList(Model.Months, "Value", "Text"), new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <label>Day</label>
                        @Html.TextBoxFor(x => x.Relation.DayEnd, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-3">
                        <label>Hour</label>
                        @Html.TextBoxFor(x => x.Relation.HourEnd, new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <label>Minute</label>
                        @Html.TextBoxFor(x => x.Relation.MinuteEnd, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}
