﻿@model CodexMVC.Models.ViewTourList
@{
    ViewBag.Title = "Tours";
    ViewBag.Section = "Tour";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    ul {
        list-style: none;
    }
</style>

<div class="page-header">
    <h1>Tours</h1>
</div>

<div>
    <a href="/Admin/Tour/Add" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>
</div>

@*<div class="row">
        <div class="col-md-12">
            <a href="/Agent/List?mode=ByArtist" class="btn btn-default">Alphabetical</a>
            <a href="/Agent/List?mode=ByCitizenship" class="btn btn-default">By Place</a>
            <a href="/Agent/List?mode=ByRepresentativeOf" class="btn btn-default">By Style</a>
            <a href="/Agent/List?mode=ByAttribute" class="btn btn-default">By Profession</a>
            <a href="/Agent/List?mode=ByDateOfBirth" class="btn btn-default">By Date</a>
        </div>
    </div>*@

@if (Model.Tours != null && Model.Tours.Any())
{
    <ul>
        @foreach (var subitem in Model.Tours.OrderBy(x => x.Tour.Name))
        {
            <li>
                <h4>
                    <a href="/Admin/Tour/ViewDetail/@subitem.Tour.Guid">@subitem.Tour.ToDisplay()</a>
                    <span>
                        at @subitem.Location.Name
                    </span>
                </h4>
            </li>
        }
    </ul>
}