﻿@model CodexMVC.Models.AddArtworkModel

@{
    ViewBag.Title = "Add an artwork";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    form label small {
        color: #888;
        font-weight: 200;
    }
</style>

<h2>Add an artwork</h2>

@using (Html.BeginForm("AddArtwork", "Artefact", FormMethod.Post, new { id = "main-form", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.Refresh)
    @Html.HiddenFor(x => x.Clone)
    <div id="main-template" class="artwork-form">
        <div class="row">
            <div class="form-group col-md-2">
                <label>Article <small>e.g., 'The', 'A'</small></label>
                @Html.TextBoxFor(x => x.Article, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Article)
            </div>
            <div class="form-group col-md-10">
                @Html.LabelFor(x => x.Name)
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", data_bind = "value: $data.name" })
                @Html.ValidationMessageFor(x => x.Name)
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Importance <small>A <strong style="color: red;">5 star</strong> work is a must see for everyone and a <strong style="color: red;">1 star</strong> work is of specialist interest; anything below <strong style="color: red;">4 stars</strong> means the work <em>might not</em> appear in an image stream</small></label>
                @Html.TextBoxFor(x => x.Rating, new { @class = "form-control rating" })
            </div>
            <div class="col-md-6">
                <label>Ordinal <small>The numerical order of the item in a sequence</small></label>
                @Html.TextBoxFor(x => x.Ordinal, new { type = "number", min = 0, max = 100, @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Ordinal)
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(x => x.Description)
                @Html.TextAreaFor(x => x.Description, new { rows = 10, data_provide = "markdown-editable", data_autofocs = "true", @class = "form-control input-lg" })
                @Html.ValidationMessageFor(x => x.Description)
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label>Height (cms)</label>
                        @Html.TextBoxFor(x => x.Height, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Height)
                    </div>
                    <div class="form-group col-md-4">
                        <label>Width (cms)</label>
                        @Html.TextBoxFor(x => x.Width, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Width)
                    </div>
                    <div class="form-group col-md-4">
                        <label>Depth (cms)</label>
                        @Html.TextBoxFor(x => x.Depth, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Depth)
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-12 form-group">
                        <label>Range <small>Did the action take place some time <em>between</em> the start and finish or <em>continuously from</em> start to finish?</small></label>
                        <div class="col-md-4">
                            @Html.RadioButtonFor(x => x.Range, Data.Entities.Range.Continuous)
                            @Html.LabelFor(x => x.Range, "Continuous")
                        </div>
                        <div class="col-md-4">
                            @Html.RadioButtonFor(x => x.Range, Data.Entities.Range.Between)
                            @Html.LabelFor(x => x.Range, "Between")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Started <small>Year</small></label>
                        @Html.TextBoxFor(x => x.YearMadeStart, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.YearMadeStart)
                    </div>
                    <div class="form-group col-md-6">
                        <label>Finished <small>Year</small></label>
                        @Html.TextBoxFor(x => x.YearMadeEnd, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.YearMadeEnd)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Image Credit <small>The source of the image, e.g., 'Wikipedia', 'Art Renewal Center', 'Web Gallery of Art'</small></label>
                        @Html.TextBoxFor(x => x.Source, new { @class = "form-control" })
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Image Upload</label>
                            @Html.TextBoxFor(x => x.Image, new { type = "file", @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Image)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <label>Image URL <small>URL of the image if downloaded from the web</small></label>
                        @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <label>Public domain?</label>
                        @Html.CheckBoxFor(x => x.PublicDomain, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-12">
                        <button type="submit" onclick="return saveClicked();" class="btn btn-default btn-primary btn-lg">Save</button>
                        <button type="submit" onclick="return saveAndCloneClicked();" class="btn btn-default btn-lg">Save &amp; Clone</button>
                        <button type="submit" onclick="refreshClicked(); return true;" class="btn btn-default btn-lg">Refresh</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label>Is a <small>What kind of thing it is</small></label>
                <div>
                    @Html.DropDownListFor(x => x.CategoryGuid, new SelectList(Model.ArtworkTypes, "Value", "Text"), new { @class = "form-control typeahead" })
                </div>
            </div>
            <div class="form-group col-md-4">
                <label>Made from <small>e.g., oil paint</small></label>
                @Html.DropDownListFor(x => x.MadeFromFirstGuid, new SelectList(Model.Substances, "Value", "Text"), new { @class = "form-control" })
            </div>
            <div class="form-group col-md-4">
                <label>Made from <small>e.g., canvas</small></label>
                @Html.DropDownListFor(x => x.MadeFromSecondGuid, new SelectList(Model.Substances, "Value", "Text"), new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <div class="row">
                    <div class="col-md-11">
                        <label>Created by</label>
                        @Html.DropDownListFor(x => x.MadeByGuid, new SelectList(Model.Artists, "Value", "Text"), new { @class = "form-control" })
                    </div>
                    <div class="col-md-1">
                        <a href="/Admin/Agent/AddArtist" target="_blank" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span></a>
                        <a href="#" onclick="refreshMadeByClicked(); return false;" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-refresh"></span></a>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="row">
                    <div class="col-md-11">
                        <label>Located in <small>e.g., collection such as a museum, a church, a room</small></label>
                        @Html.DropDownListFor(x => x.LocatedInGuid, new SelectList(Model.Collections, "Value", "Text"), new { @class = "form-control" })
                    </div>
                    <div class="col-md-1">
                        <a href="/Admin/Collection/Add" target="_blank" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span></a>
                        <a href="#" onclick="refreshLocatedInClicked(); return false;" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-refresh"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <div class="row">
                    <div class="col-md-11">
                        <label>Subject</label>
                        @Html.DropDownListFor(x => x.SubjectGuid, new SelectList(Model.Subjects, "Value", "Text"), new { @class = "form-control" })
                    </div>
                    <div class="col-md-1">
                        <a href="/Admin/Category/AddSubject" target="_blank" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span></a>
                        <a href="#" onclick="refreshSubjectClicked(); return false;" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-refresh"></span></a>
                    </div>
                </div>

            </div>
            <div class="form-group col-md-6">
                <label>Genre</label>
                @Html.DropDownListFor(x => x.GenreGuid, new SelectList(Model.Genres, "Value", "Text"), new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <div class="row">
                    <div class="col-md-11">
                        <label>Represents</label>
                        @Html.DropDownListFor(x => x.Represents1Guid, new SelectList(Model.Agents, "Value", "Text"), new { @class = "form-control" })
                    </div>
                    <div class="col-md-1">
                        <a href="/Admin/Agent/AddAgent" target="_blank" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span></a>
                        <a href="#" onclick="refreshRepresentsClicked(); return false;" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-refresh"></span></a>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>Represents</label>
                @Html.DropDownListFor(x => x.Represents2Guid, new SelectList(Model.Agents, "Value", "Text"), new { @class = "form-control" })
            </div>
        </div>
    </div>
}

<div class="modal fade" id="confirm-artwork-add-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Are you <em><b>sure</b></em> that the work <em><b>is not</b></em> one of the following?</h4>
            </div>
            <div class="modal-body" style="margin-top: 20px;">
                <div id="confirm-artwork-add-modal-template">
                    <div class="row">
                        <div class="justified-small">
                            <!-- ko foreach: $data.Artefacts -->
                            <div>
                                <a href="#" target="_blank" data-bind="attr: { href: '/Admin/Artefact/ViewDetail/' + $data.Artefact.Guid }">
                                    <img data-bind="attr: { src: '/Images/' + $data.Image.Guid + '.' + $data.Image.Extension + '?mode=crop&height=200', alt: $data.Artefact.Name }" />
                                </a></div>
                            <!-- /ko -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="#" onclick="proceed(); return false;" class="btn btn-default btn-primary">Yes, I'm sure</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section scripts {
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtULLEkACV1qYgWl-YAFwjRoKRpHOyW9I"></script>
    <script>
        $(".rating").rating({
            min: 1, max: 5, size: "lg", step: 1
        });
    </script>
    <script>
        var Modal = {};
        Modal.QuickAddAgentModal = $("#QuickAddAgentModal");

        function showQuickAddAgentModalClicked() {
            Modal.QuickAddAgentModal.modal({
                show: true
            });
        }
        function quickAddAgentModalSaveClicked() {
            var params = {
                name: $("#QuickAddAgentModal #Name"),
                firstname: $("#QuickAddAgentModal #FirstName"),
                lastname: $("#QuickAddAgentModal #LastName"),
            };
            $.get("/Agent/QuickAddAgentModal", params, function (data) {
                Modal.QuickAddAgentModal.hide();
            });
        }
    </script>
    <script>
        $("select").select2();
    </script>
    <script>
        var select = app.Utils.select;
        var FormStateEnum = {
            "Proceed": "Proceed",
            "Validate": "Validate"
        };
        var FormState = FormStateEnum.Validate;
        function proceed() {
            FormState = FormStateEnum.Proceed;
            $("#main-form").submit();
        }
        var ConfirmArtworkModal = {
            Artefacts: ko.observableArray([])
        };
        var templateNode = document.getElementById("confirm-artwork-add-modal-template");
        ko.applyBindings(ConfirmArtworkModal, templateNode);
        function saveClicked() {
            if (FormState == FormStateEnum.Proceed) {
                return true;
            }
            var params = {
                name: $("#Name").val(),
                madeByGuid: $("#MadeByGuid").val()
            };
            $.get("/Admin/Artefact/CheckForDuplicates", params, function (data) {
                if (data.Artefacts.length == 0) {
                    return proceed();
                }
                var modal = $("#confirm-artwork-add-modal");
                ConfirmArtworkModal.Artefacts(data.Artefacts);
                modal.modal({ show: true });
                $(".justified-small").justifiedGallery({
                    rowHeight: 200,
                    lastRow: 'nojustify',
                    margins: 3,
                    captionSettings: {
                        animationDuration: 500,
                        visibleOpacity: 0.7,
                        nonVisibleOpacity: 0.7
                    }
                });
            });
            return false;
        }
        function saveAndCloneClicked() {
            $("#Clone").val("true");
            return saveClicked();
        }
        function refreshClicked() {
            $("#Refresh").val("true");
        }
        function refreshMadeByClicked() {
            refreshList("/API/GetArtistsList", ["MadeByGuid"]);
        }
        function refreshLocatedInClicked() {
            refreshList("/API/GetCollectionsList", ["LocatedInGuid"]);
        }
        function refreshSubjectClicked() {
            refreshList("/API/GetSubjectsList", ["SubjectGuid"]);
        }
        // API METHOD TO BE IMPLEMENTED
        function refreshRepresentsClicked() {
            refreshList("/API/GetAgentsList", ["Represents1Guid", "Represents2Guid", "Represents3Guid"]);
        }
        function refreshList(apiMethod, listIds) {
            $.get(apiMethod, null, function (data) {
                $.each(listIds, function (__, listId) {
                    var list = $("#" + listId);
                    var selectedValue = list.val();
                    list.empty();
                    $.each(data.Items, function (__, item) {
                        list.append($("<option></option>").attr("value", (item.Value || "")).text((item.Text || "")));
                    });
                    list.val(selectedValue);
                });
            });
        }
    </script>
    <script type="text/javascript">
        var Model = (function () {
            function Model() {
                this.name = ko.observable($("#Name").val());
                this.latitude = ko.observable($("#Latitude").val());
                this.longitude = ko.observable($("#Longitude").val());
                this.results = ko.observableArray([]);
            }
            Model.prototype.resultClicked = function (data) {
                // this.name(data.address_components[0].long_name);
                this.latitude(data.geometry.location.lat());
                this.longitude(data.geometry.location.lng());
                return true;
            };
            Model.prototype.hideClicked = function () {
                this.results([]);
            };
            Model.prototype.geocodeClicked = function () {
                this.results([]);
                var geocoder = new google.maps.Geocoder();
                geocoder.geocode({
                    address: this.name()
                }, function (results, status) {
                    console.log(results, status);
                    if (status == google.maps.GeocoderStatus.OK) {
                        this.results(results);
                    } else {

                    }
                }.bind(this));
                return false;
            };
            return Model;
        })();
        var model = new Model();
        ko.applyBindings(model, document.getElementById("main-template"));
    </script>
}