﻿@model CodexMVC.Models.AddBookModel

@{
    ViewBag.Title = "Add an artwork";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    form label small {
        color: #888;
        font-weight: 200;
    }
</style>

<h2>Add a book</h2>

@using (Html.BeginForm("AddBook", "Artefact", FormMethod.Post, new { id = "main-form" }))
{
    @Html.HiddenFor(x => x.Refresh)
    @Html.HiddenFor(x => x.Clone)
    <div id="main-template" class="artwork-form">
        <div class="row">
            <div class="form-group col-md-2">
                <label>Article <small>e.g., 'The', 'A'</small></label>
                @Html.TextBoxFor(x => x.Article, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Article)
            </div>
            <div class="form-group col-md-10">
                @Html.LabelFor(x => x.Name)
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", data_bind = "value: $data.name" })
                @Html.ValidationMessageFor(x => x.Name)
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Importance <small>A <strong style="color: red;">5 star</strong> work is a must see for everyone and a <strong style="color: red;">1 star</strong> work is of specialist interest; anything below <strong style="color: red;">4 stars</strong> means the work <em>might not</em> appear in an image stream</small></label>
                @Html.TextBoxFor(x => x.Rating, new { @class = "form-control rating" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(x => x.Description)
                @Html.TextAreaFor(x => x.Description, new { rows = 10, data_provide = "markdown-editable", data_autofocs = "true", @class = "form-control input-lg" })
                @Html.ValidationMessageFor(x => x.Description)
            </div>
            <div class="col-md-6">                
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Started <small>Year</small></label>
                        @Html.TextBoxFor(x => x.YearMadeStart, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.YearMadeStart)
                    </div>
                    <div class="form-group col-md-6">
                        <label>Finished <small>Year</small></label>
                        @Html.TextBoxFor(x => x.YearMadeEnd, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.YearMadeEnd)
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-12">
                        <button type="submit" onclick="return saveClicked();" class="btn btn-default btn-primary btn-lg">Save</button>
                        <button type="submit" onclick="return saveAndCloneClicked();" class="btn btn-default btn-lg">Save &amp; Clone</button>
                        <button type="submit" onclick="refreshClicked(); return true;" class="btn btn-default btn-lg">Refresh</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label>Is a <small>What kind of thing it is</small></label>
                <div>
                    @Html.DropDownListFor(x => x.CategoryGuid, new SelectList(Model.PublicationTypes, "Value", "Text"), new { @class = "form-control typeahead" })
                </div>
            </div>
            <div class="form-group col-md-3">
                <label>Written by</label>
                @Html.DropDownListFor(x => x.AuthorOfGuid, new SelectList(Model.Writers, "Value", "Text"), new { @class = "form-control" })
            </div>
            <div class="form-group col-md-3">
                <label>Translated by</label>
                @Html.DropDownListFor(x => x.TranslatedByGuid, new SelectList(Model.Writers, "Value", "Text"), new { @class = "form-control" })
            </div>
            <div class="form-group col-md-3">
                <label>Published by</label>
                @Html.DropDownListFor(x => x.PublishedByGuid, new SelectList(Model.Publishers, "Value", "Text"), new { @class = "form-control" })
            </div>
        </div>
    </div>
}

@section scripts {
    <script>
        $(".rating").rating({
            min: 1, max: 5, size: "lg", step: 1
        });
    </script>
    <script>
        $("select").select2();
    </script>
    <script>
        var select = app.Utils.select;        
        function saveClicked() {
            return true;
        }
        function saveAndCloneClicked() {
            $("#Clone").val("true");
            return saveClicked();
        }
        function refreshClicked() {
            $("#Refresh").val("true");
        }      
    </script>
}