﻿@model CodexMVC.Models.EditArtefactAlias
@{
    var title = "Add/Edit artefact";
    ViewBag.Title = title;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div style="float: right; padding-left: 50px;">
    <a href="/Admin/Artefact/List">Artefacts</a> /
    <a href="/Admin/Artefact/ViewDetail?guid=@Model.Artefact.Guid">@Model.Artefact.ToDisplay()</a>
</div>
<h2>@title</h2>
@using (Html.BeginForm("EditAlias", "Artefact"))
{
    @Html.HiddenFor(x => x.Artefact.Guid)
    <div>
        <label>
            Alias:
        </label>
        @Html.TextBoxFor(x => x.Alias)
    </div>
    if (Model.Artefact.Aliases != null)
    {
        <div>
            <label>Aliases:</label>
            <ul>
                @foreach (var alias in Model.Artefact.Aliases)
                {
                    <li>
                        @alias [<a href="/Admin/Artefact/DeleteAlias?agentGuid=@Model.Artefact.Guid&alias=@alias" onclick="return confirm('Are you sure you want to delete this alias?');">delete</a>]
                    </li>
                }
            </ul>
        </div>
    }
    <button type="submit">Save</button>
}