﻿@model CodexMVC.Models.EditDetailModel

@{
    var title = "Edit " + Model.Artefact.ToDisplay() + " address details";
    ViewBag.Title = "Edit Detail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@title</h2>

@using (Html.BeginForm("EditDetail", "Artefact"))
{
    @Html.HiddenFor(x => x.DetailGuid)
    @Html.HiddenFor(x => x.Artefact.Guid)
    <div id="main-template" class="artwork-form">
        <div class="row">
            <div class="col-md-6">
                <label>Address</label>
                @Html.TextAreaFor(x => x.Address, new { rows = 4, data_provide = "markdown-editable", data_autofocs = "true", @class = "form-control input-lg" })
            </div>
            <div class="col-md-6">
                <label>
                    Directions
                </label>
                @Html.TextAreaFor(x => x.Directions, new { rows = 4, data_provide = "markdown-editable", data_autofocs = "true", @class = "form-control input-lg" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="'col-md-12">
                    <div class="col-md-2">
                        <h4>Opening hours</h4>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Mon</label>
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.OpenDayStart[0], new { placeholder = "00:00", @class = "form-control" })
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.OpenDayEnd[0], new { placeholder = "00:00", @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Tue</label>
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.OpenDayStart[1], new { placeholder = "00:00", pattern = "^([0-9]{2}:[0-9]{2})?$", @class = "form-control" })
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.OpenDayEnd[1], new { placeholder = "00:00", pattern = "^([0-9]{2}:[0-9]{2})?$", @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Wed</label>
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.OpenDayStart[2], new { placeholder = "00:00", pattern = "^([0-9]{2}:[0-9]{2})?$", @class = "form-control" })
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.OpenDayEnd[2], new { placeholder = "00:00", pattern = "^([0-9]{2}:[0-9]{2})?$", @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Thu</label>
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.OpenDayStart[3], new { placeholder = "00:00", pattern = "^([0-9]{2}:[0-9]{2})?$", @class = "form-control" })
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.OpenDayEnd[3], new { placeholder = "00:00", pattern = "^([0-9]{2}:[0-9]{2})?$", @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Fri</label>
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.OpenDayStart[4], new { placeholder = "00:00", pattern = "^([0-9]{2}:[0-9]{2})?$", @class = "form-control" })
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.OpenDayEnd[4], new { placeholder = "00:00", pattern = "^([0-9]{2}:[0-9]{2})?$", @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Sat</label>
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.OpenDayStart[5], new { placeholder = "00:00", pattern = "^([0-9]{2}:[0-9]{2})?$", @class = "form-control" })
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.OpenDayEnd[5], new { placeholder = "00:00", pattern = "^([0-9]{2}:[0-9]{2})?$", @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Sun</label>
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.OpenDayStart[6], new { placeholder = "00:00", pattern = "^([0-9]{2}:[0-9]{2})?$", @class = "form-control" })
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.OpenDayEnd[6], new { placeholder = "00:00", pattern = "^([0-9]{2}:[0-9]{2})?$", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label>
                    Website
                </label>
                @Html.TextBoxFor(x => x.Website, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                <label>
                    Email
                </label>
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                <label>
                    Phone
                </label>
                @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Affiliation Code</label>
                @Html.TextBoxFor(x => x.AffiliationCode, new { @class = "form-control" })
            </div>
            <div class="col-md-8">
                <label>Ticket Purchase URL</label>
                @Html.TextBoxFor(x => x.PurchaseTicketUrl, new { @class = "form-control" })
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-lg">Save</button>
            </div>
        </div>
    </div>
}