﻿@model CodexMVC.Models.EditContextModel
@{
    var isNew = Model.Node.Context.Guid == null;
    var mode = isNew ? "Add" : "Edit";
    var title = mode + " context";
    ViewBag.Title = title;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@title</h2>

@using (Html.BeginForm("EditContext", "Artefact"))
{
    @Html.HiddenFor(x => x.Node.Context.Guid)
    @Html.HiddenFor(x => x.Node.HasContextGuid)
    @Html.HiddenFor(x => x.Node.ContextForGuid)
    @Html.HiddenFor(x => x.Node.ContextAtGuid)
    <div class="row">
        <div class="form-group">
            <div class="col-md-4">
                <label>Artefact</label>
                @Html.DropDownListFor(x => x.Node.Artefact.Guid, new SelectList(Model.Artefacts, "Value", "Text"), new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                <label>Subject</label>
                @Html.DropDownListFor(x => x.Node.Subject.Guid, new SelectList(Model.Categories, "Value", "Text"), new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                <label>Place</label>
                @Html.DropDownListFor(x => x.Node.Place.Guid, new SelectList(Model.Places, "Value", "Text"), new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-6">
                <label>Description</label>
                @Html.TextAreaFor(x => x.Node.Context.Description, new { rows = 10, data_provide = "markdown-editable", data_autofocs = "true", @class = "form-control input-lg" })
            </div>

        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
            <button type="submit" class="btn btn-default btn-primary btn-lg">Save</button>
        </div>
    </div>
}
