﻿@model CodexMVC.Models.EditEntityImage
@{
    var mode = Model.ImageGuid == null ? "Add" : "Edit";
    ViewBag.Title = mode + " image";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>
    @mode an artefact image
</h2>
@using (Html.BeginForm("EditImage", "Artefact", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.EntityGuid)
    @Html.HiddenFor(x => x.ImageGuid)
    if (Model.ImageGuid == null)
    {
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Image</label>
                    @Html.TextBoxFor(x => x.Image, new { type = "file", @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Image)
                </div>
            </div>
        </div>
    }
    else
    {
        <img src="@Model.ImageNode.VirtualPath().Replace("~", "")" />
    }
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Name</label>
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Name)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Description</label>
                @Html.TextAreaFor(x => x.Description, new { @class = "form-control", rows = 10, data_provide = "markdown-editable" })
                @Html.ValidationMessageFor(x => x.Description)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>
                Source (credit)
            </label>
            @Html.TextBoxFor(x => x.Source, new { @class = "form-control" })
        </div>
        <div class="col-md-6">
            <label>
                Source (url)
            </label>
            @Html.TextBoxFor(x => x.SourceUrl, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <h4>Public Domain? <small>The image is in the public domain</small></h4>
            </div>
            <div class="col-md-2 form-group">
                @Html.RadioButtonFor(x => x.PublicDomain, "true")
                <label>Yes</label>
            </div>
            <div class="col-md-2 form-group">
                @Html.RadioButtonFor(x => x.PublicDomain, "false")
                <label>No</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <h4>Primary? <small>The image is the representative image of the entity</small></h4>
            </div>
            <div class="col-md-2 form-group">
                @Html.RadioButtonFor(x => x.Primary, "true")
                <label>Yes</label>
            </div>
            <div class="col-md-2 form-group">
                @Html.RadioButtonFor(x => x.Primary, "false")
                <label>No</label>
            </div>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-default btn-lg">Save</button>
    </div>
}
