﻿@using CodexMVC.Helpers
@using Data.Entities
@using Services
@model CodexMVC.Models.ViewArtefact
@{
    ViewBag.Title = "View Artefact";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var markdown = new MarkdownDeep.Markdown();
}
@helper EntityLink(IEntity entity)
{
    if (entity == null)
    {
        <span>(null)</span>
    }
    else
    {
        var type = entity is Data.Agent ? "Agent" : entity is Place ? "Place" : entity is Artefact ? "Artefact" : entity is Category ? "Category" : entity.GetType().Name;
        <a href="/Admin/@type/ViewDetail?guid=@entity.Guid">@NameOf(entity)</a>
    }
}
@helper AttributeCell(IEnumerable<GenericRelationNode<Artefact, IEntity>>
    attributes, string editActionName, bool incoming = false)
{
    if (attributes.Any())
    {
        foreach (var attr in attributes)
        {
            var artefactGuid = attr.Source.Guid;
            <div class="col-md-3">
                <p class="text-right">
                    <span style="margin-right: 5px;">@EntityLink(attr.Destination)</span>
                    <a class="btn btn-default btn-sm" href="/Admin/Artefact/@editActionName?artefactGuid=@artefactGuid&toDestGuid=@attr.RelationToDestinationGuid">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="/Admin/Artefact/DeleteBasicRelationship?artefactGuid=@artefactGuid&relationshipGuid=@attr.RelationToDestinationGuid&relationshipType=@attr.RelationToDestinationType" class="btn btn-default btn-sm" onclick="return confirm('Are you sure you wish to delete this relationship?');">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </p>
            </div>
        }
    }
}
@helper AttributeCell(IEnumerable<GenericRelationHyperNode<Artefact, IEntity>>
    attributes, string editActionName, bool incoming = false)
{
    if (attributes.Any())
    {
        foreach (var attr in attributes)
        {
            var artefactGuid = attr.Source.Guid;
            <div class="col-md-3">
                <p class="text-right">
                    <span style="margin-right: 5px;">@EntityLink(attr.Destination)</span>
                    <a class="btn btn-default btn-sm" href="/Admin/Artefact/@editActionName?artefactGuid=@artefactGuid&hasRelationGuid=@attr.HasRelationGuid">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="/Admin/Artefact/DeleteAttribute?relationGuid=@attr.Relation.Guid&artefactGuid=@artefactGuid" class="btn btn-default btn-sm" onclick="return confirm('Are you sure you wish to delete this relationship?');">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </p>
            </div>
        }
    }
}
@helper AttributeCellReverse(IEnumerable<GenericRelationNode<IEntity, Artefact>>
    attributes, string editActionName, bool incoming = false)
{
    if (attributes.Any())
    {
        foreach (var attr in attributes)
        {
            var artefactGuid = attr.Destination.Guid;
            <div class="col-md-3">
                <p class="text-right">
                    <span style="margin-right: 5px;">@EntityLink(attr.Source)</span>
                    <a class="btn btn-default btn-sm" href="/Admin/Artefact/@editActionName?artefactGuid=@artefactGuid&toDestGuid=@attr.RelationToDestinationGuid">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="/Admin/Artefact/DeleteAttribute?toDestGuid=@attr.RelationToDestinationGuid&artefactGuid=@artefactGuid" class="btn btn-default btn-sm" onclick="return confirm('Are you sure you wish to delete this relationship?');">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </p>
            </div>
        }
    }
}
@helper AttributeCellReverse(IEnumerable<GenericRelationHyperNode<IEntity, Artefact>>
    attributes, string editActionName, bool incoming = false)
{
    if (attributes.Any())
    {
        foreach (var attr in attributes)
        {
            var artefactGuid = attr.Destination.Guid;
            <div class="col-md-3">
                <p class="text-right">
                    <span style="margin-right: 5px;">@EntityLink(attr.Source)</span>
                    <a class="btn btn-default btn-sm" href="/Admin/Artefact/@editActionName?artefactGuid=@artefactGuid&hasRelationGuid=@attr.HasRelationGuid">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="/Admin/Artefact/DeleteAttribute?relationGuid=@attr.Relation.Guid&artefactGuid=@artefactGuid" class="btn btn-default btn-sm" onclick="return confirm('Are you sure you wish to delete this relationship?');">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </p>
            </div>
        }
    }
}
@helper AttributeRow(IEnumerable<GenericRelationNode<Artefact, IEntity>> outgoing, IEnumerable<GenericRelationNode<IEntity, Artefact>> incoming, string relationshipName, string relationshipType, string addActionName, string editActionName, bool multipleOutAllowed = true, bool multipleInAllowed = true)
{
    <tr>
        <td>
            <p class="text-right"><strong>@relationshipName</strong></p>
        </td>
        <td>
            @{
                var disable = false == (multipleOutAllowed || (false == outgoing.Any(x => x.RelationToDestinationType == relationshipType)) && (multipleInAllowed && false == incoming.Any(x => x.RelationToDestinationType == relationshipType)));
            }
            <div @if (disable) { <text> data-toggle="tooltip" data-placement="top" title="Only one '@relationshipName' is allowed" </text>                        }>
                <a href="/Admin/Artefact/@addActionName?artefactGuid=@Model.Artefact.Guid" @if (disable) { <text> disabled </text>                            } class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </td>
        <td>
            <div style="margin-left: 20px;margin-right: 20px;">
                @{
                    var hasOutgoing = outgoing.Where(x => x.RelationToDestinationType == relationshipType).Any();
                }
                @if (hasOutgoing)
                {
                    <div class="row">
                        @AttributeCell(outgoing.Where(x => x.RelationToDestinationType == relationshipType), editActionName)
                    </div>
                }
                @if (incoming.Where(x => x.RelationToDestinationType == relationshipType).Any())
                {
                    var rowStyle = hasOutgoing ? "border-top: dashed 2px #808080" : "";
                    <div class="row" style="@rowStyle">
                        <p><span class="glyphicon glyphicon-arrow-left"></span></p>
                        @AttributeCellReverse(incoming.Where(x => x.RelationToDestinationType == relationshipType), editActionName, true)
                    </div>
                }
            </div>
        </td>
    </tr>
}
@helper AttributeRow(IEnumerable<GenericRelationHyperNode<Artefact, IEntity>> outgoing, IEnumerable<GenericRelationHyperNode<IEntity, Artefact>> incoming, string relationshipName, string relationshipType, string addActionName, string editActionName)
{
    <tr>
        <td>
            <p class="text-right"><strong>@relationshipName</strong></p>
        </td>
        <td>
            <a href="/Admin/Artefact/@addActionName?artefactGuid=@Model.Artefact.Guid" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </td>
        <td>
            <div style="margin-left: 20px;margin-right: 20px;">
                @{
                    var hasOutgoing = outgoing.Where(x => x.RelationToDestinationType == relationshipType).Any();
                }
                @if (hasOutgoing)
                {
                    <div class="row">
                        @AttributeCell(outgoing.Where(x => x.RelationToDestinationType == relationshipType), editActionName)
                    </div>
                }
                @if (incoming.Where(x => x.RelationToDestinationType == relationshipType).Any())
                {
                    var rowStyle = hasOutgoing ? "border-top: dashed 2px #808080" : "";
                    <div class="row" style="@rowStyle">
                        <p><span class="glyphicon glyphicon-arrow-left"></span></p>
                        @AttributeCellReverse(incoming.Where(x => x.RelationToDestinationType == relationshipType), editActionName, true)
                    </div>
                }
            </div>
        </td>
    </tr>
}
@functions{
    public string Concat(IEnumerable<Data.Entities.Category> list, bool prefixWithArticle = false)
    {
        if (list == null || list.Count() == 0)
        {
            return string.Empty;
        }
        if (list.Count() == 1)
        {
            return list.First().Name.ToLower();
        }
        var results = list.Select(x => x.Name.ToLower());
        var firstLetter = results.First().Substring(0, 1).ToLower();
        var vowels = new[] { "a", "e", "i", "o", "u" };
        var prefix = "a";
        if (vowels.Contains(firstLetter))
        {
            prefix = "an";
        }
        if (false == prefixWithArticle)
        {
            prefix = "";
        }
        return prefix + " " + string.Join(", ", results.Take(results.Count() - 1).ToArray()) + " and " + results.Last();
    }
    public string Month(int month)
    {
        switch (month)
        {
            case 1: return "January";
            case 2: return "February";
            case 3: return "March";
            case 4: return "April";
            case 5: return "May";
            case 6: return "June";
            case 7: return "July";
            case 8: return "August";
            case 9: return "September";
            case 10: return "October";
            case 11: return "November";
            case 12: return "December";
            case 13: return "Spring";
            case 14: return "Summer";
            case 15: return "Autumn";
            case 16: return "Winter";
            case 17: return "Early";
            case 18: return "Late";
            default: return "???";
        }
    }
    public string NameOf(IEntity entity)
    {
        if (entity is Data.Agent)
        {
            return ((Data.Agent)entity).FullName2;
        }
        if (entity is Artefact)
        {
            return ((Artefact)entity).ToDisplay();
        }
        return entity.Name;
    }
}
<style type="text/css">
    html, body, #map-canvas {
        height: 900px;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #map-detail {
        width: 100%;
        height: 300px;
        margin: 0;
        padding: 0;
    }
</style>

<ol class="breadcrumb">
    <li><a href="/Admin/Artefact/List">List</a></li>
    <li class="active">@Model.Artefact.Name</li>
</ol>

<div class="page-header ">
    <div class="slabbed">
        <span class='slabtext' style="color: red;">
            @Model.Artefact.ToDisplay()
        </span>
    </div>
    <div style="width: 50%; " class="center-block slabbed">
        @if (Model.IsA.Any())
        {
            <span class='slabtext'>
                @(string.Join(" ", Model.IsA.Select(x => x.Name).ToArray()))
            </span>
        }
        <span class='slabtext'>
            @string.Join(" ", Model.MadeFrom.Select(x => x.Name).ToArray())
        </span>
    </div>
</div>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#Details">Details</a>
                </li>
                <li>
                    <a href="#Timeline">Timeline</a>
                </li>
                <li>
                    <a href="#Documents">Documents</a>
                </li>
                <li>
                    <a href="#ReferredDocs">Documents referred in</a>
                </li>
                <li>
                    <a href="#Attributes">Attributes</a>
                </li>
                <li>
                    <a href="#Contexts">Contexts</a>
                </li>
                <li>
                    <a href="#map-canvas">Map</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="Details" class="row">
    <div class="form-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Details</h3>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Guid</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">
                            @Model.Artefact.Guid
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">
                            @Model.Artefact.Name
                        </p>
                    </div>
                </div>
                @if (Model.Artefact.Article != null)
                {
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Article</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">
                                @Model.Artefact.Article
                            </p>
                        </div>
                    </div>
                }
                <div class="form-group">
                    <label class="col-sm-2 control-label">Importance</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">
                            @Html.TextBoxFor(x => x.Artefact.Rating, new { @class = "rating" })
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Aliases</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">
                            @if (Model.Artefact.Aliases != null)
                            {
                                @:@string.Join(", ", Model.Artefact.Aliases)
                                            }
                            else
                            {
                                @:(none)
                                            }
                            <a href="/Admin/Artefact/AddAlias?artefactGuid=@Model.Artefact.Guid" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Address Details</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">
                            @if (Model.Detail != null)
                            {
                                <a href="/Admin/Artefact/EditDetail?detailGuid=@Model.Detail.Guid&artefactGuid=@Model.Artefact.Guid" class="btn btn-default">Edit</a>
                            }
                            else
                            {
                                <a href="/Admin/Artefact/AddDetail?artefactGuid=@Model.Artefact.Guid" class="btn btn-default">Add</a>
                            }
                        </p>
                    </div>
                </div>
                @if (Model.Artefact.Subtitle != null)
                {
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Subtitle</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">
                                @Model.Artefact.Subtitle
                            </p>
                        </div>
                    </div>
                }
                @if (Model.Artefact.Height.HasValue)
                {
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Height</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">
                                @Model.Artefact.Height
                            </p>
                        </div>
                    </div>
                }
                @if (Model.Artefact.Width.HasValue)
                {
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Width</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">
                                @Model.Artefact.Width
                            </p>
                        </div>
                    </div>
                }
                @if (Model.Artefact.Depth.HasValue)
                {
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Depth</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">
                                @Model.Artefact.Depth
                            </p>
                        </div>
                    </div>
                }
                @if (Model.Artefact.Latitude.HasValue)
                {
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Latitude</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">
                                @Model.Artefact.Latitude
                            </p>
                        </div>
                    </div>
                }
                @if (Model.Artefact.Longitude.HasValue)
                {
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Longitude</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">
                                @Model.Artefact.Longitude
                            </p>
                        </div>
                    </div>
                }
                @*@if (Model.Detail != null && Model.Detail.OpenDayStart != null && Model.Detail.OpenDayEnd != null)
                {
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Open Day Start</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">
                                <div class="row">
                                    <div class="col-md-6">
                                        Mon:
                                        @if (Model.Detail.OpenDayStart[0] == null)
                                        {
                                            <span>Closed</span>
                                        }
                                        else
                                        {
                                            <span>@Model.Detail.OpenDayStart[0].Value.ToString("00"):00 - @Model.Detail.OpenDayEnd[0].Value.ToString("00"):00</span>
                                        }
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        Tue: @Model.Detail.OpenDayStart[1].Value.ToString("00"):00 - @Model.Detail.OpenDayEnd[1].Value.ToString("00"):00
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        Wed: @Model.Detail.OpenDayStart[2].Value.ToString("00"):00 - @Model.Detail.OpenDayEnd[2].Value.ToString("00"):00
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        Thu: @Model.Detail.OpenDayStart[3].Value.ToString("00"):00 - @Model.Detail.OpenDayEnd[3].Value.ToString("00"):00
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        Fri: @Model.Detail.OpenDayStart[4].Value.ToString("00"):00 - @Model.Detail.OpenDayEnd[4].Value.ToString("00"):00
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        Sat: @Model.Detail.OpenDayStart[5].Value.ToString("00"):00 - @Model.Detail.OpenDayEnd[5].Value.ToString("00"):00
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        Sun: @Model.Detail.OpenDayStart[6].Value.ToString("00"):00 - @Model.Detail.OpenDayEnd[6].Value.ToString("00"):00
                                    </div>
                                </div>
                            </p>
                        </div>
                    </div>
                }*@

                @if (Model.Detail != null && Model.Detail.Address != null)
                {
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Address</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">
                                @Model.Detail.Address
                            </p>
                        </div>
                    </div>
                }
                @if (Model.Detail != null && Model.Detail.Directions != null)
                {
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Directions</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">
                                @Model.Detail.Directions
                            </p>
                        </div>
                    </div>
                }
                @if (Model.Detail != null && Model.Detail.Website != null)
                {
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Website</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">
                                <a href="@Model.Detail.Website" target="_blank">
                                    @Model.Detail.Website
                                </a>
                            </p>
                        </div>
                    </div>
                }
                @if (Model.Detail != null && Model.Detail.Email != null)
                {
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">
                                @Model.Detail.Email
                            </p>
                        </div>
                    </div>
                }
                @if (Model.Detail != null && Model.Detail.Phone != null)
                {
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Phone</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">
                                @Model.Detail.Phone
                            </p>
                        </div>
                    </div>
                }
                @if (Model.Detail != null && Model.Detail.AffiliationCode != null)
                {
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Affiliation Code</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">
                                @Model.Detail.AffiliationCode
                            </p>
                        </div>
                    </div>
                }
                @if (Model.Detail != null && Model.Detail.PurchaseTicketUrl != null)
                {
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Purchase Ticket Url</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">
                                @Model.Detail.PurchaseTicketUrl
                            </p>
                        </div>
                    </div>
                }
                @if (Model.Artefact.CatalogueIdentPrefix != null || Model.Artefact.CatalogueIdent != null)
                {
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Catalogue Ident</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">
                                @Model.Artefact.CatalogueIdentPrefix @Model.Artefact.CatalogueIdent
                            </p>
                        </div>
                    </div>
                }
                @if (Model.Artefact.Description != null)
                {
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">
                                @{
                    var markdown2 = new MarkdownDeep.Markdown();
                                }
                                @Html.Raw(markdown2.Transform((Model.Artefact.Description)))
                            </p>
                        </div>
                    </div>
                }
            </div>
            <div style="margin-left: 60px;">
                <div class="form-group">
                    <h3>
                        <a href="/Admin/Artefact/AddImage?artworkGuid=@Model.Artefact.Guid" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-plus"></span></a> Images
                    </h3>
                    @foreach (var image in Model.Images.OrderByDescending(x => x.Primary))
                    {
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <a href="@image.VirtualPath().Replace("~", "")" target="_blank">
                                    @if (image.FileName != null)
                                    {
                                        <img src="@image.VirtualPath().Replace("~", "")?width=200" style="width: 200px;" />
                                    }
                                    else
                                    {
                                        <h3>no image</h3>
                                    }
                                </a>
                                <div class="caption">
                                    <h3>
                                        @image.Name
                                        @if (image.Primary ?? false)
                                        {
                                            <span class="glyphicon glyphicon-star"></span>
                                        }
                                    </h3>
                                    @if (image.Description != null)
                                    {
                                        <p>
                                            @image.Description
                                        </p>
                                    }
                                    <a href="~/Admin/Artefact/EditImage?imageGuid=@image.Guid&artefactGuid=@Model.Artefact.Guid" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
                                    <a href="~/Admin/Artefact/DeleteImage?imageGuid=@image.Guid&artefactGuid=@Model.Artefact.Guid" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></a>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div class="form-group">

                    <a href="/Admin/Artefact/Edit?artefactGuid=@Model.Artefact.Guid" class="btn btn-default">Edit</a>

                    <a href="/Admin/Artefact/Delete?artefactGuid=@Model.Artefact.Guid" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this artefact?');">Delete</a>

                </div>
                @if (Model.Artefact.Latitude.HasValue)
                {
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div id="map-detail"></div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div id="Timeline">
    <h2><a href="/Admin/Act/AddAct" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-plus"></span></a> Timeline <small>All acts that involve the agent</small></h2>
    @if (Model.NewActs != null && Model.NewActs.Any())
    {
        <div class="row">
            <ul style="list-style: none">
                @{
        int last = 0;
        int lastMonth = 0;
        var lastDay = 0;
                }
                @foreach (var newAct in Model.NewActs.OrderBy(x => x.Act.Year).ThenBy(x => x.Act.Month).ThenBy(x => x.Act.Day))
                {
                    if (newAct.Act.Year.HasValue && newAct.Act.Year.Value != last)
                    {
                        last = newAct.Act.Year.Value;
                        lastMonth = 0;
                        lastDay = 0;
                        var year = newAct.Act.Decade ? newAct.Act.Year.Value.ToString() + "s" : newAct.Act.Year.Value.ToString();
                        <h2>
                            @year
                        </h2>
                    }
                    if (newAct.Act.Month.HasValue && newAct.Act.Month.Value != lastMonth)
                    {
                        lastMonth = newAct.Act.Month.Value;
                        lastDay = 0;

                    }
                    if (newAct.Act.Day.HasValue && newAct.Act.Day.Value != lastDay)
                    {
                        lastDay = newAct.Act.Day.Value;
                    }
                    if (newAct.Act.Month.HasValue)
                    {
                        <h4>
                            @Month(lastMonth) @(lastDay > 0 ? lastDay.ToString() : "")
                        </h4>
                    }
                    <li id="act-@newAct.Act.Guid">
                        @{
                    var importance = newAct.Act.Importance == Importance.Small ? "font-size: 0.9em;" : newAct.Act.Importance == Importance.Big ? "font-size: 1.5em;" : "";
                        }
                        <div style="position: relative;">
                            <div>
                                <span style="@importance">
                                    @Html.Raw(newAct.ToHtml())
                                </span> <a href="/Admin/Act/EditAct?actGuid=@newAct.Act.Guid" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
                                <a href="/Admin/Act/Delete?actGuid=@newAct.Act.Guid&entityType=Artefact&entityGuid=@Model.Artefact.Guid" onclick="return confirm('Are you sure you want to delete this act?');" class="btn btn-default">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </div>
                            <div style="position: absolute; left: -25px; top: 4px;">
                                @{
                    var starClass = newAct.Bookmarked ? "glyphicon-star" : "glyphicon-star-empty";
                    var starStyle = newAct.Bookmarked ? "color: red; " : "";
                    var clockStyle = newAct.InItinerary ? "color: red;" : "";
                                }
                                <a href="#" onclick="addBookmark(this); return false;" data-bookmarked="@newAct.Bookmarked.ToString().ToLower()" data-guid="@newAct.Act.Guid" data-type="Act"><span style="@starStyle font-size: 1.5em;" class="glyphicon @starClass"></span></a>
                                @*<a href="#" onclick="addItinerary(this); return false;" data-selected="@newAct.InItinerary.ToString().ToLower()" data-guid="@newAct.Act.Guid" data-type="Act"><span style="@clockStyle font-size: 1.5em;" class="glyphicon glyphicon-time"></span></a>*@
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    }
</div>

<div id="Attributes">
    <div class="row">
        <h2>Attributes</h2>
        <div class="table-responsive">
            <table class="table table-hover table-condensed table-striped">
                <tr>
                    <th style="width: 100px;"></th>
                    <th style="width: 50px;"></th>
                    <th></th>
                </tr>
                <tr>
                    <th colspan="3">
                        <h3>Common</h3>
                    </th>
                </tr>
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "is a", Label.Relationship.IsA, "AddIsA", "EditIsA")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "ontological state", Label.Relationship.OntologicalStateOf, "AddOntologicalStateOf", "EditOntologicalStateOf")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "made by", Label.Relationship.MadeBy, "AddMadeBy", "EditMadeBy")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "attributed to", Label.Relationship.AttributedTo, "AddAttributedTo", "EditAttributedTo")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "physical property", Label.Relationship.HasPhysicalPropertyOf, "AddHasPhysicalPropertyOf", "EditHasPhysicalPropertyOf")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "associated with", Label.Relationship.AssociatedWith, "AddAssociatedWith", "EditAssociatedWith")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "represents", Label.Relationship.Represents, "AddRepresents", "EditRepresents")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "commissioned by", Label.Relationship.CommissionedBy, "AddCommissionedBy", "EditCommissionedBy")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "genre", Label.Relationship.HasGenre, "AddHasGenre", "EditHasGenre")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "motif", Label.Relationship.HasMotif, "AddHasMotif", "EditHasMotif")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "subject", Label.Relationship.HasSubject, "AddHasSubject", "EditHasSubject")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "representative of", Label.Relationship.RepresentativeOf, "AddRepresentativeOf", "EditRepresentativeOf")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "formal quality", Label.Relationship.Uses, "AddHasFormalQuality", "EditHasFormalQuality")
                @AttributeRow(Model.BasicOutgoingRelations, Model.BasicIncomingRelations, "part of", Label.Relationship.PartOf, "AddPartOf", "EditPartOf")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "influence on", Label.Relationship.InfluenceOn, "AddInfluenceOn", "EditInfluenceOn")
                <tr>
                    <th colspan="3">
                        <h3>Art</h3>
                    </th>
                </tr>
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "worked on", Label.Relationship.WorkedOn, "AddWorkedOnReverse", "EditWorkedOnReverse")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "designed by", Label.Relationship.DesignedBy, "AddDesignedBy", "EditDesignedBy")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "managed by", Label.Relationship.ManagedBy, "AddManagedBy", "EditManagedBy")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "made from", Label.Relationship.MadeFrom, "AddMadeFrom", "EditMadeFrom")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "made with", Label.Relationship.MadeWith, "AddMadeWith", "EditMadeWith")
                @AttributeRow(Model.BasicOutgoingRelations, Model.BasicIncomingRelations, "located in", Label.Relationship.LocatedIn, "AddLocatedIn", "EditLocatedIn")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "owned by", Label.Relationship.OwnedBy, "AddOwnedBy", "EditOwnedBy")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "study for", Label.Relationship.StudyFor, "AddStudyFor", "EditStudyFor", multipleOutAllowed: false)
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "copy of", Label.Relationship.CopyOf, "AddCopyOf", "EditCopyOf", multipleOutAllowed: false)
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "looks like", Label.Relationship.SimilarTo, "AddSimilarTo", "EditSimilarTo")
                <tr>
                    <th colspan="3">
                        <h3>Music</h3>
                    </th>
                </tr>
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "scored for", Label.Relationship.ScoredFor, "AddScoredFor", "EditScoredFor")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "transcription of", Label.Relationship.TranscriptionOf, "AddScoredFor", "EditScoredFor")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "performed by", Label.Relationship.PerformedBy, "AddScoredFor", "EditScoredFor")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "performed in", Label.Relationship.PerformedIn, "AddScoredFor", "EditScoredFor")
                <tr>
                    <th colspan="3">
                        <h3>Literature</h3>
                    </th>
                </tr>
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "publication of", Label.Relationship.PublishedBy, "AddPublishedBy", "EditPublishedBy")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "published by", Label.Relationship.PublishedBy, "AddPublishedBy", "EditPublishedBy")
            </table>
        </div>
    </div>
</div>

<div id="Contexts">
    <div class="row">
        <h3>
            <a href="/Admin/Artefact/AddContext?artefactGuid=@Model.Artefact.Guid" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-plus"></span></a> Contexts
        </h3>
        @if (Model.Contexts != null && Model.Contexts.Any())
        {
            <table class="table table-striped table-responsive">
                <tr>
                    <th></th>
                </tr>
                @foreach (var context in Model.Contexts)
                {
                    <tr>
                        <td>
                            <p>
                                @context.Artefact.ToDisplay() is famous for <a href="/Admin/Category/ViewDetail?guid=@context.Subject.Guid">@context.Subject.Name</a> in <a href="/Admin/Place/ViewDetail?guid=@context.Place.Guid">@context.Place.ToDisplay()</a> <a href="/Admin/Artefact/EditContext?contextGuid=@context.Context.Guid&artefactGuid=@Model.Artefact.Guid" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
                                <a href="/Admin/Artefact/DeleteContext?contextGuid=@context.Context.Guid&artefactGuid=@Model.Artefact.Guid" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></a>
                            </p>
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
</div>

<h3>Map</h3>

<div id="map-canvas"></div>
@section scripts {
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtULLEkACV1qYgWl-YAFwjRoKRpHOyW9I">
    </script>
    <script src="~/Scripts/google.maps.markerclusterer.js"></script>
    <script src="~/Scripts/google.maps.cluster.js"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <script>
        $(".rating").rating({
            min: 1, max: 5, size: "sm", step: 1, readonly: true
        });
    </script>
    <script type="text/javascript">
        $(function(){
            $(".slabbed").slabText();
        });
        @if (Model.Artefact.Latitude.HasValue)
        {
        <text>
        function initializeDetailMap(){
            var centre = new google.maps.LatLng(@Model.Artefact.Latitude.Value, @Model.Artefact.Longitude.Value);
            var mapOptions = {
                center: centre,
                zoom: 16
            };
            var map = new google.maps.Map(document.getElementById('map-detail'),
                mapOptions);
            var marker = new google.maps.Marker({
                map: map,
                position: centre,
                title: "@Model.Artefact.ToDisplay()"
            });
        }
        google.maps.event.addDomListener(window, 'load', initializeDetailMap);
        </text>
        }
        function initialize() {
            var florence = new google.maps.LatLng(43.7710332, 11.2480006000001);
            var mapOptions = {
                center: florence,
                zoom: 7
            };
            var map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);
            var markerList = [];
            @{
                var random = new Random();
                var prevLat = new List<decimal>();
                var prevLng = new List<decimal>();
                foreach (var act in Model.NewActs.OrderBy(x=> x.Act.Year))
                {
                    decimal latRnd = (((decimal)random.Next(1, 1000000)) / 100000000) + 1;
                    decimal lngRnd = (((decimal)random.Next(1, 1000000)) / 100000000) + 1;
                    foreach (var place in act.EntityImages.Select(x=> x.Entity).OfType<Place>())
                    {
                        var lat = (place.Latitude ?? 0);
                        var lng = (place.Longitude ?? 0);
                        var content = "<h4>" + act.Act.ToShortYear() + "</h4>" +  act.ToHtml();
                        <text>
            buildMarkerList(markerList, @lat, @lng, "title", "@Html.Raw(content.Replace("\"", "'"))");
            </text>
                    }
                }
            var placeRelations = Model.OutgoingRelations.Where(x=> x.Destination is Place);
            foreach (var attribute in placeRelations)
            {
                var artefact = (Artefact)attribute.Source;
                var place = (Place)attribute.Destination;
                var artefactName = ((Artefact)attribute.Source).ToDisplay();
                var content = attribute.ToMapHtml();
                <text>
            buildMarkerList(markerList, @place.Latitude, @place.Longitude, "", "@Html.Raw(content)");
            </text>
            }
    }
            if (markerList.length){
                addMarkers(markerList, map);
            }
        }
        var select = app.Utils.select;
        var find = app.Utils.find;
        var each = app.Utils.each;
        function buildMarkerList(list, lat, lng, title, content){
            var item = find(list, function(item){
                return item.lat == lat && item.lng == lng;
            });
            if (item){
                item.infoWindows.push({title: title, content: content});
            }else{
                var temp = {
                    lat: lat, lng: lng, infoWindows: [ {title:title, content: content } ]
                };
                list.push(temp);
            }
        }
        function addMarkers(list, map){
            var markerList = select(list, function(item, __, index){
                var content = select(item.infoWindows, function(iw){
                    return "<div><p>" + iw.content + "</p></div>";
                });
                var infowindow = new google.maps.InfoWindow({
                    content: $("<div id=\"content\" style='min-height: 150px; width: 400px;'><div id='bodyContent'>{content}</div></div>".fmt({
                        content: content.join("")
                    }))[0]
                });
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(item.lat, item.lng),
                    title: "#" + index
                });
                google.maps.event.addListener(marker, 'click', function() {
                    infowindow.open(map, marker);
                });
                return {
                    marker: marker,
                    infoWindow: infowindow
                }
            });
            var markers = select(markerList, function(item) { return item.marker });
            var markerCluster = new MarkerClusterer(map, markers);
            var flightPath = new google.maps.Polyline({
                path: select(markers, function(marker) {
                    var lat = marker.getPosition().lat();
                    var lng = marker.getPosition().lng();
                    return new google.maps.LatLng(lat, lng);
                }),
                geodesic: true,
                strokeColor: '#FF0000',
                strokeOpacity: 1.0,
                strokeWeight: 2
            });
            flightPath.setMap(map);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
}
