﻿@using CodexMVC.Helpers
@using Data.Entities
@model CodexMVC.Models.ViewPublicArtefact
@{
    ViewBag.Title = "View Public";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@functions{

}
<ol class="breadcrumb">
    <li><a href="/Artefact/List">Artefacts</a></li>
    <li><a href="/Artefact/ViewDetail?guid=@Model.Details.Artefact.Guid">@Model.Details.Artefact.Name</a></li>
    <li class="active">Public page</li>
</ol>

<div class="page-header">
    <h1>
        @Model.Details.Artefact.Name
        @if (Model.MadeBy != null && Model.MadeBy.Destination != null)
        {
            <small>by @Model.MadeBy.Destination.FullName2</small>
        }
    </h1>
</div>
<div class="row">
    <div class="col-md-6">
        @foreach (var image in Model.Details.Images)
        {
            <div>
                <a href="@image.Uri" target="_blank"><img src="@image.VirtualPath().Replace("~", "")?w=400" style="width: 400px;" /></a>
            </div>
        }
    </div>
    <div class="col-md-6">
        <h2>
            @Model.MadeBy.Relation.ToShortYear()
        </h2>
        @if (Model.Details.Attributes != null && Model.Details.Attributes.Any())
        {
            <h3>
                @(RazorHelper.Concat(Model.Details.Attributes))
            </h3>
        }
        @if (Model.Details.Artefact.Height.HasValue && Model.Details.Artefact.Width.HasValue)
        {
            <h3>
                @Model.Details.Artefact.Height x @Model.Details.Artefact.Width cm
            </h3>
        }
        @if (Model.Details.MadeFrom != null && Model.Details.MadeFrom.Any())
        {
            <h3>
                @(RazorHelper.Concat(Model.Details.MadeFrom))
            </h3>
        }
        @if (Model.Details.OwnedBy != null)
        {
            <h3>
                @Html.Raw(RazorHelper.ToHtml(Model.Details.OwnedBy))
            </h3>
        }
        @if (Model.Details.Artefact.Description != null)
        {
            <p>
                @Model.Details.Artefact.Description
            </p>
        }
    </div>
</div>
<div class="row">
    @if (Model.Details.OwnedBy != null)
    {
        <div>
            is owned by @Model.Details.OwnedBy.FullName
        </div>
    }
</div>
<div class="row">
    @if (Model.Details.LocatedAt != null)
    {
        <div>
            is located at @Model.Details.LocatedAt.Name
        </div>
    }
</div>
<div class="row">
    @if (Model.Details.RepresentedCategories != null && Model.Details.RepresentedCategories.Any())
    {
        <div>
            represents
            @foreach (var cat in Model.Details.RepresentedCategories)
            {
                <a href="/Category/ViewDetail?guid=@cat.Guid">@cat.Name</a>;
            }
        </div>
    }
</div>
<div class="row">
    @if (Model.Details.RepresentedPlaces != null && Model.Details.RepresentedPlaces.Any())
    {
        <div>
            represents
            @foreach (var place in Model.Details.RepresentedPlaces)
            {
                <a href="/Place/ViewDetail?guid=@place.Guid">@place.Name</a>;
            }
        </div>
    }
</div>

@if (Model.Details.ArtefactByPlace != null && Model.Details.ArtefactByPlace.Any())
{
    var grouping = Model.Details.ArtefactByPlace.GroupBy(x => x.Place.Name);
    <h3>PLACES</h3>
    <ul>
        @foreach (var group in grouping)
        {
            <li>
                <span class="section-word">@group.Key</span>
                <table>
                    <tr>
                        @foreach (var item in group)
                        {
                            <td style="width: 200px;">
                                <a href="/Artefact/ViewPublic?guid=@item.Artefact.Guid"><img src="@item.Image.Uri?height=200&width=100&mode=crop" style="width: 200px;" /><span>@item.Artefact.Name</span></a>
                            </td>
                        }
                    </tr>
                </table>
            </li>
        }
    </ul>
}

@if (Model.Details.ArtefactByAgent != null && Model.Details.ArtefactByAgent.Any())
{
    var grouping = Model.Details.ArtefactByAgent.GroupBy(x => x.Agent.FullName);
    <div class="section section-agents">
        <h3>AGENTS</h3>
        <ul>
            @foreach (var group in grouping)
            {
                <li>
                    <span class="section-word">
                        @group.Key
                    </span>
                    <table>
                        <tr>
                            @foreach (var item in group)
                            {
                                <td style="width: 200px;">
                                    <a href="/Artefact/ViewPublic?guid=@item.Artefact.Guid"><img src="@item.Image.Uri?height=200&width=100&mode=crop" style="width: 200px;" /><span>@item.Artefact.Name</span></a>

                                </td>
                            }
                        </tr>
                    </table>
                </li>
            }
        </ul>
    </div>
}

@if (Model.Details.ArtefactByCategory != null && Model.Details.ArtefactByCategory.Any())
{
    var grouping = Model.Details.ArtefactByCategory.GroupBy(x => x.Category.Name);
    <div class="section section-things">
        <h3>THINGS</h3>
        <ul>
            @foreach (var group in grouping)
            {
                <li>
                    <span class="section-word">@group.Key.ToLower()</span>
                    <table>
                        <tr>
                            @foreach (var item in group)
                            {
                                <td style="width: 200px;">
                                    <a href="/Artefact/ViewPublic?guid=@item.Artefact.Guid"><img src="@item.Image.Uri?height=200&width=100&mode=crop" style="width: 200px;" /><span>@item.Artefact.Name</span></a>

                                </td>
                            }
                        </tr>
                    </table>
                </li>
            }
        </ul>
    </div>
}

@if (Model.Details.ArtefactByMotif != null && Model.Details.ArtefactByMotif.Any())
{
    var grouping = Model.Details.ArtefactByMotif.GroupBy(x => x.Motif.Name);
    <div class="section section-motifs">
        <h3>MOTIFS</h3>
        <ul>
            @foreach (var group in grouping)
            {
                <li>
                    <span class="section-word">
                        @group.Key.ToLower()
                    </span>
                    <table>
                        <tr>
                            @foreach (var item in group)
                            {
                                <td style="width: 200px;">
                                    <a href="/Artefact/ViewPublic?guid=@item.Artefact.Guid"><img src="@item.Image.Uri" style="width: 200px;" /><span>@item.Artefact.Name</span></a>

                                </td>
                            }
                        </tr>
                    </table>
                </li>
            }
        </ul>
    </div>
}
