﻿@model CodexMVC.Models.ByAgeModel
@{
    ViewBag.Title = "By Age";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .vcenter {
    /*display: inline-block;
    vertical-align: middle;*/
}
</style>

<h2>By Age</h2>

@using (Html.BeginForm("ByAge", "Query"))
{
    <div class="row form-group">
        <div class="col-md-3">
            <label></label>
            @Html.TextBoxFor(x => x.Start, new { @class = "form-control" })
        </div>
        <div class="col-md-3">
            in
            @Html.TextBoxFor(x => x.End, new { @class = "form-control" })
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-default btn-primary">Find</button>
        </div>
    </div>
}

@if (Model.Result != null && Model.Result.Any())
{
    <div class="row">
        @{
    var grouping = Model.Result.GroupBy(x => x.Age);
        }
        @foreach (var group in grouping)
        {
            <div class="row">
                <div class="col-md-2 vcenter">
                    <span style="font-size: 5em; color: red;">@group.Key</span>
                </div>
                <div class="col-md-10">
                    @foreach (var row in group.OrderBy(x => x.Artist.FullName))
                    {
                        <div class="row">
                            <div class="col-md-4">
                                <h3>
                                    <a href="/Agent/ViewDetail/@row.Artist.Guid">
                                        @row.Artist.FullName2
                                    </a>
                                </h3>
                            </div>
                            <div class="col-md-8 justified">
                                @foreach (var item in row.ArtefactImages)
                                {
                                    <div>
                                        <a href="/Artefact/ViewDetail/@item.Artefact.Guid" target="_blank">
                                            <img alt="@item.Artefact.Name" src="@item.Image.VirtualPath().Replace("~", "")?height=400&mode=crop" />
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
}
else
{
    <h4>No results</h4>
}

@section scripts {
    <script>
        $(".justified").justifiedGallery({
            rowHeight: 300,
            lastRow: 'nojustify',
            margins: 3,
            captionSettings: {
                animationDuration: 500,
                visibleOpacity: 1,
                nonVisibleOpacity: 1
            }
        });
    </script>
}