﻿@model CodexMVC.Models.QueryModel
@using CodexMVC.Helpers
@{
    ViewBag.Title = "Find";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm("Find", "Query"))
{
    <h2>Find</h2>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Citizen of</label>
                @Html.DropDownListFor(x => x.CitizenOfGuid, Model.Places, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Representative of</label>
                @Html.DropDownListFor(x => x.RepresentativeOf, Model.Categories, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Artefact type</label>
                @Html.DropDownListFor(x => x.ArtefactIsAGuid, Model.Categories, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Preposition</label>
                @Html.DropDownListFor(x => x.Preposition, Model.Prepositions, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Agent</label>
                @Html.DropDownListFor(x => x.AgentGuid, Model.Agents, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label>Place</label>
            @Html.DropDownListFor(x => x.PlaceGuid, Model.Places, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <button type="submit" class="btn btn-default">Search</button>
    </div>
}
@if (Model.Results != null && Model.Results.Any())
{
    <div class="row">
        @foreach (var group in Model.Results.OrderBy(x => x.Owner.FullName2).ThenBy(x => x.Artefact.Name).GroupBy(x => x.Owner.FullName2))
        {
            <h2>
                @group.Key
            </h2>
            foreach (var row in group)
            {
                <p>
                    <a href="/Artefact/ViewDetail?guid=@row.Artefact.Guid">
                        @row.Artefact.Name
                    </a>, @(row.Is.Any() ? row.Is.FirstOrDefault().Name.ToLower() : "") 
                </p>
            }
        }
    </div>
}