﻿@{
    ViewBag.Title = "Natural Language Query";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta name="description" content="Natural Language Form with custom text input and drop-down lists" />
    <meta name="keywords" content="Natural Language UI, sentence form, text input, contenteditable, html5, css3, jquery" />
    <meta name="author" content="Codrops" />
    <link rel="stylesheet" type="text/css" href="/Content/default.css" />
    <link rel="stylesheet" type="text/css" href="/Content/component.css" />
    <script src="/Scripts/modernizr.custom.js"></script>
</head>
<body class="nl-blurred">
    <div class="container demo-1">
        <!-- Top Navigation -->
			<div class="codrops-top clearfix">
				<a class="codrops-icon codrops-icon-prev" href="~/Agent/List"><span>People</span></a>
				<a class="codrops-icon codrops-icon-prev" href="~/Place/List"><span>Places</span></a>
				<a class="codrops-icon codrops-icon-prev" href="~/Organisation/List"><span>Organisations</span></a>
                <a class="codrops-icon codrops-icon-prev" href="~/Topic/List"><span>Topics</span></a>
                <a class="codrops-icon codrops-icon-prev" href="~/Artefact/List"><span>Artefact</span></a>
                <a class="codrops-icon codrops-icon-prev" href="~/Query/List"><span>Queries</span></a>
				<span class="right"><a class="codrops-icon codrops-icon-drop" href="http://tympanus.net/codrops/?p=15139"><span>Back to the Codrops Article</span></a></span>
			</div>
        <header>
            <h1>Who Did What Where? <span>with custom input elements</span></h1>
        </header>
        <div class="main clearfix">
            <form id="nl-form" class="nl-form">
                <select data-bind="options: $data.lists.who, value: $data.model.who, optionsValue: 'value', optionsText: 'text'">
                </select>
                <select data-bind="options: $data.lists.verb, value: $data.model.verb, optionsValue: 'value', optionsText: 'text'">
                </select>
                <br />
                in
                <select data-bind="options: $data.lists.where, value: $data.model.where, optionsValue: 'value', optionsText: 'text'">
                </select>
                at
                <input type="text" value="" data-bind="value: $data.model.date" placeholder="any date" data-subline="For example: <em>1452</em> or <em>1500</em>" />
                <div class="nl-submit-wrap">
                    <button class="nl-submit" data-bind="click: $data.submitClicked" type="submit">Find facts</button>
                </div>
                <div class="nl-overlay"></div>
            </form>
        </div>
    </div>
    <!-- /container -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/knockout-3.1.0.js"></script>
    <script src="~/Scripts/App.Utils.js"></script>
    <script src="~/Scripts/App.API.js"></script>
    <script src="~/Scripts/App.Common.js"></script>
    <script src="/Scripts/nlform.js"></script>
    <script>
        (function(){
            var utils = app.Utils,
                API = app.API,
                select = utils.select;
            var Model = (function(){
                function Model(){
                    this.lists = {};
                    this.lists.who = ko.observableArray([]);
                    this.lists.where = ko.observableArray([]);
                    this.lists.verb = ko.observableArray([]);
                    this.model = {};
                    this.model.who = ko.observable();
                    this.model.where = ko.observable();
                    this.model.verb = ko.observable();
                    this.model.date = ko.observable();
                    this.setupLists();
                }
                Model.prototype.setupLists = function(){
                    API.allPeople({
                        success: function(response) {
                            this.lists.who(select(response.Data, function(item) {
                                return {
                                    text: item.Name, value: item.Guid
                                };
                            }));
                            this.model.who(this.lists.who()[0]);
                        },
                        error: function() {
                            alert("Error in findAllPeople");
                        }
                    }, this);
                    API.allPlaces({
                        success: function(response) {
                            this.lists.where(select(response.Data, function(item) {
                                return {
                                    text: item.Name, value: item.Guid
                                };
                            }));
                            this.model.where(this.lists.where()[0]);
                        },
                        error: function() {
                            alert("Error in findAllPeople");
                        }
                    }, this);
                    this.lists.verb([
                        { text: "created", value:"Created" },
                        { text: "lived", value:"LivedAt" },
                        { text: "was born", value:"Born" },
                        { text: "died", value:"Died" },
                    ]);
                    this.model.verb(this.lists.verb()[0]);
                };
                Model.prototype.submitClicked = function(){

                };
                Model.prototype.unbind = function(){
                    return {
                        who: this.model.who(),
                        place: this.model.place(),
                        verb: this.model.verb()
                    };
                };
                return Model;
            })();
            var model = new Model();
            ko.applyBindings(model, document.getElementById("nl-form"));
            var nlform = new NLForm(document.getElementById("nl-form"));
        })();
        
		</script>
</body>
</html>
