﻿@model CodexMVC.Models.UniversalSearchModel
@{
    ViewBag.Title = "Universal Search";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .vcenter {
        /*display: inline-block;
    vertical-align: middle;*/
    }

    .section-heading {
        color: red;
    }
</style>

<h2>Universal Search</h2>

@using (Html.BeginForm("UniversalSearch", "Query"))
{
    <div class="row form-group">
        <div class="col-md-3">
            <label>Word or Phrase</label>
            @Html.TextBoxFor(x => x.Search, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Search)
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-default btn-primary">Find</button>
        </div>
    </div>
}

@if (Model.Results != null)
{
    if (Model.Results.Artists.Any())
    {
        <div class="row">
            <h3 class="section-heading">Artists</h3>
            <ul>
                @foreach (var item in Model.Results.Artists)
                {
                    <li><a href="/Agent/ViewDetail/@item.Artist.Guid" target="_blank">@Html.Raw(item.ToHtmlDisplay())</a></li>
                }
            </ul>

        </div>
    }
    if (Model.Results.Places.Any())
    {
        <div class="row">
            <h3 class="section-heading">Places</h3>
            <ul>
                @foreach (var place in Model.Results.Places)
                {
                    <li><a href="/Place/ViewDetail/@place.Guid" target="_blank">@place.ToDisplay()</a></li>
                }
            </ul>
        </div>
    }
    if (Model.Results.Artefacts.Any())
    {
        <div class="row">
            <h3 class="section-heading">Artworks</h3>
            @{
        var withoutCreator = Model.Results.Artefacts.Where(x => x.Creator == null);
        var grouping = Model.Results.Artefacts.Where(x => x.Creator != null).OrderBy(x => x.Creator.FullName).GroupBy(x => x.Creator.Guid);
            }
            @if (withoutCreator.Any())
            {
                <ul>
                    @foreach (var item in withoutCreator.OrderBy(x => x.Artefact.Name))
                    {
                        <li>
                            <a href="/Artefact/ViewDetail/@item.Artefact.Guid" target="_blank">@Html.Raw(item.ToHtmlDisplay())</a>
                        </li>
                    }
                </ul>
            }
            @foreach (var group in grouping)
            {
                <h4>
                    <a href="/Agent/ViewDetail/@group.First().Creator.Guid" target="_blank">
                        @group.First().Creator.FullName2
                    </a>
                </h4>
                <ul>
                    @foreach (var item in group.OrderBy(x => x.Artefact.Name))
                    {
                        <li>
                            @if (item.Subject != null)
                            {
                                <span>
                                    On the subject of <b>@item.Subject.Name</b>:
                                </span>
                            }
                            @if (item.RepresentsAgent != null)
                            {
                                <span>
                                    Represents <b>@item.RepresentsAgent.FullName2</b>:
                                </span>
                            }
                            <a href="/Artefact/ViewDetail/@item.Artefact.Guid" target="_blank">@Html.Raw(item.ToHtmlDisplay())</a>
                        </li>
                    }
                </ul>
            }
        </div>
    }
}
else
{
    <h4>No results</h4>
}