﻿@using CodexMVC.Helpers
@using Data.Entities
@using Services
@model CodexMVC.Models.ViewCompareTimeline
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@helper TimelineItem(NewAct newAct)
{
    var importance = newAct.Act.Importance == Importance.Small ? "font-size: 0.9em;" : newAct.Act.Importance == Importance.Big ? "font-size: 1.5em;" : "";
    <div style="position: relative;">
        <div>
            <span style="@importance">
                @Html.Raw(newAct.ToHtml())
            </span>
        </div>
    </div>
}
@functions {
    public string Month(int month)
    {
        switch (month)
        {
            case 1: return "January";
            case 2: return "February";
            case 3: return "March";
            case 4: return "April";
            case 5: return "May";
            case 6: return "June";
            case 7: return "July";
            case 8: return "August";
            case 9: return "September";
            case 10: return "October";
            case 11: return "November";
            case 12: return "December";
            case 13: return "Spring";
            case 14: return "Summer";
            case 15: return "Autumn";
            case 16: return "Winter";
            case 17: return "Early";
            case 18: return "Late";
            default: return "???";
        }
    }
    public string NameOf(IEntity entity)
    {
        if (entity is Data.Agent)
        {
            return ((Data.Agent)entity).FullName2;
        }
        if (entity is Artefact)
        {
            return ((Artefact)entity).ToDisplay();
        }
        return entity.Name;
    }
}

<style type="text/css">
    html, body, #map-canvas {
        height: 900px;
        width: 100%;
        margin: 0;
        padding: 0;
    }
</style>

<h2>Timeline</h2>

@using (Html.BeginForm("Compare", "Timeline"))
{
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Agent</label>
                @Html.DropDownListFor(x => x.Agent1, Model.Agents, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Place</label>
                @Html.DropDownListFor(x => x.Place1, Model.Places, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Artefact</label>
                @Html.DropDownListFor(x => x.Artefact1, Model.Artefacts, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Category</label>
                @Html.DropDownListFor(x => x.Category1, Model.Categories, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Agent</label>
                @Html.DropDownListFor(x => x.Agent2, Model.Agents, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Place</label>
                @Html.DropDownListFor(x => x.Place2, Model.Places, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Artefact</label>
                @Html.DropDownListFor(x => x.Artefact2, Model.Artefacts, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Category</label>
                @Html.DropDownListFor(x => x.Category2, Model.Categories, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-default btn-lg">Compare</button>
        </div>
    </div>
}
@if (Model.Timelines != null && Model.Timelines.Time != null && Model.Timelines.Time.Any())
{
    <div class="row">

        <table class="table table-condensed table-hover table-responsive">
            <tr>
                <th style="width: 10%;">

                </th>
                @{
    var agents = Model.Timelines.Time.First().Value;
    int colWidth = 90 / agents.Count();
                }
                @foreach (var time in Model.Timelines.Time.First().Value)
                {
                    <th style="width: @(colWidth)%;">
                        <h3>
                            @NameOf(time.Agent)
                        </h3>
                    </th>
                }
            </tr>
            @{
                int lastYear = 0;
                int lastMonth = 0;
                var lastDay = 0;
            }
            @foreach (KeyValuePair<string, List<CodexMVC.Models.Timeline>> timeline in Model.Timelines.Time)
            {
                <tr>
                    <td>
                        @{
                var date = timeline.Key;
                var dateParts = date.Split('/');
                var year = int.Parse(dateParts[0]);
                var month = dateParts.Length >= 2 ? int.Parse(dateParts[1]) : 0;
                var day = dateParts.Length >= 3 ? int.Parse(dateParts[2]) : 0;
                        }
                        @{
                if (year != lastYear)
                {
                    lastYear = year;
                    lastMonth = 0;
                    lastDay = 0;
                    <h2>
                        @year
                    </h2>
                }
                        }
                        @if (month != lastMonth)
                        {
                            lastMonth = month;
                            lastDay = 0;
                        }
                        @if (day != lastDay)
                        {
                            lastDay = day;
                        }
                        @if (month != 0)
                        {
                            <h4>
                                @Month(lastMonth) @(lastDay > 0 ? lastDay.ToString() : "")
                            </h4>
                        }
                    </td>
                    @foreach (var item in timeline.Value)
                    {
                        <td>
                            <ul style="list-style: none;">
                                @foreach (var newAct in item.NewActs)
                                {
                                    var rowStyle = timeline.Value.Where(x => x != item).Any(x => x.NewActs.Any(x2 => x2.Act.Guid == newAct.Act.Guid)) ? "background-color: yellow;" : "";
                                    <li style="@rowStyle">
                                        @TimelineItem(newAct)
                                    </li>
                                }
                            </ul>
                        </td>
                    }
                </tr>
            }
        </table>

    </div>
}

@if (Model.Timelines.Time != null && Model.Timelines.Time.Any())
{
    <div class="row">
        <h3>Map</h3>
        <div id="map-canvas"></div>
    </div>
    @section scripts {
        <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtULLEkACV1qYgWl-YAFwjRoKRpHOyW9I">
        </script>
        <script src="~/Scripts/google.maps.markerclusterer.js"></script>
        <script src="~/Scripts/google.maps.cluster.js"></script>
        <script type="text/javascript">
            function initialize() {
                var florence = new google.maps.LatLng(43.7710332, 11.2480006000001);
                var mapOptions = {
                    center: florence,
                    zoom: 7
                };
                var map = new google.maps.Map(document.getElementById('map-canvas'),
                    mapOptions);
                var markerList = [];
                @{
                    var timelines = Model.Timelines.Time.OrderBy(x=> x.Key);
                    for (var index = 0; index < timelines.Count(); index++)
                    {
                        var temp = timelines.ElementAt(index);
                        foreach (var timeline in temp.Value)
                        {
                            var colour = timeline.Agent.Guid == Model.Agent1 ? "red" : "blue";
                            foreach (var act in timeline.NewActs)
                            {
                                foreach (var place in act.EntityImages.Select(x => x.Entity).OfType<Place>())
                                {
                                    var lat = (place.Latitude ?? 0);
                                    var lng = (place.Longitude ?? 0);
                                    var content = "<h4>" + act.Act.ToShortYear() + "</h4>" +  act.ToHtml();
                                    <text>
                                    buildMarkerList(markerList, @lat, @lng, "title", "@Html.Raw(content.Replace("\"", "'"))", "@colour");
                                    </text>
                                }
                            }
                        }
                    }
                }
                if (markerList.length) {
                    addMarkers(markerList, map);
                }
            }
            var select = app.Utils.select;
            var find = app.Utils.find;
            var each = app.Utils.each;
            function buildMarkerList(list, lat, lng, title, content, colour) {
                var item = find(list, function (item) {
                    return item.lat == lat && item.lng == lng;
                });
                if (item) {
                    item.colour = colour;
                    item.infoWindows.push({ title: title, content: content });
                } else {
                    var temp = {
                        lat: lat, lng: lng, infoWindows: [{ title: title, content: content }], colour: colour
                    };
                    list.push(temp);
                }
            }
            function addMarkers(list, map) {
                var markerList = select(list, function (item, __, index) {
                    var content = select(item.infoWindows, function (iw) {
                        return "<div><p>" + iw.content + "</p></div>";
                    });
                    var infowindow = new google.maps.InfoWindow({
                        content: $("<div id=\"content\" style='min-height: 150px; width: 400px;'><div id='bodyContent'>{content}</div></div>".fmt({
                            content: content.join("")
                        }))[0]
                    });
                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(item.lat, item.lng),
                        title: "#" + index,
                        icon: "http://maps.google.com/intl/en_us/mapfiles/ms/micons/{colour}-dot.png".fmt({ colour: item.colour })
                    });
                    google.maps.event.addListener(marker, 'click', function () {
                        infowindow.open(map, marker);
                    });
                    return {
                        marker: marker,
                        infoWindow: infowindow
                    }
                });
                var markers = select(markerList, function (item) { return item.marker });
                var markerCluster = new MarkerClusterer(map, markers);
                var flightPath = new google.maps.Polyline({
                    path: select(markers, function (marker) {
                        var lat = marker.getPosition().lat();
                        var lng = marker.getPosition().lng();
                        return new google.maps.LatLng(lat, lng);
                    }),
                    geodesic: true,
                    strokeColor: '#FF0000',
                    strokeOpacity: 1.0,
                    strokeWeight: 2
                });
                //flightPath.setMap(map);
            }
            google.maps.event.addDomListener(window, 'load', initialize);
        </script>
    }
}
