﻿@using CodexMVC.Helpers
@using Data.Entities
@using Services
@model CodexMVC.Models.ViewIntersectCategoryTimeline
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@helper TimelineItem(NewAct newAct)
{
    var importance = newAct.Act.Importance == Importance.Small ? "font-size: 0.9em;" : newAct.Act.Importance == Importance.Big ? "font-size: 1.5em;" : "";
    <div style="position: relative;">
        <div>
            <span style="@importance">
                @Html.Raw(newAct.ToHtml())
            </span>
        </div>
    </div>
}
@functions {
    public string Month(int month)
    {
        switch (month)
        {
            case 1: return "January";
            case 2: return "February";
            case 3: return "March";
            case 4: return "April";
            case 5: return "May";
            case 6: return "June";
            case 7: return "July";
            case 8: return "August";
            case 9: return "September";
            case 10: return "October";
            case 11: return "November";
            case 12: return "December";
            case 13: return "Spring";
            case 14: return "Summer";
            case 15: return "Autumn";
            case 16: return "Winter";
            case 17: return "Early";
            case 18: return "Late";
            default: return "???";
        }
    }
    public string NameOf(IEntity entity)
    {
        if (entity is Data.Agent)
        {
            return ((Data.Agent)entity).FullName2;
        }
        if (entity is Artefact)
        {
            return ((Artefact)entity).ToDisplay();
        }
        return entity.Name;
    }
}


<style type="text/css">
    html, body, #map-canvas {
        height: 900px;
        width: 100%;
        margin: 0;
        padding: 0;
    }
</style>

<h2>Timeline</h2>

@using (Html.BeginForm("IntersectCategory", "Timeline"))
{
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Agent</label>
                @Html.DropDownListFor(x => x.AgentGuid, Model.Agents, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Category</label>
                @Html.DropDownListFor(x => x.CategoryGuid, Model.Categories, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-default btn-lg">Intersect</button>
        </div>
    </div>
}
@if (Model.Timeline != null && Model.Timeline.Any())
{
    <div id="Timeline">
        <div class="row">
            <ul style="list-style: none">
                @{
    int last = 0;
    int lastMonth = 0;
    var lastDay = 0;
    var timelines = Model.Timeline.OrderBy(x => x.Act.Year).ThenBy(x => x.Act.Month).ThenBy(x => x.Act.Day);
                }
                @foreach (var newAct in timelines)
                {
                    if (newAct.Act.Year.HasValue && newAct.Act.Year.Value != last)
                    {
                        last = newAct.Act.Year.Value;
                        lastMonth = 0;
                        lastDay = 0;
                        var year = newAct.Act.Decade ? newAct.Act.Year.Value.ToString() + "s" : newAct.Act.Year.Value.ToString();
                        <h2>
                            @year
                        </h2>
                    }
                    if (newAct.Act.Month.HasValue && newAct.Act.Month.Value != lastMonth)
                    {
                        lastMonth = newAct.Act.Month.Value;
                        lastDay = 0;
                    }
                    if (newAct.Act.Day.HasValue && newAct.Act.Day.Value != lastDay)
                    {
                        lastDay = newAct.Act.Day.Value;
                    }
                    if (newAct.Act.Month.HasValue)
                    {
                        <h4>
                            @Month(lastMonth) @(lastDay > 0 ? lastDay.ToString() : "")
                        </h4>
                    }
                    <li id="act-@newAct.Act.Guid">
                        @{
                    var importance = newAct.Act.Importance == Importance.Small ? "font-size: 0.9em;" : newAct.Act.Importance == Importance.Big ? "font-size: 1.5em;" : "";
                        }
                        <div style="position: relative;">
                            <div>
                                <span style="@importance">
                                    @Html.Raw(newAct.ToHtml())
                                </span>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
}
@if (Model.Timeline != null && Model.Timeline.Any())
{
    <div class="row">
        <h3>Map</h3>
        <div class="col-md-12">
            <a href="#" onclick="toggleMapExpansion(); return false;" style="float: right;" class="btn btn-default btn-sm">
                <span id="map-expando" class="glyphicon glyphicon-resize-full"></span>
            </a>
            <a href="#" onclick="toggleMarkers(); return false;" style="float: right;" class="btn btn-default btn-sm">Markers</a>
            <a href="#" onclick="toggleHeatmap(); return false;" style="float: right;" class="btn btn-default btn-sm">Heat Map</a>
        </div>
        <div id="map-canvas"></div>
    </div>
    @section scripts {
        <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyAtULLEkACV1qYgWl-YAFwjRoKRpHOyW9I">
        </script>
        <script src="~/Scripts/google.maps.markerclusterer.js"></script>
        <script src="~/Scripts/google.maps.cluster.js"></script>
        <script>
        @{
            var geoActs = new List<NewAct>();

            foreach (var item in Model.Timeline)
            {
                if (item.EntityImages.Any(x => x.Entity is Place))
                {
                    geoActs.Add(item);
                }
            }

            var geoGrouping = geoActs.Select(x =>
            {
                var place = x.EntityImages.FirstOrDefault(x2 => x2.Entity is Place).Entity as Place;
                var result = new
                {
                    Latitude = place.Latitude,
                    Longitude = place.Longitude,
                    Content = "<b>" + x.ToVerticalTimelineDate()+"</b> "+ x.ToHtml(),
                    Act = x,
                    ContainerName = "<h4>" + place.Name + "</h4>"
                };
                return result;
            })
            .Where(x => x.Latitude.HasValue && x.Longitude.HasValue)
            .OrderBy(x=> x.Act.Act.Year)
            .Select(x => new
            {
                Latitude = x.Latitude.Value,
                Longitude = x.Longitude.Value,
                //Act = x.Act,
                Content = x.Content,
                ContainerName = x.ContainerName
            })
            .GroupBy(x => x.Latitude.ToString() + ":" + x.Longitude.ToString())
            ;

            var heatData = geoGrouping
                .Select(x => new {
                    Weight = x.Select(x2=> x2.Content).Count(),
                    Latitude = x.First().Latitude,
                    Longitude = x.First().Longitude
                });
            }
    /**
    Globals
    **/
    var mapMarkers = [], map, heatmap, markerCluster;
    function initialiseArtworkMap(){
        var mapOptions = {
            zoom: 14
        };
        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        var markers= [];
        @foreach (var item in geoGrouping)
                {
                    foreach (var subitem in item)
                    {
                    <text>
        buildMarkerList(markers, @(subitem.Latitude), @subitem.Longitude, "@Html.Raw(subitem.ContainerName)", "@Html.Raw(subitem.Content.Replace("\"", "'"))");
        </text>
                    }
                }
        if (markers.length) {
            addMarkers(markers, map);
        }
    }
    function buildMarkerList(list, lat, lng, title, content) {
        var item = find(list, function (item) {
            return item.lat == lat && item.lng == lng;
        });
        if (item) {
            item.infoWindows.push({ title: title, content: content });
        } else {
            var temp = {
                lat: lat, lng: lng, infoWindows: [{ title: title, content: content }]
            };
            list.push(temp);
        }
    }
    var select = app.Utils.select;
    var find = app.Utils.find;
    var each = app.Utils.each;
    function addMarkers(list, map) {
        var markerList = select(list, function (item, __, index) {
            var content = select(item.infoWindows, function (iw) {
                return "<p>" + iw.content + "</p>";
            });
            var infowindow = new google.maps.InfoWindow({
                content: $("<div id=\"content\" style='min-height: 150px; width: 600px;'><div id='bodyContent' style='line-height: 14px;'><p><b>{title}</b></p><div style='-webkit-column-count: 1;'>{content}</div></div></div>".fmt({
                    content: content.join(""), title: item.infoWindows[0].title || "test"
                }))[0]
            });
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(item.lat, item.lng),
                title: ""
            });
            google.maps.event.addListener(marker, 'click', function () {
                infowindow.open(map, marker);
            });
            return {
                marker: marker,
                infoWindow: infowindow
            }
        });
        var markers = mapMarkers = select(markerList, function (item) { return item.marker });
        markerCluster = new MarkerClusterer(map, mapMarkers);
        var bounds = new google.maps.LatLngBounds();
        each(markers, function(marker) {
            bounds.extend(marker.getPosition());
        });
        map.fitBounds(bounds);
        var heatmapData = @Html.Raw(Json.Encode(heatData));
        var heatmapTransformed = select(heatmapData, function(item){
            return {
                location: new google.maps.LatLng(item.Latitude, item.Longitude),
                weight: item.Weight
            };
        });
        heatmap = new google.maps.visualization.HeatmapLayer({
            data: heatmapTransformed
        });
        heatmap.set('radius', 30);
    }
    function toggleMarkers() {
        each(mapMarkers, function(m){
            m.setMap(map);
        });
        markerCluster.addMarkers(mapMarkers);
        heatmap.setMap(null);
    }
    function toggleHeatmap() {
        heatmap.setMap(map);
        each(mapMarkers, function(m){
            m.setMap(null);
        });
        markerCluster.clearMarkers();
    }
    function toggleMapExpansion(link) {
        var expando = $("#map-expando");
        var $map = $("#map-canvas");
        var height = parseInt($map.css("height"));
        var isContracted = height == 300;
        if (isContracted) {
            expando.removeClass("glyphicon-resize-full");
            expando.addClass("glyphicon-resize-small");
        }
        else{
            expando.removeClass("glyphicon-resize-small");
            expando.addClass("glyphicon-resize-full");
        }
        $map.css("height", isContracted ? "600px" : "300px");
        google.maps.event.trigger(map, "resize");
    }
    if (typeof window.google != "undefined"){
        initialiseArtworkMap();
    }
</script>

    }
}