﻿@model CodexMVC.Models.EditVideo

@{
    var mode = Model.Guid == null ? "Add" : "Edit";
    ViewBag.Title = mode + " video";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@mode video</h2>

@using (Html.BeginForm("Edit", "Video"))
{
    @Html.HiddenFor(x => x.Guid)
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label>Name</label>
                <div>
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Name)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>URL</label>
                <div>
                    @Html.TextBoxFor(x => x.Uri, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Uri)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Width</label>
                <div>
                    @Html.TextBoxFor(x => x.Width, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Width)
                </div>
            </div>
            <div class="col-md-6">
                <label>Height</label>
                <div>
                    @Html.TextBoxFor(x => x.Height, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Height)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label>Start time</label>
                <div>
                    @Html.TextBoxFor(x => x.StartTime, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.StartTime)
                </div>
            </div>
            <div class="col-md-6">
                <label>End time</label>
                <div>
                    @Html.TextBoxFor(x => x.EndTime, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.EndTime)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(x => x.Description)
                @Html.TextAreaFor(x => x.Description, new { rows = 10, data_provide = "markdown-editable", data_autofocs = "true", @class = "form-control input-lg" })
                @Html.ValidationMessageFor(x => x.Description)
            </div>
        </div>
    </div>
    <button type="submit">Save</button>
}
