﻿@using Services.Common
@model List<Data.Entities.Video>
@{
    ViewBag.Title = "Videos";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    ul {
        list-style: none;
    }
</style>
<div class="page-header">
    <h1>Videos</h1>
</div>
<div>
    <h4 style="color: grey;">
        @ViewBag.GeneralMessage
    </h4>
</div>
<div>
    <a href="/Admin/Video/Add" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>
</div>
<ul>
    @{
        var last = "";
    }
    @foreach (var place in Model)
    {
        <li>
            @{
                var first = place.Name!=null?place.Name.Substring(0, 1):"{BLANK}";
            if (first != last)
            {
                last = first;
                <h1>
                    @first
                </h1>
            }
            }
            <h4>
                <a href="/Admin/Video/Edit/@place.Guid">@place.Name</a>
            </h4>
        </li>
    }
</ul>
