﻿@model CodexMVC.Models.AddInsideOf
@{
    ViewBag.Title = Model.Name + " is inside ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@Model.Name is inside ...</h2>
@using (Html.BeginForm("AddInsideOf", "Place"))
{
    @Html.HiddenFor(x => x.PlaceGuid)
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label>Place</label>
                @Html.DropDownListFor(x => x.ContainerGuid, new SelectList(Model.Places, "Value", "Text"), new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.ContainerGuid)
            </div>
        </div>
        <div style="margin-top:20px;">
            <button type="submit" class="btn btn-default btn-primary">Save</button>
        </div>
    </div>
}
@section scripts {
    <script>
        $("select").select2();
    </script>
}