﻿@model CodexMVC.Models.EditPlaceModel

@{
    var mode = Model.PlaceGuid != null ? "Edit" : "Add";
    var isEdit = Model.PlaceGuid != null;
    ViewBag.Title = mode + " Place";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<ol class="breadcrumb">
    <li><a href="/Admin/Place/List">List</a></li>
    @{
        if (isEdit)
        {
            <li><a href="/Admin/Place/ViewDetail?guid=@Model.PlaceGuid">@Model.Name</a></li>
        }
    }
    <li class="active">@mode</li>
</ol>
<div class="page-header">
    <h1>@mode</h1>
</div>
<div id="main-template">
    @using (Html.BeginForm("Edit", "Place"))
    {
        @Html.HiddenFor(x => x.PlaceGuid)
        <div class="col-md-6">


            <div class="form-group">
                @Html.LabelFor(x => x.Name)
                @Html.TextBoxFor(x => x.Name, new { data_bind = "value: $data.name", @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Name)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Article) (optional)
                @Html.TextBoxFor(x => x.Article, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Article)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Adjective) (optional)
                @Html.TextBoxFor(x => x.Adjective, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Adjective)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Description)
                @Html.TextAreaFor(x => x.Description, new { rows = 10, cols = 80, data_provide = "markdown-editable", data_autofocs = "true", @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Description)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Latitude)
                @Html.TextBoxFor(x => x.Latitude, new { data_bind = "value: $data.latitude", @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Latitude)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Longitude)
                @Html.TextBoxFor(x => x.Longitude, new { data_bind = "value: $data.longitude", @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Longitude)
            </div>
            <div class="form-group">
                <label>Time Zone Offset (UTC)</label>
                @Html.TextBoxFor(x => x.TimeZoneOffset, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.TimeZoneOffset)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.ImageUrl)
                @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.ImageUrl)
            </div>

        </div>
        <div class="col-md-6">
            <div class="form-group">
                <button type="button" data-bind="click: $data.geocodeClicked" class="btn btn-default">Geocode</button>
                <button type="submit" class="btn btn-default">Save</button>
            </div>
            <div style="display:none;" data-bind="visible: $data.results().length, foreach: $data.results">
                <div class="form-horizontal">
                    <div class="col-sm-2">
                        <input type="radio" name="result" data-bind="value: $index, click: $root.resultClicked.bind($root)" />
                    </div>
                    <div class="col-sm-10">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div data-bind="foreach: $data.address_components">
                                    <h2>
                                        <span data-bind="text: $data.long_name"></span>
                                        <span data-bind="text: ' (' + ($data.short_name ? $data.short_name : '<none>') + ')'"></span>
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Types</label>
                            <div class="col-sm-8">
                                <!-- ko foreach: $data.types -->
                                <p data-bind="text: $data"></p>
                                <!-- /ko -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Partial match?</label>
                            <div class="col-sm-8">
                                <span class="form-control-static" data-bind="text: $data.partial_match ? 'Yes' : 'No'"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Latitude</label>
                            <div class="col-sm-8">
                                <span class="form-control-static" data-bind="text: $data.geometry.location.lat()"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Longitude</label>
                            <div class="col-sm-8">
                                <span class="form-control-static" data-bind="text: $data.geometry.location.lng()"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section scripts {
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtULLEkACV1qYgWl-YAFwjRoKRpHOyW9I"></script>
    <script>
        $(function () {
            $('input:radio').screwDefaultButtons({
                image: 'url("/images/screwdefaultbuttons/radio.jpg")',
                width: 85,
                height: 85
            });
        });
        var Model = (function () {
            function Model() {
                this.name = ko.observable($("#Name").val());
                this.latitude = ko.observable($("#Latitude").val());
                this.longitude = ko.observable($("#Longitude").val());
                this.results = ko.observableArray([]);
            }
            Model.prototype.resultClicked = function (data) {
                this.name(data.address_components[0].long_name);
                this.latitude(data.geometry.location.lat());
                this.longitude(data.geometry.location.lng());
                return true;
            };
            Model.prototype.geocodeClicked = function () {
                this.results([]);
                var geocoder = new google.maps.Geocoder();
                geocoder.geocode({
                    address: this.name()
                }, function (results, status) {
                    console.log(results, status);
                    if (status == google.maps.GeocoderStatus.OK) {
                        this.results(results);
                        //$('input:radio').screwDefaultButtons({
                        //    image: 'url("/content/screwdefaultbuttons/radio.jpg")',
                        //    width: 85,
                        //    height: 85
                        //});
                    } else {

                    }
                }.bind(this));
                return false;
            };
            return Model;
        })();
        var model = new Model();
        ko.applyBindings(model, document.getElementById("main-template"));
    </script>
    <script>
        $("select").select2();
    </script>
}
