﻿@using CodexMVC.Helpers
@using Data.Entities
@model CodexMVC.Models.ViewPlacePublic
@{
    ViewBag.Title = "ViewPublic";
    ViewBag.Section = "Place";
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
}
@functions {

}
<ol class="breadcrumb">
    <li><a href="/Agent/List">List</a></li>
    <li><a href="/Agent/ViewDetail?guid=@Model.Place.Place.Guid">@Model.Place.Place.Name</a></li>
    <li class="active">Public page</li>
</ol>
<div class="page-header">
    @{
        var attr = Model.Attributes.FirstOrDefault();
        var placeType = attr != null ? attr.Name : "A place";
    }
    <h1>@Model.Place.Place.Name <small>@placeType in @Html.Raw(string.Join(", ", Model.Place.Containers.Select(x => RazorHelper.ToHtml(x)).ToArray()))</small></h1>
</div>
@if (Model.Acts != null && Model.Acts.Any())
{
    int last = 0;
    <div class="row">
        @foreach (var hyperNode in Model.Acts)
        {
            if (hyperNode.Act.Year.HasValue && hyperNode.Act.Year != last)
            {
                last = hyperNode.Act.Year.Value;
                <h2>
                    @last
                </h2>
            }
            <div>
                @Html.Raw(RazorHelper.ToHtml(hyperNode))
            </div>
        }
    </div>
}