﻿<script type="text/html" id="date-selector-template">
    @Html.Partial("~/Views/Templates/Selectors/DateSelector.cshtml")
</script>
<script type="text/html" id="person-selector-template">
    @Html.Partial("~/Views/Templates/Selectors/AgentSelector.cshtml")
</script>
<script type="text/html" id="place-selector-template">
    @Html.Partial("~/Views/Templates/Selectors/PlaceSelector.cshtml")
</script>
<script type="text/html" id="event-selector-template">
    @Html.Partial("~/Views/Templates/Selectors/EventSelector.cshtml")
</script>