﻿
<div>
    <label>Proximity</label>
    <select data-bind="options: $data.proximities, value: $data.model.proximity, optionsText: 'text', optionsValue: 'value'"></select>
</div>
<div>
    <label>Milennium</label>
    <select data-bind="options: $data.milennia, value: $data.model.milennium"></select>
</div>
<div>
    <label>Year</label>
    <input type="text" data-bind="value: $data.model.year" />
</div>
<div>
    <label>Month</label>
    <input type="text" data-bind="value: $data.model.month" />
</div>
<div>
    <label>Day</label>
    <input type="text" data-bind="value: $data.model.day" />
</div>
<div>
    <label>Hour</label>
    <input type="text" data-bind="value: $data.model.hour" />
</div>
<div>
    <label>Minute</label>
    <input type="text" data-bind="value: $data.model.minute" />
</div>