﻿@model CodexMVC.Models.AddPermissionToRoleModel
@{
    ViewBag.Title = "Add Permission";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Add permission ...</h2>
@using (Html.BeginForm("AddPermission", "Role"))
{
    @Html.HiddenFor(x => x.RoleGuid)
    <div class="form-group">
        <div class="form-row">
            <label>Permission</label>
            @Html.DropDownListFor(x => x.PermissionGuid, new SelectList(Model.Permissions.OrderBy(x => x.Text), "Value", "Text"))
        </div>
        <div>
            <button type="submit">Save</button>
        </div>
    </div>
}
