﻿@model CodexMVC.Models.EditRoleModel

@{
    var mode = Model.RoleGuid != null ? "Edit" : "Add";
    ViewBag.Title = mode + " Role";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@mode Role</h2>
@using (Html.BeginForm("Edit", "Role"))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.RoleGuid)
        <div class="form-row">
            @Html.LabelFor(x => x.Name)
            @Html.TextBoxFor(x => x.Name)
            @Html.ValidationMessageFor(x => x.Name)
        </div>
        <div class="form-row">
            @Html.LabelFor(x => x.Description)
            @Html.TextBoxFor(x => x.Description)
            @Html.ValidationMessageFor(x => x.Description)
        </div>
        <div>
            <button type="submit">Save</button>
        </div>
    </div>
}