﻿@using Services.Common
    @model CodexMVC.Models.ViewRoleModel
    @{
        ViewBag.Title = "Roles";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

    <h2>Role: @Model.Role.Name</h2>
    <div>
        <a href="/Admin/Role/Edit?roleGuid=@Model.Role.Guid">Edit Role</a>
    </div>
    <h4>Permissions</h4>
    @if (Model.Permissions.Any())
    {
        <ul>
            @foreach (var permission in Model.Permissions.OrderBy(x => x.Name))
            {
                <li>
                    <a href="/Admin/Permission/ViewDetail?permissionGuid=@permission.Guid">@permission.Name</a>
                    @if (User.IsInRole(Permissions.RemovePermissionFromRole))
                    {
                        <a href="/Admin/Role/RemovePermissionFromRole?permissionGuid=@permission.Guid&roleGuid=@Model.Role.Guid" onclick="return confirm('Are you sure you wish to de-associate this permission from this role?');" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash"></span></a>
                    }
                </li>
            }
        </ul>
    }
    else
    {
        @:None
}
    <div style="margin-top:20px;">
        <a href="/Admin/Role/AddPermission?roleGuid=@Model.Role.Guid">+ Add Permission</a>
    </div>