﻿@model CodexMVC.Models.EditCategory

@{
    var mode = Model.Guid == null ? "Add" : "Edit";
    ViewBag.Title = mode + " term";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@mode term</h2>

@using (Html.BeginForm("Edit", "Category"))
{
    @Html.HiddenFor(x => x.Guid)
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label>Name:</label>
                <div>
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Name)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Adjective:</label>
                <div>
                    @Html.TextBoxFor(x => x.Adjective, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Adjective)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(x => x.Description)
                @Html.TextAreaFor(x => x.Description, new { rows = 10, data_provide = "markdown-editable", data_autofocs = "true", @class = "form-control input-lg" })
                @Html.ValidationMessageFor(x => x.Description)
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Clade? <small>Is this the top of a 'branch'</small></h4>
                @Html.CheckBoxFor(x => x.Clade, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <button type="submit">Save</button>
}
