﻿@model CodexMVC.Models.EditCategoryRelatedToCategory

@{
    var mode = Model.OtherCategoryGuid == null ? "Add" : "Edit";
    ViewBag.Title = mode + " kind of category";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="float:right;padding-left:50px;">
    <a href="/Admin/Category/List">Categories</a> /
    <a href="/Admin/Category/ViewDetail/@Model.CategoryGuid">@Model.Name</a>
</div>

<h2>@Model.Name is a kind of ...</h2>

@using (Html.BeginForm("EditKindOf", "Category"))
{
    @Html.HiddenFor(x => x.CategoryGuid)
    @Html.HiddenFor(x => x.RelationshipGuid)
    <div class="row">
        <div class="col-md-12">
            @Html.DropDownListFor(x => x.OtherCategoryGuid, new SelectList(Model.Categories, "Value", "Text"))
            @Html.ValidationMessageFor(x => x.OtherCategoryGuid)
        </div>

    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-md-12">
            <button type="submit" class="btn btn-default btn-primary">Save</button>
        </div>
    </div>
}

@section scripts {
    <script>
        $("select").select2();
    </script>
}

