﻿@model CodexMVC.Models.EditCategoryRelatedToCategory

@{
    var mode = Model.OtherCategoryGuid == null ? "Add" : "Edit";
    ViewBag.Title = mode + " is qualified by";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="float:right;padding-left:50px;">
    <a href="/Category/List">Categories</a> /
    <a href="/Category/ViewDetail/@Model.CategoryGuid">@Model.Name</a>
</div>

<h2>@Model.Name is qualified by ...</h2>

@using (Html.BeginForm("EditQualifiedBy", "Category"))
{
    @Html.HiddenFor(x => x.CategoryGuid)
    @Html.HiddenFor(x => x.RelationshipGuid)
    <div>
        @Html.DropDownListFor(x => x.OtherCategoryGuid, new SelectList(Model.Categories, "Value", "Text"))
    </div>
    <button type="submit">Save</button>
}


