﻿@using Data.Entities
@using Services.Helpers
@model CodexMVC.Models.ViewCategory

@{
    ViewBag.Title = "View Category";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@helper EntityLink(IEntity entity)
{
    var type = entity is Data.Agent ? "Agent" : entity is Place ? "Place" : entity is Artefact ? "Artefact" : entity is Category ? "Category" : entity.GetType().Name;
    <a href="/Admin/@type/ViewDetail?guid=@entity.Guid">@NameOf(entity)</a>
}
@helper AttributeCell(IEnumerable<AgentAttributeHyperNode>
    attributes, string editActionName, bool incoming = false)
{
    if (attributes.Any())
    {
        foreach (var attr in attributes)
        {
            var agentGuid = incoming == false ? attr.Agent.Guid : attr.Entity.Guid;
            <div class="col-md-3">
                <p class="text-right">
                    <span style="margin-right: 5px;">@EntityLink(attr.Entity)</span>
                    <a class="btn btn-default btn-sm" href="/Admin/Agent/@editActionName?agentGuid=@agentGuid&hasRelationGuid=@attr.HasRelationGuid">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="/Admin/Agent/DeleteAttribute?relationshipGuid=@attr.RelationshipGuid&agentGuid=@agentGuid" class="btn btn-default btn-sm" onclick="return confirm('Are you sure you wish to delete this relationship?');">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </p>
            </div>
        }
    }
}
@helper AttributeRow(IEnumerable<AgentAttributeHyperNode>
                        outgoing, IEnumerable<AgentAttributeHyperNode>
            incoming, string relationshipName, string relationshipType, string addActionName, string editActionName)
{
            <tr>
                <td>
                    <p class="text-right"><strong>@relationshipName</strong></p>
                </td>
                <td>
                    <a href="/Admin/Agent/@addActionName?agentGuid=@Model.Category.Guid" class="btn btn-default">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </td>
                <td>
                    <div style="margin-left: 20px;margin-right: 20px;">
                        @{
                            var hasOutgoing = outgoing.Where(x => x.Relationship == relationshipType).Any();
                        }
                        @if (hasOutgoing)
                        {
                            <div class="row">
                                @AttributeCell(outgoing.Where(x => x.Relationship == relationshipType), editActionName)
                            </div>
                        }
                        @if (incoming.Where(x => x.Relationship == relationshipType).Any())
                        {
                            var rowStyle = hasOutgoing ? "border-top: dashed 2px #808080" : "";
                            <div class="row" style="@rowStyle">
                                <p><span class="glyphicon glyphicon-arrow-left"></span></p>
                                @AttributeCell(incoming.Where(x => x.Relationship == relationshipType), editActionName, true)
                            </div>
                        }
                    </div>
                </td>
            </tr>
}
@functions {
    public string Month(int month)
    {
        switch (month)
        {
            case 1: return "January";
            case 2: return "February";
            case 3: return "March";
            case 4: return "April";
            case 5: return "May";
            case 6: return "June";
            case 7: return "July";
            case 8: return "August";
            case 9: return "September";
            case 10: return "October";
            case 11: return "November";
            case 12: return "December";
            case 13: return "Spring";
            case 14: return "Summer";
            case 15: return "Autumn";
            case 16: return "Winter";
            case 17: return "Early";
            case 18: return "Late";
            default: return "???";
        }
    }
    public string NameOf(IEntity entity)
    {
        if (entity is Data.Agent)
        {
            return ((Data.Agent)entity).FullName2;
        }
        if (entity is Artefact)
        {
            return ((Artefact)entity).ToDisplay();
        }
        return entity.Name;
    }
}
<ol class="breadcrumb">
    <li><a href="/Admin/Category/List">List</a></li>
    <li class="active">@Model.Category.Name</li>
</ol>

<div class="page-header">
    <h2 class='' style="color: red;">
        @Model.Category.Name
    </h2>
    <h4 class="">
        @string.Join(" ", Model.Attributes.Where(x => x.Relationship == Label.Relationship.KindOf).Select(x => x.OtherCategory.Name).ToArray())
    </h4>
</div>

<div style="float:right;">
    <p><a href="/Admin/Category/Edit?guid=@Model.Category.Guid" class="btn btn-default">Edit</a></p>
    <p>
        <a href="/Admin/Category/Delete?categoryGuid=@Model.Category.Guid" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this category?');">Delete</a>
    </p>
</div>
<div>
    <h4 style="color: grey;">
        @TempData["GeneralMessage"]
    </h4>
</div>
<div class="form-group">
    <label>Name:</label>
    <span>@Model.Category.Name</span>
</div>
<div class="form-group">
    <label>Adjective:</label>
    <span>@Model.Category.Adjective</span>
</div>
<div class="form-row">
    <label>Aliases:</label>
    @if (Model.Category.Aliases != null)
    {
        @:@string.Join(", ", Model.Category.Aliases)
        }
    else
    {
        @:(none)
        }
</div>

<div class="form-group">
    <label>Description:</label>
    @{
        var markdown = new MarkdownDeep.Markdown();
    }
    <span>@Html.Raw(markdown.Transform(Model.Category.Description))</span>
</div>

<div class="form-row">
    <label>Clade?</label>
    @(Model.Category.Clade ? "Yes" : "No")
</div>

@if (Model.NewActs != null && Model.NewActs.Any())
{
    <div id="Timeline">
        <h2><a href="/Admin/Act/AddAct" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-plus"></span></a> Timeline <small>All acts that involve the agent</small></h2>
        <div class="row">
            <ul style="list-style: none">
                @{
    int last = 0;
    int lastMonth = 0;
    var lastDay = 0;
                }
                @foreach (var newAct in Model.NewActs.OrderBy(x => x.Act.Year).ThenBy(x => x.Act.Month).ThenBy(x => x.Act.Day))
                {
                    if (newAct.Act.Year.HasValue && newAct.Act.Year.Value != last)
                    {
                        last = newAct.Act.Year.Value;
                        lastMonth = 0;
                        lastDay = 0;
                        var year = newAct.Act.Decade ? newAct.Act.Year.Value.ToString() + "s" : newAct.Act.Year.Value.ToString();
                        <h2>
                            @year
                        </h2>
                    }
                    if (newAct.Act.Month.HasValue && newAct.Act.Month.Value != lastMonth)
                    {
                        lastMonth = newAct.Act.Month.Value;
                        lastDay = 0;

                    }
                    if (newAct.Act.Day.HasValue && newAct.Act.Day.Value != lastDay)
                    {
                        lastDay = newAct.Act.Day.Value;
                    }
                    if (newAct.Act.Month.HasValue)
                    {
                        <h4>
                            @Month(lastMonth) @(lastDay > 0 ? lastDay.ToString() : "")
                        </h4>
                    }
                    <li id="act-@newAct.Act.Guid">
                        @{
                    var importance = newAct.Act.Importance == Importance.Small ? "font-size: 0.9em;" : newAct.Act.Importance == Importance.Big ? "font-size: 1.5em;" : "";
                        }
                        <div style="position: relative;">
                            <div>
                                <span style="@importance">
                                    @Html.Raw(newAct.ToHtml())
                                </span> <a href="/Admin/Act/EditAct?actGuid=@newAct.Act.Guid" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
                                <a href="/Admin/Act/Delete?actGuid=@newAct.Act.Guid&entityType=Category&entityGuid=@Model.Category.Guid" onclick="return confirm('Are you sure you want to delete this act?');" class="btn btn-default">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </div>
                            <div style="position: absolute; left: -25px; top: 4px;">
                                @{
                    var starClass = newAct.Bookmarked ? "glyphicon-star" : "glyphicon-star-empty";
                    var starStyle = newAct.Bookmarked ? "color: red; " : "";
                    var clockStyle = newAct.InItinerary ? "color: red;" : "";
                                }
                                <a href="#" onclick="addBookmark(this); return false;" data-bookmarked="@newAct.Bookmarked.ToString().ToLower()" data-guid="@newAct.Act.Guid" data-type="Act"><span style="@starStyle font-size: 1.5em;" class="glyphicon @starClass"></span></a>
                                @*<a href="#" onclick="addItinerary(this); return false;" data-selected="@newAct.InItinerary.ToString().ToLower()" data-guid="@newAct.Act.Guid" data-type="Act"><span style="@clockStyle font-size: 1.5em;" class="glyphicon glyphicon-time"></span></a>*@
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
}
<div class="form-group">
    <table style="width: 100%;">
        <tr>
            <th style="width: 30%; vertical-align: top; text-align: left"></th>
            <th style="width: 70%; vertical-align: top; text-align: left"></th>
        </tr>
        <tr>
            <td style="vertical-align: top; text-align: left">
                <div>
                    <a href="/Admin/Category/AddKindOf?guid=@Model.Category.Guid">+ is a</a>
                </div>
                <div>
                    <a href="/Admin/Category/AddQualifiedBy?guid=@Model.Category.Guid">+ qualified by</a>
                </div>
                <div>
                    <a href="/Admin/Category/AddPartOf?guid=@Model.Category.Guid">+ is a part of</a>
                </div>
                <div>
                    <a href="/Admin/Category/AddSimilarTo?guid=@Model.Category.Guid">+ is similar to something</a>
                </div>
                <div>
                    <a href="/Admin/Category/AddOppositeOf?guid=@Model.Category.Guid">+ is the opposite of something</a>
                </div>
                <div>
                    <a href="/Admin/Category/AddProducedBy?guid=@Model.Category.Guid">+ is produced by the profession of</a>
                </div>
            </td>
            <td style="vertical-align: top; text-align: left">
                <ul>
                    @foreach (var attr in Model.Attributes)
                    {
                        <li>
                            is <a href="/Admin/Category/Edit@(attr.Relationship.Replace("_",""))?categoryGuid=@attr.Category.Guid&otherCategoryGuid=@attr.OtherCategory.Guid">
                                @attr.Relationship.ToLower().Replace("_", " ")
                            </a> <a href="/Admin/Category/ViewDetail?guid=@attr.OtherCategory.Guid">
                                @attr.OtherCategory.Name
                            </a>
                            @if (attr.RelationshipGuid != null)
                            {
                                @:[<a href="/Admin/Category/DeleteAttribute?relationshipGuid=@attr.RelationshipGuid&categoryGuid=@Model.Category.Guid">delete</a>]
                            }
                        </li>
                    }
                </ul>
                <p>

                </p>
                <ul>
                    @if (Model.AttributesIncoming.Any())
                    {
                        foreach (var attr in Model.AttributesIncoming)
                        {
                            <li>
                                <a href="/Admin/Category/ViewDetail?guid=@attr.OtherCategory.Guid">
                                    @attr.OtherCategory.Name
                                </a> is <a href="/Admin/Category/Edit@(attr.Relationship.Replace("_", ""))?categoryGuid=@attr.OtherCategory.Guid&otherCategoryGuid=@attr.Category.Guid">
                                    @attr.Relationship.ToLower().Replace("_", " ")
                                </a>
                                @if (attr.RelationshipGuid != null)
                                {
                                    @:[<a href="/Admin/Category/DeleteAttribute?relationshipGuid=@attr.RelationshipGuid&categoryGuid=@Model.Category.Guid">delete</a>]
                                }
                            </li>
                        }
                    }
                </ul>
            </td>
        </tr>
    </table>


    <h3>
        Artefact to Category Relationships
    </h3>
    @if (Model.CategoryToArtefactIncoming.Any())
    {
        <ul>
            @foreach (var attr in Model.CategoryToArtefactIncoming)
            {
                <li>
                    <a href="/Admin/Artefact/ViewDetail?guid=@attr.Artefact.Guid">@attr.Artefact.Name</a> @attr.RelationshipType.ToLower().Replace("_", " ")

                </li>
            }
        </ul>
    }
    else
    {
        @:(None)
    }
</div>
<script>
    $(function () {
        $("#slab-heading").slabText();
    });
</script>