﻿@model CodexMVC.Models.ViewExhibitionList
@{
    ViewBag.Title = "Exhibitions";
    ViewBag.Section = "Exhibition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    ul {
        list-style: none;
    }
</style>

<div class="page-header">
    <h1>Exhibitions</h1>
</div>

@*<div class="row">
        <div class="col-md-12">
            <a href="/Agent/List?mode=ByArtist" class="btn btn-default">Alphabetical</a>
            <a href="/Agent/List?mode=ByCitizenship" class="btn btn-default">By Place</a>
            <a href="/Agent/List?mode=ByRepresentativeOf" class="btn btn-default">By Style</a>
            <a href="/Agent/List?mode=ByAttribute" class="btn btn-default">By Profession</a>
            <a href="/Agent/List?mode=ByDateOfBirth" class="btn btn-default">By Date</a>
        </div>
    </div>*@

@if (Model.Exhibitions != null && Model.Exhibitions.Any())
{
    var exhibitions = Model.Exhibitions.GroupBy(x => x.Location.Guid);
    foreach (var item in exhibitions.OrderBy(x => x.First().Location.Name))
    {
        var current = item.First();
        <h2>
            @current.Location.Name
            @if (current.Inside.Any())
            {
                <small>
                    @string.Join(", ", current.Inside.Select(x => x.Name))
                </small>
            }
            <a href="/Place/ViewDetail/@current.Location.Guid" class="btn btn-default btn-sm">see all</a>
        </h2>
        <ul>
            @foreach (var subitem in item.OrderBy(x => x.Exhibition.Name))
            {
                <li>
                    <h4>
                        <a href="/Exhibition/ViewDetail/@subitem.Exhibition.Guid">@subitem.Exhibition.ToDisplay()</a>
                        at <a href="/Artefact/ViewDetail/@subitem.Collection.Guid">@subitem.Collection.ToDisplay()</a>
                        @subitem.Detail.ToDates()
                        @if (subitem.Detail.IsOnNow())
                        {
                            <span class="label label-success">On Now!</span>
                        }
                        else if (subitem.Detail.Coming())
                        {
                            <span class="label label-info">Coming</span>
                        }
                        else if (subitem.Detail.IsOver())
                        {
                            <span class="label label-default">Closed</span>
                        }
                        else if (subitem.Detail.IsFinishing())
                        {
                            <span class="label label-warning">Closing</span>
                        }
                    </h4>
                </li>
            }
        </ul>
    }

}