﻿@model IEnumerable<Services.Itinerary>

@{
    ViewBag.Title = "Your itineraries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your itineraries</h2>

@if (Model != null && Model.Any())
{
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <h4>
                    <a href="/Itinerary/ViewDetail/@item.Guid">
                        @item.Name <small>@item.Dates()</small>
                </a></h4>
            </li>
        }
    </ul>
}
else
{
    <h4>
        You have no itineraries.
    </h4>
}

