﻿@model Services.ItineraryWithDaysAndUsers

@{
    var title = "Itinerary for " + Model.Itinerary.Name;
    ViewBag.Title = title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@title</h2>

@if (Model.Days.Any())
{
    <ul>
        @foreach (var item in Model.Days)
        {
            <li>
                @if (item.Day.Ordinal.HasValue)
                {
                    <h4>Day @item.Day.Ordinal.Value</h4>
                }
                @if (item.Artefacts.Any())
                {
                   <ul>
                       @foreach (var artefact in item.Artefacts)
                       {
                           <li>
                               <a href="/Artefact/ViewDetail/@artefact.Guid">@artefact.ToDisplay()</a>
                           </li>
                       }
                   </ul>
                }
            </li>
        }
    </ul>
}

