﻿@model CodexMVC.Models.ViewAgentList

@{
    ViewBag.Title = "Artists";
    ViewBag.Section = "Agent";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var now = DateTimeOffset.Now;
}

@helper ArtistRow(Services.ArtistsWhoHaveArtworks item)
{
    <div>
        <div class="col-md-2">
            <div style="margin-top: 10px;">
                @{
                    var total = item.Artworks.Count();
                    var badgeColour = total >= 20 ? "green" : total >= 10 ? "orange" : total >= 5 ? "pink" : "gray";
                }
                <div class="row">
                    <div class="col-md-9">
                        <div class="pull-right">
                            @{
                                var rating = (int)item.AverageRating;
                            }
                            @for (var i = 0; i < rating; i++)
                            {
                                <span class="glyphicon glyphicon-star" style="color: gold;"></span>
                            }
                        </div>
                    </div>
                    <div class="col-md-3">
                        <span class="badge" style="font-size: 1.2em; background-color: @badgeColour;">
                            @total
                        </span>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-10">
            <h4>
                <a href="/Agent/ViewDetail/@item.Artist.Guid">@Html.Raw(item.ToHtmlDisplay())</a>
                @if (item.Artist.IsNew())
                {
                    <span class="label label-success">new artist</span>
                }
                @{
                    var newArtworks = item.Artworks.Where(x =>
                    {
                        if (false == x.Created.HasValue)
                        {
                            return false;
                        }
                        var diff = (int)(DateTimeOffset.Now - x.Created.Value).TotalDays;
                        return diff <= 3;
                    });
                }
                @if (newArtworks.Any())
                {
                    <span class="label label-success">@newArtworks.Count() new @(newArtworks.Count() == 1 ? "work" : "works")</span>
                }
            </h4>
        </div>
    </div>
}

<style>
    ul {
        list-style: none;
    }
</style>

<div class="page-header">
    <h1>Artists</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <a href="/Agent/List?mode=ByArtist" class="btn btn-default">Alphabetical</a>
        <a href="/Agent/List?mode=ByCitizenship" class="btn btn-default">By Nationality</a>
        <a href="/Agent/List?mode=ByRepresentativeOf" class="btn btn-default">By Style</a>
        <a href="/Agent/List?mode=ByAttribute" class="btn btn-default">By Profession</a>
        <a href="/Agent/List?mode=ByDateOfBirth" class="btn btn-default">By Birth</a>
        <a href="/Agent/List?mode=ByDateOfDeath" class="btn btn-default">By Death</a>
        <a href="/Agent/List?mode=ShowChart" class="btn btn-default">Charts</a>
    </div>
</div>

@if (Model.Mode == CodexMVC.Models.AgentListMode.ByArtist || Model.Mode == CodexMVC.Models.AgentListMode.Everyone)
{
    <div class="row">
        <div class="col-md-12 text-center">
            @{
    var letters = Model.Artists
                                   .OrderBy(x => x.Artist.FullName.Substring(0, 1))
                                   .Select(x => x.Artist.FullName.Substring(0, 1))
                                   .Distinct()
                                   .ToList();
            }
            @foreach (var item in letters)
            {
                <text><a href="#@(item)" style="font-size: 2.5em; margin-right: 10px;">@(item)</a></text>
            }
        </div>
    </div>
}

@*<div style="position: relative; left: 125px; top: 50px;">
    artworks
</div>*@

@if (Model.Mode == CodexMVC.Models.AgentListMode.ByArtist || Model.Mode == CodexMVC.Models.AgentListMode.Everyone)
{
    var grouping = Model.Artists
        .OrderBy(x => x.Artist.FullName.Substring(0, 1))
        .GroupBy(x => x.Artist.FullName.Substring(0, 1));

    foreach (var group in grouping)
    {

        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-10">
                <a name="@(group.First().Artist.FullName.Substring(0, 1))"></a>
                <h2>
                    @(group.First().Artist.FullName.Substring(0, 1))
                </h2>
            </div>
        </div>
        <div class="row">
            @foreach (var item in group.OrderBy(x => x.Artist.FullName))
            {
                @ArtistRow(item)
            }
        </div>
    }
}
else if (Model.Mode == CodexMVC.Models.AgentListMode.ByDateOfBirth)
{
    var grouping = Model.Artists
        .Where(x => x.Birth != null && x.Birth.Year.HasValue)
        .OrderBy(x => x.Birth.Year)
        .GroupBy(x => (int)(Math.Floor((double)(x.Birth.Year.Value / 10)) * 10));
    foreach (var group in grouping)
    {
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-10">
                <h2>
                    @(group.Key)s
                </h2>
            </div>
        </div>
        <div class="row">
            @foreach (var item in group.OrderBy(x => x.Birth.Year.Value))
            {
                @ArtistRow(item)
            }
        </div>
    }
}
else if (Model.Mode == CodexMVC.Models.AgentListMode.ByDateOfDeath)
{
    var grouping = Model.Artists
        .Where(x => x.Death != null && x.Death.Year.HasValue)
        .OrderBy(x => x.Death.Year)
        .GroupBy(x => (int)(Math.Floor((double)(x.Death.Year.Value / 10)) * 10));
    foreach (var group in grouping)
    {
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-10">
                <h2>
                    @(group.Key)s
                </h2>
            </div>
        </div>
        <div class="row">
            @foreach (var item in group.OrderBy(x => x.Death.Year.Value))
            {
                @ArtistRow(item)
            }
        </div>
    }
}
else if (Model.Mode == CodexMVC.Models.AgentListMode.ByCitizenship)
{
    var grouping = Model.Artists.Where(x => x.CitizenOf != null).OrderBy(x => x.CitizenOf.Name).GroupBy(x => x.CitizenOf.Name);
    foreach (var group in grouping)
    {
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-10">
                <h2>
                    @(group.First().CitizenOf.Adjective ?? group.First().CitizenOf.Name)
                </h2>
            </div>
        </div>
        <div class="row">
            @foreach (var item in group.OrderBy(x => x.Artist.FullName))
            {
                @ArtistRow(item)
            }
        </div>
    }
}
else if (Model.Mode == CodexMVC.Models.AgentListMode.ByRepresentativeOf)
{
    var grouping = Model.Artists.Where(x => x.RepresentativeOf != null).OrderBy(x => x.RepresentativeOf.Name).GroupBy(x => x.RepresentativeOf.Name);
    foreach (var group in grouping)
    {
        var style = group.First().RepresentativeOf;
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <h2>
                    @(style.Adjective ?? style.Name) <a href="/Style/ViewDetail/@style.Guid" class="btn btn-default">see all</a>
                </h2>
            </div>
        </div>
        <div class="row">
            @foreach (var item in group.OrderBy(x => x.Artist.FullName))
            {
                @ArtistRow(item)
            }
        </div>
    }
}
else if (Model.Mode == CodexMVC.Models.AgentListMode.ByAttribute)
{
    var categories = Model.Artists.Where(x => x.ArtistTypes.Any())
        .SelectMany(x => x.ArtistTypes.Select(x2 => x2))
        .Distinct(new CodexMVC.Areas.Admin.Controllers.CategoryComparer())
        .OrderBy(x => x.Name);
    foreach (var category in categories)
    {
        var artists = Model.Artists.Where(x => x.ArtistTypes.Any(x2 => x2.Guid == category.Guid));
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-10">
                <h2>
                    @category.Name
                </h2>
            </div>
        </div>
        <div class="row">
            @foreach (var item in artists)
            {
                @ArtistRow(item)
            }
        </div>
    }
}
else if (Model.Mode == CodexMVC.Models.AgentListMode.ShowChart)
{
    <div id="timeline" style="width: 100%; height: 500px;"></div>
    <div id="series_chart_div" style="width: 100%; height: 500px;"></div>
}

@section scripts {
    @if (Model.Mode == CodexMVC.Models.AgentListMode.ShowChart)
    {
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
            google.load("visualization", "1", { packages: ["timeline", "corechart"] });
            google.setOnLoadCallback(drawChart);
            // google.setOnLoadCallback(drawSeriesChart);

            var chart, data, seriesChart, seriesData;

            //function selectHandler() {
            //    var selectedItem = chart.getSelection()[0];
            //    if (selectedItem) {
            //        var value = data.getValue(selectedItem.row, 3);
            //        window.location.href = "/Agent/ViewDetail/{guid}".fmt({ guid: value });
            //    }
            //}

            function drawSeriesChart() {

                var data = google.visualization.arrayToDataTable([
                  ['ID', 'Life Expectancy', 'Fertility Rate', 'Region', 'Population'],
                  ['CAN', 80.66, 1.67, 'North America', 33739900],
                  ['DEU', 79.84, 1.36, 'Europe', 81902307],
                  ['DNK', 78.6, 1.84, 'Europe', 5523095],
                  ['EGY', 72.73, 2.78, 'Middle East', 79716203],
                  ['GBR', 80.05, 2, 'Europe', 61801570],
                  ['IRN', 72.49, 1.7, 'Middle East', 73137148],
                  ['IRQ', 68.09, 4.77, 'Middle East', 31090763],
                  ['ISR', 81.55, 2.96, 'Middle East', 7485600],
                  ['RUS', 68.6, 1.54, 'Europe', 141850000],
                  ['USA', 78.09, 2.05, 'North America', 307007000]
                ]);

                var options = {
                    title: 'Correlation between life expectancy, fertility rate and population of some world countries (2010)',
                    hAxis: { title: 'Life Expectancy' },
                    vAxis: { title: 'Fertility Rate' },
                    bubble: { textStyle: { fontSize: 11 } }
                };

                var chart = new google.visualization.BubbleChart(document.getElementById('series_chart_div'));
                chart.draw(data, options);
            }

            function drawChart() {
                var container = document.getElementById('timeline');
                chart = new google.visualization.Timeline(container);
                data = new google.visualization.DataTable();

                data.addColumn({ type: 'string', id: 'Artist' });
                data.addColumn({ type: 'date', id: 'Start' });
                data.addColumn({ type: 'date', id: 'End' });
                
                @{
        var artists = Model.Artists
                    .Where(x=> x.GetBirthDate().HasValue && x.GetDeathDate().HasValue)
                    .OrderBy(x=> x.Birth.Year);
                }
                data.addRows([
                   @(Html.Raw(string.Join(", ", artists.Select(x => {
                   var name = x.Artist.FullName2;
                   var birth = x.GetBirthDate().Value;
                   var death = x.GetDeathDate().Value;
                   return string.Format("[\"{0}\", new Date({1}, {2}, {3}), new Date({4}, {5}, {6})]", name, birth.Year, birth.Month - 1, birth.Day, death.Year, death.Month - 1, death.Day);
                   }))))
                ]);
                var view = new google.visualization.DataView(data);
                chart.draw(data);
            }
        </script>
    }
}

