﻿@model CodexMVC.Models.TimelineJS

@{
    ViewBag.Title = "Timeline";
    Layout = null; // "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title></title>
</head>
<body>
    <div id="timeline-embed"></div>
    @Html.Partial("~/Views/Shared/TimelineJS.cshtml", Model)

    <script>
        $(function () {
            drawTimeline();
        });
    </script>
</body>
</html>