﻿@using Data.Entities
@using CodexMVC.Helpers
@using Humanizer
@model CodexMVC.Models.ViewAgentPublic
@{
    ViewBag.Title = Model.Agent.Agent.FullName2;
    ViewBag.Section = "Agent";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var authenticated = Request.IsAuthenticated;
    var enableUserRatingModule = authenticated;
    var enableTotalUserRatingModule = Model.Details.TotalUserRatings.HasValue && Model.Details.TotalUsersWhoRated > 0;
    var markdown = new MarkdownDeep.Markdown();
    var hasTimeline = Model.NewActs != null && Model.NewActs.Any();
    var hasConnexions = Model.OutgoingConnexions.Any();
    var hasTours = Model.Tours != null && Model.Tours.Any();
    var hasExhibitions = Model.Exhibitions != null && Model.Exhibitions.Any();
    var hasArt = Model.ContainerWithArtefacts.Any();
    var following = Model.UserAgentDetails != null ? Model.UserAgentDetails.Following : false;
    var bookmarked = Model.UserAgentDetails != null ? Model.UserAgentDetails.Bookmarked : false;

    var metaTitle = Model.Details.Agent.FullName2;
    if (Model.Details.SubTitle().Length > 0)
    {
        metaTitle += ", " + Model.Details.SubTitle();
    }

    var totalArtworks = false == hasArt ? 0 : Model.ContainerWithArtefacts.SelectMany(x => x.Artworks).Select(x => x.Artefact.Guid).Distinct().Count();
    var totalCollections = Model.ContainerWithArtefacts.Count();
    var totalEvents = false == hasTimeline ? 0 : Model.NewActs.Count();
    var description = string.Format("With {0} works in {1} collections around the world, along with {2} biographical events.", totalArtworks.ToWords(), totalCollections.ToWords(), totalEvents.ToWords());

    var mediums = Model.ContainerWithArtefacts
        .SelectMany(x => x.Artworks)
        .Where(x => x.ArtefactType != null)
        .OrderBy(x => x.ArtefactType.Name)
        .GroupBy(x => x.ArtefactType.Guid);
    var subjects = Model.ContainerWithArtefacts
        .SelectMany(x => x.Artworks)
        .Where(x => x.Subject != null)
        .OrderBy(x => x.Subject.Name)
        .GroupBy(x => x.Subject.Guid);
    var genres = Model.ContainerWithArtefacts
        .SelectMany(x => x.Artworks)
        .Where(x => x.Genre != null)
        .OrderBy(x => x.Genre.Name)
        .GroupBy(x => x.Genre.Guid);
}

@section styles {
    <style>
        .section-heading {
            background-color: #333;
            color: #ccc;
            padding: 20px;
            width: 100%;
        }

        #slider label {
  position: absolute;
  width: 20px;
  margin-top: 20px;
  margin-left: -10px;
  text-align: center;
}

        em {
            font-style: italic;
        }

        .container-heading {
            background-color: #ccc;
            padding: 10px;
        }

        #map {
            width: 100%;
            height: 300px;
            margin: 0;
            padding: 0;
        }

        li.active a {
            text-shadow: 2px 2px #333;
        }

        #timeline-modal .modal-dialog {
            width: 950px;
            height: 600px;
        }
    </style>
}

@section meta {
    <meta property="og:site_name" content="Codex" />
    <meta property="og:title" content="@metaTitle" />
    <meta property="og:url" content="@Request.Url.AbsoluteUri" />
    <meta property="og:description" content="@description" />
    <meta property="og:locale" content="en_US" />
    <meta property="article:author" content="@(Request.Url.Scheme+"://"+Request.Url.Host)" /> />
    <meta property="article:publisher" content="@(Request.Url.Scheme + "://" + Request.Url.Host)" />
    @if (Model.ContainerWithArtefacts != null && Model.ContainerWithArtefacts.Any())
    {

        var image = Model.ContainerWithArtefacts
                        .SelectMany(x => x.Artworks)
                        .OrderByDescending(x => x.Artefact.Rating)
                        .First()
                        .Image;
        <meta property="og:image" content="@(Request.Url.Scheme + "://" + Request.Url.Host + image.VirtualPath().Replace("~", ""))?height=600&width=600&mode=crop" />
        <meta property="og:image:type" content="image/jpeg" />
        <meta property="og:image:width" content="600" />
        <meta property="og:image:height" content="600" />
    }
}

@helper AgentAttributeRow(IEnumerable<Data.Agent> agents, string relationship)
{
    if (agents != null && agents.Any())
    {
        <div class="form-group">
            <label class="col-sm-2 control-label" style="font-size: 1.5em;">@relationship</label>
            <div class="col-sm-10">
                <p class="form-control-static">@Html.Raw(string.Join(", ", agents.Select(RazorHelper.ToHtml).ToArray()))</p>
            </div>
        </div>
    }
}
@functions {
    public string Month(int month)
    {
        switch (month)
        {
            case 1: return "January";
            case 2: return "February";
            case 3: return "March";
            case 4: return "April";
            case 5: return "May";
            case 6: return "June";
            case 7: return "July";
            case 8: return "August";
            case 9: return "September";
            case 10: return "October";
            case 11: return "November";
            case 12: return "December";
            case 13: return "Spring";
            case 14: return "Summer";
            case 15: return "Autumn";
            case 16: return "Winter";
            case 17: return "Early";
            case 18: return "Late";
            default: return "???";
        }
    }
    public string NameOf(IEntity entity)
    {
        if (entity is Data.Agent)
        {
            return ((Data.Agent)entity).FullName2;
        }
        if (entity is Artefact)
        {
            return ((Artefact)entity).ToDisplay();
        }
        return entity.Name;
    }
    public string EntityTypeName(string type)
    {
        switch (type)
        {
            case "Agent": return "people and entities";
            case "Artefact": return "art";
            case "Category": return "concepts";
            default: return type.ToLower() + "s";
        }
    }
}


<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-10">
                <h1>
                    @Model.Details.Agent.FullName2
                    <small>
                        @Html.Raw(Model.Details.SubTitle())
                    </small>
                </h1>
                <div class="fb-like" data-href="@Request.Url.AbsoluteUri" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
            </div>
            @if (authenticated)
            {
                <div class="col-md-2">
                    @{
                var bookmarkClassAgent = "glyphicon-bookmark";
                var bookmarkStyleAgent = bookmarked ? "color: red; " : "";
                var followingStyleAgent = following ? "background-color: gray; " : "background-color: #009688;";
                var followingText = following ? "Following" : "Follow";
                var followingClassAgent = "glyphicon-ok";
                    }
                    <p class="text-right">
                        <a href="#" onclick="codex.api.addBookmark(this); return false;" data-bookmarked="@(bookmarked.ToString().ToLower())" data-guid="@Model.Agent.Agent.Guid" data-type="Agent"><span style="@bookmarkStyleAgent font-size: 3.5em;" class="glyphicon @bookmarkClassAgent"></span></a>
                        <a href="#" data-following="@(following.ToString().ToLower())" onclick="codex.api.toggleFollowClicked(this); return false;" class="btn btn-default" style="@followingStyleAgent">@followingText</a>
                    </p>
                </div>
            }
        </div>

        <div class="row">
            <div class="col-md-8">
                @if (Model.Details.Age.HasValue)
                {
                    <h4>
                        born in <a href="/Place/ViewDetail/@Model.Details.BirthPlace.Guid">@Model.Details.BirthPlace.Name</a> (@Model.Details.Birth.Year.Value)  and died in <a href="/Place/ViewDetail/@Model.Details.DeathPlace.Guid">@Model.Details.DeathPlace.Name</a> (@Model.Details.Death.Year.Value), aged @Model.Details.Age.Value
                    </h4>
                }
            </div>
            <div class="col-md-4">
                <div style="text-align: right;">
                    @if (enableUserRatingModule)
                    {
                        <div>
                            <label>
                                Your rating
                            </label>
                            <input id="rating" onchange="updateRating(this);" type="text" class="rating" />

                        </div>
                    }
                    @if (false == authenticated)
                    {
                        <div>
                            <label>
                                Your rating
                            </label>
                            <p>
                                <a href="#" onclick="showLoginModal(); return false;">Log in <span style="font-size: 1.2em;margin-right:3px;" class="glyphicon glyphicon-log-in"></span> to share your rating!</a>
                            </p>
                        </div>
                    }
                    @if (enableTotalUserRatingModule)
                    {
                        <div>
                            <label>Average rating</label>
                            <input id="average-rating" value="@(Model.Details.TotalUserRatings.Value / Model.Details.TotalUsersWhoRated)" readonly type="text" class="rating" />
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">

            </div>
            <div class="col-md-4">
                <a href="#" onclick="codex.maps.toggleMapExpansion(); return false;" style="float: right;" class="btn btn-default btn-sm">
                    <span id="map-expando" class="glyphicon glyphicon-resize-full"></span>
                </a>
                <a href="#" onclick="codex.maps.toggle(); return false;" style="float: right;" class="btn btn-default btn-primary btn-sm">Hot Spots</a>
                <a href="/Agent/Timeline/@Model.Agent.Agent.Guid" onclick="showTimeline(); return false;" style="float: right;" target="_blank" class="btn btn-default btn-primary btn-sm">Slideshow</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div>
            <div id="map">
            </div>
        </div>
    </div>
</div>

<div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
        @if (hasArt)
        {
            <li role="presentation" class="active">
                <a href="#Art" aria-controls="Art" role="tab" onclick="codex.maps.hideTimelineMap(); return false;" data-toggle="tab">
                    Artworks
                    <span class="badge">@Model.ContainerWithArtefacts.SelectMany(x => x.Artworks.Select(x2 => x2.Artefact)).Count()</span>
                </a>
            </li>
        }
        @if (hasTimeline)
        {
            <li role="presentation" class="@(false==hasArt?"active":"")">
                <a href="#timeline" aria-controls="timeline" role="tab" onclick="codex.maps.hideArtworksMap(); return false;" data-toggle="tab">
                    History
                    <span class="badge">@Model.NewActs.Count()</span>
                </a>
            </li>
        }
        @if (Model.Details.Agent.Description != null)
        {
            <li role="presentation">
                <a href="#life" aria-controls="life" role="tab" data-toggle="tab">Life</a>
            </li>
        }
        @if (hasExhibitions)
        {
            <li role="presentation">
                <a href="#Exhibitions" aria-controls="timeline" role="tab" data-toggle="tab">
                    Exhibitions
                    <span class="badge">@Model.Exhibitions.Count()</span>
                </a>
            </li>
        }
        @if (hasTours)
        {
            <li role="presentation">
                <a href="#Tours" aria-controls="timeline" role="tab" data-toggle="tab">
                    Tours
                    <span class="badge">@Model.Tours.Count()</span>
                </a>
            </li>
        }
        @if (hasConnexions)
        {
            <li role="presentation">
                <a href="#connexions" aria-controls="connexions" role="tab" data-toggle="tab">
                    Relationships
                    <span class="badge">@Model.OutgoingConnexions.Count()</span>
                </a>
            </li>
        }
    </ul>
    <div class="tab-content">
        @if (hasArt)
        {
            <div role="tabpanel" class="tab-pane active" id="Art">
                <div role="tabpanel">
                    <ul class="nav nav-tabs" style="background-color: #f50057;" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#ByCollection" aria-controls="ByCollection" role="tab" data-toggle="tab">By Collection</a>
                        </li>
                        @if (mediums.Any())
                        {
                            <li role="presentation">
                                <a href="#ByMedium" aria-controls="ByMedium" role="tab" data-toggle="tab">By Medium</a>
                            </li>
                        }
                        @if (subjects.Any())
                        {
                            <li role="presentation">
                                <a href="#BySubject" aria-controls="BySubject" role="tab" data-toggle="tab">By Subject</a>
                            </li>
                        }
                        @if (genres.Any())
                        {
                            <li role="presentation">
                                <a href="#ByGenre" aria-controls="ByGenre" role="tab" data-toggle="tab">By Genre</a>
                            </li>
                        }
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="ByCollection">
                            @if (Model.ContainerWithArtefacts.Any())
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        @foreach (var item in Model.ContainerWithArtefacts
                                        .Distinct(new Services.ContainerWithArtefactsComparer())
                                        .OrderBy(x => x.Container.Name))
                                        {
                                            var location = item.Container.ToDisplay();
                                            if (item.Location != null)
                                            {
                                                location += " <small>" + item.Location.Name + "</small>";
                                            }
                                            <h3 class="container-heading">
                                                @Html.Raw(location)
                                                <a href="/Artefact/ViewDetail/@item.Container.Guid" class="btn btn-default btn-sm">see all</a>
                                            </h3>
                                            <div class="justified">
                                                @foreach (var subitem in item.Artworks.Distinct(new Services.ArtistArtefactImageTupleComparer()).Take(5))
                                                {
                                                    <div>
                                                        <a href="/Artefact/ViewDetail/@subitem.Artefact.Guid">
                                                            <img alt="@subitem.Artefact.ToDisplay()" src="@subitem.Image.VirtualPath().Replace("~", "")?height=300&mode=crop" />
                                                        </a>
                                                    </div>
                                                }
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                        <div role="tabpanel" class="tab-pane" id="ByMedium">
                            @if (mediums.Any())
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        @foreach (var item in mediums)
                                        {
                                            var type = item.First().ArtefactType;
                                            <h3 class="container-heading">
                                                @type.Name
                                            </h3>
                                            <div class="justified">
                                                @foreach (var subitem in item.Distinct(new Services.ArtistArtefactImageTupleComparer()))
                                                {
                                                    <div>
                                                        <a href="/Artefact/ViewDetail/@subitem.Artefact.Guid">
                                                            <img alt="@subitem.Artefact.ToDisplay()" src="@subitem.Image.VirtualPath().Replace("~", "")?height=300&mode=crop" />
                                                        </a>
                                                    </div>
                                                }
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                        <div role="tabpanel" class="tab-pane" id="BySubject">
                            @if (subjects.Any())
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        @foreach (var item in subjects)
                                        {
                                            var subject = item.First().Subject;
                                            <h3 class="container-heading">
                                                @subject.Name <a href="/Subject/ViewDetail/@subject.Guid" class="btn btn-default btn-sm">see all</a>
                                            </h3>
                                            <div class="justified">
                                                @foreach (var subitem in item.Distinct(new Services.ArtistArtefactImageTupleComparer()))
                                                {
                                                    <div>
                                                        <a href="/Artefact/ViewDetail/@subitem.Artefact.Guid">
                                                            <img alt="@subitem.Artefact.ToDisplay()" src="@subitem.Image.VirtualPath().Replace("~", "")?height=300&mode=crop" />
                                                        </a>
                                                    </div>
                                                }
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                        <div role="tabpanel" class="tab-pane" id="ByGenre">
                            @if (genres.Any())
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        @foreach (var item in genres)
                                        {
                                            var genre = item.First().Genre;
                                            <h3 class="container-heading">
                                                @genre.Name
                                            </h3>
                                            <div class="justified">
                                                @foreach (var subitem in item.Distinct(new Services.ArtistArtefactImageTupleComparer()))
                                                {
                                                    <div>
                                                        <a href="/Artefact/ViewDetail/@subitem.Artefact.Guid">
                                                            <img alt="@subitem.Artefact.ToDisplay()" src="@subitem.Image.VirtualPath().Replace("~", "")?height=300&mode=crop" />
                                                        </a>
                                                    </div>
                                                }
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        <div role="tabpanel" class="tab-pane" style="background-color: white;" id="life">
            <div class="row">
                <div class="col-sm-8">
                    <div style="margin-top: 20px;padding: 20px;">
                        @*@if (Model.RelatedArtists != null && Model.RelatedArtists.Any())
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>
                                            Artists with shared motifs
                                        </h4>
                                        <div class="justified-small">
                                            @foreach (var item in Model.RelatedArtists.OrderByDescending(x => x.SharedMotifs))
                                            {
                                                <div>
                                                    <a href="/Agent/ViewDetail/@item.Artist.Guid">
                                                        <img alt="@item.Artist.FullName2" src="@item.Art.Image.VirtualPath().Replace("~", "")?height=200&mode=crop" />
                                                    </a>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }*@
                        @{
                            var markdown2 = new MarkdownDeep.Markdown();
                        }
                        @Html.Raw(markdown2.Transform((Model.Details.Agent.Description ?? "(none)")))
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane @(false==hasArt ? "active": "")" style="background-color: white;" id="timeline">
            @if (hasTimeline)
            {
                <div id="Timeline" style="padding: 20px;">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 id="timeline-slider-value" class="pull-right"></h1>
                            <div id="timeline-slider"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            @foreach (var group in Model.NewActs.OrderBy(x => x.Act.Year).GroupBy(x => x.Act.Year))
                            {
                                int lastMonth = 0;
                                var lastDay = 0;
                                var first = group.First().Act;
                                var year = first.Decade ? first.Year.Value.ToString() + "s" : first.Year.Value.ToString();
                                <div class="act-container year-@(first.Year.Value)">
                                    <div class="shadow-z-1 " style="padding: 20px; padding-left: 40px; margin: 20px;">

                                        @{
                                var yearStyle = Model.Details.Age.HasValue
                                    && (first.Year.Value == Model.Details.Birth.Year.Value || first.Year.Value == Model.Details.Death.Year.Value) ? "color: red;" : "";
                                        }
                                        <h1 style="@yearStyle">
                                            <a href="/Time/ViewDetail?year=@year" target="_blank" data-year="@year">
                                                @year
                                                <span class="glyphicon glyphicon-new-window" style="font-size: 0.5em;"></span>
                                            </a>
                                            @if (Model.Details.Age.HasValue)
                                            {
                                                var age = first.Year.Value - Model.Details.Birth.Year.Value;
                                                if (age > 0 && age <= Model.Details.Age.Value)
                                                {
                                                    var ageText = string.Format("aged {0}", false == first.Decade ? age.ToString() : age + " to " + (age + 10));
                                                    <small>@ageText</small>
                                                }
                                            }
                                            @{
                                var places = group.SelectMany(x => x.EntityImages.Select(x2 => x2.Entity)).OfType<Place>().Select(x => x.Name).Distinct();
                                            }
                                            @if (places.Any())
                                            {
                                                <small>in @RazorHelper.And(places)</small>
                                            }
                                        </h1>
                                        @foreach (var newAct in group.OrderBy(x => x.Act.Month).ThenBy(x => x.Act.Day))
                                        {
                                            if (newAct.Act.Month.HasValue && newAct.Act.Month.Value != lastMonth)
                                            {
                                                lastMonth = newAct.Act.Month.Value;
                                                lastDay = 0;
                                            }
                                            if (newAct.Act.Day.HasValue && newAct.Act.Day.Value != lastDay)
                                            {
                                                lastDay = newAct.Act.Day.Value;
                                            }
                                            if (newAct.Act.Month.HasValue)
                                            {
                                                <h3>
                                                    @Month(lastMonth) @(lastDay > 0 ? lastDay.ToString() : "")
                                                </h3>
                                            }
                                            <div id="act-@newAct.Act.Guid">
                                                @{
                                            var importance = newAct.Act.Importance == Importance.Small ? "font-size: 0.9em;" : newAct.Act.Importance == Importance.Big ? "font-size: 1.5em;" : "";
                                                }
                                                <div style="position: relative;">
                                                    <div>
                                                        <h4>
                                                            @Html.Raw(CodexMVC.Helpers.RazorHelper.RemoveOuterTag("p", markdown2.Transform(newAct.ToHtml(visitors: new IEntity[] { Model.Agent.Agent }))))
                                                        </h4>
                                                        @if (newAct.Source != null)
                                                        {
                                                            <p>
                                                                <b>Source:</b> @Html.Raw(("<span style='text-decoration: underline;'>" + newAct.Source.ToDisplay() + "</span>" + (newAct.Act.Source != null ? ", " + newAct.Act.Source : "")))
                                                            </p>
                                                        }
                                                    </div>
                                                    <div style="position: absolute; left: -30px; top: 0px;">
                                                        @{
                                                        var starClass = "glyphicon-bookmark";
                                                        var starStyle = newAct.Bookmarked ? "color: red; " : "";
                                                        var clockStyle = newAct.InItinerary ? "color: red;" : "";
                                                        }
                                                        <a href="#" onclick="codex.api.addBookmark(this); return false;" data-bookmarked="@newAct.Bookmarked.ToString().ToLower()" data-guid="@newAct.Act.Guid" data-type="Act"><span style="@starStyle font-size: 1.5em;" class="glyphicon @starClass"></span></a>
                                                    </div>
                                                </div>
                                            </div>

                                        }
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="col-md-4">
                            <div class="row" style="margin-top: 20px;">
                                <h3>
                                    Filter by <span id="filtering-by"></span>
                                </h3>
                                <div class="col-md-8">
                                    @{
                var filterGrouping = Model.NewActs
                    .SelectMany(x => x.EntityImages)
                    .Where(x => x.Entity != null)
                    .Distinct(new Services.EntityImageComparer())
                    .GroupBy(x => x.Entity.GetType().UnderlyingSystemType.Name);
                                    }
                                    @if (filterGrouping.Any())
                                    {

                                        foreach (var group in filterGrouping)
                                        {
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h4 class="perforation">
                                                        @EntityTypeName(group.Key)
                                                    </h4>
                                                    <div style="float: left;" class="two-cols">
                                                        @foreach (var item in group.OrderBy(x => NameOf(x.Entity)))
                                                        {
                                                            <div>
                                                                <a href="#" data-name="@NameOf(item.Entity)" data-filtering="false" data-entity="@(string.Format("{0}-{1}", item.Entity.GetType().UnderlyingSystemType.Name, item.Entity.Guid))" onclick="toggleTimeline(this); return false;">
                                                                    @NameOf(item.Entity)
                                                                </a>
                                                                @if (item.Attributes != null && item.Attributes.Any())
                                                                {
                                                                    <small>@string.Join(", ", item.Attributes.Select(x => x.Name.ToLower()))</small>
                                                                }
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }

                                </div>
                                <div class="col-md-4">
                                    @{
                var attributes = Model.NewActs
                    .SelectMany(x => x.EntityImages.Where(x2 => x2.Attributes != null).SelectMany(x2 => x2.Attributes))
                    .Where(x => x != null)
                    .Distinct(new CodexMVC.Areas.Admin.Controllers.CategoryComparer())
                    ;
                                    }
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 class="perforation">
                                                any kind of
                                            </h4>
                                            <div style="float: left;">
                                                @foreach (var item in attributes.OrderBy(x => x.Name))
                                                {
                                                    <div>
                                                        <a href="#" data-name="@item.Name.ToLower()" data-filtering="false" data-entity="@(string.Format("Category-{0}", item.Guid))" onclick="toggleTimeline(this); return false;">
                                                            @(item.Name.ToLower())
                                                        </a>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-12">
                                    @{
                var entities = Model.NewActs
                    .SelectMany(x => x.EntityImages.Where(x2 => x2.Image != null))
                    .Distinct(new Services.EntityImageComparer());
                                    }
                                    @if (entities.Any())
                                    {
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h4>artworks</h4>
                                                <div class="justified-small">
                                                    @foreach (var item in entities)
                                                    {
                                                        <div>
                                                            <a href="/Artefact/ViewDetail/@item.Entity.Guid">
                                                                <img alt="@NameOf(item.Entity)" src="@item.Image.VirtualPath().Replace("~", "")?width=350&mode=crop" />
                                                            </a>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div role="tabpanel" class="tab-pane" style="background-color: white;" id="Tours">
            @if (hasTours)
            {
                var group = Model.Tours.GroupBy(x => x.Location.Name);
                foreach (var item in group)
                {
                    var row = item.First();
                    var location = row.Location;
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="container-heading">
                                @location.Name
                                @if (row.Inside.Any())
                                {
                                    <small>
                                        @string.Join(", ", row.Inside.Select(x => x.Name))
                                    </small>
                                }
                            </h3>
                            @foreach (var subitem in item)
                            {
                                <h4 class="container-heading">
                                    <a href="/Tour/ViewDetail/@subitem.Tour.Guid">@subitem.Tour.ToDisplay()</a>
                                </h4>
                                if (subitem.Artworks != null && subitem.Artworks.Any())
                                {
                                    <div class="justified">
                                        @{
                                    var artworks = subitem.Artworks.SelectMany(x => x.ArtefactWithImages.Select(x2 => new { Artist = x.Artist, Artefact = x2.Artefact, Image = x2.Image }));
                                        }
                                        @foreach (var art in artworks.Where(x => x.Artefact != null && x.Image != null))
                                        {
                                            <div>
                                                <a href="/Artefact/ViewDetail/@art.Artefact.Guid">
                                                    <img alt="@art.Artefact.ToDisplay() by @art.Artist.FullName2" src="@art.Image.VirtualPath().Replace("~","")?height=300&mode=crop" />
                                                </a>
                                            </div>
                                        }
                                    </div>
                                }
                            }
                        </div>
                    </div>
                }
            }
        </div>
        <div role="tabpanel" class="tab-pane" style="background-color: white;" id="Exhibitions">
            @if (hasExhibitions)
            {
                var group = Model.Exhibitions.GroupBy(x => x.Location.Name);
                foreach (var item in group)
                {
                    var row = item.First();
                    var location = row.Location;
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="container-heading">
                                @location.Name
                                @if (row.Inside.Any())
                                {
                                    <small>
                                        @string.Join(", ", row.Inside.Select(x => x.Name))
                                    </small>
                                }
                            </h3>
                            @foreach (var subitem in item)
                            {
                                <h4 class="container-heading">
                                    <a href="/Exhibition/ViewDetail/@subitem.Exhibition.Guid">@subitem.Exhibition.ToDisplay()</a>
                                    at
                                    <a href="/Artefact/ViewDetail/@subitem.Collection.Guid">@subitem.Collection.ToDisplay()</a>
                                    @subitem.Detail.ToDates()
                                    @if (subitem.Detail.IsOnNow())
                                    {
                                        <span class="label label-success">On Now!</span>
                                    }
                                    else if (subitem.Detail.Coming())
                                    {
                                        <span class="label label-info">Coming</span>
                                    }
                                    else if (subitem.Detail.IsOver())
                                    {
                                        <span class="label label-default">Closed</span>
                                    }
                                    else if (subitem.Detail.IsFinishing())
                                    {
                                        <span class="label label-warning">Closing</span>
                                    }
                                </h4>
                                if (subitem.Artworks != null && subitem.Artworks.Any())
                                {
                                    <div class="justified">
                                        @{
                                    var artworks = subitem.Artworks.SelectMany(x => x.ArtefactWithImages.Select(x2 => new { Artist = x.Artist, Artefact = x2.Artefact, Image = x2.Image }));
                                        }
                                        @foreach (var art in artworks.Where(x => x.Image != null))
                                        {
                                            <div>
                                                <a href="/Artefact/ViewDetail/@art.Artefact.Guid">
                                                    <img alt="@art.Artefact.ToDisplay() by @art.Artist.FullName2" src="@art.Image.VirtualPath().Replace("~","")?height=300&mode=crop" />
                                                </a>
                                            </div>
                                        }
                                    </div>
                                }
                            }
                        </div>
                    </div>
                }
            }
        </div>
        <div role="tabpanel" class="tab-pane" style="background-color: white;" id="connexions">
            @if (Model.OutgoingConnexions.Any())
            {
                var group = Model.OutgoingConnexions.GroupBy(x => x.Relationship);
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                @foreach (var item in group)
                                {
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-2">
                                                <h4 class="pull-right" style="color: #f50057;">
                                                    @Html.Raw(item.First().Relationship)
                                                </h4>
                                            </div>
                                            <div class="col-md-10">
                                                @foreach (var subitem in item)
                                                {
                                                    <h4>
                                                        @if (subitem.Artworks.Any())
                                                        {
                                                            <a href="/Agent/ViewDetail/@subitem.PersonalDetails.Agent.Guid">@subitem.PersonalDetails.Agent.FullName2</a>
                                                        }
                                                        else
                                                        {
                                                            <span>
                                                                <b>@subitem.PersonalDetails.Agent.FullName2</b>
                                                            </span>
                                                        }
                                                        <small>@subitem.PersonalDetails.Life() @Html.Raw(subitem.PersonalDetails.SubTitle())</small>
                                                    </h4>
                                                    if (subitem.Artworks.Any())
                                                    {
                                                        <div class="justified-tiny">
                                                            @foreach (var artwork in subitem.Artworks.Where(x => x.Image != null))
                                                            {
                                                                <div>
                                                                    <a href="/Agent/ViewDetail/@subitem.PersonalDetails.Agent.Guid">
                                                                        <img src="@artwork.Image.VirtualPath().Replace("~","")?height=200&mode=crop" />
                                                                    </a>
                                                                </div>
                                                            }
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="timeline-by-year-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">All events that year</h3>
            </div>
            <div class="modal-body" style="margin-top: 20px;">
                <div id="timeline-by-year-content"></div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="timeline-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" style="margin-top: 20px;">
                <iframe id="timeline-iframe" style="width: 900px; height: 700px;"></iframe>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section scripts {
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=@GoogleMapsAPIKey">
    </script>
    <script src="~/Scripts/google.maps.markerclusterer.js"></script>
    <script src="~/Scripts/google.maps.cluster.js"></script>
    <script src="~/Scripts/codex.api.js"></script>
    <script src="~/Scripts/codex.maps.js"></script>
    @if (enableUserRatingModule)
    {
        <script>
            (function(){
                var rating = $("#rating");
                rating.val(@Model.UserAgentDetails.Rating);
                rating.rating({
                    min: 1, max: 5, size: "sm",
                    showClear: false,
                    showCaption: false,
                    hoverEnabled: true
                });
            })();

            function updateRating(e){
                var rating = $(e);
                var params = {
                    agentGuid: "@Model.Agent.Agent.Guid",
                    rating: rating.val()
                };
                $.get("/API/UpdateAgentRating", params);
            }
        </script>
    }
    @if (enableTotalUserRatingModule)
    {
        <script>
            (function(){
                var average = $("#average-rating");
                average.rating({
                    min: 1, max: 5, size: "xs", step: 0.5,
                    showClear: false, showCaption: false
                });
            })();
        </script>
    }
    <script>
        function showTimeline() {
            var modal = $("#timeline-modal");
            var iframe = document.getElementById('timeline-iframe');
            iframe.src = "/Agent/Timeline/@Model.Agent.Agent.Guid";
            modal.modal({ show: true });
        }
    </script>
    <script>
        @{
            var TimelineMarkerData = Model.TimelineMarkers.SelectMany(x => x.Select(x2=> new {
                Latitude = x2.Latitude,
                Longitude = x2.Longitude,
                ContainerName = x2.ContainerName,
                Content = x2.Content.Replace("\"", "'")
            }));
            var ArtworkMarkerData = Model.ArtworkMarkers.SelectMany(x => x.Select(x2 => new
            {
                Latitude = x2.Latitude,
                Longitude = x2.Longitude,
                ContainerName = x2.ContainerName,
                Content = x2.Content.Replace("\"", "'")
            }));
        }
        if (typeof window.google != "undefined"){

            var mapOptions = {
                zoom: 14
            };
            codex.maps.Dataset.Map = new google.maps.Map(document.getElementById('map'), mapOptions);

            var markerData1 = @Html.Raw(Json.Encode(TimelineMarkerData));
            var heatmapData1 = @Html.Raw(Json.Encode(Model.TimelineHeatMap));
            codex.maps.initialiseMap(markerData1, heatmapData1, "Timeline");

            var markerData2 = @Html.Raw(Json.Encode(ArtworkMarkerData));
            var heatmapData2 = @Html.Raw(Json.Encode(Model.ArtworkHeatMap));
            codex.maps.initialiseMap(markerData2, heatmapData2, "Artworks");

            @if (hasArt)
            {
                <text>codex.maps.hideTimelineMap();</text>
            }
            else if (hasTimeline)
            {
                if (Model.ArtworkMarkers.Any())
                {
                    <text>codex.maps.hideArtworksMap();</text>
                }
                else
                {
                    <text>$("#map").hide();</text>
                }
            }
        }
    </script>
    <script>
        $(".justified").justifiedGallery({
            rowHeight: 300,
            lastRow: 'nojustify',
            margins: 3,
            captionSettings: {
                animationDuration: 500,
                visibleOpacity: 0.7,
                nonVisibleOpacity: 0.7
            }
        });

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            $(".justified").justifiedGallery({
                rowHeight: 300,
                lastRow: 'nojustify',
                margins: 3,
                captionSettings: {
                    animationDuration: 500,
                    visibleOpacity: 0.7,
                    nonVisibleOpacity: 0.7
                }
            });
            $(".justified-small").justifiedGallery({
                rowHeight: 200,
                lastRow: 'nojustify',
                margins: 3,
                captionSettings: {
                    animationDuration: 500,
                    visibleOpacity: 0.7,
                    nonVisibleOpacity: 0.7
                }
            });
            $(".justified-tiny").justifiedGallery({
                rowHeight: 100,
                lastRow: 'nojustify',
                margins: 3,
                captionSettings: {
                    animationDuration: 500,
                    visibleOpacity: 0.7,
                    nonVisibleOpacity: 0.7
                }
            });
        });
    </script>
    <script>
    /**
    interface IUI {
        handle: JQUery;
        value: number;
    }
    */
        @{
            var timelineYears = Model.NewActs.GroupBy(x => x.Act.Year.Value)
                .Select(x =>
                {
                    var markers = RazorHelper.GetTimelineMarkers(x);
                    var result = new
                    {
                        Year = x.Key,
                        Markers = markers,
                        Heatmap = RazorHelper.GetTimelineHeatMap(markers)
                    };
                    return result;
                });
        }

    var timelineYears = @(Html.Raw(Json.Encode(timelineYears)));
        var where = app.Utils.where,
            flatten = app.Utils.flatten;
    (function(){
        var min = @(Model.NewActs.Min(x=> x.Act.Year.Value)),
            max = @(Model.NewActs.Max(x=> x.Act.Year.Value));
            for (var i = min; i <= max; i++){
                var year = where(timelineYears, function(item){ return item.Year == i; })[0];
                var setName = "Year" + i;
                if (year && year.Heatmap){
                    codex.maps.initialiseMap(null, year.Heatmap, setName);
                }
            }
        })();

        var lastYear = @(Model.NewActs.Min(x=> x.Act.Year.Value));
        var hideMarkers = codex.maps.hideMarkers,
            showMarkers = codex.maps.showMarkers;
        var hideHeatMap = codex.maps.hideHeatMap,
            showHeatMap = codex.maps.showHeatMap;

        function onSliderChanged(/* Event: */e, /* IUI: */ui) {

            var year = ui.value;
            var $value = $("#timeline-slider-value");
            $value.text(year);

            hideMarkers(codex.maps.Dataset.Timeline);
            hideHeatMap(codex.maps.Dataset.Timeline);

            var setName = "Year" + year,
                set = codex.maps.Dataset[setName];

            if (!set){
                return;
            }

            if (lastYear) {
                var lastYearSet = codex.maps.Dataset["Year" + lastYear];
                $(".act-container").hide();
                hideHeatMap(lastYearSet);
                lastYear = year;
            }

            showHeatMap(set);
            $(".year-" + year).show();
        }

        $(function(){
            var slider = $("#timeline-slider");
            slider.slider({
                min: @(Model.NewActs.Min(x=> x.Act.Year.Value)),
                max: @(Model.NewActs.Max(x=> x.Act.Year.Value)),
                slide: onSliderChanged
            });
    });
    </script>

    @Html.Partial("~/Views/Shared/TimelineJS.cshtml", new CodexMVC.Models.TimelineJS { Name = Model.Agent.Agent.FullName2, Visitors = new IEntity[] { Model.Agent.Agent }, Timeline = Model.NewActs })
}
