@CHARSET "UTF-8";
#members-bar { padding-bottom:10px; float:right; width:455px; }
#members-bar .edit-profile { color:#FFFFFF; padding:6px 10px 0 10px; float:right; }
#members-bar .logout { height:24px;margin-top:2px;float:right;}
#members-bar .greeting { color:#FFFFFF; padding:6px 10px 0 0; float:right; }

#login-bar { width:455px; float:right; }
#login-bar a:hover { background-color:none; }
#login-bar .login { height:24px;margin-top:2px;padding-right:2px;}