TD {font-family: times; font-size: 14px; color: #030C2D}
TD.main {font-family: times; font-size: 14px; text-align: justify; color: #030C2D}
TD.main2 {font-family: times; font-size: 16px; text-align: justify; color: #030C2D}
TD.main3 {font-family: verdana, times; font-size: 12px; text-align: left; color: #030C2D}

.main_museum {font-family: georgia; font-size: 14px; text-align: justify; color: #030C2D; margin-left: 10px; margin-right: 10px}

TD.columns {font-family: times; font-size: 14px; text-align: justify; color: #030C2D}

SPAN.main4 {font-family: verdana, times; font-size: 10px; text-align: justify; color: #030C2D}

TD.museum_main {font-family: verdana, times; font-size: 14px; text-align: justify; color: #030C2D}
TD.index {font-family: verdana; font-size: 10px; text-align: justify; color: #030C2D}
TD.quote {font-style : italic; font-family: georgia, times; font-size: 24px; color: #030C2D}
TD.review {font-family: georgia, times; font-size: 14px; text-align: justify; color: #030C2D}
TD.review16 {font-family: georgia, times; font-size: 16px; text-align: justify; color: #030C2D}
TD.review_dark {font-family: georgia, times; font-size: 14px; text-align: justify; color: #000000}
TD.subhead {font-family: georgia, times; font-size: 28px; text-align: center; color: #3B4F6E}
TD.caption {font-family: verdana, arial; font-size: 10px; color: #030C2D}
TD.intro {font-family: times; font-size: 18px; text-align: justify; color: #030C2D}
TD.intro2 {font-family: georgia, times; font-size: 22px; text-align: justify; color: #030C2D}
TD.intro_smaller {font-family: verdana, arial, times; font-size: 14px; text-align: justify; color: #030C2D}
TD.notice_caption {text-align: center; font-family: verdana, arial; font-size: 9px; color: #030C2D}
TD.first_letter {font-family: georgia, verdana, times; font-style: emphasis; font-size: 74px; color: #030C2D}

SPAN.app_head {font-family: verdana, georgia, times; font-size: 50px; color: black}
SPAN.app_head_title {font-family: arial, verdana, georgia, times; font-size: 20px; color: black; text-decoration: underline}
SPAN.app_head_text {font-family: verdana, georgia, times; font-size: 12px; color: black}
SPAN.app_head_image {font-family: verdana, georgia, times; font-size: 12px; color: black}

SPAN.head {font-family: georgia, times; font-size: 48px; color: #3B4F6E}
SPAN.head_contents {font-family: arial, georgia, times; font-size: 74px; color: #3B4F6E}
SPAN.head_gold {font-family: georgia, times; font-size: 74px; color: #C59E52}
SPAN.head_large {font-family: georgia, times; font-size: 86px; color: #3B4F6E}
SPAN.head_large_times {font-family: times; font-size: 86px; color: #3B4F6E}
SPAN.head_large_times2 {font-family: georgia, times; font-size: 30px; color: #993333}
SPAN.head2 {font-family: georgia, verdana, times; font-size: 74px; color: #3B4F6E}
SPAN.head3 {font-family: verdana, times; font-size: 60px; color: #3B4F6E}
SPAN.headsmall {font-family: georgia, times; font-size: 50px; color: #3B4F6E}
SPAN.headsmall2 {font-family: georgia, times; font-size: 40px; color: #3B4F6E}
SPAN.headsmall3 {font-family: georgia, times; font-size: 36px; color: #3B4F6E}
SPAN.underhead {font-family: georgia, times; font-size: 22px; color: #3B4F6E}
SPAN.underhead2 {font-family: georgia, times; font-size: 18px; color: #3B4F6E}
SPAN.underhead2_times {font-family: times; font-size: 40px; color: #3B4F6E}
SPAN.underhead3 {font-family: georgia, times; font-size: 18px; color: #3B4F6E}
SPAN.underhead_relation {font-family: verdana, georgia, times; text-align: left; font-size: 12px; color: #3B4F6E}
SPAN.author {font-family: verdana, georgia, times; font-size: 13px; color: #3B4F6E}
SPAN.footnotes {font-family: verdana; font-size: 10px; color: #000000; padding-right: 5px; padding-left: 5px}
SPAN.articletitle {font-family: georgia, times; font-size: 16px; text-align: center; color: #3B4F6E}
SPAN.attribution {font-family: georgia, times; font-size: 13px; text-align: right; color: #030C2D}
SPAN.mission {font-family: georgia, times; font-size: 22px; text-align: center; color: #030C2D}
SPAN.mission_num {font-family: georgia, times; font-size: 40px; font-style: italic; text-align: right; color: #030C2D}
SPAN.contents {font-family: verdana, arial, times; font-size: 14px; color: #030C2D}
SPAN.link_title {font-family: verdana; font-size: 12px; text-align: left; color: #030C2D}
SPAN.intro { 
font-family: georgia; font-size: 17px; text-align: justify; color: #030C2D}
SPAN.introbar { font-family: georgia; font-size: 17px; text-align: justify; color: #DECEA3; background-color: #030C2D; padding-top: 5px; padding-left: 5px; padding-right: 5px; padding-bottom: 5px }
SPAN.intro2 {font-family: times; font-size: 24px; text-align: justify; color: #030C2D}
SPAN.popup {font-family: verdana, arial; text-align: justify; font-size: 10px; color: #000000}
SPAN.popup_red {font-family: verdana, arial; text-align: justify; font-size: 10px; color: #993333}
SPAN.newsletter {font-family: verdana, georgia, times; font-size: 12px; text-align: left; color: #030C2D}
SPAN.newsletter_black {font-family: georgia, times; font-size: 12px; text-align: left; color: #000000}
SPAN.newsletter_small {font-family: verdana, georgia, times; font-size: 10px; text-align: left; color: #030C2D}
SPAN.donate {font-family: verdana, georgia, times; font-size: 12px; text-align: left; color: #000000}

SPAN.caption_black {font-family: courier new, times; font-size: 16px; text-align: left; color: #000000}

SPAN.article_caption {font-family: verdana, georgia, times; font-size: 10px; text-align: justify; color: #030C2D}

.intro-new {font-family: verdana, arial, times; font-size: 14px; text-align: justify; color: #030C2D}
.new_article {font-family: verdana, georgia, times; font-size: 12px; text-align: left; color: #030C2D}
.atelier {font-family: verdana, georgia, times; font-size: 12px; text-align: justify; color: #030C2D; padding-right: 20px}
.atelier_intro {font-family: verdana, georgia, times; font-size: 14px; text-align: justify; color: #030C2D; padding-right: 20px; padding-left: 20px}
.atelier_intro_heading {font-family: verdana, georgia, times; font-size: 18px; text-align: justify; color: #030C2D; padding-right: 20px; padding-left: 20px}
.atelier_intro_large {font-family: verdana, georgia, times; font-size: 16px; text-align: justify; color: #030C2D; padding-right: 20px; padding-left: 20px}

.footnotes_margin {font-family: verdana; font-size: 10px; text-align: justify; color: #000000; padding-right: 10px; padding-left: 10px}
.footnotes_margin_left {font-family: verdana; font-size: 10px; text-align: left; color: #000000; padding-right: 10px; padding-left: 10px}

.museum_main_quote {font-family: verdana, times; font-size: 16px; font-style: strong; text-align: left; margin-left: 20px; margin-right: 20px; color: #030C2D}
.museum_main_quote_right {font-family: verdana, times; font-size: 14px; text-align: right; margin-left: 20px; margin-right: 20px; color: #030C2D; text-decoration: none}

.main_quote {font-family: verdana; font-size: 14px; text-align: justify; margin-left: 20px; margin-right: 20px; color: #030C2D}

.artist_biography {width: 715px; text-align: left; margin-right: 20px; padding-right: 20px; padding-left: 20px; font-family: verdana; font-size: 12px; text-align: left; color: #030C2D}

.biobox {clear: left; width: 735px; background-color: #524d3e; min-height: 145px; margin: 20px;}
.bioboxtitle {width: 100%;  background-color:#78715a; height: 23px; font-size: 18px; font-family: verdana; color: rgb(222, 206, 163);}
.bioportrait {width:103px; margin: 20px; clear: none;}

.artist_property_box   {width: 725px; text-align: right; clear: both}
.artist_property_title {font-family: verdana, georgia, times; font-size: 12px; color: #3B4F6E; width: 205; text-align: right; float: left; margin-right: 10px}
.artist_property_value {font-family: verdana, georgia, times; font-size: 12px; color: #3B4F6E; width: 500; text-align: left; float: left}

/* Search Result Formats */

.search_results_row_odd {font-family: verdana, georgia, times; font-size: 10px; background-color: ##3B4F6E; width: 100%; text-align: left; float: left; margin-top:0px; padding: 0px;}
.search_results_row_even {font-family: verdana, georgia, times; font-size: 10px; background-color: #BBB; width: 100%; text-align: left; float: left; margin-top:0px; padding: 0px;}

.artist_search_results_name {min-width:40%; max-width: 40%; font-weight: bold; float: left; margin-top:0px; margin-bottom:1px; margin: 0px; padding: 0px; border-width: 0px;}
.artist_search_results_years {min-width:20%;  max-width: 20%; float: left; margin-top:0px; margin-bottom:0px; margin: 0px; padding: 0px; border-width:0px; text-align:center;}
.artist_search_results_nationality {min-width:20%;  max-width: 20%;  float: left; margin-top:0px; margin-bottom:0px; margin: 0px; padding: 0px; border-width:0px; text-align:center;}
.artist_search_results_artwork_count {min-width: 20%;  max-width: 20%; float: left; margin-top:0px; margin-bottom:0px; margin: 0px; padding: 0px; border-width:0px; text-align:center;}

.contest_winner_search_results_name {min-width:20%; max-width: 30%; font-weight: bold; float: left; margin-top:0px; margin-bottom:1px; margin: 0px; padding: 0px; border-width: 0px;}
.contest_winner_search_results_contest_name {min-width:20%;  max-width: 20%; float: left; margin-top:0px; margin-bottom:0px; margin: 0px; padding: 0px; border-width:0px; text-align:center;}
.contest_winner_search_results_award {min-width:20%;  max-width: 20%;  float: left; margin-top:0px; margin-bottom:0px; margin: 0px; padding: 0px; border-width:0px; text-align:center;}
.contest_winner_search_results_category {min-width:20%;  max-width: 20%;  float: left; margin-top:0px; margin-bottom:0px; margin: 0px; padding: 0px; border-width:0px; text-align:center;}
.contest_winner_search_results_title {min-width: 20%;  max-width: 30%; float: right; margin-top:0px; margin-bottom:0px; margin: 0px; padding: 0px; border-width:0px; text-align:right;}

.artwork_search_results_title {min-width:40%; max-width: 40%; font-weight: bold; float: left; margin-top:0px; margin-bottom:1px; margin: 0px; padding: 0px; border-width:0px;}
.artwork_search_results_artist {min-width:45%;  max-width: 45%; float: left; margin-top:0px; margin-bottom:0px; margin: 0px; padding-left: 5px; border-width:0px; text-align:left;}
.artwork_search_results_date {min-width:10%;  max-width: 10%;  float: left; margin-top:0px; margin-bottom:0px; margin: 0px; padding: 0px; border-width:0px; text-align:center;}

.archive_search_results_title {min-width:40%; max-width: 40%; font-weight: bold; float: left; margin-top:0px; margin-bottom:1px; margin: 0px; padding: 0px; border-width:0px;}
.archive_search_results_author {min-width:45%;  max-width: 45%; float: left; margin-top:0px; margin-bottom:0px; margin: 0px; padding-left: 5px; border-width:0px; text-align:left;}
.archive_search_results_date {min-width:10%;  max-width: 10%;  float: left; margin-top:0px; margin-bottom:0px; margin: 0px; padding: 0px; border-width:0px; text-align:center;}

.article_search_results_title {min-width:40%; max-width: 40%; font-weight: bold; float: left; margin-top:0px; margin-bottom:1px; margin: 0px; padding: 0px; border-width:0px;}
.article_search_results_author {min-width:50%;  max-width: 50%; float: left; margin-top:0px; margin-bottom:0px; margin: 0px; padding: 0px; border-width:0px; text-align:left;}
.article_search_results_date {min-width:10%;  max-width: 10%;  float: left; margin-top:0px; margin-bottom:0px; margin: 0px; padding: 0px; border-width:0px; text-align:center;}

.atelier_search_results_name {min-width:40%; max-width: 40%; font-weight: bold; float: left; margin-top:0px; margin-bottom:1px; margin: 0px; padding: 0px; border-width:0px;}
.atelier_search_results_city {min-width:60%;  max-width: 60%; float: left; margin-top:0px; margin-bottom:0px; margin: 0px; padding: 0px; border-width:0px; text-align:left;}


/* Definitions for artwork row objects in  artist pages */
.artwork-row{ background-attachment:scroll; background-color: #BCB87E; background-image: none; background-position: 0 0; background-repeat: repeat; clear: left; float: left; overflow-x: hidden; overflow-y: hidden; width: 775px;}
.artwork-row-box{ background-attachment:scroll; background-color:#DECEA3; background-image:none; background-position:0 0; background-repeat:repeat; float:left; position:relative; right:28%; width:100%;}
.artwork-row-text{ float:left; left:30%; overflow-x:hidden; overflow-y:hidden; position:relative; width:70%; font-family: verdana, georgia, times; }
.artwork-row-thumbnail{ float:left; left:32%; overflow-x:hidden; overflow-y:hidden; position:relative; width:26%; margin-top:20px; margin-bottom:40px; }
.artwork-row-title{ background: #3B4F6E; color: #DECEA3; font-family: verdana, georgia, times; font-style: italic; font-size: 18px; padding-top: 2px; padding-bottom: 2px; padding-left: 10px; padding-right: 10px; }
.artwork-row-download-title{ background: #3B4F6E;  font-family: verdana, arial;  font-size: 10px;  color: #CEBE93;  width:176px; text-align: center;  padding-top: 4px; padding-bottom: 4px; padding-left: 4px; padding-right: 4px; }

/* Definitions for artist row objects in living artist pages */
.artist-row{ background-attachment:scroll; background-color: #BCB87E; background-image: none; background-position: 0 0; background-repeat: repeat; clear: left; float: left; overflow-x: hidden; overflow-y: hidden; width: 775px;}
.artist-row-box{ background-attachment:scroll; background-color:#DECEA3; background-image:none; background-position:0 0; background-repeat:repeat; float:left; position:relative; right:28%; width:100%;}
.artist-row-text{ float:left; left:30%; overflow-x:hidden; overflow-y:hidden; position:relative; width:70%; font-family: verdana, georgia, times;}
.artist-row-thumbnail{ float:left; left:32%; overflow-x:hidden; overflow-y:hidden; position:relative; width:26%; margin-top:20px; margin-bottom:40px; }
.artist-row-title{ background: #3B4F6E; font-family: verdana, georgia, times; font-style: italic; font-size: 18px; padding-top: 2px; padding-bottom: 2px; padding-left: 10px; padding-right: 10px; }
.artist-row-download-title{ background: #3B4F6E;  font-family: verdana, arial;  font-size: 10px;  color: #CEBE93;  width:176px; text-align: center;  padding-top: 4px; padding-bottom: 4px; padding-left: 4px; padding-right: 4px; }

/* Definitions for the atelier row objects in the ateliers.php page */
.atelier-row{ background-attachment:scroll; background-color: #BCB87E; background-image: none; background-position: 0 0; background-repeat: repeat; clear: left; float: left; overflow-x: hidden; overflow-y: hidden; width: 775px;}
.atelier-row-box{ background-attachment:scroll; background-color:#DECEA3; background-image:none; background-position:0 0; background-repeat:repeat; float:left; position:relative; right:28%; width:100%;}
.atelier-row-text{ float:left; left:30%; overflow-x:hidden; overflow-y:hidden; position:relative; width:70%; font-family: verdana, georgia, times; }

.quote_box
{
font-family:courier;font-size:12px;text-align:justify;color:#736B53;margin-left:20px;margin-right:20px;background:#D6C79D;border-style:dashed;border-color:#BCAE88;padding:15px;border-width:2px
}

.newsletter_quote
{
	font-family: courier, verdana, georgia, times;
	font-size: 12px;
	text-align: justify;
	color: #030C2D;
	margin-left: 20px;
	margin-right: 20px
}

.newsletter_quote2
{
	font-family: georgia, times;
	font-size: 14px;
	text-align: justify;
	color: #030C2D;
	margin-left: 20px;
	margin-right: 20px
}

.blue_line
{
	font-family: Verdana, Arial;
	color: #DECEA3;
	font-style: italic;
	font-size: 18px;
	text-align: justify;
	text-indent: 10px;
	padding-top: 5px;
	padding-left: 2px;
	padding-bottom: 5px;
	padding-right: 2px;
}

.border {background: #3B4F6E; font-family: georgia, times; font-style: italic; font-size: 16px;  color: #DECEA3; padding-top: 2px; padding-bottom: 2px; padding-left: 10px; padding-right: 10px}

.museum_border {background: #3B4F6E; font-family: verdana, georgia, times; font-style: italic; font-size: 18px; color: #DECEA3; padding-top: 2px; padding-bottom: 2px; padding-left: 10px; padding-right: 10px}

.museum_border_navy {background: #030C2D; font-family: verdana, georgia, times; font-style: italic; font-size: 18px; color: #C59E52; padding-top: 2px; padding-bottom: 2px; padding-left: 10px; padding-right: 10px; border: 3px; border-color: #030C2D}

.museum_border_textbox {font-family: verdana, georgia, times; font-style: italic; font-size: 18px; color: #DECEA3; padding-top: 2px; padding-bottom: 2px}

.atelier_border {background: #3B4F6E; font-family: georgia, times; font-size: 26px; color: #DECEA3; padding-top: 2px; padding-bottom: 2px}

.border_red {background: #993333; font-family: georgia, times; font-style: italic; font-size: 16px;  color: #DECEA3; padding-top: 2px; padding-bottom: 2px; padding-left: 10px; padding-right: 10px}
.museum_artists_border {background: #3B4F6E; font-family: verdana, georgia, times; font-style: italic; font-size: 24px; color: #DECEA3; padding-top: 2px; padding-bottom: 2px; padding-left: 10px; padding-right: 10px}

.contents_links {font-family: verdana, georgia, times; text-align: center; font-style: bold; font-size: 18px; color: #030C2D}

.contents_links_right
{
	font-family: verdana, georgia, times;
	text-align: right;
	font-size: 18px;
	color: #030C2D
}

.contents_links_black
{
	font-family: verdana, georgia, times;
	text-align: left;
	font-size: 14px;
	color: #C59E52;
	padding-left: 15px;
	padding-right: 10px;
	padding-bottom: 5px
}

.contents_links_black2
{
	font-family: verdana, georgia, times;
	font-size: 11px;
	color: #C59E52
}

.thumbnail_links
{
	font-family: verdana, georgia, times;
	font-size: 11px;
	color: #C59E52
}

.contents_links_black2_highlight
{
	font-family: verdana, georgia, times;
	text-align: left;
	font-size: 11px;
	color: #000000;
	background-colour: #C59E52
}

.contents_links_black3
{
	font-family: verdana, georgia, times;
	text-align: left;
	font-size: 18px;
	color: #C59E52
}

.contents_links_black13
{
	font-family: verdana, georgia, times;
	text-align: left;
	font-size: 13px;
	color: #C59E52
}

.contents_links_black2_right
{
	font-family: verdana, georgia, times;
	text-align: right;
	font-size: 12px;
	color: #C59E52
}

.contents_links_black2a
{
	font-family: verdana, georgia, times;
	text-align: left;
	font-size: 10px;
	color: #C59E52
}

.contents_links_black2_righta
{
	font-family: verdana, georgia, times;
	text-align: right;
	font-size: 10px;
	color: #C59E52
}

.contents_links_black3_righta
{
	font-family: verdana, georgia, times;
	text-align: right;
	font-size: 10px;
	color: #000000
}

.contents_menu
{
	font-family: verdana, georgia, times;
	text-align: left;
	font-size: 10px;
	color: #000000;
	padding-top: 4px;
	padding-bottom: 4px
}

.contents_text
{
	font-family: verdana, arial, times, georgia;
	text-align: justify;
	font-size: 11px;
	color: #000000
}

.contents_links_left {font-family: verdana, georgia, times; text-align: left; font-style: bold; font-size: 16px; color: #030C2D}
.contents_links_right_bluebg {font-family: verdana, georgia, times; text-align: right; font-style: bold; font-size: 18px; color: #CEBE93; background: #030C2D; padding-top: 4px; padding-bottom: 4px; padding-left: 0px; padding-right: 10px}

.contents_sections {font-family: verdana, georgia, times; font-size: 18px; color: #DECEA3; padding-top: 2px; padding-bottom: 2px}

.contents_artists {font-family: verdana, georgia, times; font-size: 12px; color: #030C2D}
.ca {font-family: verdana, georgia, times; font-size: 12px; color: #030C2D}

.contents_dates {font-family: verdana, georgia, times; font-size: 16px; color: #030C2D}
.contents_country {font-family: verdana, georgia, times; font-size: 16px; color: #030C2D}

.article_border {background: #030C2D; font-family: verdana, georgia, times; font-style: italic; font-size: 20px; color: #DECEA3; padding-top: 2px; padding-bottom: 2px; padding-left: 10px; padding-right: 10px}
.article_pics_border {background: #CEBE93; text-align: center; font-family: verdana, arial; font-size: 10px; color: #030C2D; padding-top: 4px; padding-bottom: 4px; padding-left: 0px; padding-right: 0px}

.notice_title {background: #3B4F6E; font-family: verdana, arial; font-size: 10px; color: #CEBE93; padding-top: 4px; text-align: center; padding-bottom: 4px; padding-left: 4px; padding-right: 4px}

.notice_title_II {background: #958A6D; font-family: verdana, arial; font-size: 10px; color: #CEBE93; padding-top: 4px; text-align: center; padding-bottom: 4px; padding-left: 4px; padding-right: 4px}

.notice_title_big {background: #3B4F6E; font-family: verdana, arial; font-size: 10px; color: #CEBE93; padding-top: 7px; text-align: center; padding-bottom: 7px; padding-left: 4px; padding-right: 4px}



.notice_title_larger {background: #3B4F6E; font-family: times, verdana, arial; font-size: 22px; color: #FF0000; padding-top: 2px; text-align: center; padding-bottom: 2px; padding-left: 0px; padding-right: 0px}


.notice {text-align: justify; font-family: verdana, arial; font-size: 9px; color: #030C2D; padding-top: 4px; padding-bottom: 4px; padding-left: 10px; padding-right: 10px}
.article_credits {text-align: justify; font-family: verdana, arial; font-size: 9px; color: #030C2D}

.pages {background: #030C2D; font-family: verdana, arial; font-size: 10px; color: #CEBE93}

.main_border {font-family: times; font-size: 14px; text-align: justify; color: #030C2D; background: #CEBE93; padding-top: 4px; padding-bottom: 4px; padding-left: 10px; padding-right: 10px}

.picture {margin-top: 0px; margin-bottom: 10px; margin-left: 10px; margin-right: 0px}
.picture_right {margin-top: 0px; margin-bottom: 10px; margin-left: 0px; margin-right: 15px}

.archives {font-family: verdana, times; font-size: 11px; text-align: justify; margin-left: 10px; margin-right: 10px; color: #030C2D}
.archives-info {font-family: verdana; font-size: 14px; text-align: justify; margin-left: 10px; margin-right: 10px; color: #030C2D}
.archives-artist-bio {font-family: verdana; font-size: 12px; text-align: left; color: #030C2D}
.quotation {font-family: verdana, georgia, times; font-style : italic; text-align: justify; font-size: 22px; color: #030C2D; margin-left: 30px; margin-right: 30px}

A {text-decoration: underline; color: #663333}
A.link {text-decoration: none; color: #663333}
A.link_special {text-decoration: underline; font-family: verdana; font-size: 16px; color: #663333}
A.link_blue {text-decoration: none; color: #030C2D}
A.link_black {text-decoration: none; color: #FFFFFF}
A.link_white {text-decoration: underline; color: #FFFFFF}
A.link_red {font-family: verdana, arial; text-decoration: underline; font-size: 18px; color: red}
A.link_red_large_times {font-family: georgia, times; font-size: 30px; text-decoration: underline; color: #993333}
A.link_red_small {font-family: verdana, arial, times; font-size: 14px; text-align: justify; text-decoration: none; color: #993333}
A.link_red_poster {font-family: times, verdana, arial; text-decoration: none; font-size: 16px; color: #993333}
A.link_red_poster_small {font-family: verdana, arial, times; font-size: 13px; text-align: justify; text-decoration: none; color: #993333}
A.link_red_poster_small:hover {font-family: verdana, arial, times; font-size: 12px; text-align: justify; text-decoration: underline; color: #030C2D}
A.link_red_poster_buynow {font-family: verdana, arial; text-align: right; text-decoration: none; font-size: 16px; color: #993333}
A.link_red_poster_buynow:hover {font-family: verdana, arial; text-align: right; text-decoration: underline; font-size: 16px; color: #993333}
A.link_red_poster_under {font-family: times, verdana, arial; text-decoration: underline; font-size: 18px; color: #030C2D}

.nonlink1 {text-decoration: none; color: #000000; font-family: verdana, times}

A.link2 {text-decoration: none; color: #C59E52; font-family: georgia, times; font-size: 16px}
A.link3 {text-decoration: underline; color: #D5BE72; font-family: verdana, times}
A.link4 {text-decoration: none; color: #C59E52; font-family: verdana, times}
A.link5 {text-decoration: underline; color: #C59E52; font-family: verdana, times}
A.link6 {text-decoration: none; color: #000000; font-family: verdana, times}
A.link7 {text-decoration: underline; color: #000000; font-family: verdana, times}
A.link8 {text-decoration: none; color: #f0ae39; font-family: verdana, times}

A.nolink {text-decoration: none; color: #030C2D}
A.none {text-decoration: none; color: #000000}
A.nonesuch {text-decoration: underline; color: #000000}
A.nolink2 {text-decoration: none; color: #000000}
A:hover {text-decoration: underline; color: #FF3333}

A:hover.link_black {text-decoration: underline; color: #000000}

td#contact {font-family: verdana, arial, times; font-size: 12px; text-align: justify; color: #222}

body {behavior: url(/css/csshover.htc);} /* WinIE behavior call */
div#nav {float: left; margin: -1px 0 0 0; background: #394d6b; border: 1px solid #AAA;}
div#nav ul {margin: 0; padding: .6 0 0 0; background: #394d6b; border: 1px solid #CCC; border-width: 0 1px; font-weight: bold; font-size: 14px; z-index: 100}
div#nav li {position: relative; list-style: none; margin: 0; float: left; width: 9.175em;/*line-height: 1em;*/padding-bottom:2px;}
div#nav li:hover {background: #c59e52;}
div#nav li.submenu { background: url('/graphics/marble_bg.jpg')  no-repeat;}
div#nav li.submenu:hover {background-color: #c59e52;}
div#nav li a {display: block; padding: 0.45em 0 0.25em 0.5em; text-decoration: none; width: 7em; font-family: verdana, arial, times; font-size: 11px; text-align: left; color: #EEE}
div#nav ul a {width: auto;}
div#nav ul ul {position: absolute; width: 9.175em; display: none; background-color: #394d6b; font-weight: normal; font-size: 16px;}
div#nav ul ul li {border-bottom: 1px solid #CCC;}
div#nav li.submenu li.submenu {background: url(foo.gif) 95% 50% no-repeat}
div#nav li.submenu li.submenu {background-color: #394d6b;}
div#nav li.submenu li.submenu:hover {background-color: #c59e52;}
div#nav ul.level1 li.submenu:hover ul.level2, 
div#nav ul.level2 li.submenu:hover ul.level3 {display:block;}
div#nav ul.level2 {top: 1.2em; left: -1px;}
div#nav ul.level3 {top: -1px; left: 7.9em; border-top: 1px solid #CCC; width:11em;} /*tweaked level3 properties */
div#artbook{max-width: 180px;}
/* Site Map Styles */
.level1 {font-family: verdana, arial, times; font-size: 16px; text-align: left; color: #222; font-weight: bold;}
.level2 {font-family: verdana, arial, times; font-size: 12px; text-align: left; color: #222; font-weight: normal;}
.level3 {font-family: verdana, arial, times; font-size: 12px; text-align: left; color: #222; font-weight: normal;}





img.floatLeft { 
    float: left; 
    margin: 4px; 
}
img.floatRight { 
    float: right; 
    margin: 4px; 
}

img.floatRightClear { 
    float: right; 
    clear: right; 
    margin: 4px; 
}
img.floatLeftClear { 
    float: left; 
    clear:left; 
    margin: 4px; 
}


