.mlddm
{	visibility: hidden;
	margin: 0;
	padding: 0;
	background: background-image: url(/graphics/marble_bg28.jpg);
	height: 28px}

	.mlddm li
	{	display: inline;
		list-style: none;
		margin: 0;
		padding: 0;
		float: left;
		font: 11px arial}

	.mlddm li a, .mlddm li a#buttonnohover
	{	display: block;
		text-align: center;
		white-space: nowrap;
		color: #FFF;
		padding: 7px 10px;
		margin: 0;
		width: 70px;
		text-decoration: none;
		font-weight: bold;
		
		background: transparent}

	.mlddm li a:hover, .mlddm li a#buttonhover
	{	color: #FFF;
		background: #213866}

		.mlddm ul
		{	z-index: 100;
			margin: 1px 0 0 0;
			padding: 0;
			visibility: hidden;
			position: absolute;
			clear: both;
			background: #4570CE url(/graphics/bg.jpg)}
		
		.mlddm ul li
		{	float: none}

		.mlddm ul li a
		{	width: auto;
			padding: 9px 15px;
			text-align: left;
			background: transparent}

		.mlddm ul li a:hover
		{	color: #FFF;
			padding: 8px 15px;
			border: 1px solid #528BFF;
			border-width: 1px 0px}

		.mlddm .hsub
		{	background: no-repeat right url(/graphics/arroww.gif)}

		.mlddm .hsub:hover
		{	background: #213866 no-repeat right url(/graphics/arroww.gif)}

/* Greg Ross - Temp Only */

.gsr-tempuseonly {
	line-height: 1;
	margin: 0px;
	padding: 0px;
}
.gsr-tempuseonly2 {
	font-size: 12pt;
	line-height: 1;
	margin: 0px;
	padding: 0px;
}
.gsr-tempuseonly3 {
	line-height: 1.6;
	margin: 0px;
	padding: 0px;
	font-size: 12pt;
	font-weight: bold;
}
.gsr-tempuseonly4 {
	line-height: 1;
	margin: 0px;
	padding: 0px;
	font-size: 14pt;
	font-weight: bold;
}
.gsr-tempuseonly3b {
	line-height: 1.4;
	margin: 0px;
	padding: 0px;
	font-size: 12pt;
	font-weight: bold;
	letter-spacing: 1px;
}
.gsr-tempuseonly2b {
	font-size: 12pt;
	line-height: 1;
	padding: 0px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
