﻿@model CodexMVC.Models.AddCollectionModel

@{
    ViewBag.Title = "Add an art collection";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    form label small {
        color: #888;
        font-weight: 200;
    }
</style>

<h2>Add an art collection <small>An art collection is any kind of physical container of art. It could be a museum, gallery, building, public square, or even a sub-section of another collection (such as a chapel or hall)</small></h2>

@using (Html.BeginForm("Add", "Collection", FormMethod.Post, new { id = "main-form", enctype = "multipart/form-data" }))
{
    <div id="main-template" class="artwork-form">
        <div class="row">
            <div class="form-group col-md-2">
                <label>Article <small>e.g., 'The', 'A'</small></label>
                @Html.TextBoxFor(x => x.Article, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Article)
            </div>
            <div class="form-group col-md-10">
                @Html.LabelFor(x => x.Name)
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", data_bind = "value: $data.name" })
                @Html.ValidationMessageFor(x => x.Name)
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Importance <small>A <strong style="color: red;">5 star</strong> work is a must see for everyone and a <strong style="color: red;">1 star</strong> work is of specialist interest; anything below <strong style="color: red;">4 stars</strong> means the work <em>might not</em> appear in an image stream</small></label>
                @Html.TextBoxFor(x => x.Rating, new { @class = "form-control rating" })
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <label>Ordinal <small>The numerical order of the item in a sequence</small></label>
                        @Html.TextBoxFor(x => x.Ordinal, new { type = "number", min = 0, max = 100, @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Ordinal)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Trip Advisor Location ID <small>The matching location in Trip Advisor</small></label>
                        @Html.TextBoxFor(x => x.TripAdvisorLocationId, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.TripAdvisorLocationId)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(x => x.Description)
                @Html.TextAreaFor(x => x.Description, new { rows = 10, data_provide = "markdown-editable", data_autofocs = "true", @class = "form-control input-lg" })
                @Html.ValidationMessageFor(x => x.Description)
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Image Upload</label>
                            @Html.TextBoxFor(x => x.Image, new { type = "file", @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Image)
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Image Credit</label>
                        @Html.TextBoxFor(x => x.Source, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Image URL <small>URL of the image if downloaded from the web</small></label>
                        @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <h4>Public Domain? <small>The image is in the public domain</small></h4>
                        </div>
                        <div class="col-md-2 form-group">
                            @Html.RadioButtonFor(x => x.PublicDomain, "true")
                            <label>Yes</label>
                        </div>
                        <div class="col-md-2 form-group">
                            @Html.RadioButtonFor(x => x.PublicDomain, "false")
                            <label>No</label>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label>Latitude</label>
                        @Html.TextBoxFor(x => x.Latitude, new { @class = "form-control", data_bind = "value: $data.latitude" })
                    </div>
                    <div class="col-md-6">
                        <label>Longitude</label>
                        @Html.TextBoxFor(x => x.Longitude, new { @class = "form-control", data_bind = "value: $data.longitude" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">

                        <button type="button" data-bind="click: $data.geocodeClicked" class="btn btn-default">Geocode</button>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label>Is a <small>The kind of collection</small></label>
                @Html.DropDownListFor(x => x.CategoryGuid, new SelectList(Model.CollectionTypes, "Value", "Text"), new { @class = "form-control" })
            </div>
            <div class="form-group col-md-4">
                <div class="row">
                    <div class="col-md-11">
                        <label>Sub-section of <small>Such as a museum, a church, etc</small></label>
                        @Html.DropDownListFor(x => x.LocatedInGuid, new SelectList(Model.Collections, "Value", "Text"), new { @class = "form-control" })
                    </div>
                    <div class="col-md-1">
                        <a href="/Admin/Collection/Add" target="_blank" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span></a>
                        <a href="#" onclick="refreshLocatedInClicked(); return false;" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-refresh"></span></a>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4">
                <div class="row">
                    <div class="col-md-11">
                        <label>Located at <small>Only supply if 'sub-section of' <b>is not</b> used</small></label>
                        @Html.DropDownListFor(x => x.LocatedAtGuid, new SelectList(Model.Places, "Value", "Text"), new { @class = "form-control" })

                    </div>
                    <div class="col-md-1">
                        <a href="/Admin/Place/Add" target="_blank" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span></a>
                        <a href="#" onclick="refreshLocatedAtClicked(); return false;" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-refresh"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-lg" onclick="return saveClicked();">Save</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="'col-md-12">
                    <div class="col-md-2">
                        <h4>Opening hours</h4>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Mon</label>
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.OpenDayStart[0], new { placeholder = "00:00", @class = "form-control" })
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.OpenDayEnd[0], new { placeholder = "00:00", @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Tue</label>
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.OpenDayStart[1], new { placeholder = "00:00", pattern = "^([0-9]{2}:[0-9]{2})?$", @class = "form-control" })
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.OpenDayEnd[1], new { placeholder = "00:00", pattern = "^([0-9]{2}:[0-9]{2})?$", @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Wed</label>
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.OpenDayStart[2], new { placeholder = "00:00", pattern = "^([0-9]{2}:[0-9]{2})?$", @class = "form-control" })
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.OpenDayEnd[2], new { placeholder = "00:00", pattern = "^([0-9]{2}:[0-9]{2})?$", @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Thu</label>
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.OpenDayStart[3], new { placeholder = "00:00", pattern = "^([0-9]{2}:[0-9]{2})?$", @class = "form-control" })
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.OpenDayEnd[3], new { placeholder = "00:00", pattern = "^([0-9]{2}:[0-9]{2})?$", @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Fri</label>
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.OpenDayStart[4], new { placeholder = "00:00", pattern = "^([0-9]{2}:[0-9]{2})?$", @class = "form-control" })
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.OpenDayEnd[4], new { placeholder = "00:00", pattern = "^([0-9]{2}:[0-9]{2})?$", @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Sat</label>
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.OpenDayStart[5], new { placeholder = "00:00", pattern = "^([0-9]{2}:[0-9]{2})?$", @class = "form-control" })
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.OpenDayEnd[5], new { placeholder = "00:00", pattern = "^([0-9]{2}:[0-9]{2})?$", @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Sun</label>
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.OpenDayStart[6], new { placeholder = "00:00", pattern = "^([0-9]{2}:[0-9]{2})?$", @class = "form-control" })
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(x => x.OpenDayEnd[6], new { placeholder = "00:00", pattern = "^([0-9]{2}:[0-9]{2})?$", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <label>
                            Address <small>The street address</small>
                        </label>
                        @Html.TextAreaFor(x => x.Address, new { rows = 4, data_provide = "markdown-editable", data_autofocs = "true", @class = "form-control input-lg" })
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>
                            Directions <small>How to get there, e.g., from the train station, by foot, etc.</small>
                        </label>
                        @Html.TextAreaFor(x => x.Directions, new { rows = 4, data_provide = "markdown-editable", data_autofocs = "true", @class = "form-control input-lg" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>
                            Website
                        </label>
                        @Html.TextBoxFor(x => x.Website, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>
                            Phone <small>Include international area code</small>
                        </label>
                        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>
                    Email
                </label>
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                <label>Affiliation Code</label>
                @Html.TextBoxFor(x => x.AffiliationCode, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                <label>Ticket Purchase URL</label>
                @Html.TextBoxFor(x => x.PurchaseTicketUrl, new { @class = "form-control" })
            </div>
        </div>
        

        <div class="modal fade" id="geocode-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Matching locations from Google Maps</h4>
                    </div>
                    <div class="modal-body" style="margin-top: 20px;">
                        <div id="geocode-modal-template">
                            <div class="row">
                                <div style="display:none;" data-bind="visible: $data.results().length, foreach: $data.results">
                                    @*<a href="#" class="btn btn-default" data-bind="click: $root.hideClicked.bind($root)">Hide</a>*@
                                    <div class="form-horizontal">
                                        <div class="col-sm-2">
                                            <button type="button" class="btn btn-default" name="result" data-bind="value: $index, click: $root.resultClicked.bind($root)">Select</button>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div data-bind="foreach: $data.address_components">
                                                        <strong>
                                                            <span data-bind="text: $data.long_name"></span>
                                                            <span data-bind="text: ' (' + ($data.short_name ? $data.short_name : '<none>') + ')'"></span>
                                                        </strong>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <span data-bind="text: $data.types.join(';')"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <div class="modal fade" id="confirm-collection-add-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Are you <em><b>sure</b></em> that the agent <em><b>is not</b></em> one of the following?</h4>
                    </div>
                    <div class="modal-body modal-large">
                        <div id="confirm-collection-add-modal-template" style="padding: 20px;">
                            <div class="row">
                                <div class="justified-small">
                                    <!-- ko foreach: $data.Collections -->
                                    <h4>
                                        <span data-bind="html: $data.Text"></span>
                                        <a target="_blank" href="#" data-bind="attr: { href: '/Admin/Collection/ViewDetail/' + $data.Value }" class="btn btn-default btn-sm">see</a>
                                    </h4>
                                    <!-- /ko -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="#" onclick="proceed(); return false;" class="btn btn-default btn-primary">Yes, I'm sure</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div>
}



@section scripts {
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtULLEkACV1qYgWl-YAFwjRoKRpHOyW9I"></script>
    <script>
        $(".rating").rating({
            min: 1, max: 5, size: "lg", step: 1
        });
    </script>
    <script>
        $("select").select2();
    </script>
    <script>
        var select = app.Utils.select;
        var FormStateEnum = {
            "Proceed": "Proceed",
            "Validate": "Validate"
        };
        var FormState = FormStateEnum.Validate;
        function proceed() {
            FormState = FormStateEnum.Proceed;
            $("#main-form").submit();
        }
        var ConfirmCollectionModal = {
            Collections: ko.observableArray([])
        };
        var templateNode = document.getElementById("confirm-collection-add-modal-template");
        ko.applyBindings(ConfirmCollectionModal, templateNode);
        function saveClicked() {
            if (FormState == FormStateEnum.Proceed) {
                return true;
            }
            var params = {
                name: $("#Name").val()
            };
            $.get("/Admin/Collection/CheckForDuplicates", params, function (data) {
                if (data.Collections.length == 0) {
                    return proceed();
                }
                var modal = $("#confirm-collection-add-modal");
                ConfirmCollectionModal.Collections(data.Collections);
                modal.show();
                modal.modal({ show: true });
            });
            return false;
        }
    </script>

    <script type="text/javascript">
        var Model = (function () {
            function Model() {
                this.name = ko.observable($("#Name").val());
                this.latitude = ko.observable($("#Latitude").val());
                this.longitude = ko.observable($("#Longitude").val());
                this.results = ko.observableArray([]);
                this.modal = $("#geocode-modal");
            }
            Model.prototype.resultClicked = function (data) {
                // this.name(data.address_components[0].long_name);
                this.latitude(data.geometry.location.lat());
                this.longitude(data.geometry.location.lng());
                this.modal.hide();
                return true;
            };
            Model.prototype.hideClicked = function () {
                this.results([]);
                this.modal.hide();
            };
            Model.prototype.geocodeClicked = function () {
                this.results([]);
                var geocoder = new google.maps.Geocoder();
                geocoder.geocode({
                    address: this.name()
                }, function (results, status) {
                    console.log(results, status);
                    if (status == google.maps.GeocoderStatus.OK) {
                        this.modal.show();
                        this.modal.modal({
                            show: true
                        });
                        this.results(results);
                    } else {

                    }
                }.bind(this));
                return false;
            };
            return Model;
        })();
        var model = new Model();
        ko.applyBindings(model, document.getElementById("main-template"));
    </script>
    <script>
        function refreshLocatedAtClicked() {
            refreshList("/API/GetPlacesList", ["LocatedAtGuid"]);
        }
        function refreshLocatedInClicked() {
            refreshList("/API/GetCollectionsList", ["LocatedInGuid"]);
        }
        function refreshList(apiMethod, listIds) {
            $.get(apiMethod, null, function (data) {
                $.each(listIds, function (__, listId) {
                    var list = $("#" + listId);
                    var selectedValue = list.val();
                    list.empty();
                    $.each(data.Items, function (__, item) {
                        list.append($("<option></option>").attr("value", (item.Value || "")).text((item.Text || "")));
                    });
                    list.val(selectedValue);
                });
            });
        }
    </script>

}