﻿@model CodexMVC.Models.ViewCollectionList
@{
    ViewBag.Title = "Collections";
    ViewBag.Section = "Collection";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    ul {
        list-style: none;
    }
</style>

<div class="page-header">
    <h1>Collections</h1>
</div>

<div>
    <a href="/Admin/Collection/Add" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>
</div>

@*<div class="row">
        <div class="col-md-12">
            <a href="/Agent/List?mode=ByArtist" class="btn btn-default">Alphabetical</a>
            <a href="/Agent/List?mode=ByCitizenship" class="btn btn-default">By Place</a>
            <a href="/Agent/List?mode=ByRepresentativeOf" class="btn btn-default">By Style</a>
            <a href="/Agent/List?mode=ByAttribute" class="btn btn-default">By Profession</a>
            <a href="/Agent/List?mode=ByDateOfBirth" class="btn btn-default">By Date</a>
        </div>
    </div>*@

@if (Model.Collections != null && Model.Collections.Any())
{
    <ul>
        @foreach (var subitem in Model.Collections.OrderBy(x => x.Collection.Name))
        {
            <li>
                <h4>
                    <a href="/Admin/Collection/ViewDetail/@subitem.Collection.Guid">@subitem.Collection.ToDisplay()</a>
                    @if (subitem.Attributes.Any())
                    {
                        var attributes = subitem.Attributes.Where(x => x.Name != Data.Entities.Label.Categories.Collection);
                        <small>
                            @string.Join(", ", attributes.Select(x => x.Name.ToLower()))
                            @if (subitem.Inside.Any())
                            {
                                <span>in @string.Join(", ", subitem.Inside.First().Name)</span>
                            }
                        </small>
                    }
                </h4>

            </li>
        }
    </ul>


}