﻿<div data-bind="if: $data.person">
    <h2 data-bind="text: $data.person().Name"></h2>    
</div>
<div data-bind="if: $data.computed.hasCategories">
    <ul data-bind="foreach: $data.categories">
        <li>
            <span data-bind="text: $data[0].Name"></span>&nbsp;(
            <span data-bind="foreach: $data.slice(1)">
                <a data-bind="click: $parents[1].categoryClicked.bind($parents[1])"><span data-bind="text: $data.Name"></span></a>
                <span data-bind="if: $index() < ($parent.length -2)">
                    &nbsp;/
                </span>
            </span>
            )
        </li>
    </ul>
</div>
<div data-bind="if: $data.computed.hasCreated">
    <h3>created ...</h3>
    <div data-bind="foreach: $data.facts.created">
        <div style="float: right; padding: 10px;border:1px solid #808080">
            <div data-bind="if: $data.model.Artwork.ImageUrl">
                <img src="#" data-bind="attr: { src: $data.model.Artwork.ImageUrl }" />
            </div>
            <a href="#" data-bind="click: $parent.createdClicked.bind($parent)">
                <span data-bind="text: $data.model.Artwork.Name"></span>
            </a>
            @*<span data-bind="text: $data.Artwork.type"></span>*@
            <div>
                <span data-bind="if: $data.computed.hasStart">
                    <span data-bind="text: ($data.computed.hasFinish() ? 'from' : 'in')"></span> <span data-bind="text: $data.computed.start"></span>
                </span>
                <span data-bind="if: $data.computed.hasFinish">
                    to <span data-bind="text: $data.computed.finish"></span>
                </span>
                <span data-bind="if: $data.computed.hasPatron">
                    for <a data-bind="click: $data.patronClicked"><span data-bind="text: $data.computed.patron"></span></a>
                </span>
                <span data-bind="if: $data.model.Place">
                    in <a data-bind="click: $data.placeClicked"><span data-bind="text: $data.model.Place.Name"></span></a>
                </span>
            </div>
        </div>
    </div>
</div>
<div data-bind="if: $data.computed.hasLivedAt">
    <h3>lived at ...</h3>
    <ul data-bind="foreach: $data.facts.livedAt">
        <li>
            <a href="#" data-bind="click: $parent.livedAtClicked.bind($parent)">
                <span data-bind="text: $data.place.name"></span>
            </a> from <span data-bind="text: $data.start"></span> to <span data-bind="text: $data.finish"></span>
        </li>
    </ul>
</div>
