﻿@using CodexMVC.Helpers
@using Data.Entities
@using Services
@model CodexMVC.Models.ViewCompareActionModel
@{
    ViewBag.Title = "Compare Actions";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var showMap = Model.Timelines != null && Model.Timelines.Time != null && Model.Timelines.Time.Any();
}


@helper TimelineItem(NewAct newAct)
{
    <div style="position: relative;">
        <div>
            <span style="">
                @Html.Raw(newAct.ToHtml())
            </span>
        </div>
    </div>
}

@functions {
    public string Month(int month)
    {
        switch (month)
        {
            case 1: return "January";
            case 2: return "February";
            case 3: return "March";
            case 4: return "April";
            case 5: return "May";
            case 6: return "June";
            case 7: return "July";
            case 8: return "August";
            case 9: return "September";
            case 10: return "October";
            case 11: return "November";
            case 12: return "December";
            case 13: return "Spring";
            case 14: return "Summer";
            case 15: return "Autumn";
            case 16: return "Winter";
            case 17: return "Early";
            case 18: return "Late";
            default: return "???";
        }
    }
    public string NameOf(IEntity entity)
    {
        if (entity is Data.Agent)
        {
            return ((Data.Agent)entity).FullName2;
        }
        if (entity is Artefact)
        {
            return ((Artefact)entity).ToDisplay();
        }
        return entity.Name;
    }
}

<style type="text/css">
    #map {
        width: 100%;
        height: 300px;
        margin: 0;
        padding: 0;
    }


    #timeline-modal .modal-dialog {
        width: 950px;
        height: 600px;
    }

    .field-validation-error {
        color: red;
    }
</style>

<h2>Action Comparisons <small>Select two actions and see them side-by-side</small></h2>

@using (Html.BeginForm("CompareAction", "Time"))
{
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>First Action</label>
                @Html.DropDownListFor(x => x.ActionGuid1, Model.Actions, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.ActionGuid1)
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Second Action</label>
                @Html.DropDownListFor(x => x.ActionGuid2, Model.Actions, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.ActionGuid2)
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-default btn-primary btn-lg">Compare!</button>
        </div>
    </div>
}

@if (showMap)
{

    <div class="row">
        <div class="col-md-6">
            <h4>@Model.Action1.Name</h4>
            <span>
                <input type="checkbox" checked data-active="true" id="hotspots1" onclick="hotspots1(this);" />
                <label for="hotspots1">Hot Spots</label>
            </span>
            <span>
                <input type="checkbox" data-active="false" id="hotspots1" onclick="pins1(this);" />
                <label for="hotspots1">Pins</label>
            </span>
        </div>
        <div class="col-md-3">
            <h4>@Model.Action2.Name</h4>
            <span>
                <label for="hotspots2">Hot Spots</label>
                <input type="checkbox" checked data-active="true" id="hotspots2" onclick="hotspots2(this);" />
            </span>
            <span>
                <label for="hotspots2">Pins</label>
                <input type="checkbox" data-active="false" id="hotspots2" onclick="pins2(this);" />
            </span>
        </div>
        <div class="col-md-3">
            <a href="#" onclick="toggleMapExpansion(); return false;" style="float: right;" class="btn btn-default btn-sm">
                <span id="map-expando" class="glyphicon glyphicon-resize-full"></span>
            </a>

            <a href="/Agent/TimelineCompareAction?action1=@Model.Action1&action2=@Model.Action2" onclick="showTimeline(); return false;" style="float: right;" target="_blank" class="btn btn-default btn-primary btn-sm">Slideshow</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div>
                <div id="map">
                </div>
            </div>
        </div>
    </div>
}

@if (showMap)
{
    <div class="row">
        <table class="table table-condensed table-hover table-responsive">
            <tr>
                <th style="width: 10%;">

                </th>
                @{
    var agents = Model.Timelines.Time.First().Value;
    int colWidth = 90 / agents.Count();
                }
                @foreach (var time in Model.Timelines.Time.First().Value)
                {
                    <th style="width: @(colWidth)%;">
                        <h3>
                            @NameOf(time.Agent)
                        </h3>
                    </th>
                }
            </tr>
            @{
                int lastYear = 0;
                int lastMonth = 0;
                var lastDay = 0;
            }
            @foreach (KeyValuePair<string, List<CodexMVC.Models.Timeline>> timeline in Model.Timelines.Time)
            {
                <tr>
                    <td>
                        @{
                var date = timeline.Key;
                var dateParts = date.Split('/');
                var year = int.Parse(dateParts[0]);
                var month = dateParts.Length >= 2 ? int.Parse(dateParts[1]) : 0;
                var day = dateParts.Length >= 3 ? int.Parse(dateParts[2]) : 0;
                        }
                        @{
                if (year != lastYear)
                {
                    lastYear = year;
                    lastMonth = 0;
                    lastDay = 0;
                    <h2>
                        @year
                    </h2>
                }
                        }
                        @if (month != lastMonth)
                        {
                            lastMonth = month;
                            lastDay = 0;
                        }
                        @if (day != lastDay)
                        {
                            lastDay = day;
                        }
                        @if (month != 0)
                        {
                            <h4>
                                @Month(lastMonth) @(lastDay > 0 ? lastDay.ToString() : "")
                            </h4>
                        }
                    </td>
                    @foreach (var item in timeline.Value)
                    {
                        <td>
                            <ul style="list-style: none;">
                                @foreach (var newAct in item.NewActs)
                                {
                                    var rowStyle = timeline.Value.Where(x => x != item).Any(x => x.NewActs.Any(x2 => x2.Act.Guid == newAct.Act.Guid)) ? "background-color: yellow;" : "";
                                    <li style="">
                                        @TimelineItem(newAct)
                                    </li>
                                }
                            </ul>
                        </td>
                    }
                </tr>
            }
        </table>

    </div>
}

<div class="modal fade" id="timeline-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" style="margin-top: 20px;">
                <iframe id="timeline-iframe" style="width: 900px; height: 700px;"></iframe>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section scripts {
    <script>
        $("select").select2();
    </script>

    @if (showMap)
    {

        <script>
            function showTimeline(){
                var modal = $("#timeline-modal");
                var iframe = document.getElementById('timeline-iframe');
                iframe.src = "/Agent/TimelineCompareAction?artistGuid1=@Model.ActionGuid1&artistGuid2=@Model.ActionGuid2";
                modal.modal({ show: true });
            }
        </script>

        <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyAtULLEkACV1qYgWl-YAFwjRoKRpHOyW9I">
        </script>
        <script src="~/Scripts/google.maps.markerclusterer.js"></script>
        <script src="~/Scripts/google.maps.cluster.js"></script>

        <script>
            /**
            Globals
            **/
            var dataset = {
                map: null,
                timeline: {

                },
                timeline2: {

                }
            };

            var HeatmapGradient = {
                Hot: null,
                Cold: [
                  'rgba(0, 255, 255, 0)',
                  'rgba(0, 255, 255, 1)',
                  'rgba(0, 191, 255, 1)',
                  'rgba(0, 127, 255, 1)',
                  'rgba(0, 63, 255, 1)',
                  'rgba(0, 0, 255, 1)',
                  'rgba(0, 0, 223, 1)',
                  'rgba(0, 0, 191, 1)',
                  'rgba(0, 0, 159, 1)',
                  'rgba(0, 0, 127, 1)',
                  'rgba(63, 0, 91, 1)',
                  'rgba(127, 0, 63, 1)',
                  'rgba(191, 0, 31, 1)',
                  'rgba(255, 0, 0, 1)'
                ]
            };

            function initialiseTimelineMap1() {

                var markers = [];
                @foreach (var item in Model.Markers1)
            {
                foreach (var subitem in item)
                {
                <text>
                buildMarkerList(markers, @(subitem.Latitude), @subitem.Longitude, "@Html.Raw(subitem.ContainerName)", "@Html.Raw(subitem.Content.Replace("\"", "'"))");
                </text>
                                        }
                                        }
                if (markers.length) {
                    var heatmap = @Html.Raw(Json.Encode(Model.Heatmap1));
                    var result = generateMarkersAndHeatMap(markers, dataset.map, heatmap, HeatmapGradient.Hot);
                    dataset.timeline = result;
                }
            }

            function initialiseTimelineMap2() {

                var markers = [];
                @foreach (var item in Model.Markers2)
                {
                    foreach (var subitem in item)
                    {
                        <text>
                buildMarkerList(markers, @(subitem.Latitude), @subitem.Longitude, "@Html.Raw(subitem.ContainerName)", "@Html.Raw(subitem.Content.Replace("\"", "'"))");
                </text>
                    }
                }
                if (markers.length) {
                    var heatmap = @Html.Raw(Json.Encode(Model.Heatmap2));
                    var result = generateMarkersAndHeatMap(markers, dataset.map, heatmap, HeatmapGradient.Cold);
                    dataset.timeline2 = result;
                }
            }

            function buildMarkerList(list, lat, lng, title, content) {
                var item = find(list, function (item) {
                    return item.lat == lat && item.lng == lng;
                });
                if (item) {
                    item.infoWindows.push({ title: title, content: content });
                } else {
                    var temp = {
                        lat: lat, lng: lng, infoWindows: [{ title: title, content: content }]
                    };
                    list.push(temp);
                }
            }

            var select = app.Utils.select;
            var find = app.Utils.find;
            var each = app.Utils.each;
            var where = app.Utils.where;

            function generateMarkersAndHeatMap(list, map, heatmapData, heatmapGradient) {
                var markerList = select(list, function (item, __, index) {
                    var content = select(item.infoWindows, function (iw) {
                        return "<p>" + iw.content + "</p>";
                    });
                    var infowindow = new google.maps.InfoWindow({
                        content: $("<div id=\"content\" style='min-height: 150px; width: 600px;'><div id='bodyContent' style='line-height: 14px;'><p><b>{title}</b></p><div style='-webkit-column-count: 1;'>{content}</div></div></div>".fmt({
                            content: content.join(""), title: item.infoWindows[0].title || "test"
                        }))[0]
                    });
                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(item.lat, item.lng),
                        title: ""
                    });

                    google.maps.event.addListener(marker, 'click', function () {
                        infowindow.open(map, marker);
                    });

                    return {
                        marker: marker,
                        infoWindow: infowindow
                    }
                });

                var markers = select(markerList, function (item) { return item.marker });
                var cluster = new MarkerClusterer(map, markers);

                var heatmapTransformed = select(heatmapData, function(item){
                    return {
                        location: new google.maps.LatLng(item.Latitude, item.Longitude),
                        weight: item.Weight
                    };
                });
                var heatmap = new google.maps.visualization.HeatmapLayer({
                    data: heatmapTransformed
                });

                heatmap.set('radius', 30);
                heatmap.set('gradient', heatmapGradient);

                return {
                    markers: markers,
                    heatmap: heatmap,
                    cluster: cluster
                };
            }

            function toggle() {
                var set = dataset[dataset.current];
                if (dataset.state == "markers"){
                    hideMarkers(set);
                    showHeatMap(set);
                    dataset.state = "heatmap";
                } else if (dataset.state == "heatmap") {
                    hideHeatMap(set);
                    showMarkers(set);
                    dataset.state = "markers";
                }
            }

            function toggle1() {
                var set = dataset.timeline;
                if (dataset.state == "markers"){
                    hideMarkers(set);
                    showHeatMap(set);
                    dataset.state = "heatmap";
                } else if (dataset.state == "heatmap") {
                    hideHeatMap(set);
                    showMarkers(set);
                    dataset.state = "markers";
                }
            }

            function toggle2() {
                var set = dataset.timeline2;
                if (dataset.state == "markers"){
                    hideMarkers(set);
                    showHeatMap(set);
                    dataset.state = "heatmap";
                } else if (dataset.state == "heatmap") {
                    hideHeatMap(set);
                    showMarkers(set);
                    dataset.state = "markers";
                }
            }

            function hotspots1(cbox){
                var set = dataset.timeline;
                var active = $(cbox).attr('checked');
                $(cbox).attr('checked', !active);
                if (active) {
                    hideHeatMap(set);
                } else {
                    showHeatMap(set);
                }
            }

            function pins1(cbox){
                var set = dataset.timeline;
                var active = $(cbox).attr('checked');
                $(cbox).attr('checked', !active);
                if (active) {
                    hideMarkers(set);
                } else {
                    showMarkers(set);
                }
            }

            function hotspots2(cbox){
                var set = dataset.timeline2;
                var active = $(cbox).attr('checked');
                $(cbox).attr('checked', !active);
                if (active) {
                    hideHeatMap(set);
                } else {
                    showHeatMap(set);
                }
            }

            function pins2(cbox){
                var set = dataset.timeline2;
                var active = $(cbox).attr('checked');
                $(cbox).attr('checked', !active);
                if (active) {
                    hideMarkers(set);
                } else {
                    showMarkers(set);
                }
            }

            function hideMarkers(set){
                each(set.markers, function(m){
                    m.setMap(null);
                });
                if (set.cluster) set.cluster.clearMarkers();
            }

            function fitBounds(markers){
                var bounds = new google.maps.LatLngBounds();
                each(where(markers, function(x) { return x; }), function(marker) {
                    bounds.extend(marker.getPosition());
                });
                dataset.map.fitBounds(bounds);
            }

            function showMarkers(set){
                each(set.markers, function(m){
                    m.setMap(dataset.map);
                });
                if (set.cluster) set.cluster.addMarkers(set.markers);
            }

            function hideHeatMap(set){
                if (set.heatmap) set.heatmap.setMap(null);
            }

            function showHeatMap(set) {
                if (set.heatmap) set.heatmap.setMap(dataset.map);
            }

            function toggleMapExpansion(link) {
                var expando = $("#map-expando");
                var $map = $("#map");
                var height = parseInt($map.css("height"));
                var isContracted = height == 300;
                if (isContracted) {
                    expando.removeClass("glyphicon-resize-full");
                    expando.addClass("glyphicon-resize-small");
                }
                else {
                    expando.removeClass("glyphicon-resize-small");
                    expando.addClass("glyphicon-resize-full");
                }
                $map.css("height", isContracted ? "600px" : "300px");
                google.maps.event.trigger(dataset.map, "resize");
            }

            if (typeof window.google != "undefined"){
                var mapOptions = {
                    zoom: 14
                };
                dataset.map = new google.maps.Map(document.getElementById('map'), mapOptions);
                initialiseTimelineMap1();
                initialiseTimelineMap2();

                dataset.current = "timeline";
                dataset.state = "markers";

                hideMarkers(dataset.timeline);
                showHeatMap(dataset.timeline);

                hideMarkers(dataset.timeline2);
                showHeatMap(dataset.timeline2);

                var allMarkers = dataset.timeline.markers.concat(dataset.timeline2.markers);
                fitBounds(allMarkers);
            }

            function hideArtworksMap() {

            }
        </script>

    }
}