﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Codex | Control Panel</title>
    <link href="~/Content/bootstrap-3.3.2-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.structure.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.theme.min.css" rel="stylesheet" />
    <link href="~/Content/jqcloud.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
    <style>
        thead, tbody {
        }

        tbody {
            height: 800px; /* Just for the demo          */
            overflow-y: auto; /* Trigger vertical scroll    */
            overflow-x: hidden; /* Hide the horizontal scroll */
        }

        #map {
            width: 100%;
            height: 700px;
            margin: 0;
            padding: 0;
        }

        .card-container {
            width: 100%;
            padding: 40px;
        }

        .card {
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 3px;
            font-size: 1em;
        }
    </style>

</head>
<body>
    <script type="text/html" id="loader-template">

    </script>
    <script type="text/html" id="filters-template">

    </script>
    <script type="text/html" id="modes-template">

    </script>
    <script type="text/html" id="list-view-template">

        <div class="modal  fade" id="entity-search-modal" style="display: none;" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Search</h4>
                    </div>
                    <div class="modal-body">
                        <!-- ko if: $data.searchResults() -->
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Agents</h4>
                                <ul data-bind="foreach: $data.searchResults().Agents">
                                    <li>
                                        <a href="#" data-bind="html: $data.Text, click: $root.loadAgent.bind($root)"></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <h4>Places</h4>
                                <ul data-bind="foreach: $data.searchResults().Places">
                                    <li>
                                        <a href="#" data-bind="html: $data.Text, click: $root.loadPlace.bind($root)"></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <h4>Tags</h4>
                                <ul data-bind="foreach: $data.searchResults().Tags">
                                    <li>
                                        <a href="#" data-bind="html: $data.Text, click: $root.loadTag.bind($root)"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div style="width: 100%; position: fixed; bottom: 0; z-index: 10; background-color: #fff; border-top: 3px solid #333; padding: 10px;" data-bind="style: { height: $data.showControlPanel() ? '300px' : '50px' }">

            <div class="row">
                <div class="col-md-12">
                    <span style="font-size: 1.25em;">
                        Control Panel
                    </span>
                    <div class="pull-right">
                        <span style="font-size: 2em;" data-bind="click: $data.hideControlPanelClicked, visible: $data.showControlPanel()" class="glyphicon glyphicon-chevron-down"></span>
                        <span style="font-size: 2em;" data-bind="click: $data.showControlPanelClicked, visible: false == $data.showControlPanel()" class="glyphicon glyphicon-chevron-up"></span>
                    </div>
                </div>
            </div>

            <div data-bind="visible: $data.showControlPanel">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <label>
                                    Load data streams by entities
                                </label>
                                <p>
                                    Type in the name of a person, place, or subject
                                </p>
                                <p style="font-size: 0.75em;">
                                    Suggestions: Michelangelo; Florence; death; tax
                                </p>
                                <p>
                                    <input type="text" data-bind="value: $data.query" style="width: 50%;" />
                                    <button type="button" class="btn btn-primary" data-bind="click: $data.searchClicked">search</button>
                                </p>

                            </div>
                            <div class="col-md-6">
                                <label>
                                    Load data streams by date
                                </label>
                                <p>
                                    Type in a year, or the start and end year range
                                </p>
                                <p style="font-size: 0.75em;">
                                    Suggestions: from <b>1480</b> to <b>1490</b>
                                </p>
                                <p>
                                    from <input type="text" style="width: 50px;" data-bind="value: $data.queryFrom" />
                                    to <input type="text" style="width: 50px;" data-bind="value: $data.queryTo" />
                                    <button type="button" class="btn btn-primary" data-bind="click: $data.loadDateRangeClicked">load</button>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <label>
                                    Filter data streams by date
                                </label>
                                <p>
                                    Enter a start and end year range
                                </p>
                                from <input type="text" style="width: 50px;" data-bind="value: $data.from" /> to <input type="text" style="width: 50px;" data-bind="value: $data.to" />
                                <button type="button" data-bind="click: $data.clearDates" class="btn btn-default">clear</button>
                            </div>
                            <div class="col-md-6">
                                <p style="position: relative;">
                                    <input id="enableSlider" type="checkbox" data-bind="checked: $data.enableSlider" />
                                    <label for="enableSlider">Enable timeline slider</label>
                                <p>
                                    Allows you to scroll through the data streams one year at a time
                                    <div style="position: relative; top: -10px; left: 200px; font-size: 1.5em;" data-bind="text: $data.currentYear"></div>
                                    <div data-bind="slider: $data.currentYear, enable: $data.enableSlider, min: $data.minDate, max: $data.maxDate">
                                    </div>
                                </p>
                            </div>
                        </div>
                        @*<span data-bind="click: $data.playClicked, visible: !$data.player() || $data.player() == 'Paused'
                                " class="glyphicon glyphicon-play"></span>
                            <span data-bind="click: $data.pauseClicked, visible: $data.player() == 'Playing'" class="glyphicon glyphicon-pause"></span>
                            <span data-bind="click: $data.stopClicked, visible: $data.player() == 'Playing' ||  $data.player() == 'Paused'" class="glyphicon glyphicon-stop"></span>*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p style="font-size: 1em;">
                            You can <b>add</b> as many data streams as you want; <b>show</b> and <b>hide</b> them; or <b>delete</b> them. Mousing-over an entity below will <span style="color: red;">highlight</span> their data points on the map.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div data-bind="foreach: $data.selectedOwners">
                        <div class="col-md-2">
                            <div style="float: left; margin-right: 5px; height: 25px; width: 25px;" data-bind="style: { backgroundColor: $data.owner.hue }"></div>
                            <input type="checkbox" data-bind="checked: $data.owner.selected" />
                            <span style="font-size: 1.25em;" data-bind="text: $data.owner.name, event: { mouseover: $parent.ownerNameMouseover.bind($parent), mouseout: $parent.ownerNameMouseout.bind($parent) }"></span>
                            <button type="button" style="margin-left: 5px;" data-bind="click: $parent.removeOwnerClicked.bind($parent)">x</button>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px; border-top: 2px dashed #ccc; padding: 5px; padding-top: 10px;">
                    <div class="col-md-12">                        
                        <div class="row">
                            <div class="col-md-2">
                                <input type="radio" name="overlay" id="overlay-map" value="Map" data-bind="checked: $data.overlay, click: $data.overlayClicked" />
                                <label for="overlay-map">
                                    Map
                                </label>
                            </div>
                            <div class="col-md-2">
                                <input type="radio" name="overlay" id="overlay-clouds" value="Chronology" data-bind="checked: $data.overlay, click: $data.overlayClicked" />
                                <label for="overlay-clouds">
                                    Chronology
                                </label>
                            </div>
                            <div class="col-md-2">
                                <input type="radio" name="overlay" id="overlay-clouds" value="Clouds" data-bind="checked: $data.overlay, click: $data.overlayClicked" />
                                <label for="overlay-clouds">
                                    Semantics
                                </label>
                            </div>
                            <div class="col-md-2">
                                <input type="radio" name="overlay" id="overlay-chart" value="Chart" data-bind="checked: $data.overlay, click: $data.overlayClicked" />
                                <label for="overlay-chart">
                                    Time Series
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="display:none;" data-bind="visible: $data.mode() == 'Loading'">
            <h1>Loading ...</h1>
        </div>

        <div style="display:none;" data-bind="visible: $data.mode() == 'Initial'">
            <h4>Try searching for a person, place, or subject</h4>
        </div>

        <div style="display: none;" data-bind="visible: $data.mode() == 'Loaded'">
            <div class="row" >
                @*<div class="col-md-6" style="overflow-y: scroll; height: 625px; overflow-x: hidden;">

                    
                </div>*@
                <div class="col-md-12">
                    <div style="height: 700px;" data-bind="visible: $data.overlay() == 'Map'">
                        <div class="row">
                            <div class="col-md-12" >
                                <div>
                                    <div id="map">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="display: none; height: 700px;" data-bind="visible: $data.overlay() == 'Chronology'">
                        <!-- ko foreach: {data: $data.dates, as: 'date' } -->
                        <!-- ko foreach: {data: $parent.filteredStreams, as: 'stream' } -->

                        <section data-bind="with: $parents[1].findActByDate(date, stream)">
                            <div class="card-container">
                                <div class="text-right">
                                    <div data-bind="html: $parents[2].formatDate(date)"></div>
                                    <span style="font-size: 1em; font-weight: 600;" data-bind="text: (stream.owner.type != 'Tag' ? '@@' : '#') + stream.owner.name"></span>
                                </div>
                                <div class="card">
                                    <div data-bind="html: $data.act.text">

                                    </div>
                                    <!-- ko if: $parents[2].distinctEntity($data.agents).length -->
                                    <p>
                                        <!-- ko foreach: $parents[2].distinctEntity($data.agents) -->
                                        <a href="#" style="margin-left: 5px;" data-bind="click: $root.agentClicked.bind($root), text: '@@' + $data.name"></a>
                                        <!-- /ko -->
                                    </p>
                                    <!-- /ko -->
                                    <!-- ko if: $parents[2].distinctEntity($data.places).length -->
                                    <p>
                                        <!-- ko foreach: $parents[2].distinctEntity($data.places) -->
                                        <a href="#" style="margin-left: 5px;" data-bind="click: $root.placeClicked.bind($root), text: '@@' + $data.name"></a>
                                        <!-- /ko -->
                                    </p>
                                    <!-- /ko -->
                                    <!-- ko if: $parents[2].distinctEntity($data.tags).length -->
                                    <p>
                                        <!-- ko foreach: $parents[2].distinctEntity($data.tags) -->
                                        <a href="#" style="margin-left: 5px;" data-bind="click: $root.tagClicked.bind($root), text: '#' + $data.name "></a>
                                        <!-- /ko -->
                                    </p>
                                    <!-- /ko -->
                                </div>
                            </div>

                        </section>

                        <!-- /ko -->
                        <!-- /ko -->
                    </div>
                    <div style="display: none; height: 700px;" data-bind="visible: $data.overlay() == 'Clouds'">
                        <div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h1 class="text-center"><em>Agents</em></h1>
                                    <div id="agent-cloud" style="width: 600px; height: 200px;"></div>
                                </div>
                                <div class="col-md-6">
                                    <h1 class="text-center"><em>Subjects</em></h1>
                                    <div id="tag-cloud" style="width: 600px; height: 200px;"></div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    <div style="display: none; height: 700px;" data-bind="visible: $data.overlay() == 'Chart'">
                        <div style="position: fixed;">
                            <div class="row">

                                <div class="col-md-12">
                                    <div id="date_range_chart" style="height: 300px; width: 800px; border: 1px dashed #eee;"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </script>
    <script type="text/html" id="map-view-template">

    </script>
    <div id="template">
        <div data-bind="template: { name: $data.viewName, data: $data.view }">

        </div>
        <div>
            <div data-bind="template: { name: 'loader-template', data: $data.loader } ">

            </div>
            <div data-bind="template: { name: 'filters-template', data: $data.filters } ">

            </div>
            <div data-bind="template: { name: 'modes-template', data: $data.modes } ">

            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/knockout-3.3.0.js"></script>
    <script src="~/Scripts/App.Utils.js"></script>
    <script src="~/Scripts/knockout-postbox.min.js"></script>
    <script src="~/Content/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
    <script src="~/Scripts/underscore.min.js"></script>
    <script src="~/Scripts/jqcloud-1.0.4.min.js"></script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=@GoogleMapsAPIKey">
    </script>
    <script type="text/javascript"
            src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>
    <script>
        var each = app.Utils.each,
            select = app.Utils.select,
            where = app.Utils.where,
            contains = app.Utils.contains,
            find = app.Utils.find,
            reduce = app.Utils.reduce,
            distinct = app.Utils.distinct
        ;

        ko.bindingHandlers.slider = {
            init: function (element, valueAccessor, allBindings, viewModel, bindingContext) {
                var $el = $(element);
                var observable = valueAccessor();
                var value = ko.unwrap(observable);
                var enable = ko.unwrap(allBindings.get("enable"));
                var min = ko.unwrap(allBindings.get("min"));
                var max = ko.unwrap(allBindings.get("max"));
                $el.slider({
                    min: min,
                    max: max,
                    disabled: false == enable,
                    value: value || 0,
                    slide: function (event, ui) {
                        if (false == isNaN(ui.value)) {
                            observable(ui.value);
                            //if (allBindings.has("label")) {
                            //    var label = allBindings.get("label");
                            //    var $label = $(label);
                            //    var $handle = $($el.children('.ui-slider-handle'));
                            //    $label.text(ui.value);
                            //    $label.css('top', $handle.offset().top + $label.outerHeight(true));
                            //    $label.css('left', $handle.offset().left - ($label.width() - $handle.width()) / 2);
                            //}
                        }
                    }
                });
            },
            update: function (element, valueAccessor, allBindings, viewModel, bindingContext) {
                var $el = $(element);
                var observable = valueAccessor();
                var value = ko.unwrap(observable);
                var enable = ko.unwrap(allBindings.get("enable"));
                var min = ko.unwrap(allBindings.get("min"));
                var max = ko.unwrap(allBindings.get("max"));
                $el.slider("option", "disabled", false == enable);
                $el.slider("option", "min", min);
                $el.slider("option", "max", max);
                if (false == isNaN(value)) {
                    $el.slider("option", "value", value);
                }
            }
        };

        var ViewModel;
        (function () {
            var Filters = (function () {
                function Filters() {
                    this.owners = ko.observableArray([]); // guids
                }
                return Filters;
            })();
            var MapView = (function () {
                function MapView() {
                    this.templateName = "map-view-template";
                }
                return MapView;
            })();
            var Mode = {
                Initial: "Initial",
                Loaded: "Loaded",
                Loading: "Loading"
            };
            var Overlay = {
                Chronology: "Chronology",
                Map: "Map",
                Chart: "Chart",
                Clouds: "Clouds"
            };
            var Player = {
                Playing: "Playing",
                Paused: "Paused"
            };
            var Scale = {
                Day: "Day",
                Month: "Month",
                Year: "Year",
                Decade: "Decade"
            };
            var Palette = (function () {
                function Palette() {
                    this.colours = ["Blue", "Green", "Orange", "Yellow", "Purple", "CornflowerBlue"];
                    this.index = 0;
                }
                Palette.prototype.getHue = function () {
                    return this.colours[this.index++];
                };
                Palette.prototype.undoHue = function () {
                    // this.index--;
                };
                return Palette;
            })();
            var ListView = (function () {
                function ListView() {
                    this.templateName = "list-view-template";
                    this.palette = new Palette();
                    this.selectedOwners = ko.observableArray([]); // { name; guid; selected; }
                    this.currentYear = ko.observable();
                    this.enableSlider = ko.observable(false);
                    this.sliderHandle = ko.observable(); // { offsetTop; offsetLeft; width; }
                    this.from = ko.observable();
                    this.to = ko.observable();
                    this.query = ko.observable();
                    this.searchResults = ko.observable();
                    this.rows = ko.observableArray([]);
                    this.mode = ko.observable(Mode.Initial);
                    this.queryFrom = ko.observable();
                    this.queryTo = ko.observable();
                    this.overlay = ko.observable(Overlay.Map);
                    this.player = ko.observable();
                    this.playerTimeline = ko.observableArray();
                    this.playerIndex = ko.observable();
                    this.streams = ko.observableArray([]);
                    this.scale = ko.observable(Scale.Year);
                    this.layersToDispose = [];
                    this.map = null;
                    this.showControlPanel = ko.observable(true);
                    this.showChart = ko.observable(false);
                    this.showMap = ko.observable(false);
                    this.filteredStreams = ko.computed(function () {
                        var owners = where(this.selectedOwners(), function (x) { return x.owner.selected(); });
                        if (!owners.length) {
                            return [];
                        }
                        var ownerGuids = select(owners, function (x) { return x.owner.guid; });
                        var streams = ko.toJS(this.streams);
                        streams = where(streams, function (stream) {
                            return find(ownerGuids, function (guid) { return guid == stream.owner.guid });
                        });
                        streams = where(streams, function (stream) {
                            var items = where(stream.items, function (item) {
                                if (this.from() && this.to()) {
                                    return item.act.year >= this.from() && item.act.year <= this.to();
                                }
                                if (this.from()) {
                                    return item.act.year >= this.from();
                                }
                                if (this.to()) {
                                    return item.act.year <= this.to();
                                }
                                return true;
                            }.bind(this));
                            stream.items = items;
                            return stream;
                        }.bind(this));
                        return streams;
                    }, this);
                    this.mapStreams = ko.computed(function () {
                        var year = this.currentYear();
                        var streams = ko.toJS(this.filteredStreams());
                        if (this.overlay() != Overlay.Map) {
                            return streams;
                        }
                        if (false == this.enableSlider()) {
                            return streams;
                        }
                        if (!year) {
                            return streams;
                        }
                        streams = where(streams, function (stream) {
                            var items = where(stream.items, function (item) {
                                return item.act.year == year;
                            }.bind(this));
                            stream.items = items;
                            return stream;
                        }.bind(this));
                        return streams;
                    }, this);
                    this.mapStreams.subscribe(function () {
                        this.redrawMapFromSlider();
                    }, this);
                    this.months = [
                        "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"
                    ];
                    this.dates = ko.computed(function () {
                        var streams = this.filteredStreams();
                        if (!streams.length) {
                            return [];
                        }
                        var dates = [];
                        each(streams, function (stream) {
                            each(select(stream.items, function (item) {
                                return {
                                    year: item.act.year,
                                    month: item.act.month,
                                    day: item.act.day
                                };
                            }), function (x) {
                                if (!find(dates, function (d) { return d.year == x.year && d.month == x.month && d.day == x.day; })) {
                                    dates.push(x);
                                }
                            });
                        });
                        var toDate = function (d) {
                            return new Date(d.year || 0, d.month || 0, d.day || 1);
                        };
                        var sortedDates = _.sortBy(dates, function (x) {
                            return toDate(x);
                        });
                        return sortedDates;
                    }, this);
                    this.dates.subscribe(function () {
                        if (this.overlay() == Overlay.Chart) {
                            this.drawChart();
                        }
                    }.bind(this));
                    this.dates.subscribe(function () {
                        if (this.overlay() == Overlay.Map) {
                            this.applyMapOverlay();
                        }
                    }.bind(this));
                    this.dates.subscribe(function () {
                        if (this.overlay() == Overlay.Clouds) {
                            this.drawClouds();
                        }
                    }.bind(this));
                    this.from.subscribe(function () {
                        if (this.overlay() == Overlay.Map) {
                            this.applyMapOverlay();
                        }
                    }, this);
                    this.to.subscribe(function () {
                        if (this.overlay() == Overlay.Map) {
                            this.applyMapOverlay();
                        }
                    }, this);
                    this.enableSlider.subscribe(function (enable) {
                        if (false == enable) {
                            if (this.overlay() == Overlay.Map) {
                                this.drawMap();
                            }
                        }
                    }, this);
                    this.minDate = ko.computed(function () {
                        var dates = select(this.dates(), function (date) {
                            return date.year;
                        });
                        return _.min(dates);
                    }, this);
                    this.maxDate = ko.computed(function () {
                        var dates = select(this.dates(), function (date) {
                            return date.year;
                        });
                        return _.max(dates);
                    }, this);
                    this.playerIndex.subscribe(function (index) {
                        var year = this.playerTimeline()[index];
                        this.from(year);
                        this.to(year);
                    }, this);
                    this.showControlPanel.subscribe(function (value) {
                        if (false == value && this.map) {
                            setTimeout(function () {
                                google.maps.event.trigger(this.map, "resize");
                            }, 500);
                        }
                    }, this);
                };
                ListView.prototype.applyMapOverlay = function () {
                    this.drawMap();
                    if (this.enableSlider()) {
                        this.redrawMapFromSlider();
                    }
                };
                ListView.prototype.getCloud = function (entity) {
                    var streams = this.filteredStreams();
                    var entities = _.flatten(select(_.flatten(select(streams, function (stream) {
                        return stream.items;
                    })), function (item) {
                        return item[entity];
                    }));
                    var parents = [];
                    each(entities, function (entity) {
                        if (entity.parents) {
                            each(entity.parents, function (parent) {
                                parents.push(parent);
                            });
                        }
                    });
                    entities = entities.concat(parents);
                    var group = _.groupBy(entities, function (item) {
                        return item.name;
                    });
                    var cloud = [];
                    each(group, function (values, key) {
                        cloud.push({
                            text: key,
                            weight: values.length
                        });
                    });
                    return cloud;
                };
                ListView.prototype.drawClouds = function () {
                    var agents = this.getCloud("agents");
                    $("#agent-cloud").empty();
                    $("#agent-cloud").jQCloud(agents);

                    var tags = this.getCloud("tags");
                    $("#tag-cloud").empty();
                    $("#tag-cloud").jQCloud(tags);
                };
                ListView.prototype.showControlPanelClicked = function () {
                    this.showControlPanel(true);
                };
                ListView.prototype.hideControlPanelClicked = function () {
                    this.showControlPanel(false);
                };
                ListView.prototype.playClicked = function () {
                    var years = select(_.groupBy(select(this.dates(), function (date) {
                        return date.year;
                    }, function (x) { return x.year })), function (__, key) { return key; });
                    var dates = [];
                    each(years, function (year) { dates.push(year) });
                    this.playerTimeline(dates);
                    this.playerIndex(0);
                    this.player(Player.Playing);
                    this.playerInterval = setInterval(function () {
                        if (!this.player()) {
                            clearInterval(this.playerInterval);
                            return;
                        }
                        if (this.player() == Player.Paused) {
                            return;
                        }
                        var index = this.playerIndex() + 1;
                        if (index < this.playerTimeline().length) {
                            this.playerIndex(index);
                        }
                        else {
                            this.stopClicked();
                        }
                    }.bind(this), 5000);
                };
                ListView.prototype.pauseClicked = function () {
                    this.player(Player.Paused);
                };
                ListView.prototype.stopClicked = function () {
                    this.playerTimeline([]);
                    this.player(null);
                };
                ListView.prototype.getHeatMapData = function () {
                    // var streams = this.filteredStreams();
                    var streams = this.mapStreams();
                    var owners = this.selectedOwners();
                    var data = [];
                    each(streams, function (stream) {
                        var places = where(_.flatten(select(stream.items, function (item) {
                            return item.places;
                        })), function (place) {
                            return place.latitude && place.longitude;
                        });
                        var placeGroup = _.groupBy(places, function (place) {
                            return "{lat}:{lng}".fmt({ lat: place.latitude, lng: place.longitude });
                        });
                        var heatmap = [];
                        each(placeGroup, function (values, key) {
                            var pairs = key.split(':'), lat = pairs[0], lng = pairs[1];
                            var place = values[0];
                            heatmap.push({
                                latitude: parseFloat(lat),
                                longitude: parseFloat(lng),
                                weight: values.length,
                                placeName: place.name
                            });
                        });
                        var owner = find(owners, function (owner) {
                            return owner.owner.guid == stream.owner.guid;
                        });
                        data.push({ owner: owner.owner, heatmap: heatmap });
                    });
                    return data;
                };
                ListView.prototype.overlayClicked = function (item) {
                    var overlay = this.overlay();
                    if (overlay == Overlay.Chart) {
                        this.drawChart();
                    } else if (overlay == Overlay.Map) {
                        this.drawMap();
                    } else if (overlay == Overlay.Clouds) {
                        this.drawClouds();
                    } else if (overlay == Overlay.Chronology) {
                        // do nothing
                    } else {
                        // do nothing
                    }
                    return true;
                };
                ListView.prototype.showChartClicked = function () {
                    this.overlay(Overlay.Chart);
                    this.drawChart();
                };
                ListView.prototype.showMapClicked = function () {
                    this.overlay(Overlay.Map);
                    this.drawMap();
                };
                ListView.prototype.hasHeatmapData = function (heatmaps) {
                    return _.flatten(select(heatmaps, function (heatmap) {
                        return heatmap.items;
                    })).count > 0;
                };
                ListView.prototype.drawMap = function () {
                    var heatmaps = this.getHeatMapData();
                    var map = this.map = new google.maps.Map(document.getElementById('map'));
                    google.maps.event.trigger(map, 'resize');

                    var bounds = new google.maps.LatLngBounds();
                    var coords = _.flatten(select(heatmaps, function (heatmapRow) {
                        return heatmapRow.heatmap;
                    }));
                    each(coords, function (item) {
                        bounds.extend(new google.maps.LatLng(item.latitude, item.longitude));
                    });
                    map.fitBounds(bounds);

                    each(heatmaps, function (heatmapRow, index) {
                        var heatmap = heatmapRow.heatmap;
                        this.drawMapCircles(map, heatmapRow, { radiusMultiplier: 2500 });
                    }.bind(this));
                };
                ListView.prototype.redrawMapFromSlider = function () {
                    var heatmaps = this.getHeatMapData();
                    var map = this.map;
                    if (!map) {
                        return;
                    }
                    each(heatmaps, function (heatmapRow, index) {
                        var heatmap = heatmapRow.heatmap;
                        this.drawMapCircles(map, heatmapRow, { radiusMultiplier: 7500 });
                    }.bind(this));
                };
                ListView.prototype.drawMapCircles = function (map, heatmapRow, params) {
                    params = params || {};
                    var owner = find(this.selectedOwners(), function (item) {
                        return item.owner.guid == heatmapRow.owner.guid;
                    });
                    each(owner.circles || [], function (circle) {
                        circle.setMap(null);
                    });
                    owner.circles = [];
                    var hue = heatmapRow.owner.hue;
                    each(heatmapRow.heatmap, function (item) {
                        var circle = new google.maps.Circle({
                            strokeColor: hue,
                            strokeOpacity: 0.8,
                            strokeWeight: 2,
                            fillColor: hue,
                            fillOpacity: 0.35,
                            map: map,
                            center: { lat: item.latitude, lng: item.longitude },
                            radius: item.weight * (params.radiusMultiplier || 2500)
                        });
                        google.maps.event.addListener(circle, 'click', function (event) {
                            var latlng = event.latLng;
                            var popup = new google.maps.InfoWindow({
                                content: $("<div id=\"content\" style='min-height: 100px; width: 200px;'><div id='bodyContent'><h3>{place}</h3># of events: {events}</div></div>".fmt({
                                    events: item.weight, place: item.placeName
                                }))[0]
                            });
                            var latlng = new google.maps.LatLng(event.latLng.lat(), event.latLng.lng())
                            popup.setOptions({ position: latlng });
                            popup.open(map);
                        });
                        owner.circles.push(circle);
                    }.bind(this))
                };
                ListView.prototype.drawMapLayers = function (map, heatmap, index) {
                    var googleHeatmap = select(heatmap, function (item) {
                        return {
                            location: new google.maps.LatLng(item.latitude, item.longitude),
                            weight: item.weight
                        };
                    });
                    var layer = new google.maps.visualization.HeatmapLayer({
                        data: googleHeatmap
                    });
                    var gradient = this.getHeatmapGradient(index);
                    layer.set('gradient', gradient);
                    layer.set('radius', 30);
                    layer.setMap(map);
                };
                ListView.prototype.randomHue = function () {
                    var hue = 'rgb(' + (Math.floor(Math.random() * 256)) + ',' + (Math.floor(Math.random() * 256)) + ',' + (Math.floor(Math.random() * 256)) + ')';
                    return hue;
                };
                ListView.prototype.getHeatmapGradient = function (index) {
                    if (index == 0) {
                        return null; // default
                    }
                    return [
                          'rgba(0, 255, 255, 0)',
                          'rgba(0, 255, 255, 1)',
                          'rgba(0, 191, 255, 1)',
                          'rgba(0, 127, 255, 1)',
                          'rgba(0, 63, 255, 1)',
                          'rgba(0, 0, 255, 1)',
                          'rgba(0, 0, 223, 1)',
                          'rgba(0, 0, 191, 1)',
                          'rgba(0, 0, 159, 1)',
                          'rgba(0, 0, 127, 1)',
                          'rgba(63, 0, 91, 1)',
                          'rgba(127, 0, 63, 1)',
                          'rgba(191, 0, 31, 1)',
                          'rgba(255, 0, 0, 1)'
                    ];
                };
                ListView.prototype.getChartData = function () {
                    var streams = this.filteredStreams();
                    var header = [{ label: "Year", type: "date" }];
                    each(streams, function (stream) {
                        header.push({ label: stream.owner.name, type: "number" });
                    });
                    var data = [header];
                    rows = {};
                    each(streams, function (stream) {
                        var actsYears = _.groupBy(stream.items, function (item) {
                            return item.act.year
                        });
                        each(actsYears, function (values, year) {
                            if (!rows[year]) {
                                rows[year] = {};
                            }
                            rows[year][stream.owner.name] = values.length;
                        });
                    }.bind(this));
                    var owners = where(this.selectedOwners(), function (x) { return x.owner.selected(); });
                    each(rows, function (totals, year) {
                        var rowData = [new Date(year, 0, 1)];
                        each(owners, function (owner) {
                            var total = totals[owner.owner.name] || 0;
                            rowData.push(parseInt(total));
                        });
                        data.push(rowData);
                    });
                    return data;
                };
                ListView.prototype.drawChart = function () {
                    if (!google.visualization.DataTable) {
                        return;
                    }
                    var data = this.getChartData();
                    var dataTable = new google.visualization.DataTable();
                    var header = data[0];
                    each(header, function (col) {
                        dataTable.addColumn(col.type, col.label);
                    });
                    dataTable.addRows(data.slice(1));
                    var options = {
                        title: "Events",
                        legend: { position: 'bottom' },
                        lineWidth: 2,
                        pointSize: 5,
                        pointShape: 'circle'
                    };
                    var chart = new google.visualization.LineChart(document.getElementById('date_range_chart'));
                    chart.draw(dataTable);
                };
                ListView.prototype.removeOwnerClicked = function (owner) {
                    var guid = owner.owner.guid;
                    this.selectedOwners.remove(function (item) {
                        return item.owner.guid == guid;
                    });
                    this.streams.remove(function (item) {
                        return item.owner.guid == guid;
                    });
                    this.overlayClicked();
                    this.palette.undoHue();
                };
                ListView.prototype.ownerNameMouseover = function (owner) {
                    if (this.overlay() == Overlay.Map) {
                        if (owner.circles) {
                            each(owner.circles, function (circle) {
                                circle.setOptions({
                                    strokeColor: "red",
                                    strokeWeight: 3
                                });
                            });
                        }
                    }
                };
                ListView.prototype.ownerNameMouseout = function (owner) {
                    if (this.overlay() == Overlay.Map) {
                        if (owner.circles) {
                            each(owner.circles, function (circle) {
                                circle.setOptions({
                                    strokeColor: owner.owner.hue,
                                    strokeWeight: 2
                                });
                            });
                        }
                    }
                };
                ListView.prototype.searchClicked = function () {
                    $.get("/API/ControlPanelSearch", { search: this.query() }, function (results) {
                        this.searchResults(results.Results);
                        $("#entity-search-modal").modal();
                        this.query(null);
                    }.bind(this));
                };
                ListView.prototype.loadDateRangeClicked = function () {
                    var from = this.queryFrom();
                    var to = this.queryTo();
                    if (!from || !to) {
                        return;
                    }
                    if (find(this.streams, function (s) {
                        return s.owner.name == "{from}-{to}".fmt({ from: from, to: to });
                    })) {
                        return;
                    }
                    this.loadDateRange(from, to);
                };
                ListView.prototype.loadDateRange = function (from, to) {
                    this.mode(Mode.Loading);
                    $.get("/Time/GetDateRange", { from: from, to: to }, function (stream) {
                        this.mode(Mode.Loaded);
                        this.streams.push(stream);
                        this.selectedOwners.push({
                            owner: {
                                name: stream.owner.name,
                                guid: stream.owner.guid,
                                hue: this.palette.getHue(),
                                selected: ko.observable(true)
                            }
                        });
                        this.queryFrom(null);
                        this.queryTo(null);
                    }.bind(this));
                };
                ListView.prototype.closeSearchModal = function () {
                    $("#entity-search-modal").modal("hide");
                };
                ListView.prototype.clearDates = function () {
                    this.from(null);
                    this.to(null);
                }
                ListView.prototype.distinctEntity = function (agents) {
                    return distinct(agents, function (x, y) { return x.guid == y.guid });
                }
                ListView.prototype.formatDate = function (date) {
                    var parts = [];
                    parts.push("<h3 style='color: red;'>" + date.year + "</h3>");
                    if (date.month) {
                        var monthday = this.months[date.month - 1];
                        if (date.day) {
                            monthday += " " + date.day;
                        }
                        parts.push("<h4>" + monthday + "</h4>");
                    }
                    return parts.join("");
                };
                ListView.prototype.findActByDate = function (date, stream) {
                    var act = find(stream.items, function (item) {
                        return item.act.year == date.year && item.act.month == date.month && item.act.day == date.day;
                    });
                    return act;
                };
                ListView.prototype.owners = function () {
                    return select(this.streams(), function (stream) { return stream.owner; });
                }
                ListView.prototype.ownerSelected = function (item) {

                };
                ListView.prototype.sortByDate = function () {
                    var toDate = function (d) {
                        return new Date(d.year || 0, d.month || 0, d.day || 1);
                    };
                    var sortedStreams = select(this.streams(), function (stream) {
                        var sortedItems = ko.observableArray(stream.items).sort(function (left, right) {
                            var leftDate = toDate(left), rightDate = toDate(right);
                            return leftDate < rightDate ? -1
                                : leftDate == rightDate ? 0
                                                        : 1;
                        });
                        stream.items = sortedItems;
                        return stream;
                    });
                }
                return ListView;
            })();

            var Model = (function () {
                function Model() {
                    this.filters = new Filters();
                    this.rows = ko.observableArray([]);
                    this.views = {
                        map: new MapView(),
                        list: new ListView()
                    };
                    this.view = ko.observable(this.views.list);
                    this.viewName = ko.computed(function () {
                        return this.view().templateName;
                    }, this);
                    this.start();
                }
                Model.prototype.loadPlace = function (entity) {
                    this.loadStream(entity.Value, "getplaceacts");
                    this.closeSearchModal();
                };
                Model.prototype.loadAgent = function (entity) {
                    this.loadStream(entity.Value, "getagentacts");
                    this.closeSearchModal();
                };
                Model.prototype.loadTag = function (entity) {
                    this.loadStream(entity.Value, "gettagacts");
                    this.closeSearchModal();
                };
                Model.prototype.closeSearchModal = function () {
                    $("#entity-search-modal").modal("hide");
                };
                Model.prototype.placeClicked = function (entity) {
                    this.loadStream(entity.guid, "getplaceacts");
                };
                Model.prototype.agentClicked = function (entity) {
                    this.loadStream(entity.guid, "getagentacts");
                };
                Model.prototype.tagClicked = function (entity) {
                    this.loadStream(entity.guid, "gettagacts");
                };
                Model.prototype.start = function () {
                    var query = window.location.search.substr(1).split('&');
                    if (query.length) {
                        if (query[0] == "") {
                            this.loadStream("890981b5-61ff-48dc-bd33-756b61442997", "getagentacts");
                            return;
                        }
                        var params = {};
                        each(query, function (item) {
                            var kv = item.split("=");
                            params[kv[0]] = kv[1];
                        });
                        if (params.overlay) {
                            this.views.list.overlay(params.overlay);
                        }
                        if (params.dates) {
                            var dateRanges = params.dates.split(",");
                            each(dateRanges, function (item) {
                                var startEnd = item.split("-");
                                var from = startEnd[0], to = startEnd[1];
                                this.views.list.loadDateRange(from, to);
                            }.bind(this));
                        }
                        return;
                    }
                    // Default to Leonardo da Vinci
                    this.loadStream("890981b5-61ff-48dc-bd33-756b61442997", "getagentacts");
                };
                Model.prototype.loadStream = function (guid, method) {
                    if (find(this.views.list.streams, function (s) {
                        return s.owner.guid == guid;
                    })) {
                        return;
                    }
                    this.views.list.mode(Mode.Loading);
                    $.get("/time/{method}/{guid}".fmt({ method: method, guid: guid }), function (stream) {
                        this.views.list.mode(Mode.Loaded);
                        this.views.list.streams.push(stream);
                        this.views.list.selectedOwners.push({
                            owner: {
                                name: stream.owner.name,
                                guid: stream.owner.guid,
                                selected: ko.observable(true),
                                hue: this.views.list.palette.getHue()
                            }
                        });

                    }.bind(this));
                };

                Model.prototype.listViewSelected = function () {
                    this.view(this.views.list);
                };
                Model.prototype.mapViewSelected = function () {
                    this.view(this.views.map);
                };
                return Model;
            })();
            var model = new Model();
            ViewModel = model;
            ko.applyBindings(model, document.getElementById("template"));
        })();
    </script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-61825904-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>

</html>
