﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html class="ocks-org do-not-copy">
<meta charset="utf-8">
<title>Codex Co-occurrence</title>
<style>
    html {
        min-width: 1040px;
    }

    .ocks-org body {
        background: #fcfcfa;
        color: #333;
        font-family: "PT Serif", serif;
        margin: 1em auto 4em auto;
        position: relative;
        width: 960px;
    }

    .ocks-org header,
    .ocks-org footer,
    .ocks-org aside,
    .ocks-org h1,
    .ocks-org h2,
    .ocks-org h3,
    .ocks-org h4 {
        font-family: "PT Sans", sans-serif;
    }

    .ocks-org h1,
    .ocks-org h2,
    .ocks-org h3,
    .ocks-org h4 {
        color: #000;
    }

    .ocks-org header,
    .ocks-org footer {
        color: #636363;
    }

    h1 {
        font-size: 64px;
        font-weight: 300;
        letter-spacing: -2px;
        margin: .3em 0 .1em 0;
    }

    h2 {
        margin-top: 2em;
    }

    h1, h2 {
        text-rendering: optimizeLegibility;
    }

        h2 a[name],
        h2 a[id] {
            color: #ccc;
            right: 100%;
            padding: 0 .3em;
            position: absolute;
        }

    header,
    footer {
        font-size: small;
    }

    .ocks-org header aside,
    .ocks-org footer aside {
        float: left;
        margin-right: .5em;
    }

        .ocks-org header aside:after,
        .ocks-org footer aside:after {
            padding-left: .5em;
            content: "/";
        }

    footer {
        margin-top: 8em;
    }

    h1 ~ aside {
        font-size: small;
        left: 40px;
        top: 80px;
        position: fixed;
        width: 180px;
    }

    .attribution {
        font-size: small;
        margin-bottom: 2em;
    }

    body > p, li > p {
        line-height: 1.5em;
    }

    body > p {
        width: 720px;
    }

    body > blockquote {
        width: 640px;
    }

    blockquote q {
        display: block;
        font-style: oblique;
    }

    ul {
        padding: 0;
    }

    li {
        width: 690px;
        margin-left: 30px;
    }

    a {
        color: steelblue;
    }

        a:not(:hover) {
            text-decoration: none;
        }

    pre, code, textarea {
        font-family: "Menlo", monospace;
    }

    code {
        line-height: 1em;
    }

    textarea {
        font-size: 100%;
    }

    body > pre {
        border-left: solid 2px #ccc;
        padding-left: 18px;
        margin: 2em 0 2em -20px;
    }

    .html .value,
    .javascript .string,
    .javascript .regexp {
        color: #756bb1;
    }

    .html .tag,
    .css .tag,
    .javascript .keyword {
        color: #3182bd;
    }

    .comment {
        color: #636363;
    }

    .html .doctype,
    .javascript .number {
        color: #31a354;
    }

    .html .attribute,
    .css .attribute,
    .javascript .class,
    .javascript .special {
        color: #e6550d;
    }

    svg {
        font: 10px sans-serif;
    }

    .axis path, .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    sup, sub {
        line-height: 0;
    }

    q:before {
        content: "â€œ";
    }

    q:after {
        content: "â€";
    }

    blockquote q {
        line-height: 1.5em;
        display: inline;
    }

        blockquote q:before,
        blockquote q:after {
            content: "";
        }


    .background {
        fill: #eee;
    }

    line {
        stroke: #fff;
    }

    text.active {
        fill: red;
    }
</style>
<script src="//d3js.org/d3.v2.min.js" charset="utf-8"></script>

<header>
    <a href="http://bost.ocks.org/mike/miserables/" rel="author">Completed ripped off work by Mike Bostock</a>
</header>

<h1><i>Codex</i> Co-occurrence</h1>


    <aside style="margin-top:80px;">
        <p>
            Order: <select id="order">
                <option value="name">by Name</option>
                <option value="count">by Frequency</option>
                       <option value="group">by Attributes</option>
                       <option value="birthPlace">by Birth Place</option>
                <option value="birthDate">by DOB (nearest decade)</option>
            </select>

        <p>This matrix diagram visualizes character co-occurrences in agents in the Codex timeline.

        <p>Each colored cell represents two agents that appeared in the same event; darker cells indicate agents that co-occurred more frequently.

        <p>Use the drop-down menu to reorder the matrix and explore the data.

        <p>Built with <a href="http://d3js.org/">d3.js</a>.
    </aside>


<script>

    var margin = { top: 80, right: 0, bottom: 10, left: 80 },
        width = 8000,
        height = 8000;

    var x = d3.scale.ordinal().rangeBands([0, width]),
        z = d3.scale.linear().domain([0, 4]).clamp(true),
        c = d3.scale.category10().domain(d3.range(10));

    var svg = d3.select("body").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .style("margin-left", -margin.left + "px")
      .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    d3.json("/Time/CooccurencesData", function (data) {
        var matrix = [],
            nodes = data.nodes,
            n = nodes.length;

        // Compute index per node.
        nodes.forEach(function (node, i) {
            node.index = i;
            node.count = 0;
            matrix[i] = d3.range(n).map(function (j) { return { x: j, y: i, z: 0 }; });
        });

        // Convert links to matrix; count character occurrences.
        data.links.forEach(function (links) {
            links.forEach(function (link) {
                matrix[link.source][link.target].z += link.value;
                matrix[link.target][link.source].z += link.value;
                matrix[link.source][link.source].z += link.value;
                matrix[link.target][link.target].z += link.value;
                nodes[link.source].count += link.value;
                nodes[link.target].count += link.value;
            });
        });

        // Precompute the orders.
        var orders = {
            name: d3.range(n).sort(function (a, b) { return d3.ascending(nodes[a].name, nodes[b].name); }),
            count: d3.range(n).sort(function (a, b) { return nodes[b].count - nodes[a].count; }),
            group: d3.range(n).sort(function (a, b) { return nodes[b].group - nodes[a].group; }),
            birthPlace: d3.range(n).sort(function (a, b) { return nodes[b].birthPlace - nodes[a].birthPlace; }),
            birthDate: d3.range(n).sort(function (a, b) { return nodes[b].birthDate - nodes[a].birthDate; })
        };

        // The default sort order.
        x.domain(orders.name);

        svg.append("rect")
            .attr("class", "background")
            .attr("width", width)
            .attr("height", height);

        var row = svg.selectAll(".row")
            .data(matrix)
          .enter().append("g")
            .attr("class", "row")
            .attr("transform", function (d, i) { return "translate(0," + x(i) + ")"; })
            .each(row);

        row.append("line")
            .attr("x2", width);

        row.append("text")
            .attr("x", -6)
            .attr("y", x.rangeBand() / 2)
            .attr("dy", ".32em")
            .attr("text-anchor", "end")
            .text(function (d, i) { return nodes[i].name; });

        var column = svg.selectAll(".column")
            .data(matrix)
          .enter().append("g")
            .attr("class", "column")
            .attr("transform", function (d, i) { return "translate(" + x(i) + ")rotate(-90)"; });

        column.append("line")
            .attr("x1", -width);

        column.append("text")
            .attr("x", 6)
            .attr("y", x.rangeBand() / 2)
            .attr("dy", ".32em")
            .attr("text-anchor", "start")
            .text(function (d, i) { return nodes[i].name; });

        function row(row) {
            var cell = d3.select(this).selectAll(".cell")
                .data(row.filter(function (d) { return d.z; }))
              .enter().append("rect")
                .attr("class", "cell")
                .attr("x", function (d) { return x(d.x); })
                .attr("width", x.rangeBand())
                .attr("height", x.rangeBand())
                .style("fill-opacity", function (d) { return z(d.z); })
                .style("fill", function (d) { return nodes[d.x].group == nodes[d.y].group ? c(nodes[d.x].group) : null; })
                .on("mouseover", mouseover)
                .on("mouseout", mouseout);
        }

        function mouseover(p) {
            d3.selectAll(".row text").classed("active", function (d, i) { return i == p.y; });
            d3.selectAll(".column text").classed("active", function (d, i) { return i == p.x; });
        }

        function mouseout() {
            d3.selectAll("text").classed("active", false);
        }

        d3.select("#order").on("change", function () {
            clearTimeout(timeout);
            order(this.value);
        });

        function order(value) {
            x.domain(orders[value]);

            var t = svg.transition().duration(2500);

            t.selectAll(".row")
                .delay(function (d, i) { return x(i) * 4; })
                .attr("transform", function (d, i) { return "translate(0," + x(i) + ")"; })
              .selectAll(".cell")
                .delay(function (d) { return x(d.x) * 4; })
                .attr("x", function (d) { return x(d.x); });

            t.selectAll(".column")
                .delay(function (d, i) { return x(i) * 4; })
                .attr("transform", function (d, i) { return "translate(" + x(i) + ")rotate(-90)"; });
        }

        var timeout = setTimeout(function () {
            order("group");
            d3.select("#order").property("selectedIndex", 2).node().focus();
        }, 5000);
    });

</script>

