﻿@model CodexMVC.Models.ImportHistoricEventsModel

@{
    ViewBag.Title = "Import Historic Events";
    Layout = "~/Views/Shared/_TypeLayout.cshtml";
}

<h2>Import Historic Events</h2>

@using (Html.BeginForm("ImportHistoricEvents", "Time"))
{
    <div class="row">
        <div class="col-md-3">
            <label>
                Start
            </label>
            @Html.TextBoxFor(x => x.Start, new { @class = "form-control" })
        </div>
        <div class="col-md-3">
            <label>
                Rows
            </label>
            @Html.TextBoxFor(x => x.Rows, new { @class = "form-control" })
        </div>
    </div>
    <div>
        <div>
            <button class="btn btn-primary" type="submit">Import</button>
        </div>
    </div>
}


