﻿@using Services.Common
@model List<Services.PersonalDetails>
@{
    ViewBag.Title = "Timeline by person";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}
<style>
    ul {
        list-style: none;
    }

    .fixed {
        position: fixed;
        left: 70%;
    }

    .actor {
        border-radius: 5px;
        padding: 7px;
        border: 5px solid #eee;
        margin-right: 5px;
    }
</style>

<div class="row" style="margin-top: 100px;">
    <div class="col-md-8">
        <ul class="row">

            @foreach (var item in Model.OrderBy(x => x.Agent.FullName))
            {
                <li style="margin-left: 200px;">
                    <h2>
                        <input type="checkbox" data-guid="@item.Agent.Guid" data-text="@item.Agent.FullName2" onclick="app.Components.Selector.toggle(this);" name="AgentGuids" value="@item.Agent.Guid" />
                        <a href="/Time/ByAgent/@item.Agent.Guid">
                            @item.Agent.FullName2 @item.Life()
                            <small>
                                @{
                var citizenship = item.Citizenship != null ? (item.Citizenship.Adjective ?? item.Citizenship.Name) + " " : "";
                var represents = item.RepresentativeOf != null ? (item.RepresentativeOf.Adjective ?? item.RepresentativeOf.Name) : "";
                var subtitle = citizenship + represents + " " + item.FormattedAttributes();
                                }
                                @subtitle
                            </small>

                        </a>
                    </h2>
                </li>
            }
        </ul>
    </div>
    <div class="col-md-4 fixed">
        <div id="selections-template">
            <div data-bind="visible: $data.items().length" style="display:none;">
                <button type="button" class="btn btn-primary btn-lg" data-bind="click: $data.compareClicked">Compare</button>
                <h4 data-bind="text: $data.items().length + '/' + $data.maxItems + ' selected'"></h4>
                <div data-bind="foreach: $data.items" style="margin-top: 20px;">
                    <h4 style="margin-bottom: 30px;">
                        <span class="actor">
                            <span class="glyphicon glyphicon-remove" style="margin-right: 10px;" data-bind="click: $root.removeClicked.bind($root)"></span><span data-bind="text: $data.text"></span>
                        </span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var select = app.Utils.select;
        function doSomething() {
            var guids = select($("input[name='AgentGuids']:checked").toArray(), function (checkbox) {
                return checkbox.value;
            });
            console.log(guids);
            window.location.href = "/Time/ByAgents?agentGuids=" + guids;
        }
    </script>
    <script>
        var find = app.Utils.find;
        var where = app.Utils.find;
        app.Components = app.Components || {};
        var Model = (function () {
            function Model() {
                this.items = ko.observableArray([]);
                this.maxItems = 5;
            }
            Model.prototype.compareClicked = function () {
                var guids = select(this.items, function (x) { return x.guid; }).join(",");
                console.log(guids);
                window.location.href = "/Time/ByAgents?agentGuids=" + guids;
            };
            Model.prototype.removeClicked = function (item) {
                this.remove(item);
            };
            Model.prototype.remove = function (item) {
                this.items.remove(item);
            };
            Model.prototype.toggle = function (element) {
                element = $(element);
                var item = {
                    guid: element.data("guid"),
                    text: element.data("text")
                };
                var len = this.items().length;
                if (len >= this.maxItems) {
                    return;
                }
                var existing = ko.utils.arrayFirst(this.items(), function (x) {
                    return x.guid == item.guid;
                });
                if (existing) {
                    this.remove(existing);
                    return;
                }                
                this.items.push(item);
            };
            return Model;
        })();
        var model = new Model();
        app.Components.Selector = model;
        ko.applyBindings(model, document.getElementById("selections-template"));
    </script>

}