﻿@using System.Globalization
@using Data.Entities
@using CodexMVC.Helpers
@using Humanizer
@using Services
@using CodexMVC.Models
@model ViewTimeline
@{
    var canAccessAdmin = User != null && User.IsInRole(Services.Common.Permissions.CanAccessAdmin);
    ViewBag.Title = Model.Year.ToString();
    ViewBag.Section = "Time";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
    var markdown2 = new MarkdownDeep.Markdown();
    var entities = Model.Timeline
        .Where(x => x.EntityImages != null && x.EntityImages.Any())
        .SelectMany(x => x.EntityImages.Where(x2 => x2.Image != null))
        .Distinct(new Services.EntityImageComparer());

    var title = Model.EndYear.HasValue ? string.Format("All the things that happened between {0} and {1}", Model.Year, Model.EndYear.Value) : string.Format("Things that happened in the year {0}", Model.Year);

    var people = Model.Timeline
        .SelectMany(x => x.EntityImages.Select(x2 => x2.Entity))
        .OfType<Data.Agent>()
        .OrderBy(x => x.FullName)
        .Select(x => x.FullName2)
        .Distinct();

    var places2 = Model.Timeline
        .SelectMany(x => x.EntityImages.Select(x2 => x2.Entity))
        .OfType<Place>()
        .OrderBy(x => x.Name)
        .Select(x => x.Name)
        .Distinct();

    var actSources = Model.Timeline
        .Where(x => x.StatedBy != null)
        .Select(x => x.StatedBy)
        .Distinct(new AgentComparer())
        .OrderBy(x => x.Name)
        .ToList();

    var description = string.Format("{0} events involving {1} taking place in {2}.", Model.Timeline.Count().ToWords().DasCapital(), RazorHelper.And(people), RazorHelper.And(places2));

}

@functions {
    public string Month(int month)
    {
        switch (month)
        {
            case 1: return "January";
            case 2: return "February";
            case 3: return "March";
            case 4: return "April";
            case 5: return "May";
            case 6: return "June";
            case 7: return "July";
            case 8: return "August";
            case 9: return "September";
            case 10: return "October";
            case 11: return "November";
            case 12: return "December";
            case 13: return "Spring";
            case 14: return "Summer";
            case 15: return "Autumn";
            case 16: return "Winter";
            case 17: return "Early";
            case 18: return "Late";
            default: return "???";
        }
    }
    public string NameOf(IEntity entity)
    {
        if (entity is Data.Agent)
        {
            return ((Data.Agent)entity).FullName2;
        }
        if (entity is Artefact)
        {
            return ((Artefact)entity).ToDisplay();
        }
        return entity.Name;
    }
    public string EntityTypeName(string type)
    {
        switch (type)
        {
            case "Agent": return "people and entities";
            case "Artefact": return "art";
            case "Category": return "concepts";
            default: return type.ToLower() + "s";
        }
    }
}

@section meta {
    <meta property="og:site_name" content="Codex" />
    <meta property="og:title" content="@title" />
    <meta property="og:url" content="@Html.Raw(Request.Url.AbsoluteUri)" />
    <meta property="og:description" content="@Html.Raw(description.Replace("\"", "'"))" />
    <meta property="og:locale" content="en_US" />
    <meta property="article:author" content="@Html.Raw(Request.Url.Scheme+"://"+Request.Url.Host)" /> />
    <meta property="article:publisher" content="@Html.Raw(Request.Url.Scheme + "://" + Request.Url.Host)" />
    @if (entities.Any())
    {

        var image = entities.First().Image;
        <meta property="og:image" content="@Html.Raw(Request.Url.Scheme + "://" + Request.Url.Host + image.VirtualPath().Replace("~", ""))?height=600&width=600&mode=crop" />
        <meta property="og:image:type" content="image/jpeg" />
        <meta property="og:image:width" content="600" />
        <meta property="og:image:height" content="600" />
    }
}

@section styles {
    <style>
        .section-heading {
            background-color: #333;
            color: #ccc;
            padding: 20px;
            width: 100%;
        }

        em {
            font-style: italic;
        }

        .multi-col-2 {
            -webkit-column-count: 2; /* Chrome, Safari, Opera */
            -moz-column-count: 2; /* Firefox */
            column-count: 2;
        }

        .multi-col-3 {
            -webkit-column-count: 3; /* Chrome, Safari, Opera */
            -moz-column-count: 3; /* Firefox */
            column-count: 3;
        }

        .container-heading {
            background-color: #ccc;
            padding: 10px;
        }

        #map {
            width: 100%;
            height: 500px;
            margin: 0;
            padding: 0;
        }

        li.active a {
            text-shadow: 2px 2px #333;
        }

        #timeline-modal .modal-dialog {
            width: 950px;
            height: 600px;
        }

        .timeline-table {
            width: 100%;
            border-spacing: 10px;
        }

            .timeline-table tr > td {
                padding-top: 10px;
                padding-bottom: 10px;
            }



        .act-text p {
            font-family: 'Aldus LT Std';
            font-size: 1em;
        }

        .act-text div {
        }

        .act-text .btn {
        }

        .act-text h4 {
        }

        .act-date {
            font-family: 'Aldus LT Std';
        }

            .act-date h4 {
            }

            .act-date h3 {
                font-size: 1.5em;
            }

            .act-date h2 {
            }

            .act-date h1 {
                font-size: 3em;
            }

        .actor {
            border-radius: 5px;
            padding: 7px;
            border: 5px solid #eee;
            margin-right: 5px;
        }
    </style>
}

<div>

    <div id="Timeline" style="padding: 20px;">

        @if (Model.Mode == CodexMVC.Models.TimelineMode.ByDateRange)
        {
            ViewBag.Title = string.Format("From {0} to {1}", Model.Year, Model.EndYear);
            <div class="row">
                <div class="col-md-1">

                </div>
                <div class="col-md-10">
                    <div class="text-center">
                        <ul class="list-inline">
                            @for (var i = Model.Year; i <= Model.Year + 10; i++)
                            {
                                <li>
                                    <h2>
                                        <a href="#@(i)">@i</a>
                                    </h2>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-md-1">

                </div>
            </div>
        }
        else if (Model.Mode == CodexMVC.Models.TimelineMode.ByLatest)
        {
            ViewBag.Title = "Since last week";
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Latest additions</h1>
                </div>
            </div>

        }
        else if (Model.Mode == CodexMVC.Models.TimelineMode.ByTag)
        {
            ViewBag.Title = Model.Tag;
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center" style="font-size: 7.5em;">@Model.Tag</h1>
                </div>
            </div>

        }
        else if (Model.Mode == CodexMVC.Models.TimelineMode.BySimilarities)
        {

            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">@Model.Act.Act.ToDisplay()</h1>
                </div>
            </div>

        }
        else if (Model.Mode == CodexMVC.Models.TimelineMode.ByTagCategory)
        {

            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">@Model.TagCategory.Name</h1>
                </div>
            </div>

        }
        else if (Model.Mode == CodexMVC.Models.TimelineMode.ByAgent)
        {
            ViewBag.Title = Model.PersonalDetails.Agent.FullName2;
            <div class="row" style="margin-top: 20px; margin-bottom: 40px;">
                <div class="col-md-12">
                    <h1 class="text-center" style="font-size: 10em;">
                        @Model.PersonalDetails.Agent.FullName2
                    </h1>
                </div>
            </div>
            <div class="row" style="margin-bottom: 80px;">
                <div class="col-md-3">

                </div>
                <div class="col-md-6">
                    <h4 class="text-center">
                        @Html.Raw(Model.PersonalDetails.SubTitle())
                        @if (Model.PersonalDetails.Age.HasValue)
                        {
                            <span>born in <a href="/Time/ByPlace/@Model.PersonalDetails.BirthPlace.Guid">@Model.PersonalDetails.BirthPlace.Name</a> (@Model.PersonalDetails.Birth.Year.Value)  and died in <a href="/Time/ByPlace/@Model.PersonalDetails.DeathPlace.Guid">@Model.PersonalDetails.DeathPlace.Name</a> (@Model.PersonalDetails.Death.Year.Value), aged @Model.PersonalDetails.Age.Value</span>
                        }
                    </h4>
                </div>
                <div class="col-md-3">

                </div>
            </div>
            if (Model.Connections != null && Model.Connections.Any())
            {
                var group = Model.Connections.GroupBy(x => x.Relationship);
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">

                            </div>
                            <div class="col-md-6">
                                <div class="text-center">
                                    @foreach (var item in group)
                                    {
                                        <div class="row">
                                            <div class="col-md-1">
                                                <p style="font-weight: 600;">
                                                    @Html.Raw(item.First().Relationship)
                                                </p>
                                            </div>
                                            <div class="col-md-11">
                                                @foreach (var subitem in item)
                                                {
                                                    <p>
                                                        @if (subitem.Artworks.Any())
                                                        {
                                                            <a href="/Time/ByAgent/@subitem.PersonalDetails.Agent.Guid">@subitem.PersonalDetails.Agent.FullName2</a>
                                                        }
                                                        else
                                                        {
                                                            <span>
                                                                <b>@subitem.PersonalDetails.Agent.FullName2</b>
                                                            </span>
                                                        }
                                                        <small>@subitem.PersonalDetails.Life() @Html.Raw(subitem.PersonalDetails.SubTitle())</small>
                                                    </p>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-md-3">

                            </div>
                        </div>
                    </div>
                </div>
            }

        }
        else if (Model.Mode == CodexMVC.Models.TimelineMode.ByPlace)
        {
            ViewBag.Title = Model.Place.Name;
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center" style="font-size: 10em;">@Model.Place.Name</h1>
                </div>
            </div>

        }
        else if (Model.Mode == CodexMVC.Models.TimelineMode.ByArtefact)
        {
            ViewBag.Title = Model.Artefact.Artefact.ToDisplay();
            <div class="row" style="margin-bottom: 60px;">
                <div class="col-md-12">
                    <h1 class="text-center" style="font-size: 10em;">@Model.Artefact.Artefact.ToDisplay()</h1>
                </div>
            </div>

            if (Model.Artefact.Images != null && Model.Artefact.Images.Any())
            {
                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-md-12">
                        <div class="text-center">
                            @{
                var image = Model.Artefact.Images.FirstOrDefault(x => x.Primary == true) ?? Model.Artefact.Images.FirstOrDefault();
                            }
                            <img src="@image.VirtualPath().Replace("~", "")?height=400&mode=fit" style="height: 400px;" />
                        </div>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        @if (Model.Artefact.ArtefactType != null)
                        {
                            <div>
                                <p>
                                    @(Model.Artefact.ArtefactType.Name.ToLower() + " ")
                                    @if (Model.Artefact.Creators != null && Model.Artefact.Creators.Any())
                                    {
                                        <text>by</text> @Html.Raw(string.Join(" and ", Model.Artefact.Creators.Select(x => string.Format("<a href='/Time/ByAgent/{0}'>{1}</a>", x.Guid, x.FullName2))))
                                        if (Model.Artefact.ArtistAge.HasValue)
                                        {
                                            <span>at the age of @Model.Artefact.ArtistAge.Value</span>
                                        }
                                    }
                                </p>

                                @if (Model.Artefact.Made != null)
                                {
                                    <p>
                                        made out of @string.Join(" and ", Model.Artefact.Materials.Select(x => x.Name.ToLower()))
                                    </p>
                                }
                                @if (Model.Artefact.Artefact.HasDimensions())
                                {
                                    <p>
                                        @Model.Artefact.Artefact.Cms() cms (@Html.Raw(Model.Artefact.Artefact.Inches()) ins)
                                    </p>
                                }
                                <p>
                                    @if (Model.Artefact.Containers.Count() > 1)
                                    {
                                        var collection = Model.Artefact.Containers.Last();
                                        <span>
                                            currently at
                                            <a href="/Time/ByArtefact/@collection.Guid">
                                                @collection.ToDisplay()
                                            </a> in
                                        </span>
                                    }
                                    @if (Model.Artefact.Places.Any())
                                    {
                                        @Html.Raw(string.Join(", ", Model.Artefact.Places.Select(x => "<a href='/Time/ByPlace/" + x.Place.Guid + "'>" + x.Place.ToDisplay() + "</a>")))
                                    }
                                </p>
                            </div>
                        }
                    </div>
                </div>

            </div>

        }
        else if (Model.Mode == CodexMVC.Models.TimelineMode.ByAgentType)
        {
            ViewBag.Title = Model.AgentType.Name;
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center" style="font-size: 5em;">@Model.AgentType.Name</h1>
                </div>
            </div>
        }

        <div class="row" style="margin-top: 80px; margin-bottom: 60px;">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                <div id="date_range_chart_div" style="height: 200px; width: 776.5px; border: 1px dashed #eee;"></div>
            </div>
            <div class="col-md-3">

            </div>
        </div>

        @if (actSources.Any())
        {
            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-2">
                            <label>
                                Sources
                            </label>
                        </div>
                        <div class="col-md-10">
                            @foreach (var source in actSources)
                            {
                                <p>
                                    <a href="/Time/ByAgent/@source.Guid">@source.FullName2</a>
                                </p>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-3">

                </div>
            </div>
        }

        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div style="margin-top: 80px; margin-left: 100px;">
                            @{
                                var lastdate = (DateTime?)null;
                            }
                            @foreach (var group in Model.Timeline.OrderBy(x => x.Act.Year).GroupBy(x => x.Act.Year))
                            {
                                var first = group.First().Act;
                                var year = first.Decade ? first.Year.Value.ToString() + "s" : first.Year.Value.ToString();
                                foreach (var newAct in group.OrderBy(x => x.Act.Month).ThenBy(x => x.Act.Day))
                                {
                                    <div class="row">
                                        <div class="col-md-12">
                                            @if (newAct.Actors != null && newAct.Actors.Any())
                                            {
                                                <h4>@Html.Raw(string.Join("", newAct.Actors.Select(x => "<span class=\"actor\">" + NameOf(x) + "</span>")))</h4>
                                            }
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom: 100px;">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-2 act-date">
                                                    <a name="@year"></a>
                                                    @{
                                            var dayOfWeek = "";
                                            if (newAct.Act.Month.HasValue && newAct.Act.Day.HasValue)
                                            {
                                                var date = new DateTime(newAct.Act.Year.Value, newAct.Act.Month.Value, newAct.Act.Day.Value);

                                                var calendar = newAct.Act.Year.Value < 1582 ? (Calendar)new System.Globalization.JulianCalendar() : (Calendar)new System.Globalization.GregorianCalendar();
                                                dayOfWeek = calendar.GetDayOfWeek(date).ToString();
                                            }
                                            <h1 style="margin-top: 0;">
                                                @year
                                            </h1>
                                                        <h3>
                                                            @if (newAct.Act.Month.HasValue)
                                                            {
                                                                <text>@Month(newAct.Act.Month.Value) @(newAct.Act.Day.HasValue ? newAct.Act.Day.ToString() : "")</text>
                                                            }
                                                        </h3>
                                    if (dayOfWeek.Length > 0)
                                    {
                                        <p>
                                            <span>on @dayOfWeek</span>
                                        </p>
                                    }
                                    var today = Services.Helpers.Common.ToDateTime(newAct.Act.Year, newAct.Act.Month, newAct.Act.Day, 0, 0);
                                    if (today.HasValue && lastdate.HasValue)
                                    {
                                        var daysdiff = (today.Value - lastdate.Value).TotalDays;
                                        if (daysdiff > 0)
                                        {
                                            <p>
                                                @Services.Helpers.Common.YearsMonthsDays(daysdiff) later
                                            </p>
                                        }
                                    }
                                    lastdate = today;
                                                    }
                                                </div>
                                                <div class="col-md-9 act-text">
                                                    @if (newAct.Act.Name != null)
                                                    {
                                                        <h4>
                                                            <em>
                                                                @newAct.Act.Name
                                                            </em>
                                                        </h4>
                                                    }
                                                    @if (canAccessAdmin)
                                                    {
                                                        <div style="float:right;">
                                                            <a href="/Admin/Act/EditAct?actGuid=@newAct.Act.Guid" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-edit"></span></a> <a href="/Admin/Act/DeleteAct?actGuid=@newAct.Act.Guid" class="btn btn-default btn-sm" onclick="return confirm('Are you sure you want to delete this act?') && confirm('Are you REALLY sure you want to delete it? It can not be undone!');"><span class="glyphicon glyphicon-trash"></span></a>
                                                        </div>
                                                    }
                                                    <h4>
                                                        @Html.Raw(markdown2.Transform(newAct.ToHtml(linkToTimeline: true)))
                                                    </h4>
                                                    @{
                                                    var hasAttachments = newAct.Attachments != null && newAct.Attachments.Any(x => x != null);
                                                    var places = newAct.EntityImages.Where(x => x.Entity is Place).Select(x => x.Entity as Place).Distinct(new PlaceComparer());
                                                    }
                                                    <div id="event-toggle-template">
                                                        @if (hasAttachments)
                                                        {
                                                            <text><span class="btn btn-sm" href="#" onclick="toggleBlock(this, 'attachments');">Attachments</span></text>
                                                        }
                                                        @*<span onclick="toggleBlock(this, 'astronomical');" class="btn btn-sm">Astronomical</span>*@
                                                        <div style="display: none;" data-visible="false" data-role="attachments">
                                                            @if (hasAttachments)
                                                            {
                                                                var videos = newAct.Attachments.OfType<Video>().Distinct(new VideoComparer());
                                                                foreach (var video in videos)
                                                                {
                                                                    <h4>
                                                                        <strong>
                                                                            @video.Name <small>@video.Description</small>
                                                                        </strong>
                                                                    </h4>
                                                                    var width = video.Width ?? 560;
                                                                    var height = video.Height ?? 350;
                                                                    <iframe width="@width" height="@height" src="@video.Uri" frameborder="0" allowfullscreen></iframe>
                                                                }
                                                                var imageAttachments = newAct.Attachments.OfType<Image>().Distinct(new ImageComparer());
                                                                <div class="justified">
                                                                    @foreach (var image in imageAttachments)
                                                                    {
                                                                        <div>
                                                                            <img alt="@image.Name" src="@image.VirtualPath().Replace("~", "")?mode=crop&height=300" />
                                                                        </div>
                                                                    }
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <p>No attachments</p>
                                                            }
                                                        </div>
                                                        <div style="display: none;" data-visible="false" data-role="astronomical">
                                                            <h4>
                                                                Astronomical Events
                                                            </h4>
                                                            @if (newAct.Act.Year.HasValue && newAct.Act.Month.HasValue && newAct.Act.Day.HasValue)
                                                            {

                                                                var geo2 = places.Where(x => x.Latitude.HasValue && x.Longitude.HasValue).Distinct(new PlaceComparer());
                                                                var date2 = new DateTime(newAct.Act.Year.Value, newAct.Act.Month.Value, newAct.Act.Day.Value);
                                                                var lunarPhase = string.Format("The moon was {0} that night.", Moon.Phase(date2.Year, date2.Month, date2.Day));
                                                                <div>
                                                                    @(lunarPhase.Length > 0 ? lunarPhase : "")
                                                                </div>
                                                                foreach (var place in geo2)
                                                                {
                                                                    var solar = SolarInfo.ForDate(0, 0, date2);
                                                                    var sunriseSunset = string.Format("Sunrise in {0} was at {1} and sunset was at {2}.", place.Name, solar.Sunrise.ToString("h:mm tt"), solar.Sunset.ToString("h:mm tt"));
                                                                    <div>
                                                                        @sunriseSunset
                                                                    </div>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-6 act-text">
                                                    <h4>
                                                        Agents
                                                    </h4>
                                                    @{
                                    var agents = newAct.EntityImages.Where(x => x.Entity is Data.Agent).Distinct(new EntityImageComparer());
                                                    }
                                                    @if (agents.Any())
                                                    {
                                                        foreach (var row in agents)
                                                        {
                                                            var agent = (Data.Agent)row.Entity;
                                                            <div>
                                                                @{
                                                            var details = "";
                                                            if (row.Birth != null && row.Birth.Year.HasValue && row.Death != null && row.Death.Year.HasValue)
                                                            {
                                                                details += " (" + row.Birth.Year.Value.ToString() + "-" + row.Death.Year.Value.ToString() + ")";
                                                                if (row.Birth.Year < newAct.Act.Year && newAct.Act.Year <= row.Death.Year)
                                                                {
                                                                    details += ", aged " + (newAct.Act.Year - row.Birth.Year);
                                                                }
                                                            }
                                                            if (row.Attributes != null && row.Attributes.Any())
                                                            {
                                                                details += ": " + string.Join("; ", row.Attributes.Distinct(new CodexMVC.Areas.Admin.Controllers.CategoryComparer()).Select(x => "<a href=\"/Time/ByAgentType/" + x.Guid + "\">" + x.Name.ToLower() + "</a>"));
                                                            }
                                                                }
                                                                <a href="/Time/ByAgent/@agent.Guid">@Services.Helpers.Common.NameOf(agent)</a> @Html.Raw(details)
                                                                @if (canAccessAdmin)
                                                                {
                                                                    <a target="_blank" href="/Admin/Agent/ViewDetail/@agent.Guid"><span class="glyphicon glyphicon-edit"></span></a>
                                                                }
                                                            </div>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <p>No agents</p>
                                                    }
                                                    @*@if (newAct.RelatedAgents != null && newAct.RelatedAgents.Any())
                                                        {
                                                            <div>
                                                                <h4>
                                                                    Relationships
                                                                </h4>
                                                                @foreach (var item in newAct.RelatedAgents)
                                                                {
                                                                    <div>
                                                                        @Services.Helpers.Common.NameOf(item.Agent1) @Data.Entities.Label.Relationship.ToEnglish(item.Relationship, item.Agent1) @Services.Helpers.Common.NameOf(item.Agent2)
                                                                    </div>
                                                                }
                                                            </div>
                                                        }*@
                                                </div>
                                                <div class="col-md-6 act-text">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            @{
                                                    var sources = new List<string>();
                                                    if (newAct.StatedBy != null)
                                                    {
                                                        sources.Add("<a href=\"/Time/ByAgent/" + newAct.StatedBy.Guid + "\">" + newAct.StatedBy.FullName2 + "</a>");
                                                        if (canAccessAdmin)
                                                        {
                                                            sources.Add("<a target=\"_blank\" href=\"/Admin/Agent/ViewDetail/" + newAct.StatedBy.Guid + "\"><span class=\"glyphicon glyphicon-edit\"></span></a>");
                                                        }
                                                    }
                                                    if (newAct.Source != null)
                                                    {
                                                        sources.Add("<a href=\"/Time/ByArtefact/" + newAct.Source.Guid + "\">\"" + newAct.Source.ToDisplay() + "\"</a>");
                                                        if (canAccessAdmin)
                                                        {
                                                            sources.Add("<a target=\"_blank\" href=\"/Admin/Artefact/ViewDetail/" + newAct.Source.Guid + "\"><span class=\"glyphicon glyphicon-edit\"></span></a>");
                                                        }
                                                    }
                                                    if (newAct.Act.Source != null)
                                                    {
                                                        sources.Add(newAct.Act.Source);
                                                    }
                                                    if (sources.Any())
                                                    {
                                                        <h4>
                                                            Source: <em>@newAct.Act.HistoricalSource</em>
                                                        </h4>
                                                                <p style="width: 300px; font-size: 1em;">
                                                                    @Html.Raw(string.Join("; ", sources))
                                                                </p>
                                                    }
                                                            }
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top: 10px;">
                                                <div class="col-md-12 act-text">
                                                    @{
                                    var hasTags = newAct.TagValues != null && newAct.TagValues.Any();
                                                    }
                                                    @if (hasTags)
                                                    {
                                                        <h4>
                                                            Tags
                                                        </h4>
                                                        <div>
                                                            @foreach (var tag in newAct.TagValues.Where(x => false == x.Tag.IsTheme.GetValueOrDefault()))
                                                            {
                                                                <div>
                                                                    <a href="/Time/ByTag/@tag.Tag.Guid">
                                                                        <span>
                                                                            @tag.Tag.Name
                                                                            @if (tag.Value != null && false == string.IsNullOrEmpty(tag.Value.Value))
                                                                            {
                                                                                <span>(@tag.Value.Value) </span>
                                                                            }
                                                                        </span>
                                                                    </a>
                                                                    @if (canAccessAdmin)
                                                                    {
                                                                        <a target="_blank" href="/Admin/Tag/ViewDetail/@tag.Tag.Guid"><span class="glyphicon glyphicon-edit"></span></a>
                                                                    }
                                                                    @if (tag.Parents != null && tag.Parents.Any())
                                                                    {
                                                                        foreach (var parent in tag.Parents)
                                                                        {
                                                                            <span>
                                                                                <span class="glyphicon glyphicon-arrow-right"></span> <a href="/Time/ByTag/@parent.Guid">@parent.Name</a>
                                                                            </span>
                                                                            if (canAccessAdmin)
                                                                            {
                                                                                <a target="_blank" href="/Admin/Tag/ViewDetail/@parent.Guid"><span class="glyphicon glyphicon-edit"></span></a>
                                                                            }
                                                                        }
                                                                    }
                                                                </div>
                                                            }
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top: 10px;">
                                                <div class="col-md-12 act-text">
                                                    @{
                                    var hasThemes = hasTags && newAct.TagValues.Any(x => x.Tag.IsTheme.GetValueOrDefault());
                                                    }
                                                    @if (hasThemes)
                                                    {
                                                        <h4>
                                                            Themes
                                                        </h4>
                                                        <div>
                                                            @foreach (var tag in newAct.TagValues.Where(x => x.Tag.IsTheme.GetValueOrDefault()))
                                                            {
                                                                <div>
                                                                    <a href="/Time/ByTag/@tag.Tag.Guid">
                                                                        <span>
                                                                            @tag.Tag.Name
                                                                            @if (tag.Value != null && false == string.IsNullOrEmpty(tag.Value.Value))
                                                                            {
                                                                                <span>(@tag.Value.Value) </span>
                                                                            }
                                                                        </span>
                                                                    </a>
                                                                    @if (canAccessAdmin)
                                                                    {
                                                                        <a target="_blank" href="/Admin/Tag/ViewDetail/@tag.Tag.Guid"><span class="glyphicon glyphicon-edit"></span></a>
                                                                    }
                                                                    @if (tag.Parents != null && tag.Parents.Any())
                                                                    {
                                                                        foreach (var parent in tag.Parents)
                                                                        {
                                                                            <span>
                                                                                <span class="glyphicon glyphicon-arrow-right"></span> <a href="/Time/ByTag/@parent.Guid">@parent.Name</a>
                                                                            </span>
                                                                            if (canAccessAdmin)
                                                                            {
                                                                                <a target="_blank" href="/Admin/Tag/ViewDetail/@parent.Guid"><span class="glyphicon glyphicon-edit"></span></a>
                                                                            }
                                                                        }
                                                                    }
                                                                </div>
                                                            }
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    @if (newAct.DataSets.Any())
                                                    {
                                                        <h4>
                                                            Datasets
                                                        </h4>
                                                        <div>
                                                            <ul>
                                                                @foreach (var set in newAct.DataSets)
                                                                {
                                                                    <li>
                                                                        <a href="/DataSet/Index/@set.Guid">@set.Name</a>
                                                                    </li>
                                                                }
                                                            </ul>

                                                        </div>
                                                    }
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    @if (Model.Timeline.SelectMany(x => x.EntityImages.Where(x2 => x2.Entity is Data.Agent)).Any())
    {
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1 class="text-center"><em>Agents</em></h1>
                <div id="agent-cloud" style="width: 100%; height: 200px;"></div>
            </div>
            <div class="col-md-3"></div>
        </div>
    }
    @if (Model.Timeline.SelectMany(x => x.EntityImages.Where(x2 => x2.Entity is Data.Agent)).Any())
    {
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1 class="text-center"><em>Occupations</em></h1>
                <div id="occupation-cloud" style="width: 100%; height: 200px;"></div>
            </div>
            <div class="col-md-3"></div>
        </div>
    }
    @if (Model.Timeline.Where(x => x.TagValues != null && x.TagValues.Any(x2 => false == x2.Tag.IsTheme.GetValueOrDefault())).Any())
    {
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1 class="text-center"><em>Tags</em></h1>
                <div id="cloud" style="width: 100%; height: 200px;"></div>
            </div>
            <div class="col-md-3"></div>
        </div>
    }
    @if (Model.Timeline.Where(x => x.TagValues != null && x.TagValues.Any(x2 => x2.Tag.IsTheme.GetValueOrDefault())).Any())
    {
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1 class="text-center"><em>Themes</em></h1>
                <div id="theme-cloud" style="width: 100%; height: 200px;"></div>
            </div>
            <div class="col-md-3"></div>
        </div>
    }
</div>

@if (Model.Mode == CodexMVC.Models.TimelineMode.ByTag)
{
    <div class="row">
        <div class="col-md-12">
            <div id="chart_div"></div>
        </div>
    </div>
}

@if (Model.Markers.Any())
{
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
            <h1 class="text-center"><em>Places</em></h1>

            <div id="map">
            </div>

        </div>
    </div>
}

<div class="row">
    <div class="col-md-8">

    </div>
    <div class="col-md-4">
        <a href="#" onclick="toggleMapExpansion(); return false;" style="float: right;" class="btn btn-default btn-sm">
            <span id="map-expando" class="glyphicon glyphicon-resize-full"></span>
        </a>
        <a href="#" onclick="toggle(); return false;" style="float: right;" class="btn btn-default btn-primary btn-sm">Hot Spots</a>
        @*<a href="/Time/Slideshow?@Model.Year" onclick="showTimeline(); return false;" style="float: right;" target="_blank" class="btn btn-default btn-primary btn-sm">Slideshow</a>*@
    </div>
</div>

<div class="modal fade" id="timeline-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" style="margin-top: 20px;">
                <iframe id="timeline-iframe" style="width: 900px; height: 700px;"></iframe>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@{
    var tagValuesTEST = Model.Timeline.Where(x => x.TagValues != null && x.TagValues.Any());
    var tags = tagValuesTEST.SelectMany(x => x.TagValues.Where(x2 => false == x2.Tag.IsTheme.GetValueOrDefault()).Select(x2 => x2.Tag));
    tags = tags.Concat(tagValuesTEST.SelectMany(x => x.TagValues.Where(x2 => false == x2.Tag.IsTheme.GetValueOrDefault()).SelectMany(x3 => x3.Parents.Where(x2 => false == x2.IsTheme.GetValueOrDefault()))));

    var themes = Model.Timeline.Where(x => x.TagValues != null && x.TagValues.Any()).SelectMany(x => x.TagValues.Where(x2 => x2.Tag.IsTheme.GetValueOrDefault()).Select(x2 => x2.Tag));

    var agentGroup = Model.Timeline
        .SelectMany(x => x.EntityImages.Where(x2 => x2.Entity is Data.Agent).Select(x2 => x2.Entity))
        .GroupBy(x => RazorHelper.NameOf(x));
    var occupationGroup = Model.Timeline
        .SelectMany(x => x.EntityImages.Where(x2 => x2.Entity is Data.Agent).SelectMany(x2 => x2.Attributes))
        .GroupBy(x => (x.Adjective ?? x.Name));
    var agentWords = agentGroup.Select(x => new
    {
        text = x.Key,
        weight = x.Count(),
        link = "/Time/ByAgent/" + x.First().Guid
    });
    var occupationWords = occupationGroup.Select(x => new
    {
        text = x.Key,
        weight = x.Count(),
        link = "/Time/ByAgentType/" + x.First().Guid
    });

    var tagGroup = tags.GroupBy(x => x.Name);
    var tagWords = tagGroup.Select(x => new
    {
        text = x.Key,
        weight = x.Count(),
        link = "/Time/ByTag/" + x.First().Guid
    });

    var themeWords = themes.GroupBy(x => x.Name).Select(x => new
    {
        text = x.Key,
        weight = x.Count(),
        link = "/Time/ByTag/" + x.First().Guid
    });
}

@section scripts {
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=@GoogleMapsAPIKey">
    </script>
    <script src="~/Scripts/google.maps.markerclusterer.js"></script>
    <script src="~/Scripts/google.maps.cluster.js"></script>
    <script type="text/javascript"
            src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>
    @{
        var dateRangeGroup = Model.Timeline
            .Where(x => x.Act.Year.HasValue)
            .Select(x => new { Act = x.Act, Date = Services.Helpers.Common.ToDateTime(x.Act.Year, x.Act.Month, 1, 0, 0).Value })
            .GroupBy(x => x.Date.Year)
            ;
        var dateRangeData = string.Join(", ", dateRangeGroup
            .Select(x => new { Date = x.First().Date, Value = x.Count() })
            .OrderBy(x => x.Date)
            .Select(x => string.Format("[new Date({0}, {1}, {2}), {3}]", x.Date.Year, 0, 1, x.Value)));
        if (dateRangeData.Any())
        {
            <script>
                google.setOnLoadCallback(drawChart);

                function drawChart() {
                    var data = google.visualization.arrayToDataTable([
                      ['Year', '# of Events'],
                      @Html.Raw(dateRangeData)
                    ]);

                    var options = {
                        title: '@Model.Year to @Model.EndYear (@(Model.EndYear-Model.Year) years)',
                        legend: { position: 'bottom' },
                        series: {
                            0: { color: '#000' }
                        },
                        lineWidth: 2,
                        pointSize: 5,
                        pointShape: 'circle'

                    };

                    var chart = new google.visualization.LineChart(document.getElementById('date_range_chart_div'));
                    chart.draw(data, options);
                }
            </script>
        }
    }
    @if (Model.Mode == CodexMVC.Models.TimelineMode.ByTag)
    {
        var tagValues = Model.Timeline
                .Where(x => x.TagValues != null && x.TagValues.Any())
                .SelectMany(x => x.TagValues.Where(x2 => x2.Tag.Guid == Model.TagEntity.Guid).Select(x2 => new
                {
                    Date = Services.Helpers.Common.ToDateTime(x.Act.Year, x.Act.Month, x.Act.Day, x.Act.Hour, x.Act.Minute),
                    Value = Services.Helpers.Common.TryParseInt(x2.Value != null ? x2.Value.Value : null)
                }))
                .Where(x => x.Date.HasValue && x.Value.HasValue)
                .Select(x => new
                {
                    Date = x.Date.Value,
                    Value = x.Value.Value
                })
                .OrderBy(x => x.Date);

        var data = string.Join(", ", tagValues.Select(x => string.Format("[new Date({0}, {1}, {2}), {3}]", x.Date.Year, x.Date.Month - 1, x.Date.Day, x.Value)));

        if (data.Any())
        {
            <script type="text/javascript"
                    src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>
            <script>
                google.setOnLoadCallback(drawChart);

                function drawChart() {
                    var data = google.visualization.arrayToDataTable([
                      ['Date', 'Value'],
                      @Html.Raw(data)
                    ]);

                    var options = {
                        title: '@Model.Tag',
                        legend: { position: 'bottom' }
                    };

                    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
                    chart.draw(data, options);
                }
            </script>
        }
    }

    <script>
        (function(){
            var words = @Html.Raw(Json.Encode(tagWords));
            $("#cloud").jQCloud(words);
        })();
        (function(){
            var words = @Html.Raw(Json.Encode(themeWords));
            $("#theme-cloud").jQCloud(words);
        })();
        @if (agentWords != null && agentWords.Any())
        {
            <text>
        (function(){
            var words = @Html.Raw(Json.Encode(agentWords));
            $("#agent-cloud").jQCloud(words);
        })();
        </text>
        }
        @if (occupationWords!=null && occupationWords.Any())
        {
            <text>
        (function(){
            var words = @Html.Raw(Json.Encode(occupationWords));
            $("#occupation-cloud").jQCloud(words);
        })();
        </text>
        }
    </script>

    <script>
        function showTimeline(){
            var modal = $("#timeline-modal");
            var iframe = document.getElementById('timeline-iframe');
            @{
                var route = false == Model.EndYear.HasValue ? "/Time/Slideshow?year=" + Model.Year : "/Time/SlideshowRange?startYear=" + Model.Year + "&endYear=" + Model.EndYear.Value;
            }
            iframe.src = "@Html.Raw(route)";
            modal.modal({ show: true });
        }
    </script>

    <script>
        /**
        Globals
        **/
        var dataset = {
            map: null,
            timeline: {

            },
            artworks: {

            }
        };
        function initialiseTimelineMap() {

            var markers = [];
            @foreach (var item in Model.Markers)
            {
                foreach (var subitem in item)
                {
                <text>
            buildMarkerList(markers, @(subitem.Latitude), @subitem.Longitude, "@Html.Raw(subitem.ContainerName)", "@Html.Raw(subitem.Content.Replace("\"", "'"))");
            </text>
}
            }
            if (markers.length) {
                var heatmap = @Html.Raw(Json.Encode(Model.Heatmap));
                var result = generateMarkersAndHeatMap(markers, dataset.map, heatmap);
                dataset.timeline = result;
            }
        }

        function buildMarkerList(list, lat, lng, title, content) {
            var item = find(list, function (item) {
                return item.lat == lat && item.lng == lng;
            });
            if (item) {
                item.infoWindows.push({ title: title, content: content });
            } else {
                var temp = {
                    lat: lat, lng: lng, infoWindows: [{ title: title, content: content }]
                };
                list.push(temp);
            }
        }

        var select = app.Utils.select;
        var find = app.Utils.find;
        var each = app.Utils.each;

        function generateMarkersAndHeatMap(list, map, heatmapData) {
            var markerList = select(list, function (item, __, index) {
                var content = select(item.infoWindows, function (iw) {
                    return "<p>" + iw.content + "</p>";
                });
                var infowindow = new google.maps.InfoWindow({
                    content: $("<div id=\"content\" style='min-height: 150px; width: 600px;'><div id='bodyContent' style='line-height: 14px;'><p><b>{title}</b></p><div style='-webkit-column-count: 1;'>{content}</div></div></div>".fmt({
                        content: content.join(""), title: item.infoWindows[0].title || "test"
                    }))[0]
                });
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(item.lat, item.lng),
                    title: ""
                });

                google.maps.event.addListener(marker, 'click', function () {
                    infowindow.open(map, marker);
                });

                return {
                    marker: marker,
                    infoWindow: infowindow
                }
            });

            var markers = select(markerList, function (item) { return item.marker });
            var cluster = new MarkerClusterer(map, markers);
            var bounds = new google.maps.LatLngBounds();
            each(markers, function(marker) {
                bounds.extend(marker.getPosition());
            });
            map.fitBounds(bounds);

            var heatmapTransformed = select(heatmapData, function(item){
                return {
                    location: new google.maps.LatLng(item.Latitude, item.Longitude),
                    weight: item.Weight
                };
            });
            var heatmap = new google.maps.visualization.HeatmapLayer({
                data: heatmapTransformed
            });

            heatmap.set('radius', 30);

            return {
                markers: markers,
                heatmap: heatmap,
                cluster: cluster
            };
        }

        function toggle() {
            var set = dataset[dataset.current];
            if (dataset.state == "markers"){
                hideMarkers(set);
                showHeatMap(set);
                dataset.state = "heatmap";
            } else if (dataset.state == "heatmap") {
                hideHeatMap(set);
                showMarkers(set);
                dataset.state = "markers";
            }
        }

        function hideMarkers(set){
            each(set.markers, function(m){
                m.setMap(null);
            });
            if (set.cluster) set.cluster.clearMarkers();
        }

        function fitBounds(set){
            var bounds = new google.maps.LatLngBounds();
            each(set.markers, function(marker) {
                bounds.extend(marker.getPosition());
            });
            dataset.map.fitBounds(bounds);
        }

        function showMarkers(set){
            each(set.markers, function(m){
                m.setMap(dataset.map);
            });
            if (set.cluster) set.cluster.addMarkers(set.markers);
        }

        function hideHeatMap(set){
            if (set.heatmap) set.heatmap.setMap(null);
        }

        function showHeatMap(set) {
            if (set.heatmap) set.heatmap.setMap(dataset.map);
        }

        function toggleMapExpansion(link) {
            var expando = $("#map-expando");
            var $map = $("#map");
            var height = parseInt($map.css("height"));
            var isContracted = height == 500;
            if (isContracted) {
                expando.removeClass("glyphicon-resize-full");
                expando.addClass("glyphicon-resize-small");
            }
            else {
                expando.removeClass("glyphicon-resize-small");
                expando.addClass("glyphicon-resize-full");
            }
            $map.css("height", isContracted ? "800px" : "500px");
            google.maps.event.trigger(dataset.map, "resize");
        }

        if (typeof window.google != "undefined"){

            var mapOptions = {
                zoom: 14
            };
            dataset.map = new google.maps.Map(document.getElementById('map'), mapOptions);
            dataset.current = "timeline";
            dataset.state = "markers";
            initialiseTimelineMap();
            showMarkers(dataset.timeline);
            hideHeatMap(dataset.timeline);
            fitBounds(dataset.timeline);
        }
    </script>
    <script>
        $(".justified").justifiedGallery({
            rowHeight: 300,
            lastRow: 'nojustify',
            margins: 10,
            captionSettings: {
                animationDuration: 500,
                visibleOpacity: 0.7,
                nonVisibleOpacity: 0.7
            }
        });
    </script>
    <script>
        function toggleBlock(element, role) {
            console.log(element, role);
            var span = $(element);
            var block = span.parent().find("[data-role='" + role + "']");
            var visible = block.data("visible") == "true";
            var blocks = span.parent().find("[data-role]");
            blocks.data("visible", (!visible).toString().toLowerCase());
            blocks.hide();
            if (false == visible) {
                block.show();
                console.log('show')
            }
            return false;
        }
    </script>
    <script>
        //$(function(){
        //    $("[data-toggle=popover]").each(function(__, item){
        //        var url = $(this).data("image");
        //        var img = "<img src=\"{url}\" />".fmt({ url: url });
        //        $(this).popover(
        //        {
        //            content: img, html: true, placement: "top", trigger: "hover"
        //        });
        //    });
        //});
    </script>
}
