﻿.section-heading {
    background-color: #333;
    color: #ccc;
    padding: 20px;
    width: 800px;
}

.container-heading {
    background-color: #ccc;
    padding: 10px;
}

div.two-cols {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

.perforation {
    border-bottom: 1px dotted #ccc;
}

#filtering-by {
    /*font-weight: 600;*/
    color: #f50057;
}