﻿body {
    font-family: "Aldus LT Std", Arial;
    font-size: 1.2em;
}
a {
    color: #555;
    text-decoration: none;
    padding: 3px;
    padding-left:10px;
    padding-right:10px;
    box-shadow: 0px 2px 3px #ccc;
    border-radius: 3px;
}
img {
    padding: 10px;
    box-shadow: 0px 2px 3px #ccc;
}

/* Comment! */

ul {
    list-style-type: none;
}
li {

}
select {
    padding: 5px;
    border-radius: 3px;
    box-shadow: 3px 2px 3px #ccc;
}
option {
    font-size: 1.3em;
}
button {
    padding:5px;
    border-radius: 3px;
    box-shadow: 3px 2px 3px #ccc;
}
.topic-separator {
    padding-top:10px;
    /*border-top: 1px dotted #555;*/
    position: relative;
}
fieldset legend {
        font-size: 1em;
    }
    legend.small {
        font-size: 1em;
    }
    .card {
        width: 92.5%;
        border: 1px solid #ccc;
        margin:50px 25px;
        padding:10px 20px;
        box-shadow: 3px 2px 3px #ccc;
        border-radius: 8px;
    }