﻿@model CodexMVC.Models.ActNode
<div style="width: 600px;">
    @Html.HiddenFor(x => x.Guid)
    <div class="form-row">
        <label>
            Description
        </label>
        <div>
            @Html.TextAreaFor(x => x.Description)
            @Html.ValidationMessageFor(x => x.Description)
        </div>
    </div>
    <div style="float:left;padding: 10px;border:2px dotted #555;">
        <h3>From</h3>
        <div>
            <label>Proximity</label>
            @Html.DropDownListFor(x => x.Proximity, new SelectList(Model.Proximities, "Value", "Text"))
        </div>
        <div>
            <label>AD/BC</label>
            @Html.DropDownListFor(x => x.Milennium, new SelectList(Model.Milennia, "Value", "Text"))
        </div>
        <div>
            <label>Year</label>
            @Html.TextBoxFor(x => x.Year)
        </div>
        <div>
            <label>Month</label>
            @Html.TextBoxFor(x => x.Month)
        </div>
        <div>
            <label>Day</label>
            @Html.TextBoxFor(x => x.Day)
        </div>
        <div>
            <label>Hour</label>
            @Html.TextBoxFor(x => x.Hour)
        </div>
        <div>
            <label>Minute</label>
            @Html.TextBoxFor(x => x.Minute)
        </div>
    </div>
    <div style="border:2px dotted #555;padding: 10px;">
        <h3>To</h3>
        <div>
            <label>Proximity</label>
            @Html.DropDownListFor(x => x.ProximityEnd, new SelectList(Model.Proximities, "Value", "Text"))
        </div>
        <div>
            <label>AD/BC</label>
            @Html.DropDownListFor(x => x.MilenniumEnd, new SelectList(Model.Milennia, "Value", "Text"))
        </div>
        <div>
            <label>Year</label>
            @Html.TextBoxFor(x => x.YearEnd)
        </div>
        <div>
            <label>Month</label>
            @Html.TextBoxFor(x => x.MonthEnd)
        </div>
        <div>
            <label>Day</label>
            @Html.TextBoxFor(x => x.DayEnd)
        </div>
        <div>
            <label>Hour</label>
            @Html.TextBoxFor(x => x.HourEnd)
        </div>
        <div>
            <label>Minute</label>
            @Html.TextBoxFor(x => x.MinuteEnd)
        </div>
    </div>
</div>