﻿@model CodexMVC.Models.ActNode
<div style="width: 600px;">
    <div style="float:left;padding: 10px;border:2px dotted #555;">
        <h3>From</h3>
        <div>
            <label>Proximity</label>
            @Html.DropDownListFor(x => x.Proximity, new SelectList(Model.Proximities, "Value", "Text"))
        </div>
        <div>
            <label>Year</label>
            @Html.TextBoxFor(x => x.Year)
        </div>
        <div>
            <label>Month</label>
            @Html.TextBoxFor(x => x.Month)
        </div>
        <div>
            <label>Day</label>
            @Html.TextBoxFor(x => x.Day)
        </div>
    </div>
    <div style="border:2px dotted #555;padding: 10px;">
        <h3>To</h3>
        <div>
            <label>Proximity</label>
            @Html.DropDownListFor(x => x.Proximity, new SelectList(Model.Proximities, "Value", "Text"))
        </div>
        <div>
            <label>Year</label>
            @Html.TextBoxFor(x => x.Year)
        </div>
        <div>
            <label>Month</label>
            @Html.TextBoxFor(x => x.Month)
        </div>
        <div>
            <label>Day</label>
            @Html.TextBoxFor(x => x.Day)
        </div>
    </div>
</div>