﻿<script type="text/html" id="person-agent-card-template">
    @Html.Partial("~/Views/Templates/Cards/AgentAgentCard.cshtml")
</script>
<script type="text/html" id="related-to-card-template">
    @Html.Partial("~/Views/Templates/Cards/RelatedToCard.cshtml")
</script>
<script type="text/html" id="known-as-card-template">
    @Html.Partial("~/Views/Templates/Cards/KnownAsCard.cshtml")
</script>
<script type="text/html" id="represents-card-template">
    @Html.Partial("~/Views/Templates/Cards/RepresentsCard.cshtml")
</script>
