﻿<div class="animated fadeInDown">
    <div>
        <select data-bind="options: $data.relationships, value: $data.selectedRelationship, optionsText: 'Name'"></select>
    </div>
    <div>
        <div data-bind="template: { name: 'person-selector-template', data: $data.other }"></div>
    </div>
</div>
<div style="float: right;">
    <button data-bind="click: $data.cancelClicked">Cancel</button>
    <button data-bind="click: $data.saveClicked">Save</button>
</div>
