﻿@model CodexMVC.Models.ViewCharacterList
@{
    ViewBag.Title = "Characters";
    ViewBag.Section = "Character";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    ul {
        list-style: none;
    }

    .container-heading {
        background-color: #ccc;
        padding: 10px;
    }
</style>

<div class="page-header">
    <h1>Characters</h1>
</div>

@foreach (var item in Model.Characters.OrderBy(x => x.Character.FullName))
{
    <h3 class="container-heading">
        @item.Character.FullName2 <a href="/Character/ViewDetail/@item.Character.Guid" class="btn btn-default">see all</a>
    </h3>
    <div class="justified">
        @foreach (var subitem in item.Artefacts.OrderBy(x => x.Agent.FullName).Distinct(new Services.ArtefactAgentImageTupleComparer()))
        {
            <div>
                <a href="/Artefact/ViewDetail/@subitem.Artefact.Guid">
                    <img alt="@subitem.Artefact.ToDisplay() by @subitem.Agent.FullName2" src="@subitem.Image.VirtualPath().Replace("~", "")?width=350&mode=crop" />
                </a>
            </div>
        }
    </div>
}

@section scripts {
    <script>
        $(".justified").justifiedGallery({
            rowHeight: 200,
            lastRow: 'nojustify',
            margins: 3,
            captionSettings: {
                animationDuration: 500,
                visibleOpacity: 1,
                nonVisibleOpacity: 1
            }
        });
    </script>
}