﻿@using Data.Entities
@using CodexMVC.Helpers
@model CodexMVC.Models.ViewCharacterPublic
@{
    ViewBag.Title = Model.Character.Agent.FullName2;
    ViewBag.Section = "Character";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <style>
        .section-heading {
            background-color: #333;
            color: #ccc;
            padding: 20px;
            width: 100%;
        }

        .container-heading {
            background-color: #ccc;
            padding: 10px;
        }

        #map {
            width: 100%;
            height: 300px;
            margin: 0;
            padding: 0;
        }
    </style>
}

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-10">
                <h1>
                    @Model.Character.Agent.FullName2
                    <small>
                        @Model.Character.SubTitle()
                    </small>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-4">
                <a href="#" onclick="toggleMapExpansion(); return false;" style="float: right;" class="btn btn-default btn-sm">
                    <span id="map-expando" class="glyphicon glyphicon-resize-full"></span>
                </a>
                <a href="#" onclick="toggle(); return false;" style="float: right;" class="btn btn-default btn-primary btn-sm">Hot Spots</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div>
            <div id="map">
            </div>
        </div>
    </div>
</div>
@if (Model.ContainerWithArtefacts.Any())
            {
    <div class="row">
        <div class="col-md-12">
            @foreach (var item in Model.ContainerWithArtefacts)
                        {
                <h3 class="container-heading">
                    @item.Container.ToDisplay()
                    <a href="/Artefact/ViewDetail/@item.Container.Guid" class="btn btn-default btn-sm">see all</a>
                </h3>
                <div class="justified">
                    @foreach (var subitem in item.Artworks.Take(5))
                                {
                        <div>
                            <a href="/Artefact/ViewDetail/@subitem.Artefact.Guid">
                                <img alt="@subitem.Artefact.ToDisplay() by @subitem.Artist.FullName2" src="@subitem.Image.VirtualPath().Replace("~", "")?height=300&mode=crop" />
                            </a>
                        </div>
                                }
                </div>
                }
        </div>
    </div>
}

@section scripts {
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=@GoogleMapsAPIKey">
</script>
    <script src="~/Scripts/google.maps.markerclusterer.js"></script>
    <script src="~/Scripts/google.maps.cluster.js"></script>
    <script>
        function addBookmark(element) {
            var bookmark = $(element);
            var guid = bookmark.data("guid");
            var type = bookmark.data("type");
            var bookmarked = bookmark.data("bookmarked");
            var icon = bookmark.find("span");
            if (!bookmarked) {
                bookmark.data("bookmarked", true);
                $.get("/API/AddBookmark", {
                    guid: guid,
                    type: type
                }, function (response) {
                    icon.css("color", "red");
                });
            } else {
                bookmark.data("bookmarked", false);
                $.get("/API/RemoveBookmark", {
                    guid: guid,
                    type: type
                }, function (response) {
                    icon.css("color", "#337ab7");
                });
            }
            return false;
        }
    </script>
    <script>
        @{
            var artworks = Model.ContainerWithArtefacts.SelectMany(x=> x.Artworks.Select(x2 =>
            {
                var container = x.TopContainer != null ? x.TopContainer : x.Container;
                var lat = container != null && container.Latitude.HasValue ? container.Latitude.Value : x.Location.Latitude.Value;
                var lng = container != null && container.Longitude.HasValue ? container.Longitude.Value : x.Location.Longitude.Value;
                //var stars = string.Join("", Enumerable.Range(1, (x2.Artefact.Rating??1)).Select(z => "<span class='glyphicon glyphicon-star' style='color: gold;'></span>"));
                return new Services.ArtefactMarker
                {
                    Artist = x2.Artist,
                    Artwork = x2.Artefact,
                    Latitude = lat,
                    Longitude = lng,
                    Content = "<a href=\"/Artefact/ViewDetail/" + x2.Artefact.Guid + "\">" + x2.Artefact.ToDisplay() + "</a> ",
                    ContainerName = container.ToDisplay().Replace("\"", "'") + " <a href='/Artefact/ViewDetail/" + container.Guid + "' class='btn btn-default btn-sm'>see all</a> <a href='//maps.google.com/maps?daddr=" + lat + "," + lng + "' class='btn btn-default btn-sm'>map</a>"
                };
            })).Distinct(new Services.ArtefactMarkerComparer());
            var geoGrouping = artworks
                .GroupBy(x => x.Latitude.ToString() + ":" + x.Longitude.ToString())
                .Select(x => new
                {
                    Latitude = x.First().Latitude,
                    Longitude = x.First().Longitude,
                    ContainerName = x.First().ContainerName,
                    Artworks = x.Select(x2 => new {
                        Guid = x2.Artwork.Guid,
                        Name = x2.Artwork.Name,
                        Rating = x2.Artwork.Rating
                    }),
                    Content = string.Join("", x.GroupBy(x2=> x2.Artist.Guid).Select(x2 =>
                    {
                        var artist = x2.First().Artist;
                        var art = string.Join("", x2.Select(x3 => x3.Artwork).Select(x3 => "<div><a href='/Artefact/ViewDetail/" + x3.Guid + "'>" + x3.ToDisplay() + "</a></div>"));
                        return "<p><b><a href='/Agent/ViewDetail/" + artist.Guid + "'>" + artist.FullName2 + "</a></b>" + art + "</p>";
                    }))
                });
            var heatData = geoGrouping
                .Select(x => new {
                    Weight = x.Artworks.Sum(x2 => (x2.Rating??1)),
                    Latitude = x.Latitude,
                    Longitude = x.Longitude
                });
        }
        /**
        Globals
        **/
        var ModeEnum = {
            "Markers":"Markers",
            "Heatmap":"Heatmap"
        };
        var Mode = ModeEnum.Markers;
        var mapMarkers = [], map, heatmap, markerCluster;
        function initialiseArtworkMap(){
            var mapOptions = {
                zoom: 14
            };
            map = new google.maps.Map(document.getElementById('map'), mapOptions);
            var markers= [];
            @foreach (var item in geoGrouping)
            {
                <text>
            buildMarkerList(markers, @item.Latitude, @item.Longitude, "@Html.Raw(item.ContainerName)", "@Html.Raw(item.Content.Replace("\"", "'"))");
            </text>
            }
            if (markers.length) {
                addMarkers(markers, map);
            }
        }
        function buildMarkerList(list, lat, lng, title, content) {
            var item = find(list, function (item) {
                return item.lat == lat && item.lng == lng;
            });
            if (item) {
                item.infoWindows.push({ title: title, content: content });
            } else {
                var temp = {
                    lat: lat, lng: lng, infoWindows: [{ title: title, content: content }]
                };
                list.push(temp);
            }
        }
        var select = app.Utils.select;
        var find = app.Utils.find;
        var each = app.Utils.each;
        function addMarkers(list, map) {
            var markerList = select(list, function (item, __, index) {
                var content = select(item.infoWindows, function (iw) {
                    return "<p>" + iw.content + "</p>";
                });
                var infowindow = new google.maps.InfoWindow({
                    content: $("<div id=\"content\" style='min-height: 150px; width: 600px;'><div id='bodyContent' style='line-height: 14px;'><p><b>{title}</b></p><div style='-webkit-column-count: 1;'>{content}</div></div></div>".fmt({
                        content: content.join(""), title: item.infoWindows[0].title || "test"
                    }))[0]
                });
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(item.lat, item.lng),
                    title: ""
                });
                google.maps.event.addListener(marker, 'click', function () {
                    infowindow.open(map, marker);
                });
                return {
                    marker: marker,
                    infoWindow: infowindow
                }
            });
            var markers = mapMarkers = select(markerList, function (item) { return item.marker });
            markerCluster = new MarkerClusterer(map, mapMarkers);
            var bounds = new google.maps.LatLngBounds();
            each(markers, function(marker) {
                bounds.extend(marker.getPosition());
            });
            map.fitBounds(bounds);
            var heatmapData = @Html.Raw(Json.Encode(heatData));
            var heatmapTransformed = select(heatmapData, function(item){
                return {
                    location: new google.maps.LatLng(item.Latitude, item.Longitude),
                    weight: item.Weight
                };
            });
            heatmap = new google.maps.visualization.HeatmapLayer({
                data: heatmapTransformed
            });
            heatmap.set('radius', 30);
        }
        function toggle(){
            if (Mode == ModeEnum.Heatmap){
                // show markers, hide heatmap
                Mode = ModeEnum.Markers;
                toggleMarkers();
            }
            else {
                // show heatmap, hide markers
                Mode = ModeEnum.Heatmap;
                toggleHeatmap();
            }
        }
        function toggleMarkers() {
            each(mapMarkers, function(m){
                m.setMap(map);
            });
            markerCluster.addMarkers(mapMarkers);
            heatmap.setMap(null);
        }
        function toggleHeatmap() {
            heatmap.setMap(map);
            each(mapMarkers, function(m){
                m.setMap(null);
            });
            markerCluster.clearMarkers();
        }
        function toggleMapExpansion(link) {
            var expando = $("#map-expando");
            var $map = $("#map");
            var height = parseInt($map.css("height"));
            var isContracted = height == 300;
            if (isContracted) {
                expando.removeClass("glyphicon-resize-full");
                expando.addClass("glyphicon-resize-small");
            }
            else{
                expando.removeClass("glyphicon-resize-small");
                expando.addClass("glyphicon-resize-full");
            }
            $map.css("height", isContracted ? "600px" : "300px");
            google.maps.event.trigger(map, "resize");
        }
        if (typeof window.google != "undefined"){
            initialiseArtworkMap();
        }
    </script>

    <script>
        $(".justified").justifiedGallery({
            rowHeight : 300,
            lastRow : 'nojustify',
            margins : 3,
            captionSettings:	{
                animationDuration: 500,
                visibleOpacity: 0.7,
                nonVisibleOpacity: 0.7
            }
        });
    </script>
}