﻿@model CodexMVC.Models.ActModel
<div style="width: 600px;">
    @Html.HiddenFor(x => x.Act.Guid)
    <div class="form-row">
        <label>
            Subtitle
        </label>
        <div>
            @Html.TextAreaFor(x => x.Act.Subtitle)
            @Html.ValidationMessageFor(x => x.Act.Subtitle)
        </div>
    </div>
    <div class="form-row">
        <label>
            Description
        </label>
        <div>
            @Html.TextAreaFor(x => x.Act.Description)
            @Html.ValidationMessageFor(x => x.Act.Description)
        </div>
    </div>
    <div style="float:left;padding: 10px;border:2px dotted #555;">
        <h3>From</h3>
        <div>
            <label>Proximity</label>
            @Html.DropDownListFor(x => x.Act.Proximity, new SelectList(Model.Proximities, "Value", "Text"))
        </div>
        <div>
            <label>AD/BC</label>
            @Html.DropDownListFor(x => x.Act.Milennium, new SelectList(Model.Milennia, "Value", "Text"))
        </div>
        <div>
            <label>Year</label>
            @Html.TextBoxFor(x => x.Act.Year)
        </div>
        <div>
            <label>Month</label>
            @Html.TextBoxFor(x => x.Act.Month)
        </div>
        <div>
            <label>Day</label>
            @Html.TextBoxFor(x => x.Act.Day)
        </div>
        <div>
            <label>Hour</label>
            @Html.TextBoxFor(x => x.Act.Hour)
        </div>
        <div>
            <label>Minute</label>
            @Html.TextBoxFor(x => x.Act.Minute)
        </div>
    </div>
    <div style="border:2px dotted #555;padding: 10px;">
        <h3>To</h3>
        <div>
            <label>Proximity</label>
            @Html.DropDownListFor(x => x.Act.ProximityEnd, new SelectList(Model.Proximities, "Value", "Text"))
        </div>
        <div>
            <label>AD/BC</label>
            @Html.DropDownListFor(x => x.Act.MilenniumEnd, new SelectList(Model.Milennia, "Value", "Text"))
        </div>
        <div>
            <label>Year</label>
            @Html.TextBoxFor(x => x.Act.YearEnd)
        </div>
        <div>
            <label>Month</label>
            @Html.TextBoxFor(x => x.Act.MonthEnd)
        </div>
        <div>
            <label>Day</label>
            @Html.TextBoxFor(x => x.Act.DayEnd)
        </div>
        <div>
            <label>Hour</label>
            @Html.TextBoxFor(x => x.Act.HourEnd)
        </div>
        <div>
            <label>Minute</label>
            @Html.TextBoxFor(x => x.Act.MinuteEnd)
        </div>
    </div>
</div>