﻿@model CodexMVC.Models.RelationHyperNodeModel
<div style="width: 600px;">
    @Html.HiddenFor(x => x.RelationModel.Relation.Guid)
    <div class="form-row">
        <label>
            Subtitle
        </label>
        <div>
            @Html.TextAreaFor(x => x.RelationModel.Relation.Subtitle)
            @Html.ValidationMessageFor(x => x.RelationModel.Relation.Subtitle)
        </div>
    </div>
    <div class="form-row">
        <label>
            Description
        </label>
        <div>
            @Html.TextAreaFor(x => x.RelationModel.Relation.Description)
            @Html.ValidationMessageFor(x => x.RelationModel.Relation.Description)
        </div>
    </div>
    <div class="form-row">
        <label>
            Is Current?
        </label>
        <div>
            @Html.CheckBoxFor(x => x.RelationModel.IsCurrent)
            @Html.ValidationMessageFor(x => x.RelationModel.IsCurrent)
        </div>
    </div>
    <div style="float:left;padding: 10px;border:2px dotted #555;">
        <h3>From</h3>
        <div>
            <label>Proximity</label>
            @Html.DropDownListFor(x => x.RelationModel.Relation.Proximity, new SelectList(Model.RelationModel.Proximities, "Value", "Text"))
        </div>
        <div>
            <label>AD/BC</label>
            @Html.DropDownListFor(x => x.RelationModel.Relation.Milennium, new SelectList(Model.RelationModel.Milennia, "Value", "Text"))
        </div>
        <div>
            <label>Year</label>
            @Html.TextBoxFor(x => x.RelationModel.Relation.Year)
        </div>
        <div>
            <label>Month</label>
            @Html.TextBoxFor(x => x.RelationModel.Relation.Month)
        </div>
        <div>
            <label>Day</label>
            @Html.TextBoxFor(x => x.RelationModel.Relation.Day)
        </div>
        <div>
            <label>Hour</label>
            @Html.TextBoxFor(x => x.RelationModel.Relation.Hour)
        </div>
        <div>
            <label>Minute</label>
            @Html.TextBoxFor(x => x.RelationModel.Relation.Minute)
        </div>
    </div>
    <div style="border:2px dotted #555;padding: 10px;">
        <h3>To</h3>
        <div>
            <label>Proximity</label>
            @Html.DropDownListFor(x => x.RelationModel.Relation.ProximityEnd, new SelectList(Model.RelationModel.Proximities, "Value", "Text"))
        </div>
        <div>
            <label>AD/BC</label>
            @Html.DropDownListFor(x => x.RelationModel.Relation.MilenniumEnd, new SelectList(Model.RelationModel.Milennia, "Value", "Text"))
        </div>
        <div>
            <label>Year</label>
            @Html.TextBoxFor(x => x.RelationModel.Relation.YearEnd)
        </div>
        <div>
            <label>Month</label>
            @Html.TextBoxFor(x => x.RelationModel.Relation.MonthEnd)
        </div>
        <div>
            <label>Day</label>
            @Html.TextBoxFor(x => x.RelationModel.Relation.DayEnd)
        </div>
        <div>
            <label>Hour</label>
            @Html.TextBoxFor(x => x.RelationModel.Relation.HourEnd)
        </div>
        <div>
            <label>Minute</label>
            @Html.TextBoxFor(x => x.RelationModel.Relation.MinuteEnd)
        </div>
    </div>
</div>