﻿@using Services.Common
@model List<Services.DataSetListItem>
    @{
        ViewBag.Title = "Datasets";
        Layout = "~/Views/Shared/_ProductLayout.cshtml";
    }
    <style>
        ul {
            list-style: none;
        }
    </style>
    <div class="page-header" style="margin-top: 80px;">
        <h1>Datasets</h1>
    </div>

    <div class="row">
        <div class="col-md-8" style="font-size: 1.5em;">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Dataset
                        </th>
                        <th>
                            Units
                        </th>
                        <th>
                            Points
                        </th>
                        <th style="width: 225px;">
                            Years
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a href="/DataSet/Index/@item.DataSet.Guid">@item.DataSet.Name</a>
                                @if (item.DataSet.Description != null)
                                {
                                    <p style="font-size: 0.75em;">
                                        @item.DataSet.Description
                                    </p>
                                }
                            </td>
                            <td>
                                @(item.DataSet.UnitOfMeasurePlural ?? item.DataSet.UnitOfMeasure)
                            </td>
                            <td>
                                @if (item.Count > 0)
                                {
                                    @item.Count
                                }
                            </td>
                            
                            <td>
                                @if (item.StartYear.HasValue)
                                {
                                    var diff = item.EndYear - item.StartYear;
                                    <div>
                                        @if (diff > 0)
                                        {
                                            <div>
                                                @(item.StartYear) - @(item.EndYear)
                                                <span>(@diff @(diff == 1 ? "year" : "years"))</span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div>
                                                @item.StartYear
                                            </div>
                                        }
                                    </div>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
