@font-face {
  font-family: "icomoon";
  src: url("/Content/fonts/icomoon.eot?k375uj");
  src: url("/Content/fonts/icomoon.eot?#iefixk375uj") format("embedded-opentype"), url("/Content/fonts/icomoon.ttf?k375uj") format("truetype"), url("/Content/fonts/icomoon.woff?k375uj") format("woff"), url("/Content/fonts/icomoon.svg?k375uj#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
.icon-search:before {
  content: "\eb2d";
}
.icon-cog:before {
  content: "\eb5c";
}
.icon-menu:before {
  content: "\ec6e";
}
.icon-star-empty:before {
  content: "\ece0";
}
.icon-star-half:before {
  content: "\ece1";
}
.icon-star-full:before {
  content: "\ece2";
}
.icon-heart-full:before {
  content: "\ece6";
}
.icon-heart-empty:before {
  content: "\ece7";
}
.icon-cross:before {
  content: "\ed6a";
}
.main-nav__dropdown {
  position: absolute;
  top: 100%;
  z-index: 2;
  background-color: white;
  margin: 0;
  padding: .5em 0;
  list-style-type: none;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
  font-size: .87em;
}
.main-nav__dropdown-link {
  display: block;
  padding: .25em 1em;
}
/*# sourceMappingURL=lt-ie9.css.map */