﻿@model CodexMVC.Models.EditTag

@{
    var mode = Model.Guid == null ? "Add" : "Edit";
    ViewBag.Title = mode + " tag";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@mode tag</h2>

@using (Html.BeginForm("Edit", "Tag"))
{
    @Html.HiddenFor(x => x.Guid)
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label>Name</label>
                <div>
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Name)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(x => x.Description)
                @Html.TextAreaFor(x => x.Description, new { rows = 10, data_provide = "markdown-editable", data_autofocs = "true", @class = "form-control input-lg" })
                @Html.ValidationMessageFor(x => x.Description)
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Theme? <small>Is this a theme (i.e., a historical thread)</small></h4>
                @Html.CheckBoxFor(x => x.IsTheme, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <button type="submit">Save</button>
}
