﻿@using Services.Common
@model List<Services.TagHyperNode>
@{
    ViewBag.Title = "Tags";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    ul {
        list-style: none;
    }
</style>
<div class="page-header">
    <h1>Tags</h1>
</div>
<div>
    <h4 style="color: grey;">
        @ViewBag.GeneralMessage
    </h4>
</div>
<div>
    <a href="/Admin/Tag/Add" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>
</div>
<ul>
    @{
        var last = "";
    }
    @foreach (var item in Model)
    {
        <li>
            @{
        var first = item.Tag != null && item.Tag.Name != null && item.Tag.Name.Length > 0 ? item.Tag.Name.Substring(0, 1).ToLower() : "?";
        if (first != last)
        {
            last = first;
            <h1>
                @first
            </h1>
        }
            }
            <h4>
                <a href="/Admin/Tag/ViewDetail/@item.Tag.Guid">@item.ToDisplay()</a>
            </h4>
        </li>
    }
</ul>
