﻿@using Services
@using Data.Entities
@model CodexMVC.Models.ViewTag

@{
    ViewBag.Title = "View Tag";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="/Admin/Tag/List">Tags</a></li>
    <li class="active">@Model.Tag.Name</li>
</ol>

<div class="page-header">
    <h1>
        @Model.Tag.Name
    </h1>
</div>

<div class="row" id="Details">
    <div class="form-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Details</h3>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Guid</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@Model.Tag.Guid</p>
                        </div>

                        <label class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@(Model.Tag.Name ?? "(none)")</p>
                        </div>

                        <label class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">
                                @{
                                    var markdown2 = new MarkdownDeep.Markdown();
                                }
                                @Html.Raw(markdown2.Transform((Model.Tag.Description ?? "(none)")))
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <a href="/Admin/Tag/Edit/@Model.Tag.Guid" class="btn btn-default btn-primary btn-lg">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="Attributes">
    <div class="row">
        <h2>Attributes</h2>
        <div class="table-responsive">
            <table class="table table-hover table-condensed table-striped">
                <tr>
                    <th style="width: 100px;"></th>
                    <th style="width: 50px;"></th>
                    <th></th>
                </tr>
                @AttributeRow(Model.Outgoing, Model.Incoming, "subset of tag", Label.Relationship.SubsetOf, "AddSubsetOfTag", "EditSubsetOfTag")
                @AttributeRow(Model.Outgoing, Model.Incoming, "refers to category", Label.Relationship.RefersTo, "AddRefersToCategory", "EditRefersToCategory")
            </table>
        </div>
    </div>
</div>

@helper AttributeRow(IEnumerable<GenericRelationNode<Tag, IEntity>> outgoing, IEnumerable<GenericRelationNode<IEntity, Tag>> incoming, string relationshipName, string relationshipType, string addActionName, string editActionName, bool multipleOutAllowed = true, bool multipleInAllowed = true)
{
    <tr>
        <td>
            <p class="text-right"><strong>@relationshipName</strong></p>
        </td>
        <td>
            @{
                var disable = false == (multipleOutAllowed || (false == outgoing.Any(x => x.RelationToDestinationType == relationshipType)) && (multipleInAllowed && false == incoming.Any(x => x.RelationToDestinationType == relationshipType)));
            }
            <div @if (disable) { <text> data-toggle="tooltip" data-placement="top" title="Only one '@relationshipName' is allowed" </text>                }>
                <a href="/Admin/Tag/@addActionName?tagGuid=@Model.Tag.Guid" @if (disable) { <text> disabled </text>                    } class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </td>
        <td>
            <div style="margin-left: 20px;margin-right: 20px;">
                @{
                    var hasOutgoing = outgoing.Where(x => x.RelationToDestinationType == relationshipType).Any();
                }
                @if (hasOutgoing)
                {
                    <div class="row">
                        @AttributeCell(outgoing.Where(x => x.RelationToDestinationType == relationshipType), editActionName)
                    </div>
                }
                @if (incoming.Where(x => x.RelationToDestinationType == relationshipType).Any())
                {
                    var rowStyle = hasOutgoing ? "border-top: dashed 2px #808080" : "";
                    <div class="row" style="@rowStyle">
                        <p><span class="glyphicon glyphicon-arrow-left"></span></p>
                        @AttributeCellReverse(incoming.Where(x => x.RelationToDestinationType == relationshipType), editActionName, true)
                    </div>
                }
            </div>
        </td>
    </tr>
}

@helper AttributeCell(IEnumerable<GenericRelationNode<Tag, IEntity>> attributes, string editActionName, bool incoming = false)
{
    if (attributes.Any())
    {
        foreach (GenericRelationNode<Tag, IEntity> attr in attributes)
        {
            var guid = attr.Source.Guid;
            <div class="col-md-3">
                <p class="text-right">
                    <span style="margin-right: 5px;">@EntityLink(attr.Destination)</span>
                    <a class="btn btn-default btn-sm" href="/Admin/Tag/@editActionName?tagGuid=@guid&toDestGuid=@attr.RelationToDestinationGuid">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="/Admin/Tag/DeleteBasicRelationship?tagGuid=@guid&relationshipGuid=@attr.RelationToDestinationGuid&relationshipType=@attr.RelationToDestinationType" class="btn btn-default btn-sm" onclick="return confirm('Are you sure you wish to delete this relationship?');">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </p>
            </div>
        }
    }
}

@helper AttributeCellReverse(IEnumerable<GenericRelationNode<IEntity, Tag>> attributes, string editActionName, bool incoming = false)
{
    if (attributes.Any())
    {
        foreach (GenericRelationNode<IEntity, Tag> attr in attributes)
        {
            var guid = attr.Destination.Guid;
            <div class="col-md-3">
                <p class="text-right">
                    <span style="margin-right: 5px;">@EntityLink(attr.Source)</span>
                    <a class="btn btn-default btn-sm" href="/Admin/Tag/@editActionName?tagGuid=@guid&toDestGuid=@attr.RelationToDestinationGuid">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="/Admin/Tag/DeleteAttribute?toDestGuid=@attr.RelationToDestinationGuid&tagGuid=@guid" class="btn btn-default btn-sm" onclick="return confirm('Are you sure you wish to delete this relationship?');">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </p>
            </div>
        }
    }
}

@helper EntityLink(IEntity entity)
{
    if (entity == null) { return; }
    var type = entity is Data.Agent ? "Agent" : entity is Place ? "Place" : entity is Artefact ? "Artefact" : entity is Category ? "Category" : entity is Tag ? "Tag" : entity.GetType().Name;
    <a href="/Admin/@type/ViewDetail?guid=@entity.Guid">@NameOf(entity)</a>
}

@functions {
    public string NameOf(IEntity entity)
    {
        if (entity is Data.Agent)
        {
            return ((Data.Agent)entity).FullName2;
        }
        if (entity is Artefact)
        {
            return ((Artefact)entity).ToDisplay();
        }
        return entity.Name;
    }
}
}