﻿@model CodexMVC.Models.AssistantModel

@{
    ViewBag.Title = "Assistant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <style>
        /*ul.styles li {
            display: inline;
        }*/
    </style>
}

<h2>Assistant</h2>

@using (Html.BeginForm("Assistant", "Account", FormMethod.Post, new { id = "main-form" }))
{
    <div id="main-template">
        <div data-bind="visible: $data.stepOneVisible">
            <h2>
                1.  Which styles do you love?
            </h2>
            <div class="row">
                <div class="col-md-12">
                    <ul class="styles">
                        @foreach (var item in Model.Styles)
                        {
                            <li>
                                <label>@item.Text</label>
                                <input name="Style" type="checkbox" value="@item.Value" />
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <a href="#" data-bind="click: $data.nextStepClicked" class="btn btn-default btn-sm">next</a>
        </div>
        <div data-bind="visible: $data.stepTwoVisible" style="display: none;">
            <h2>
                2. Where are you prepared to go?
            </h2>
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        @foreach (var item in Model.Places)
                        {
                            <li>
                                <label>@item.Text</label>
                                <input name="Place" type="checkbox" value="@item.Value" />
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <a href="#" data-bind="click: $data.backStepClicked" class="btn btn-default btn-sm">back</a>
            <a href="#" data-bind="click: $data.nextStepClicked" class="btn btn-default btn-sm">next</a>
        </div>
        <div data-bind="visible: $data.stepThreeVisible" style="display: none;">
            <h2>
                3. When can you be there?
            </h2>
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        @foreach (var item in Model.Dates)
                        {
                            <li>
                                <label>@item.Text</label>
                                <input name="Date" type="checkbox" value="@item.Value" />
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <a href="#" data-bind="click: $data.backStepClicked" class="btn btn-default btn-sm">back</a>
            <a href="#" data-bind="click: $data.okClicked" class="btn btn-default btn-sm">ok!</a>
        </div>
    </div>
}

@section scripts
{
    <script>
        (function () {

            var Model = (function () {
                function Model() {
                    this.stepIndex = ko.observable(1);
                    this.stepOneVisible = ko.computed(function () {
                        return this.stepIndex() == 1;
                    }, this);
                    this.stepTwoVisible = ko.computed(function () {
                        return this.stepIndex() == 2;
                    }, this);
                    this.stepThreeVisible = ko.computed(function () {
                        return this.stepIndex() == 3;
                    }, this);
                }
                Model.prototype.okClicked = function () {
                    $("#main-form").submit();
                };
                Model.prototype.backStepClicked = function () {
                    var index = this.stepIndex();
                    index--;
                    if (index < 1) index = 3;
                    this.stepIndex(index);
                };
                Model.prototype.nextStepClicked = function () {
                    var index = this.stepIndex();
                    index++;
                    if (index > 3) index = 1;
                    this.stepIndex(index);
                };
                return Model;
            })();

            var model = new Model();
            ko.applyBindings(model, document.getElementById("main-template"));

        })();
    </script>
}