﻿@using Data.Entities
@model CodexMVC.Models.ViewFavourites
@{
    ViewBag.Title = "Favourites";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var hasTimeline = Model.NewActs != null && Model.NewActs.Any();
}

@functions {
    public string Month(int month)
    {
        switch (month)
        {
            case 1: return "January";
            case 2: return "February";
            case 3: return "March";
            case 4: return "April";
            case 5: return "May";
            case 6: return "June";
            case 7: return "July";
            case 8: return "August";
            case 9: return "September";
            case 10: return "October";
            case 11: return "November";
            case 12: return "December";
            case 13: return "Spring";
            case 14: return "Summer";
            case 15: return "Autumn";
            case 16: return "Winter";
            case 17: return "Early";
            case 18: return "Late";
            default: return "???";
        }
    }
    public string NameOf(IEntity entity)
    {
        if (entity is Data.Agent)
        {
            return ((Data.Agent)entity).FullName2;
        }
        if (entity is Artefact)
        {
            return ((Artefact)entity).ToDisplay();
        }
        return entity.Name;
    }
    public string EntityTypeName(string type)
    {
        switch (type)
        {
            case "Agent": return "people and entities";
            case "Artefact": return "art";
            case "Category": return "concepts";
            default: return type.ToLower() + "s";
        }
    }
}

<style>
    #map {
        width: 100%;
        height: 300px;
        margin: 0;
        padding: 0;
    }
</style>

<div class="row">
    <div class="col-md-8">
        <h1>
            Favourites
        </h1>
    </div>
    <div class="col-md-4">
        <a href="#" onclick="toggleMapExpansion(); return false;" style="float: right;" class="btn btn-default btn-sm">
            <span id="map-expando" class="glyphicon glyphicon-resize-full"></span>
        </a>
        <a href="#" onclick="toggleMarkers(); return false;" style="float: right;" class="btn btn-default btn-sm">Markers</a>
        <a href="#" onclick="toggleHeatmap(); return false;" style="float: right;" class="btn btn-default btn-sm">Heat Map</a>
    </div>
</div>

<div id="map">
</div>

<div class="row">
    <div class="col-md-12">
        <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
                @if (Model.Artefacts.Any())
                {
                    <li role="presentation" class="active">
                        <a href="#Art" aria-controls="Art" role="tab" data-toggle="tab">
                            Art <span class="badge">@Model.Artefacts.Count()</span>
                        </a>
                    </li>
                }
                <li role="presentation">
                    <a href="#Artists" aria-controls="Artists" role="tab" data-toggle="tab">Artists</a>
                </li>
                @if (Model.Similar.Any())
                {
                    <li role="presentation">
                        <a href="#Similar" aria-controls="Similar" role="tab" data-toggle="tab">
                            Similar <span class="badge">beta</span>
                        </a>
                    </li>
                }
                @if (Model.Recommended.Any())
                {
                    <li role="presentation">
                        <a href="#Recommended" aria-controls="Recommended" role="tab" data-toggle="tab">
                            Recommended <span class="badge">beta</span>
                        </a>
                    </li>
                }
                @if (hasTimeline)
                {
                    <li role="presentation">
                        <a href="#Timeline" aria-controls="Timeline" role="tab" data-toggle="tab">
                            Timeline <span class="badge">@Model.NewActs.Count()</span>
                        </a>
                    </li>
                }
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="Art">
                    <div class="row">
                        <div class="col-md-12">
                            @if (Model.Artefacts != null && Model.Artefacts.Any())
                            {
                                <div id="Art">
                                    @{
                                var grouping = Model.Artefacts.OrderBy(x => x.Artist.FullName).GroupBy(x => x.Artist.FullName2);
                                    }
                                    @foreach (var group in grouping)
                                    {
                                        <div class="row">
                                            <h3 class="container-heading">
                                                @group.Key <a href="/Agent/ViewDetail/@group.First().Artist.Guid" class="btn btn-default">see all</a>
                                            </h3>
                                            <div class="col-md-12 justified-small">
                                                @foreach (var item in group)
                                                {
                                                    <div>
                                                        <a href="/Artefact/ViewDetail/@item.Artefact.Guid"><img alt="@item.Artefact.ToDisplay()" src="@item.Image.VirtualPath().Replace("~", "")?width=300&mode=crop" /></a>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            }


                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="Similar">
                    <div class="row">
                        <div class="col-md-12">
                            @if (Model.Similar != null && Model.Similar.Any())
                            {
                                <div id="Similar">
                                    <h2>Similar <small>Based on what you favourited, here are some other works that may be similar</small></h2>
                                    @{
                                var grouping = Model.Similar.OrderBy(x => x.Artist.FullName).GroupBy(x => x.Artist.FullName2);
                                    }
                                    @foreach (var group in grouping)
                                    {
                                        <div class="row">
                                            <h3 class="container-heading">
                                                @group.Key <a href="/Agent/ViewDetail/@group.First().Artist.Guid" class="btn btn-default">see all</a>
                                            </h3>
                                            <div class="col-md-12 justified-small">
                                                @foreach (var item in group)
                                                {
                                                    <div>
                                                        <a href="/Artefact/ViewDetail/@item.Artefact.Guid"><img alt="@item.Artefact.ToDisplay()" src="@item.Image.VirtualPath().Replace("~", "")?height=200&mode=crop" /></a>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="Recommended">
                    <div class="row">
                        <div class="col-md-12">
                            @if (Model.Recommended != null && Model.Recommended.Any())
                            {
                                <div id="Recommended">
                                    <h2>Recommended <small>Works recommended by others who share your favourites</small></h2>
                                    @{
                                var grouping = Model.Recommended.OrderBy(x => x.Artist.FullName).GroupBy(x => x.Artist.FullName2);
                                    }
                                    @foreach (var group in grouping)
                                    {
                                        <div class="row">
                                            <h3 class="container-heading">
                                                @group.Key <a href="/Agent/ViewDetail/@group.First().Artist.Guid" class="btn btn-default">see all</a>
                                            </h3>
                                            <div class="col-md-12 justified-small">
                                                @foreach (var item in group)
                                                {
                                                    <div>
                                                        <a href="/Artefact/ViewDetail/@item.Artefact.Guid"><img alt="@item.Artefact.ToDisplay()" src="@item.Image.VirtualPath().Replace("~", "")?height=200&mode=crop" /></a>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="Artists">
                    <div class="row">
                        <div class="col-md-12">
                            @if (Model.Agents != null && Model.Agents.Any())
                            {
                                <div id="Agents">
                                    <ul style="list-style: none;">
                                        @foreach (var agent in Model.Agents)
                                        {
                                            <li>
                                                <div style="position: relative; font-size: 1.2em;">
                                                    <div>
                                                        <a href="/Agent/ViewDetail/@agent.Agent.Guid">@Html.Raw(agent.ToHtmlDisplay())</a>
                                                    </div>
                                                    <div style="position: absolute; left: -50px; top: 0;">
                                                        <a href="#" onclick="addBookmark(this); return false;" data-bookmarked="true" data-guid="@agent.Agent.Guid" data-type="Agent"><span style="color: red; font-size: 1.5em;" class="glyphicon glyphicon-star"></span></a>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" style="background-color: white;" id="Timeline">
                    <div class="row">
                        <div class="col-md-12">
                            @if (hasTimeline)
                            {
                                <div id="Timeline" style="padding: 20px;">
                                    <div class="row">
                                        <div class="col-md-6">
                                            @foreach (var group in Model.NewActs.OrderBy(x => x.Act.Year).GroupBy(x => x.Act.Year))
                                            {
                                                int lastMonth = 0;
                                                var lastDay = 0;
                                                var first = group.First().Act;
                                                var year = first.Decade ? first.Year.Value.ToString() + "s" : first.Year.Value.ToString();
                                                <div class="shadow-z-1" style="padding: 20px; padding-left: 40px; margin: 20px;">
                                                    <h2>
                                                        @year
                                                    </h2>
                                                    @foreach (var newAct in group.OrderBy(x => x.Act.Month).ThenBy(x => x.Act.Day))
                                                    {
                                                        if (newAct.Act.Month.HasValue && newAct.Act.Month.Value != lastMonth)
                                                        {
                                                            lastMonth = newAct.Act.Month.Value;
                                                            lastDay = 0;
                                                        }
                                                        if (newAct.Act.Day.HasValue && newAct.Act.Day.Value != lastDay)
                                                        {
                                                            lastDay = newAct.Act.Day.Value;
                                                        }
                                                        if (newAct.Act.Month.HasValue)
                                                        {
                                                            <h4>
                                                                @Month(lastMonth) @(lastDay > 0 ? lastDay.ToString() : "")
                                                            </h4>
                                                        }
                                                        <div id="act-@newAct.Act.Guid">
                                                            @{
                                                        var importance = newAct.Act.Importance == Importance.Small ? "font-size: 0.9em;" : newAct.Act.Importance == Importance.Big ? "font-size: 1.5em;" : "";
                                                            }
                                                            <div style="position: relative;">
                                                                <div>
                                                                    <span>
                                                                        @Html.Raw(newAct.ToHtml())
                                                                    </span>
                                                                </div>
                                                                <div style="position: absolute; left: -30px; top: 0px;">
                                                                    @{
                                                        var starClass = "glyphicon-bookmark";
                                                        var starStyle = newAct.Bookmarked ? "color: red; " : "";
                                                                    }
                                                                    <a href="#" onclick="addBookmark(this); return false;" data-bookmarked="@newAct.Bookmarked.ToString().ToLower()" data-guid="@newAct.Act.Guid" data-type="Act"><span style="@starStyle font-size: 1.5em;" class="glyphicon @starClass"></span></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            }
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row" style="margin-top: 20px;">
                                                <h3>
                                                    Filter by <span id="filtering-by"></span>
                                                </h3>
                                                <div class="col-md-8">
                                                    @{
                                var filterGrouping = Model.NewActs
                                    .SelectMany(x => x.EntityImages)
                                    .Where(x => x.Entity != null)
                                    .Distinct(new Services.EntityImageComparer())
                                    .GroupBy(x => x.Entity.GetType().UnderlyingSystemType.Name);
                                                    }
                                                    @if (filterGrouping.Any())
                                                    {

                                                        foreach (var group in filterGrouping)
                                                        {
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <h4 class="perforation">
                                                                        @EntityTypeName(group.Key)
                                                                    </h4>
                                                                    <div style="float: left;" class="two-cols">
                                                                        @foreach (var item in group.OrderBy(x => NameOf(x.Entity)))
                                                                        {
                                                                            <div>
                                                                                <a href="#" data-name="@NameOf(item.Entity)" data-filtering="false" data-entity="@(string.Format("{0}-{1}", item.Entity.GetType().UnderlyingSystemType.Name, item.Entity.Guid))" onclick="toggleTimeline(this); return false;">
                                                                                    @NameOf(item.Entity)
                                                                                </a>
                                                                                @if (item.Attributes != null && item.Attributes.Any())
                                                                                {
                                                                                    <small>@string.Join(", ", item.Attributes.Select(x => x.Name.ToLower()))</small>
                                                                                }
                                                                            </div>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    }

                                                </div>
                                                <div class="col-md-4">
                                                    @{
                                var attributes = Model.NewActs
                                    .SelectMany(x => x.EntityImages.Where(x2 => x2.Attributes != null).SelectMany(x2 => x2.Attributes))
                                    .Where(x => x != null)
                                    .Distinct(new CodexMVC.Areas.Admin.Controllers.CategoryComparer())
                                    ;
                                                    }
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h4 class="perforation">
                                                                any kind of
                                                            </h4>
                                                            <div style="float: left;">
                                                                @foreach (var item in attributes.OrderBy(x => x.Name))
                                                                {
                                                                    <div>
                                                                        <a href="#" data-name="@item.Name.ToLower()" data-filtering="false" data-entity="@(string.Format("Category-{0}", item.Guid))" onclick="toggleTimeline(this); return false;">
                                                                            @(item.Name.ToLower())
                                                                        </a>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top: 20px;">
                                                <div class="col-md-12">
                                                    @{
                                var entities = Model.NewActs
                                    .SelectMany(x => x.EntityImages.Where(x2 => x2.Image != null))
                                    .Distinct(new Services.EntityImageComparer());
                                                    }
                                                    @if (entities.Any())
                                                    {
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <h4>artworks</h4>
                                                                <div class="justified-small">
                                                                    @foreach (var item in entities)
                                                                    {
                                                                        <div>
                                                                            <a href="/Artefact/ViewDetail/@item.Entity.Guid">
                                                                                <img alt="@NameOf(item.Entity)" src="@item.Image.VirtualPath().Replace("~", "")?width=350&mode=crop" />
                                                                            </a>
                                                                        </div>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyAtULLEkACV1qYgWl-YAFwjRoKRpHOyW9I">
    </script>
    <script src="~/Scripts/google.maps.markerclusterer.js"></script>
    <script src="~/Scripts/google.maps.cluster.js"></script>

    <script>
        @if (Model.Artefacts.Any()) {

            var artworks = Model.Artefacts.Where(x => x.TopContainer != null && x.TopContainer.Latitude.HasValue && x.TopContainer.Longitude.HasValue).Select(x =>
            {
                var lat = x.TopContainer.Latitude.Value;
                var lng = x.TopContainer.Longitude.Value;
                return new Services.ArtefactMarker
                {
                    Artist = x.Artist,
                    Artwork = x.Artefact,
                    Latitude = lat,
                    Longitude = lng,
                    ContainerName = x.TopContainer.ToDisplay() + " <a href='/Artefact/ViewDetail/" + x.TopContainer.Guid + "' class='btn btn-default btn-sm'>see all</a> <a href='//maps.google.com/maps?daddr=" + lat + "," + lng + "' class='btn btn-default btn-sm'>map</a>"
                };
            }).Distinct(new Services.ArtefactMarkerComparer());
            var geoGrouping = artworks
                .GroupBy(x => x.Latitude.ToString() + ":" + x.Longitude.ToString())
                .Select(x => new
                {
                    Latitude = x.First().Latitude,
                    Longitude = x.First().Longitude,
                    ContainerName = x.First().ContainerName,
                    ArtistWithArtworks = x.GroupBy(x2 => x2.Artist.Guid)
                            .Select(x2 => new
                            {
                                Artist = new {
                                    Guid = x2.First().Artist.Guid,
                                    FullName2 = x2.First().Artist.FullName2,
                                    Rating = x2.First().Artist.Rating
                                },
                                Artworks = x2.Select(x3 => new {
                                    Guid = x3.Artwork.Guid,
                                    Name = x3.Artwork.Name,
                                    Rating = x3.Artwork.Rating
                                })
                            })
                });
            var heatData = geoGrouping
                .Select(x => new
                {
                    Weight = x.ArtistWithArtworks.Sum(x2 => x2.Artworks.Sum(x3=> x3.Rating??1) * (x2.Artist.Rating??1)),
                    Latitude = x.Latitude,
                    Longitude = x.Longitude
                });
            var markerData = geoGrouping
                .Select(x => new
                {
                    Latitude = x.Latitude,
                    Longitude = x.Longitude,
                    Content = string.Join("", x.ArtistWithArtworks.Select(x2 =>
                    {
                        var art = string.Join("", x2.Artworks.Select(x3 => "<div><a href='/Artefact/ViewDetail/" + x3.Guid + "'>" + x3.Name + "</a></div>"));
                        return "<p><b><a href='/Agent/ViewDetail/" + x2.Artist.Guid + "'>" + x2.Artist.FullName2 + "</a></b>" + art + "</p>";
                    })),
                    Title = x.ContainerName
                });
            <text>
        /**
        Globals
        **/
        var mapMarkers = [], map, heatmap, markerCluster;
        function initialiseArtworkMap() {
            var mapOptions = {
                zoom: 14
            };
            map = new google.maps.Map(document.getElementById('map'), mapOptions);
            var markerData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(markerData));
            createMarkers(markerData, map);
        }
        function createMarkers(markerData, map) {
            var markers = mapMarkers = select(markerData, function(item) {
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(item.Latitude, item.Longitude)
                });
                var infowindow = new google.maps.InfoWindow({
                    content: $("<div id=\"content\" style='min-height: 150px; width: 600px;'><div id='bodyContent'><div><b>{title}</b></div><div style='-webkit-column-count: 1;'>{content}</div></div></div>".fmt({
                        content: item.Content,
                        title: item.Title
                    }))[0]
                });
                google.maps.event.addListener(marker, 'click', function () {
                    infowindow.open(map, marker);
                });
                return marker
            });
            markerCluster = new MarkerClusterer(map, markers);
            var bounds = new google.maps.LatLngBounds();
            each(markers, function(marker) {
                bounds.extend(marker.getPosition());
            });
            map.fitBounds(bounds);
            var heatmapData = @Html.Raw(Json.Encode(heatData));
            var heatmapTransformed = select(heatmapData, function(item){
                return {
                    location: new google.maps.LatLng(item.Latitude, item.Longitude),
                    weight: item.Weight
                };
            });
            heatmap = new google.maps.visualization.HeatmapLayer({
                data: heatmapTransformed
            });
            heatmap.set('radius', 30);
            heatmap.set('dissipating', true);
        }
        var select = app.Utils.select;
        var find = app.Utils.find;
        var each = app.Utils.each;
        function toggleMarkers() {
            each(mapMarkers, function(m){
                m.setMap(map);
            });
            markerCluster.addMarkers(mapMarkers);
            heatmap.setMap(null);
        }
        function toggleHeatmap() {
            heatmap.setMap(map);
            each(mapMarkers, function(m){
                m.setMap(null);
            });
            markerCluster.clearMarkers();
        }
        function toggleMapExpansion(link) {
            var expando = $("#map-expando");
            var $map = $("#map");
            var height = parseInt($map.css("height"));
            var isContracted = height == 300;
            if (isContracted) {
                expando.removeClass("glyphicon-resize-full");
                expando.addClass("glyphicon-resize-small");
            }
            else{
                expando.removeClass("glyphicon-resize-small");
                expando.addClass("glyphicon-resize-full");
            }
            $map.css("height", isContracted ? "600px" : "300px");
            google.maps.event.trigger(map, "resize");
        }
        if (typeof window.google != "undefined"){
            initialiseArtworkMap();
        }
        </text>
        }
    </script>

    <script>
        $(".justified").justifiedGallery({
            rowHeight: 300,
            lastRow: 'nojustify',
            margins: 3,
            captionSettings: {
                animationDuration: 500,
                visibleOpacity: 0.7,
                nonVisibleOpacity: 0.7
            }
        });
        $(".justified-small").justifiedGallery({
            rowHeight: 200,
            lastRow: 'nojustify',
            margins: 3,
            captionSettings: {
                animationDuration: 500,
                visibleOpacity: 0.7,
                nonVisibleOpacity: 0.7
            }
        });
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            $(".justified").justifiedGallery({
                rowHeight : 300,
                lastRow : 'nojustify',
                margins : 3,
                captionSettings:	{
                    animationDuration: 500,
                    visibleOpacity: 0.7,
                    nonVisibleOpacity: 0.7
                }
            });
            $(".justified-small").justifiedGallery({
                rowHeight : 200,
                lastRow : 'nojustify',
                margins : 3,
                captionSettings:	{
                    animationDuration: 500,
                    visibleOpacity: 0.7,
                    nonVisibleOpacity: 0.7
                }
            });
        });
        function addBookmark(element) {
            var bookmark = $(element);
            var guid = bookmark.data("guid");
            var type = bookmark.data("type");
            var bookmarked = bookmark.data("bookmarked");
            var icon = bookmark.find("span");
            if (!bookmarked) {
                bookmark.data("bookmarked", true);
                $.get("/API/AddBookmark", {
                    guid: guid,
                    type: type
                }, function (response) {
                    icon.removeClass("glyphicon-star-empty");
                    icon.addClass("glyphicon-star");
                    icon.css("color", "red");
                });
            } else {
                bookmark.data("bookmarked", false);
                $.get("/API/RemoveBookmark", {
                    guid: guid,
                    type: type
                }, function (response) {
                    icon.removeClass("glyphicon-star");
                    icon.addClass("glyphicon-star-empty");
                    icon.css("color", "#337ab7");
                });
            }
            return false;
        }
    </script>
}
