﻿@model CodexMVC.Models.ForgotPasswordModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Forgot your password? <small>Enter your email address and we will send you an email that will enable you to reset your password</small></h2>

<h4 style="color: red;">
    @Html.ValidationSummary(true)
</h4>

@using (Html.BeginForm("ForgotPassword", "Account"))
{
    <div class="row">
        <div class="col-md-12">
            <label>
                Email
            </label>
            @Html.TextBoxFor(x => x.Email)
            @Html.ValidationMessageFor(x => x.Email)
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
            <input type="submit" value="Reset" />
        </div>
    </div>
}