﻿@model CodexMVC.Models.ViewHistory
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>History <small>The art, artists, and places you have visited here today</small></h2>

@if (Model.Items.Any())
{
    var now = DateTime.Now;
    var byDate = Model.Items.Select(x => new
    {
        Date = x.Date,
        Minutes = (int)(Math.Floor((now - x.Date).TotalMinutes / 5) * 5),
        Type = x.EntityType,
        Event = x.Event
    })
    .OrderBy(x => x.Minutes)
    .GroupBy(x => x.Minutes);
    <div class="row">
        @foreach (var item in byDate)
        {
            var time = item.Key == 0 ? "just now" : item.Key == 1 ? "1 min" : item.Key + " mins";
            <div class="col-md-3">
                <h2 style="color: red;">
                    @time
                </h2>
            </div>
            <div class="col-md-9">
                @{
                    var subgroup = item.GroupBy(x => x.Type);
                }
                @foreach (var subitem in subgroup.OrderBy(x=> x.First().Type))
                {
                    var type = subitem.First().Type;
                    var typeName = type == "Artefact" ? "Art" : type == "Agent" ? "Artists" : "Places";
                    <div class="row">
                        <div class="col-md-12">
                            <h3>
                                @typeName
                            </h3>
                            @if (type == "Artefact")
                            {
                                <div class="justified">
                                    @foreach (var artefact in subitem.OrderByDescending(x=> x.Date))
                                    {
                                        <div>
                                            @Html.Raw(artefact.Event)
                                        </div>
                                    }
                                </div>
                            }
                            else
                            {
                                foreach (var artefact in subitem)
                                {
                                    <h4>
                                        @Html.Raw(artefact.Event)
                                    </h4>
                                }
                            }
                        </div>
                    </div>
                }
            </div>
        }
    </div>
}
@section scripts {
    <script>
        $(function () {
            $(".justified").justifiedGallery({
                rowHeight: 200,
                lastRow: 'nojustify',
                margins: 3,
                captionSettings: {
                    animationDuration: 500,
                    visibleOpacity: 0.7,
                    nonVisibleOpacity: 0.7
                }
            });
        });
    </script>
}