﻿
@{
    ViewBag.Title = "JoinComplete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thank you!</h2>

<p>
    Your account has been created and you are now ready to log into Codex!
</p>

<a href="/Account/Login" class="btn btn-default btn-primary">
    Login
</a>
