﻿@model CodexMVC.Models.JoinModel
@{
    ViewBag.Title = "Join";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .field-validation-error {
        color: red;
    }
</style>

<h2>Join</h2>

@using (Html.BeginForm("Join", "Account"))
{
    <div class="row">
        <div class="col-md-12">
            @Html.ValidationSummary(true)
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>
                First name
            </label>
            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.FirstName)
        </div>
        <div class="col-md-6">
            <label>
                Last name
            </label>
            @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.LastName)
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>
                Email
            </label>
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", type = "email" })
            @Html.ValidationMessageFor(x => x.Email)
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>
                Age <small>Optional</small>
            </label>
            @Html.TextBoxFor(x => x.Age, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Age)
        </div>
        <div class="col-md-6">
            <label>
                Profession <small>Optional</small>
            </label>
            @Html.TextBoxFor(x => x.Profession, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Profession)
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>
                Password <small>Should include a combination of letters and numbers</small>
            </label>
            @Html.TextBoxFor(x => x.Password, new { @class = "form-control", type = "password" })
            @Html.ValidationMessageFor(x => x.Password)
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>
                Password Confirmation <small>Please retype your password for confirmation</small>
            </label>
            @Html.TextBoxFor(x => x.PasswordConfirmation, new { @class = "form-control", type = "password" })
            @Html.ValidationMessageFor(x => x.PasswordConfirmation)
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
            <button type="submit" class="btn btn-default btn-primary">Join</button>
        </div>
    </div>
}
