﻿@using Data.Entities
@model CodexMVC.Models.ViewSeen
@{
    ViewBag.Title = "Seen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #map {
        width: 100%;
        height: 300px;
        margin: 0;
        padding: 0;
    }
</style>

<div class="row">
    <div class="col-md-8">
        <h1>
            Seen
        </h1>
    </div>
    <div class="col-md-4">
        <a href="#" onclick="toggleMapExpansion(); return false;" style="float: right;" class="btn btn-default btn-sm">
            <span id="map-expando" class="glyphicon glyphicon-resize-full"></span>
        </a>
        <a href="#" onclick="toggleMarkers(); return false;" style="float: right;" class="btn btn-default btn-sm">Markers</a>
        <a href="#" onclick="toggleHeatmap(); return false;" style="float: right;" class="btn btn-default btn-sm">Heat Map</a>
    </div>
</div>

<div id="map">
</div>

<div class="row">
    <div class="col-md-12">
        <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
                @if (Model.Artefacts.Any())
                {
                    <li role="presentation" class="active">
                        <a href="#Art" aria-controls="Art" role="tab" data-toggle="tab">
                            Art <span class="badge">@Model.Artefacts.Count()</span>
                        </a>
                    </li>
                }
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="Art">
                    <div class="row">
                        <div class="col-md-12">
                            @if (Model.Artefacts != null && Model.Artefacts.Any())
                            {
                                <div id="Art">
                                    @{
                                var grouping = Model.Artefacts.Where(x => x.Artist != null).OrderBy(x => x.Artist.FullName).GroupBy(x => x.Artist.FullName2);
                                    }
                                    @foreach (var group in grouping)
                                    {
                                        <div class="row">
                                            <h3 class="container-heading">
                                                @group.Key <a href="/Agent/ViewDetail/@group.First().Artist.Guid" class="btn btn-default">see all</a>
                                            </h3>
                                            <div class="col-md-12 justified-small">
                                                @foreach (var item in group)
                                                {
                                                    <div>
                                                        <a href="/Artefact/ViewDetail/@item.Artefact.Guid"><img alt="@item.Artefact.ToDisplay()" src="@item.Image.VirtualPath().Replace("~", "")?width=300&mode=crop" /></a>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyAtULLEkACV1qYgWl-YAFwjRoKRpHOyW9I">
    </script>
    <script src="~/Scripts/google.maps.markerclusterer.js"></script>
    <script src="~/Scripts/google.maps.cluster.js"></script>

    <script>
        @if (Model.Artefacts.Any()) {

            var artworks = Model.Artefacts
                .Where(x=> x.Artist!=null)
                .Where(x => x.TopContainer != null && x.TopContainer.Latitude.HasValue && x.TopContainer.Longitude.HasValue)
                .Select(x =>
            {
                var lat = x.TopContainer.Latitude.Value;
                var lng = x.TopContainer.Longitude.Value;
                return new Services.ArtefactMarker
                {
                    Artist = x.Artist,
                    Artwork = x.Artefact,
                    Latitude = lat,
                    Longitude = lng,
                    ContainerName = x.TopContainer.ToDisplay() + " <a href='/Artefact/ViewDetail/" + x.TopContainer.Guid + "' class='btn btn-default btn-sm'>see all</a> <a href='//maps.google.com/maps?daddr=" + lat + "," + lng + "' class='btn btn-default btn-sm'>map</a>"
                };
            }).Distinct(new Services.ArtefactMarkerComparer());
            var geoGrouping = artworks
                .GroupBy(x => x.Latitude.ToString() + ":" + x.Longitude.ToString())
                .Select(x => new
                {
                    Latitude = x.First().Latitude,
                    Longitude = x.First().Longitude,
                    ContainerName = x.First().ContainerName,
                    ArtistWithArtworks = x.GroupBy(x2 => x2.Artist.Guid)
                            .Select(x2 => new
                            {
                                Artist = new {
                                    Guid = x2.First().Artist.Guid,
                                    FullName2 = x2.First().Artist.FullName2,
                                    Rating = x2.First().Artist.Rating
                                },
                                Artworks = x2.Select(x3 => new {
                                    Guid = x3.Artwork.Guid,
                                    Name = x3.Artwork.Name,
                                    Rating = x3.Artwork.Rating
                                })
                            })
                });
            var heatData = geoGrouping
                .Select(x => new
                {
                    Weight = x.ArtistWithArtworks.Sum(x2 => x2.Artworks.Sum(x3=> x3.Rating??1) * (x2.Artist.Rating??1)),
                    Latitude = x.Latitude,
                    Longitude = x.Longitude
                });
            var markerData = geoGrouping
                .Select(x => new
                {
                    Latitude = x.Latitude,
                    Longitude = x.Longitude,
                    Content = string.Join("", x.ArtistWithArtworks.Select(x2 =>
                    {
                        var art = string.Join("", x2.Artworks.Select(x3 => "<div><a href='/Artefact/ViewDetail/" + x3.Guid + "'>" + x3.Name + "</a></div>"));
                        return "<p><b><a href='/Agent/ViewDetail/" + x2.Artist.Guid + "'>" + x2.Artist.FullName2 + "</a></b>" + art + "</p>";
                    })),
                    Title = x.ContainerName
                });
            <text>
        /**
        Globals
        **/
        var mapMarkers = [], map, heatmap, markerCluster;
        function initialiseArtworkMap() {
            var mapOptions = {
                zoom: 14
            };
            map = new google.maps.Map(document.getElementById('map'), mapOptions);
            var markerData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(markerData));
            createMarkers(markerData, map);
        }
        function createMarkers(markerData, map) {
            var markers = mapMarkers = select(markerData, function(item) {
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(item.Latitude, item.Longitude)
                });
                var infowindow = new google.maps.InfoWindow({
                    content: $("<div id=\"content\" style='min-height: 150px; width: 600px;'><div id='bodyContent'><div><b>{title}</b></div><div style='-webkit-column-count: 1;'>{content}</div></div></div>".fmt({
                        content: item.Content,
                        title: item.Title
                    }))[0]
                });
                google.maps.event.addListener(marker, 'click', function () {
                    infowindow.open(map, marker);
                });
                return marker
            });
            markerCluster = new MarkerClusterer(map, markers);
            var bounds = new google.maps.LatLngBounds();
            each(markers, function(marker) {
                bounds.extend(marker.getPosition());
            });
            map.fitBounds(bounds);
            var heatmapData = @Html.Raw(Json.Encode(heatData));
            var heatmapTransformed = select(heatmapData, function(item){
                return {
                    location: new google.maps.LatLng(item.Latitude, item.Longitude),
                    weight: item.Weight
                };
            });
            heatmap = new google.maps.visualization.HeatmapLayer({
                data: heatmapTransformed
            });
            heatmap.set('radius', 30);
            heatmap.set('dissipating', true);
        }
        var select = app.Utils.select;
        var find = app.Utils.find;
        var each = app.Utils.each;
        function toggleMarkers() {
            each(mapMarkers, function(m){
                m.setMap(map);
            });
            markerCluster.addMarkers(mapMarkers);
            heatmap.setMap(null);
        }
        function toggleHeatmap() {
            heatmap.setMap(map);
            each(mapMarkers, function(m){
                m.setMap(null);
            });
            markerCluster.clearMarkers();
        }
        function toggleMapExpansion(link) {
            var expando = $("#map-expando");
            var $map = $("#map");
            var height = parseInt($map.css("height"));
            var isContracted = height == 300;
            if (isContracted) {
                expando.removeClass("glyphicon-resize-full");
                expando.addClass("glyphicon-resize-small");
            }
            else{
                expando.removeClass("glyphicon-resize-small");
                expando.addClass("glyphicon-resize-full");
            }
            $map.css("height", isContracted ? "600px" : "300px");
            google.maps.event.trigger(map, "resize");
        }
        if (typeof window.google != "undefined"){
            initialiseArtworkMap();
        }
        </text>
        }
    </script>

    <script>
        $(".justified").justifiedGallery({
            rowHeight: 300,
            lastRow: 'nojustify',
            margins: 3,
            captionSettings: {
                animationDuration: 500,
                visibleOpacity: 0.7,
                nonVisibleOpacity: 0.7
            }
        });
        $(".justified-small").justifiedGallery({
            rowHeight: 200,
            lastRow: 'nojustify',
            margins: 3,
            captionSettings: {
                animationDuration: 500,
                visibleOpacity: 0.7,
                nonVisibleOpacity: 0.7
            }
        });
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            $(".justified").justifiedGallery({
                rowHeight : 300,
                lastRow : 'nojustify',
                margins : 3,
                captionSettings:	{
                    animationDuration: 500,
                    visibleOpacity: 0.7,
                    nonVisibleOpacity: 0.7
                }
            });
            $(".justified-small").justifiedGallery({
                rowHeight : 200,
                lastRow : 'nojustify',
                margins : 3,
                captionSettings:	{
                    animationDuration: 500,
                    visibleOpacity: 0.7,
                    nonVisibleOpacity: 0.7
                }
            });
        });
        function addBookmark(element) {
            var bookmark = $(element);
            var guid = bookmark.data("guid");
            var type = bookmark.data("type");
            var bookmarked = bookmark.data("bookmarked");
            var icon = bookmark.find("span");
            if (!bookmarked) {
                bookmark.data("bookmarked", true);
                $.get("/API/AddBookmark", {
                    guid: guid,
                    type: type
                }, function (response) {
                    icon.removeClass("glyphicon-star-empty");
                    icon.addClass("glyphicon-star");
                    icon.css("color", "red");
                });
            } else {
                bookmark.data("bookmarked", false);
                $.get("/API/RemoveBookmark", {
                    guid: guid,
                    type: type
                }, function (response) {
                    icon.removeClass("glyphicon-star");
                    icon.addClass("glyphicon-star-empty");
                    icon.css("color", "#337ab7");
                });
            }
            return false;
        }
    </script>
}
