﻿@using Services.Common
@model List<Data.Entities.Image>
@{
    ViewBag.Title = "Images";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    ul {
        list-style: none;
    }
</style>
<div class="page-header">
    <h1>Images</h1>
</div>
<div>
    <h4 style="color: grey;">
        @ViewBag.GeneralMessage
    </h4>
</div>
<div>
    <a href="/Admin/Image/Add" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>
</div>
<ul>
    @{
        var last = "";
    }
    @foreach (var image in Model.OrderBy(x => x.FileName))
    {
        <li>
            @{
        var first = image.FileName != null ? image.FileName.Substring(0, 1) : "{BLANK}";
        if (first != last)
        {
            last = first;
            <h1>
                @first
            </h1>
        }
            }
            <h4>
                <a href="/Admin/Image/Edit/@image.Guid">
                    @(image.FileName)
                    @if (false == string.IsNullOrEmpty(image.Name))
                    {
                        <small>@image.Name</small>
                    }
                </a>
            </h4>
        </li>
    }
</ul>
