﻿@model CodexMVC.Models.ViewArtefactList
@{
    ViewBag.Title = "Artworks";
    ViewBag.Section = "Artefact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    ul {
        list-style: none;
    }
</style>

<div class="page-header">
    <h1>Artworks</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <a href="/Artefact/List?mode=ByArtwork" class="btn btn-default">Alphabetical</a>
        <a href="/Artefact/List?mode=ByMedium" class="btn btn-default">By Medium</a>
    </div>
</div>
@{
    if (Model.Mode == CodexMVC.Models.ArtefactListMode.ByArtwork)
    {
        var grouping = Model.Artefacts
            .OrderBy(x => x.Agents.First().FullName)
            .GroupBy(x => x.Agents.First().FullName2);
        foreach (var group in grouping)
        {
            <h2>
                @group.Key <a href="/Agent/ViewDetail/@group.First().Agents.First().Guid" class="btn btn-default btn-small">see all</a>
            </h2>
            <ul>
                @foreach (var item in group.OrderBy(x => x.Artefact.Name))
                {
                    <li>
                        <h4>
                            <a href="/Artefact/ViewDetail/@item.Artefact.Guid">@item.Artefact.ToDisplay()</a>, @string.Join(" and ", item.IsA.Select(x => x.Name.ToLower()))
                            @if (item.Artefact.IsNew())
                            {
                                <span class="label label-success">New!</span>
                            }
                        </h4>
                    </li>
                }
            </ul>
        }
    }
    else if (Model.Mode == CodexMVC.Models.ArtefactListMode.ByMedium)
    {
        var categories = Model.Artefacts
            .SelectMany(x => x.IsA.Select(x2 => x2))
            .Distinct(new CodexMVC.Areas.Admin.Controllers.CategoryComparer());
        foreach (var category in categories.OrderBy(x => x.Name))
        {
            var artefacts = Model.Artefacts.Where(x => x.IsA.Any(x2 => x2.Guid == category.Guid));
            <div>
                <h2>
                    @(category.Name)
                </h2>
                <ul>
                    @foreach (var item in artefacts.OrderBy(x => x.Artefact.Name))
                    {
                        <li>
                            <h4>
                                <a href="/Artefact/ViewDetail/@item.Artefact.Guid">@item.Artefact.ToDisplay()</a>
                                @if (item.Agents.Any())
                                {
                                    <span>
                                        by @Html.Raw(string.Join(" and ", item.Agents.Select(x => "<a href='/Agent/ViewDetail/" + x.Guid + "'>" + x.FullName2 + "</a>")))
                                    </span>
                                    if (item.Artefact.IsNew())
                                    {
                                        <span class="label label-success">New!</span>
                                    }
                                }
                            </h4>
                        </li>
                    }
                </ul>
            </div>
        }
    }
}