﻿@using Data.Entities
@model IEnumerable<Services.NewAct>
@{
    var markdown = new MarkdownDeep.Markdown();
    var hasTimeline = Model.Any();
}

@functions {
    public string Month(int month)
    {
        switch (month)
        {
            case 1: return "January";
            case 2: return "February";
            case 3: return "March";
            case 4: return "April";
            case 5: return "May";
            case 6: return "June";
            case 7: return "July";
            case 8: return "August";
            case 9: return "September";
            case 10: return "October";
            case 11: return "November";
            case 12: return "December";
            case 13: return "Spring";
            case 14: return "Summer";
            case 15: return "Autumn";
            case 16: return "Winter";
            case 17: return "Early";
            case 18: return "Late";
            default: return "???";
        }
    }
    public string NameOf(Data.Entities.IEntity entity)
    {
        if (entity is Data.Agent)
        {
            return ((Data.Agent)entity).FullName2;
        }
        if (entity is Artefact)
        {
            return ((Data.Entities.Artefact)entity).ToDisplay();
        }
        return entity.Name;
    }
    public string EntityTypeName(string type)
    {
        switch (type)
        {
            case "Agent": return "people and entities";
            case "Artefact": return "art";
            case "Category": return "concepts";
            default: return type.ToLower() + "s";
        }
    }
}

@if (hasTimeline)
{
    <div id="Timeline" >
        <div class="row">
            <div class="col-md-12">
                @foreach (var group in Model.OrderBy(x => x.Act.Year).GroupBy(x => x.Act.Year))
                {
                    int lastMonth = 0;
                    var lastDay = 0;
                    var first = group.First().Act;
                    var year = first.Decade ? first.Year.Value.ToString() + "s" : first.Year.Value.ToString();
                    <div class="shadow-z-1" style="padding: 20px; padding-left: 40px; margin: 20px;">
                        <h1 >
                            @year
                            @{
                            var places = group.SelectMany(x => x.EntityImages.Select(x2 => x2.Entity)).OfType<Place>().Select(x => x.Name).Distinct();
                            }
                            @if (places.Any())
                            {
                                <small>in @CodexMVC.Helpers.RazorHelper.And(places)</small>
                            }
                        </h1>
                        @foreach (var newAct in group.OrderBy(x => x.Act.Month).ThenBy(x => x.Act.Day))
                        {
                            if (newAct.Act.Month.HasValue && newAct.Act.Month.Value != lastMonth)
                            {
                                lastMonth = newAct.Act.Month.Value;
                                lastDay = 0;
                            }
                            if (newAct.Act.Day.HasValue && newAct.Act.Day.Value != lastDay)
                            {
                                lastDay = newAct.Act.Day.Value;
                            }
                            if (newAct.Act.Month.HasValue)
                            {
                                <h3>
                                    @Month(lastMonth) @(lastDay > 0 ? lastDay.ToString() : "")
                                </h3>
                            }
                            <div id="act-@newAct.Act.Guid">
                                @{
                            var importance = newAct.Act.Importance == Importance.Small ? "font-size: 0.9em;" : newAct.Act.Importance == Importance.Big ? "font-size: 1.5em;" : "";
                                }
                                <div style="position: relative;">
                                    <div>
                                        <h4>
                                            @Html.Raw(CodexMVC.Helpers.RazorHelper.RemoveOuterTag("p", markdown.Transform(newAct.ToHtml())))
                                        </h4>
                                    </div>
                                    <div style="position: absolute; left: -30px; top: 0px;">
                                        @{
                            var starClass = "glyphicon-bookmark";
                            var starStyle = newAct.Bookmarked ? "color: red; " : "";
                            var clockStyle = newAct.InItinerary ? "color: red;" : "";
                                        }
                                        <a href="#" onclick="addBookmark(this); return false;" data-bookmarked="@newAct.Bookmarked.ToString().ToLower()" data-guid="@newAct.Act.Guid" data-type="Act"><span style="@starStyle font-size: 1.5em;" class="glyphicon @starClass"></span></a>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                }
            </div>
        </div>
    </div>
}