﻿<div class="animated fadeInDown">
    <h3>Edit Category: <span data-bind="text: $data.model.self.model.Name"></span></h3>
    <div style="float: left;">
        <fieldset>
            <legend>Is a kind of ...</legend>
            <ul data-bind="foreach: $data.parentCategories">
                <li>
                    <span data-bind="text: $data.Name, click: $parent.categoryClicked.bind($parent)"></span>
                </li>
            </ul>
        </fieldset>
        <fieldset>
            <legend>Cards</legend>
            <div class="button-row">
                <div>
                    <button data-bind="click: $data.newInheritsFromCardClicked">+ Inherits From</button>
                </div>
            </div>
        </fieldset>
        <div style="float: right;">
            <div data-bind="if: $data.isCardTemplateReady">
                <div data-bind="template: { name: $data.currentCardTemplate, data: $data.currentCard }"></div>
            </div>
        </div>
    </div>
</div>
