﻿<div class="animated fadeInDown">
    <h3>Edit Agent: <span data-bind="text: $data.model.self.Name"></span></h3>
    <div style="width: 50%; float: left;">
        <fieldset>
            <legend>Facts</legend>
            <p>
                <button type="button" data-bind="click: $data.gotoGalleryClicked">Info Page</button>
            </p>
            <div data-bind="foreach: $data.model.factGrouping">
                <div>
                    <h4 data-bind="text: $data[0].Fact.Name, click: $parent.factGroupingSelected.bind($parent)"></h4>
                    <ul data-bind="foreach: $data">
                        <li>
                            <span data-bind="text: $data.Relationship"></span>&nbsp;<span data-bind="    click: $parents[1].factEntityClicked.bind($parents[1]), text: $data.Entity.Name"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Attributes</legend>
            <div>
                <select data-bind="options: $data.model.categories, value: $data.model.selectedAttribute, optionsText: 'text', optionsValue: 'value'"></select>
                <button data-bind="click: $data.addAttribute">Add</button>
            </div>
            <ul data-bind="foreach: $data.model.attributes">
                <li>
                    <span data-bind="text: $data.Relationship"></span>&nbsp;<span data-bind="    click: $parent.attributeEntityClicked.bind($parent), text: $data.Entity.Name"></span>
                </li>
            </ul>
        </fieldset>
        <fieldset>
            <legend>Relationships</legend>
            <ul data-bind="foreach: $data.model.relationships">
                <li>
                    <span data-bind="text: $data.Agent.Name"></span>&nbsp;<span data-bind="    text: $data.Relationship"></span>&nbsp;<span data-bind="    click: $parent.relationshipEntityClicked.bind($parent), text: $data.Entity.Name"></span>
                </li>
            </ul>
        </fieldset>
        <fieldset>
            <legend>Properties</legend>
            <ul data-bind="foreach: $data.model.properties">
                <li>
                    <span data-bind="text: $data.Relationship"></span>&nbsp;<span data-bind="    text: $data.Property.Value"></span>
                </li>
            </ul>
        </fieldset>
        <fieldset>
            <legend>Cards</legend>
            <div class="button-row">
                <fieldset>
                    <legend>Life</legend>
                    <button data-bind="click: $data.newBornCardClicked">+ Born</button>
                    <button data-bind="click: $data.newDiedCardClicked">+ Died</button>
                </fieldset>
                <fieldset>
                    <legend>Activities</legend>
                    <button data-bind="click: $data.newVisitedCardClicked">+ Visited</button>
                    <button data-bind="click: $data.newLivedAtCardClicked">+ Lived At</button>
                </fieldset>
                <fieldset>
                    <legend>Relationships</legend>
                    <button data-bind="click: $data.newRelatedToCardClicked">+ Related To</button>
                </fieldset>
            </div>
        </fieldset>
    </div>
    <div style="width: 50%; float: right;">
        <div data-bind="if: $data.isCardTemplateReady, visible: $data.isCardTemplateReady">
            <div data-bind="template: { name: $data.currentCardTemplate, data: $data.currentCard }"></div>
        </div>
    </div>
</div>
