﻿<div class="animated fadeInDown">
    <h3>Edit Place: <span data-bind="text: $data.model.self.Name"></span></h3>
    <div style="width: 50%; float: left;">
        <fieldset>
            <legend>Facts</legend>
            <div data-bind="foreach: $data.model.factGrouping">
                <div data-bind="click: $parent.factGroupingSelected.bind($parent)">
                    <h4 data-bind="text: $data[0].Fact.Name"></h4>
                    <ul data-bind="foreach: $data">
                        <li>
                            <span data-bind="    text: $data.Agent.Name"></span>&nbsp;<span data-bind="    text: $data.Relationship"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Attributes</legend>
            <div>
                <select data-bind="options: $data.model.categories, value: $data.model.selectedAttribute, optionsText: 'text', optionsValue: 'value'"></select>
                <button data-bind="click: $data.addAttribute">Add</button>
            </div>
            <ul data-bind="foreach: $data.model.attributes">
                <li>
                    <span data-bind="text: $data.Relationship"></span>&nbsp;<span data-bind="    text: $data.Entity.Name"></span>
                </li>
            </ul>
        </fieldset>
        <fieldset>
            <legend>Cards</legend>
            <div class="button-row">
                <fieldset>
                    <legend>Life</legend>
                    <button data-bind="click: $data.newDetailsCardClicked">+ Details</button>
                </fieldset>
            </div>
        </fieldset>
    </div>
    <div style="width: 50%; float: right;">
        <div data-bind="if: $data.isCardTemplateReady, visible: $data.isCardTemplateReady">
            <div data-bind="template: { name: $data.currentCardTemplate, data: $data.currentCard }"></div>
        </div>
    </div>
</div>
