﻿@using Data.Entities
@model DataSetHyperNode
@{
    var Tags = (List<SelectListItem>)ViewBag.Tags;
    var DataSets = (List<SelectListItem>)ViewBag.DataSets;
    var Sources  = (List<SelectListItem>)ViewBag.Sources;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Add/Edit Data Set</h2>

@using (Html.BeginForm("Edit", "DataSet"))
{
    @Html.HiddenFor(x => x.DataSet.Guid)
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label>Name</label>
                <div>
                    @Html.TextBoxFor(x => x.DataSet.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.DataSet.Name)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Unit of Measure <small>person; weather event; etc.</small></label>
                <div>
                    @Html.TextBoxFor(x => x.DataSet.UnitOfMeasure, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.DataSet.UnitOfMeasure)
                </div>
            </div>
            <div class="col-md-6">
                <label>Plural <small>e.g., 'person' becomes 'people'</small></label>
                <div>
                    @Html.TextBoxFor(x => x.DataSet.UnitOfMeasurePlural, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.DataSet.UnitOfMeasurePlural)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Unit of Measure Type <small>e.g., number; text</small></label>
                <div>
                    @Html.TextBoxFor(x => x.DataSet.UnitOfMeasureType, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.DataSet.UnitOfMeasureType)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Description</label>
                @Html.TextAreaFor(x => x.DataSet.Description, new { rows = 10, data_provide = "markdown-editable", data_autofocs = "true", @class = "form-control input-lg" })
                @Html.ValidationMessageFor(x => x.DataSet.Description)
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Parent data-set</label>
                @Html.DropDownListFor(x=> x.Parent.Guid, DataSets, new { @class="form-control"})
                @Html.ValidationMessageFor(x => x.Parent.Guid)
                @Html.HiddenFor(x=> x.SubsetOfGuid)
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>About</label>
                @Html.DropDownListFor(x=> x.About.Guid, Tags, new { @class="form-control"})
                @Html.ValidationMessageFor(x => x.About.Guid)
                @Html.HiddenFor(x => x.AboutGuid)
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Source</label>
                @Html.DropDownListFor(x => x.Source.Guid, Sources, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Source.Guid)
                @Html.HiddenFor(x => x.SourceGuid)
            </div>
        </div>
    </div>
    <button type="submit">Save</button>
}
