﻿@using Services
@using Data.Entities
@model DataSetHyperNode

@{
    ViewBag.Title = "View Data Set";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="/Admin/DataSet/List">Datasets</a></li>
    <li class="active">@Model.DataSet.Name</li>
</ol>

<div class="page-header">
    <h1>
        @Model.DataSet.Name
    </h1>
</div>

<div class="row">
    <div class="col-md-12">

        <div class="row">
            <div class="col-md-12">
                <label>
                    Unit of Measure
                </label>
                @Model.DataSet.UnitOfMeasure
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>
                    About
                </label>
                @if (Model.About != null)
        {
                    <a href="/Admin/Tag/ViewDetail/@Model.About.Guid">@Model.About.Name</a>
        }
        else
        {
                    <span>Nothing</span>
        }
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>
                    Source
                </label>
                @if (Model.Source != null)
                {
                    <a href="/Admin/Artefact/ViewDetail/@Model.Source.Guid">@Model.Source.Name</a>
                }
                else
                {
                    <span>None</span>
                }
            </div>
        </div>
        @if (Model.DataPoints != null && Model.DataPoints.Any())
{
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>

                        </th>
                        <th style="width: 150px;">
                            Date
                        </th>
                        <th>
                            Value
                        </th>
                        <th>
                            Description
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var point in Model.DataPoints.OrderBy(x=> x.GetDateTime()))
            {
                        <tr>
                            <td>
                                <a class="btn btn-default" href="/Admin/DataPoint/Edit?dataPointGuid=@point.Guid&dataSetGuid=@Model.DataSet.Guid">Edit</a>
                            </td>
                            <td>
                                @point.GetDateTime().ToString("yyyy-MM-dd")
                            </td>
                            <td>
                                @point.Value
                            </td>
                            <td>
                                @point.Description
                            </td>
                        </tr>
            }
                </tbody>
            </table>
                }
                else
            {
            <h4>
                No Data Points
            </h4>
            }
        <a href="/Admin/DataPoint/AddToDataSet/@Model.DataSet.Guid" class="btn btn-default">Add Data Point</a>
    </div>
    <div class="col-md-6">
        <a href="/Admin/DataSet/Edit/@Model.DataSet.Guid" class="btn btn-primary btn-lg">Edit</a>
    </div>
</div>
