﻿@using Services.Common
@model List<Data.Entities.DataSet>
@{
    ViewBag.Title = "Data Sets";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    ul {
        list-style: none;
    }
</style>
<div class="page-header">
    <h1>Tags</h1>
</div>
<div>
    <h4 style="color: grey;">
        @ViewBag.GeneralMessage
    </h4>
</div>
<div>
    <a href="/Admin/DataSet/Add" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>
</div>
<ul>
    @{
        var last = "";
    }
    @foreach (var item in Model)
    {
        <li>
            <h4>
                <a href="/Admin/DataSet/Index/@item.Guid">@item.Name</a>
            </h4>
        </li>
    }
</ul>
