﻿<script type="text/html" id="people-manager-template">
    @Html.Partial("~/Views/Templates/Managers/AgentManager.cshtml")
</script>
<script type="text/html" id="places-manager-template">
    @Html.Partial("~/Views/Templates/Managers/PlaceManager.cshtml")
</script>
<script type="text/html" id="things-manager-template">
    @Html.Partial("~/Views/Templates/Managers/ArtworkManager.cshtml")
</script>
<script type="text/html" id="categories-manager-template">
    @Html.Partial("~/Views/Templates/Managers/CategoryManager.cshtml")
</script>
<script type="text/html" id="queries-manager-template">
    @Html.Partial("~/Views/Templates/Managers/QueryManager.cshtml")
</script>
