﻿<div class="animated fadeInDown">
    <h3>Category Manager</h3>
    <div data-bind="if: $data.state.isNone">
        <label>Select a category to edit</label>
        <ul data-bind="foreach: $data.categories">
            <li data-bind="text: $data.Name, click: $parent.categorySelected.bind($parent)"></li>
        </ul>
    </div>
    <div>
        <label>Or</label>
        <button data-bind="click: $data.addNewAgentClicked">Add New Category</button>
    </div>
    <div data-bind="if: $data.state.isEdit">
        <div data-bind="if: $data.editCategoryStackIsReady">
            <div data-bind="template: { name: 'category-stack-template', data: $data.editCategoryStack }"></div>
        </div>
    </div>
    <div data-bind="if: $data.state.isNew">
        <div>
            <label>Name:</label>
            <input type="text" data-bind="value: $data.model.name" />
        </div>
        <div>
            <label>Parent:</label>
            <select data-bind="options: $data.parentCategories, value: $data.model.parent, optionsValue: 'Guid', optionsText: 'Name'"></select>
        </div>
        <button data-bind="click: $data.createCategoryClicked">Save</button>
    </div>
</div>