﻿<div class="animated fadeInDown">
    <h3>Agent Manager</h3>
    <div data-bind="if: $data.state.isNone">
        <label>Select a person to edit</label>
        <ul data-bind="foreach: $data.people">
            <li data-bind="text: $data.Name, click: $parent.personSelected.bind($parent)"></li>
        </ul>
    </div>
    <div>
        <label>Or</label>
        <button data-bind="click: $data.addNewAgentClicked">Add New Agent</button>
    </div>
    <div data-bind="if: $data.state.isEdit">
        <div data-bind="if: $data.editAgentStackIsReady">
            <div data-bind="template: { name: 'person-stack-template', data: $data.editAgentStack }"></div>
        </div>
    </div>
    <div data-bind="if: $data.state.isNew">
        <div>
            <label>Name:</label>
            <input type="text" data-bind="value: $data.model.name" />
        </div>
        <div>
            <label>Sex:</label>
            <select data-bind="value: $data.model.sex">
                <option value="Male">Male</option>
                <option value="Male">Female</option>
            </select>
        </div>
        <button data-bind="click: $data.saveAgentClicked">Save</button>
    </div>
</div>
