﻿<div class="animated fadeInDown">
    <div style="width: 30%;">
        <button data-bind="click: $data.queryFactsClicked">+ Facts</button>
    </div>
    <div style="width: 70%; float: right;">
        <ul data-bind="foreach: $data.model.results">
            <li>
                <span data-bind="text: $data.Agent.Name, click: $parent.agentClicked.bind($parent)"></span>&nbsp;
                <span data-bind="text: $data.Fact.Name, click: $parent.factClicked.bind($parent)"></span>&nbsp;
                <span data-bind="text: $data.Place.Name, click: $parent.placeClicked.bind($parent)"></span>&nbsp;
                <span data-bind="text: $data.Fact.Year"></span>
            </li>
        </ul>
    </div>
</div>
