﻿@using Data.Entities
@model CodexMVC.Models.GenericRelationNodeModel<Artefact, Place>
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<ol class="breadcrumb">
    <li><a href="/Agent/List">List</a></li>
    <li><a href="/Agent/ViewDetail?guid=@Model.Node.Source.Guid">@Model.Node.Source.Name</a></li>
    <li class="active">@Model.Title</li>
</ol>
<h2>@Model.Title</h2>
@using (Html.BeginForm(Model.Action, "Exhibition"))
{
    @Html.HiddenFor(x => x.Node.Source.Guid)
    @Html.HiddenFor(x => x.Node.RelationToDestinationGuid)
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-6 ">
            <div class="form-group">
                <div>
                    <h3>Place</h3>
                    @Html.DropDownListFor(x => x.Node.Destination.Guid, new SelectList(Model.Places, "Value", "Text"), new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-lg">Save</button>
            </div>
        </div>
    </div>
}