﻿@model CodexMVC.Models.AddAgentModel

@{
    ViewBag.Title = "Add an agent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    form label small {
        color: #888;
        font-weight: 200;
    }
</style>

<h2>Add an agent</h2>

@using (Html.BeginForm("AddAgent", "Agent", FormMethod.Post, new { id = "main-form", enctype = "multipart/form-data" }))
{
    <div class="artwork-form">
        <div class="row">
            <div class="form-group col-md-2">
                <label>Article <small>e.g., 'Ser', 'Pope'</small></label>
                @Html.TextBoxFor(x => x.Article, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Article)
            </div>
            <div class="form-group col-md-10">
                @Html.LabelFor(x => x.Name)
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Name)
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>First name</label>
                @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.FirstName)
            </div>
            <div class="form-group col-md-6">
                <label>Last name</label>
                @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.LastName)
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Importance <small>A <strong style="color: red;">5 star</strong> work is a must see for everyone and a <strong style="color: red;">1 star</strong> work is of specialist interest; anything below <strong style="color: red;">4 stars</strong> means the work <em>might not</em> appear in an image stream</small></label>
                @Html.TextBoxFor(x => x.Rating, new { @class = "form-control rating" })
            </div>
            <div class="col-md-6">
                <h4>Sex</h4>
                <div class="col-md-3">
                    @Html.RadioButtonFor(x => x.Sex, "Male")
                    <label>Male</label>
                </div>
                <div class="col-md-3">
                    @Html.RadioButtonFor(x => x.Sex, "Female")
                    <label>Female</label>
                </div>
                <div class="col-md-3">
                    @Html.RadioButtonFor(x => x.Sex, "None")
                    <label>None</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(x => x.Description)
                @Html.TextAreaFor(x => x.Description, new { rows = 10, data_provide = "markdown-editable", data_autofocs = "true", @class = "form-control input-lg" })
                @Html.ValidationMessageFor(x => x.Description)
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <label>Image short name</label>
                        @Html.TextBoxFor(x => x.ImageName, new { @class = "form-control" })
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Image Upload</label>
                            @Html.TextBoxFor(x => x.Image, new { type = "file", @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Image)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Image URL <small>Only supply if not uploading an image</small></label>
                        @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-12">
                        <button type="submit" onclick="return saveClicked();" class="btn btn-primary btn-lg">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <div class="row">
                    <div class="col-md-11">
                        <label>Is a <small>Primary</small></label>
                        @Html.DropDownListFor(x => x.IsA1Guid, new SelectList(Model.Categories, "Value", "Text"), new { @class = "form-control" })
                    </div>
                    <div class="col-md-1">
                        <a href="/Admin/Category/Add" target="_blank" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span></a>
                        <a href="#" onclick="refreshIsAClicked(); return false;" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-refresh"></span></a>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>Is a</label>
                @Html.DropDownListFor(x => x.IsA2Guid, new SelectList(Model.Categories, "Value", "Text"), new { @class = "form-control" })
            </div>

        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <div class="row">
                    <div class="col-md-11">
                        <label>Citizen of</label>
                        @Html.DropDownListFor(x => x.CitizenOfGuid, new SelectList(Model.Places, "Value", "Text"), new { @class = "form-control" })
                    </div>
                    <div class="col-md-1">
                        <a href="/Admin/Place/Add" target="_blank" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span></a>
                        <a href="#" onclick="refreshCitizenOfClicked(); return false;" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-refresh"></span></a>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="row">
                    <div class="col-md-11">
                        <label>Representative of</label>
                        @Html.DropDownListFor(x => x.RepresentativeOfGuid, new SelectList(Model.Categories, "Value", "Text"), new { @class = "form-control" })
                    </div>
                    <div class="col-md-1">
                        <a href="/Admin/Category/Add" target="_blank" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span></a>
                        <a href="#" onclick="refreshRepresentativeOfClicked(); return false;" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-refresh"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="modal fade" id="confirm-agent-add-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Are you <em><b>sure</b></em> that the agent <em><b>is not</b></em> one of the following?</h4>
            </div>
            <div class="modal-body modal-large">
                <div id="confirm-agent-add-modal-template" style="padding: 20px;">
                    <div class="row">
                        <div class="justified-small">
                            <!-- ko foreach: $data.Agents -->
                            <h4>
                                <span data-bind="html: $data.Text"></span>
                                <a target="_blank" href="#" data-bind="attr: { href: '/Admin/Agent/ViewDetail/' + $data.Guid }" class="btn btn-default btn-sm">see</a>
                            </h4>
                            <!-- /ko -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="#" onclick="proceed(); return false;" class="btn btn-default btn-primary">Yes, I'm sure</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section scripts {
    <script>
        $(".rating").rating({
            min: 1, max: 5, size: "lg", step: 1
        });
    </script>
    <script>
        $("select").select2();
    </script>
    <script>
        function refreshIsAClicked() {
            refreshList("/API/GetAgentsList", ["IsA1Guid", "IsA2Guid"]);
        }
        function refreshCitizenOfClicked() {
            refreshList("/API/GetPlacesList", ["CitizenOfGuid"]);
        }
        function refreshRepresentativeOfClicked() {
            refreshList("/API/GetCategoriesList", ["RepresentativeOfGuid"]);
        }
        function refreshStudentOfClicked() {
            refreshList("/API/GetArtistsList", ["StudentOfGuid"]);
        }
        function refreshList(apiMethod, listIds) {
            $.get(apiMethod, null, function (data) {
                $.each(listIds, function (__, listId) {
                    var list = $("#" + listId);
                    var selectedValue = list.val();
                    list.empty();
                    $.each(data.Items, function (__, item) {
                        list.append($("<option></option>").attr("value", (item.Value || "")).text((item.Text || "")));
                    });
                    list.val(selectedValue);
                });
            });
        }
    </script>
    <script>
        var select = app.Utils.select;
        var FormStateEnum = {
            "Proceed": "Proceed",
            "Validate": "Validate"
        };
        var FormState = FormStateEnum.Validate;
        function proceed() {
            FormState = FormStateEnum.Proceed;
            $("#main-form").submit();
        }
        var ConfirmAgentModal = {
            Agents: ko.observableArray([])
        };
        var templateNode = document.getElementById("confirm-agent-add-modal-template");
        ko.applyBindings(ConfirmAgentModal, templateNode);
        function saveClicked() {
            if (FormState == FormStateEnum.Proceed) {
                return true;
            }
            var params = {
                name: $("#Name").val(),
                firstname: $("#FirstName").val(),
                lastname: $("#LastName").val()
            };
            $.get("/Admin/Agent/CheckForDuplicates", params, function (data) {
                if (data.Agents.length == 0) {
                    return proceed();
                }
                var modal = $("#confirm-agent-add-modal");
                ConfirmAgentModal.Agents(data.Agents);
                modal.show();
                modal.modal({ show: true });
            });
            return false;
        }
    </script>

}