﻿@model CodexMVC.Models.AddAgentRecognisabilityByCategory

@{
    ViewBag.Title = Model.Agent.Name + " is recognisable by category ...";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="float:right;padding-left:50px;">
    <a href="/Agent/List">Agents</a> /
    <a href="/Agent/ViewDetail/@Model.Agent.Guid">@Model.Agent.Name</a>
</div>

<h2>@Model.Agent.Name is recognisable by category ...</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.Agent.Guid)
    <div class="form-row">
        <label>Category:</label>
        @Html.DropDownListFor(x => x.CategoryGuid, new SelectList(Model.Categories, "Value", "Text"))
        @Html.ValidationMessageFor(x => x.CategoryGuid)
    </div>
    <div class="form-row">
        <label>Rank:</label>
        @Html.TextBoxFor(x => x.Rank, new { type = "number", min = 1, max = 5 })
        @Html.ValidationMessageFor(x => x.Rank)
    </div>
    <button type="submit">Save</button>
}
