﻿@using Data.Entities
@using Services
@using CodexMVC.Models
@using CodexMVC.Helpers
@model CodexMVC.Models.ViewCompareTimeline

@{
    ViewBag.Title = "Compare Timeline";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@helper TimelineItem(NewAct newAct)
{
    var importance = newAct.Act.Importance == Importance.Small ? "font-size: 0.9em;" : newAct.Act.Importance == Importance.Big ? "font-size: 1.5em;" : "";
    <div style="position: relative;">
        <div>
            <span style="@importance">
                @Html.Raw(newAct.ToHtml())
            </span>
        </div>
    </div>
}
@functions {
    public string Month(int month)
    {
        switch (month)
        {
            case 1: return "January";
            case 2: return "February";
            case 3: return "March";
            case 4: return "April";
            case 5: return "May";
            case 6: return "June";
            case 7: return "July";
            case 8: return "August";
            case 9: return "September";
            case 10: return "October";
            case 11: return "November";
            case 12: return "December";
            case 13: return "Spring";
            case 14: return "Summer";
            case 15: return "Autumn";
            case 16: return "Winter";
            case 17: return "Early";
            case 18: return "Late";
            default: return "???";
        }
    }
    public string NameOf(IEntity entity)
    {
        if (entity is Data.Agent)
        {
            return ((Data.Agent)entity).FullName2;
        }
        if (entity is Artefact)
        {
            return ((Artefact)entity).ToDisplay();
        }
        return entity.Name;
    }
}
<div id="Timeline">
    <h2>Timeline Comparison</h2>
    @using (Html.BeginForm("CompareTimeline", "Agent"))
    {
        <div class="row">
            <div class="form-group">
                <label>Agent 1</label>
                @Html.DropDownList("Agent1", RazorCache.AgentService.AllWithAttributes())
            </div>
            <div class="form-group">
                <label>Agent 2</label>
                @Html.DropDownList("Agent2", RazorCache.AgentService.AllWithAttributes())
            </div>
            <div class="row">
                <button type="submit" class="btn btn-default">Compare</button>
            </div>
        </div>
    }
    <div class="row">

        <table class="table table-condensed table-hover table-responsive">
            <tr>
                <th style="width: 10%;">
                    
                </th>
                @*@{
                    var agents = Model.Timelines.Time.First().Value;
                    int colWidth = 90 / agents.Count();
                }
                @foreach (var time in Model.Timelines.Time.First().Value)
                {
                    <th style="width: @(colWidth)%;">
                        <h3>
                            @time.Agent.FullName2
                        </h3>
                    </th>
                }*@
            </tr>
            @{
                int lastYear = 0;
                int lastMonth = 0;
                var lastDay = 0;
            }
            @foreach (KeyValuePair<string, List<Timeline>> timeline in Model.Timelines.Time)
            {
                <tr>
                    <td>
                        @{
                var date = timeline.Key;
                var dateParts = date.Split('/');
                var year = int.Parse(dateParts[0]);
                var month = dateParts.Length >= 2 ? int.Parse(dateParts[1]) : 0;
                var day = dateParts.Length >= 3 ? int.Parse(dateParts[2]) : 0;
                        }
                        @{
                if (year != lastYear)
                {
                    lastYear = year;
                    lastMonth = 0;
                    lastDay = 0;
                    <h2>
                        @year
                    </h2>
                }
                        }
                        @if (month != lastMonth)
                        {
                            lastMonth = month;
                            lastDay = 0;
                        }
                        @if (day != lastDay)
                        {
                            lastDay = day;
                        }
                        @if (month != 0)
                        {
                            <h4>
                                @Month(lastMonth) @(lastDay > 0 ? lastDay.ToString() : "")
                            </h4>
                        }
                    </td>
                    @foreach (var item in timeline.Value)
                    {
                        <td>
                            <ul style="list-style: none;">
                                @foreach (var newAct in item.NewActs)
                                {
                                    var rowStyle = timeline.Value.Where(x => x != item).Any(x => x.NewActs.Any(x2 => x2.Act.Guid == newAct.Act.Guid)) ? "background-color: yellow;" : "";
                                    <li style="@rowStyle">
                                        @TimelineItem(newAct)
                                    </li>
                                }
                            </ul>
                        </td>
                    }
                </tr>
            }
        </table>

    </div>
</div>
