﻿@using Data.Entities
@model CodexMVC.Models.GenericRelationModel<Data.Agent, Category>
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<ol class="breadcrumb">
    <li><a href="/Agent/List">List</a></li>
    <li><a href="/Agent/ViewDetail?guid=@Model.Node.Source.Guid">@Model.Node.Source.Name</a></li>
    <li class="active">@Model.Title</li>
</ol>
<h2>@Model.Title</h2>
@using (Html.BeginForm(Model.Action, "Agent"))
{
    @Html.HiddenFor(x => x.Node.Source.Guid)
    @Html.HiddenFor(x => x.Node.HasRelationGuid)
    @Html.HiddenFor(x => x.Node.RelationToDestinationGuid)
    @Html.HiddenFor(x => x.Relation.Guid)
    @Html.HiddenFor(x => x.Context)
    if (Model.Node != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Rendered <small>What this the attribute looks like once rendered</small></h3>
                        </div>
                        <div class="panel-body">
                            <div>
                                @{
        var markdown = new MarkdownDeep.Markdown();
                                }
                                @Html.Raw(markdown.Transform(Model.Node.ToHtml()))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-6 ">
            <div class="form-group">
                <div>
                    <h3>Category</h3>
                    @Html.DropDownListFor(x => x.Node.Destination.Guid, new SelectList(Model.Categories, "Value", "Text"), new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <h4>Primary? <small>The attribute is characteristic (of primary importance) to the artefact</small></h4>
                    </div>
                    <div class="col-md-2 form-group">
                        @Html.RadioButtonFor(x => x.Relation.Primary, "true")
                        <label>Yes</label>
                    </div>
                    <div class="col-md-2 form-group">
                        @Html.RadioButtonFor(x => x.Relation.Primary, "false")
                        <label>No</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <h3>Text <small>Optional description of the relationship</small></h3>
                @Html.TextAreaFor(x => x.Relation.Description, new { rows = 5, data_provide = "markdown-editable", data_autofocs = "true", @class = "form-control input-lg" })
            </div>
            <div class="row">
                <button type="submit" class="btn btn-lg">Save</button>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="AgentGuid">Agents</label>
                    @Html.DropDownList("AgentGuid", Model.Agents, new { data_type = "Agent", @class = "form-control" })
                    <button type="button" class="btn btn-default" onclick="return copyClicked('AgentGuid')">+ Text</button>
                    <button type="button" class="btn btn-default" onclick="return copyToContextClicked('AgentGuid')">+ Context</button>
                </div>
                <div class="form-group">
                    <label>Places</label>
                    <div>
                        @Html.DropDownList("PlaceGuid", Model.Places, new { data_type = "Place", @class = "form-control" })
                        <button type="button" class="btn btn-default" onclick="return copyClicked('PlaceGuid')">+ Text</button>
                        <button type="button" class="btn btn-default" onclick="return copyToContextClicked('PlaceGuid')">+ Context</button>
                    </div>
                </div>
                <div class="form-group">
                    <label>Categories</label>
                    <div>
                        @Html.DropDownList("CategoryGuid", Model.Categories, new { data_type = "Category", @class = "form-control" })
                        <button type="button" class="btn btn-default" onclick="return copyClicked('CategoryGuid')">+ Text</button>

                        <button type="button" class="btn btn-default" onclick="return copyToContextClicked('CategoryGuid')">+ Context</button>

                    </div>
                </div>
                <div class="form-group">
                    <label>Artefacts:</label>
                    <div>
                        @Html.DropDownList("ArtefactGuid", Model.Artefacts, new { data_type = "Artefact", @class = "form-control" })
                        <button type="button" class="btn btn-default" onclick="return copyClicked('ArtefactGuid')">+ Text</button>

                        <button type="button" class="btn btn-default" onclick="return copyToContextClicked('ArtefactGuid')">+ Context</button>

                    </div>
                </div>
                <div class="form-group">
                    <label>Documents:</label>
                    <div>
                        @Html.DropDownList("DocumentGuid", Model.Documents, new { data_type = "Document", @class = "form-control" })
                        <button type="button" class="btn btn-default" onclick="return copyClicked('DocumentGuid')">+ Text</button>

                        <button type="button" class="btn btn-default" onclick="return copyToContextClicked('DocumentGuid')">+ Context</button>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label>Context</label>
                <div id="context-box">
                    <div id="context-template">
                        <!-- ko foreach: $data.contexts -->
                        <p style="padding:5px; border-radius: 5px; border: 1px solid #ccc;">
                            <span data-bind="text: $data.Name"></span> <span data-bind="click: $parent.remove.bind($parent)"><span class="glyphicon glyphicon-trash"></span></span>
                        </p>
                        <!-- /ko-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3>
        Date/Time <small>Optional from and to dates for the duration of the relationship</small>
    </h3>
    <div class="row" style="margin-bottom: 40px; ">
        <div class="col-md-6">
            <h4>From</h4>
            <div class="row">
                <div class="col-md-12  form-group">
                    <div class="col-md-3">
                        @Html.RadioButtonFor(x => x.Proximity, Proximity.On)
                        @Html.LabelFor(x => x.Proximity, "On")
                    </div>
                    <div class="col-md-3">
                        @Html.RadioButtonFor(x => x.Proximity, Proximity.Around)
                        @Html.LabelFor(x => x.Proximity, "Around")
                    </div>
                    <div class="col-md-3">
                        @Html.RadioButtonFor(x => x.Proximity, Proximity.Before)
                        @Html.LabelFor(x => x.Proximity, "Before")
                    </div>
                    <div class="col-md-3">
                        @Html.RadioButtonFor(x => x.Proximity, Proximity.After)
                        @Html.LabelFor(x => x.Proximity, "After")
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-3">
                        <label>AD/BC</label>
                        @Html.DropDownListFor(x => x.Relation.Milennium, new SelectList(Model.Milennia, "Value", "Text"), new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <label>Year</label>
                        @Html.TextBoxFor(x => x.Relation.Year, new { @class = "form-control" })
                        @Html.CheckBoxFor(x => x.Relation.Decade)
                        @Html.LabelFor(x => x.Relation.Decade, "Decade?")
                    </div>
                    <div class="col-md-3">
                        <label>Month</label>
                        @Html.DropDownListFor(x => x.Relation.Month, new SelectList(Model.Months, "Value", "Text"), new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <label>Day</label>
                        @Html.TextBoxFor(x => x.Relation.Day, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-3">
                        <label>Hour</label>
                        @Html.TextBoxFor(x => x.Relation.Hour, new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <label>Minute</label>
                        @Html.TextBoxFor(x => x.Relation.Minute, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h4>To</h4>
            <div class="row">
                <div class="col-md-12  form-group">
                    <div class="col-md-3">
                        @Html.RadioButtonFor(x => x.ProximityEnd, Proximity.On)
                        @Html.LabelFor(x => x.ProximityEnd, "On")
                    </div>
                    <div class="col-md-3">
                        @Html.RadioButtonFor(x => x.ProximityEnd, Proximity.Around)
                        @Html.LabelFor(x => x.ProximityEnd, "Around")
                    </div>
                    <div class="col-md-3">
                        @Html.RadioButtonFor(x => x.ProximityEnd, Proximity.Before)
                        @Html.LabelFor(x => x.ProximityEnd, "Before")
                    </div>
                    <div class="col-md-3">
                        @Html.RadioButtonFor(x => x.ProximityEnd, Proximity.After)
                        @Html.LabelFor(x => x.ProximityEnd, "After")
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-3">
                        <label>AD/BC</label>
                        @Html.DropDownListFor(x => x.Relation.MilenniumEnd, new SelectList(Model.Milennia, "Value", "Text"), new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <label>Year</label>
                        @Html.TextBoxFor(x => x.Relation.YearEnd, new { @class = "form-control" })
                        @Html.CheckBoxFor(x => x.Relation.DecadeEnd)
                        @Html.LabelFor(x => x.Relation.DecadeEnd, "Decade?")
                    </div>
                    <div class="col-md-3">
                        <label>Month</label>
                        @Html.DropDownListFor(x => x.Relation.MonthEnd, new SelectList(Model.Months, "Value", "Text"), new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <label>Day</label>
                        @Html.TextBoxFor(x => x.Relation.DayEnd, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-3">
                        <label>Hour</label>
                        @Html.TextBoxFor(x => x.Relation.HourEnd, new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <label>Minute</label>
                        @Html.TextBoxFor(x => x.Relation.MinuteEnd, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section scripts {
    <script>
        function copyClicked(id) {
            var list = $("#" + id);
            var type = list.data("type");
            var single = "[" + type + "|" + list.val() + "]";
            var text = $("#Relation_Description");
            text.val(text.val() + single);
            list.val("");
            return false;
        }
        function copyToContextClicked(id) {
            var list = $("#" + id);
            var type = list.data("type");
            var guid = list.val();
            var name = list.find("option:selected").text();
            var actGuid = $("#Relation_Guid").val();
            var item = {
                Name: name,
                Guid: guid,
                Label: type
            };
            Model.add(item);
        }
        function removeFromContextClicked(element) {
            var p = $(element).parent();
            console.log(p);
        }
        var Model;
        (function () {
            var select = app.Utils.select;
            var contexts = @Html.Raw(Json.Encode(Model.Node != null ? Model.Node.Context() : null));
            Model = {
                contexts: ko.observableArray(contexts),
                remove: function(item){
                    this.contexts.remove(item);
                    this.updateContext();
                },
                add: function(item) {
                    this.contexts.push(item);
                    this.updateContext();
                },
                updateContext: function() {
                    var contexts = ko.toJSON(this.contexts);
                    $("#Context").val(contexts);
                    console.log(contexts);
                }
            };
            ko.applyBindings(Model, document.getElementById("context-template"));
        })();
    </script>
}