﻿@using Data.Entities
@model CodexMVC.Models.EditDocument
@{
    var isNew = Model.Document.Guid == null;
    var mode = isNew ? "Add" : "Edit";
    var title = mode + " Document";
    if (false == isNew)
    {
        title += " " + Model.Document.Guid;
    }
    ViewBag.Title = title;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="/Agent/List">List</a></li>
    <li><a href="/Agent/ViewDetail?guid=@Model.Agent.Guid">@Model.Agent.FullName2</a></li>
    <li class="active">@title</li>
</ol>

<h2>Edit "@(Model.Document.Name ?? "Untitled")" by @Model.Agent.FullName2</h2>

@using (Html.BeginForm("EditDocument", "Agent"))
{
    @Html.HiddenFor(x => x.Document.Guid)
    @Html.HiddenFor(x => x.Agent.Guid)
    if (false == isNew)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Rendered <small>What this documents looks like on the page</small></h3>
                        </div>
                        <div class="panel-body">
                            @{
        var markdown = new MarkdownDeep.Markdown();
                            }
                            @Html.Raw(markdown.Transform(Model.HyperNode.ToHtml()))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-6 ">
            <div class="form-group">
                <label>Name</label>
                @Html.TextBoxFor(x => x.Document.Name, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ">
            <div class="form-group">
                <label>Text</label>
                @Html.TextAreaFor(x => x.Document.Description, new { rows = 20, data_provide = "markdown", data_autofocus = "true", @class = "form-control input-lg" })
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="form-group">
                <label for="AgentGuid">Agents</label>
                @Html.DropDownList("AgentGuid", Model.Agents, new { data_type = "Agent", @class = "form-control" })
                <button type="button" class="btn btn-default" onclick="return copyClicked('AgentGuid')">copy</button>
            </div>
            <div class="form-group">
                <label>Places</label>
                <div>
                    @Html.DropDownList("PlaceGuid", Model.Places, new { data_type = "Place", @class = "form-control" })
                    <button type="button" class="btn btn-default" onclick="return copyClicked('PlaceGuid')">copy</button>
                </div>
            </div>
            <div class="form-group">
                <label>Categories</label>
                <div>
                    @Html.DropDownList("CategoryGuid", Model.Categories, new { data_type = "Category", @class = "form-control" })
                    <button type="button" class="btn btn-default" onclick="return copyClicked('CategoryGuid')">copy</button>
                </div>
            </div>
            <div class="form-group">
                <label>Artefacts:</label>
                <div>
                    @Html.DropDownList("ArtefactGuid", Model.Artefacts, new { data_type = "Artefact", @class = "form-control" })
                    <button type="button" class="btn btn-default" onclick="return copyClicked('ArtefactGuid')">copy</button>
                </div>
            </div>
            <div class="form-group">
                <button type="Submit" class="btn btn-lg">Save</button>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 40px;">
        <div class="col-md-6">
            <h3>From</h3>
            <div class="row">
                <div class="col-md-12  form-group">
                    <div class="col-md-3">
                        @Html.RadioButtonFor(x => x.ProximityModel, Proximity.On)
                        @Html.LabelFor(x => x.ProximityModel, "On")
                    </div>
                    <div class="col-md-3">
                        @Html.RadioButtonFor(x => x.ProximityModel, Proximity.Around)
                        @Html.LabelFor(x => x.ProximityModel, "Around")
                    </div>
                    <div class="col-md-3">
                        @Html.RadioButtonFor(x => x.ProximityModel, Proximity.Before)
                        @Html.LabelFor(x => x.ProximityModel, "Before")
                    </div>
                    <div class="col-md-3">
                        @Html.RadioButtonFor(x => x.ProximityModel, Proximity.After)
                        @Html.LabelFor(x => x.ProximityModel, "After")
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-3">
                        <label>AD/BC</label>
                        @Html.DropDownListFor(x => x.Document.Milennium, new SelectList(Model.Milennia, "Value", "Text"), new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <label>Year</label>
                        @Html.TextBoxFor(x => x.Document.Year, new { @class = "form-control" })
                        @Html.CheckBoxFor(x => x.Document.Decade)
                        @Html.LabelFor(x => x.Document.Decade, "Decade?")
                    </div>
                    <div class="col-md-3">
                        <label>Month</label>
                        @Html.DropDownListFor(x => x.Document.Month, new SelectList(Model.Months, "Value", "Text"), new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <label>Day</label>
                        @Html.TextBoxFor(x => x.Document.Day, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-3">
                        <label>Hour</label>
                        @Html.TextBoxFor(x => x.Document.Hour, new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <label>Minute</label>
                        @Html.TextBoxFor(x => x.Document.Minute, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3>To</h3>
            <div class="row">
                <div class="col-md-12  form-group">
                    <div class="col-md-3">
                        @Html.RadioButtonFor(x => x.ProximityEndModel, Proximity.On)
                        @Html.LabelFor(x => x.ProximityEndModel, "On")
                    </div>
                    <div class="col-md-3">
                        @Html.RadioButtonFor(x => x.ProximityEndModel, Proximity.Around)
                        @Html.LabelFor(x => x.ProximityEndModel, "Around")
                    </div>
                    <div class="col-md-3">
                        @Html.RadioButtonFor(x => x.ProximityEndModel, Proximity.Before)
                        @Html.LabelFor(x => x.ProximityEndModel, "Before")
                    </div>
                    <div class="col-md-3">
                        @Html.RadioButtonFor(x => x.ProximityEndModel, Proximity.After)
                        @Html.LabelFor(x => x.ProximityEndModel, "After")
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-3">
                        <label>AD/BC</label>
                        @Html.DropDownListFor(x => x.Document.MilenniumEnd, new SelectList(Model.Milennia, "Value", "Text"), new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <label>Year</label>
                        @Html.TextBoxFor(x => x.Document.YearEnd, new { @class = "form-control" })
                        @Html.CheckBoxFor(x => x.Document.DecadeEnd)
                        @Html.LabelFor(x => x.Document.DecadeEnd, "Decade?")
                    </div>
                    <div class="col-md-3">
                        <label>Month</label>
                        @Html.DropDownListFor(x => x.Document.MonthEnd, new SelectList(Model.Months, "Value", "Text"), new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <label>Day</label>
                        @Html.TextBoxFor(x => x.Document.DayEnd, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-3">
                        <label>Hour</label>
                        @Html.TextBoxFor(x => x.Document.HourEnd, new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <label>Minute</label>
                        @Html.TextBoxFor(x => x.Document.MinuteEnd, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    function copyClicked(id) {
        var list = $("#" + id);
        var type = list.data("type");
        var single = "[" + type + "|" + list.val() + "]";
        var text = $("#Document_Description");
        text.val(text.val() + single);
        list.val("");
        return false;
    }
</script>
