﻿@model CodexMVC.Models.EditEntityImage
@{
    var mode = Model.ImageGuid == null ? "Add" : "Edit";
    ViewBag.Title = mode + " image";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>
    @mode an agent image
</h2>
@using (Html.BeginForm("EditImage", "Agent"))
{
    @Html.HiddenFor(x => x.EntityGuid)
    @Html.HiddenFor(x => x.ImageGuid)
    <div class="form-group">
        <div class="form-row">
            <label>URI</label>
            @Html.TextBoxFor(x => x.Uri)
            @Html.ValidationMessageFor(x => x.Uri)
        </div>
        <div class="form-row">
            <label>Name</label>
            @Html.TextBoxFor(x => x.Name)
            @Html.ValidationMessageFor(x => x.Name)
        </div>
        <div class="form-row">
            <label>Description</label>
            @Html.TextAreaFor(x => x.Description)
            @Html.ValidationMessageFor(x => x.Description)
        </div>
        <div class="form-row">
            <label>Primary?</label>
            @Html.CheckBoxFor(x => x.Primary)
        </div>
        <div>
            <button type="submit">Save</button>
        </div>
    </div>
}
