﻿@model List<Services.AgentWithAttribute>
@{
    ViewBag.Title = "People";
    ViewBag.Section = "Agent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    ul {
        list-style: none;
    }
</style>
<div class="page-header">
    <h1>Agents</h1>
</div>
<div>
    <h4 style="color: grey;">
        @ViewBag.GeneralMessage
    </h4>
</div>
<div>
    <a href="/Admin/Agent/AddAgent" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span> agent
    </a>
</div>
<div class="row">
    <div class="col-md-2">
        <a href="/Admin/Agent/OrderedList?orderBy=Painter" class="btn btn-default">Ordered List</a>
    </div>
</div>
<ul>
    @{
        var last = "";
    }
    @foreach (var agent in Model.OrderBy(x => x.Agent.FullName))
    {
        var starClassAgent = agent.Bookmarked ? "glyphicon-star" : "glyphicon-star-empty";
        var starStyleAgent = agent.Bookmarked ? "color: red; " : "";
        <li>
            @{
        var first = agent.Agent != null && false == string.IsNullOrWhiteSpace(agent.Agent.FullName) ? agent.Agent.FullName.Substring(0, 1) : "?";
            if (first != last)
            {
                last = first;
                <h1>
                    @first
                </h1>
            }
            }
            <div style="position: relative;">
                <h4>
                    <a href="/Admin/Agent/ViewDetail/@agent.Agent.Guid">@Html.Raw(agent.ToHtmlDisplay())</a>
                </h4>
                @if (agent.Bookmarked)
                {
                    <div style="position: absolute; left: -50px; top: 0;">
                        <a href="#" onclick="addBookmark(this); return false;" data-bookmarked="@agent.Bookmarked.ToString().ToLower()" data-guid="@agent.Agent.Guid" data-type="Agent"><span style="@starStyleAgent font-size: 1.5em;" class="glyphicon @starClassAgent"></span></a>
                    </div>
                }
            </div>
        </li>
    }
</ul>
<script>
    function addBookmark(element) {
        var bookmark = $(element);
        var guid = bookmark.data("guid");
        var type = bookmark.data("type");
        var bookmarked = bookmark.data("bookmarked");
        var icon = bookmark.find("span");
        if (!bookmarked) {
            bookmark.data("bookmarked", true);
            $.get("/API/AddBookmark", {
                guid: guid,
                type: type
            }, function (response) {
                icon.removeClass("glyphicon-star-empty");
                icon.addClass("glyphicon-star");
                icon.css("color", "red");
            });
        } else {
            bookmark.data("bookmarked", false);
            $.get("/API/RemoveBookmark", {
                guid: guid,
                type: type
            }, function (response) {
                icon.removeClass("glyphicon-star");
                icon.addClass("glyphicon-star-empty");
                icon.css("color", "#337ab7");
            });
        }
        return false;
    }
</script>
