﻿@model CodexMVC.Models.ViewOrderedList
@{
    ViewBag.Title = "People";
    ViewBag.Section = "Agent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@helper ArtistType(IEnumerable<Services.ArtistWithTaxonomy> list, string type)
{
    <h3>
        @type
    </h3>
    <ul>
        @foreach (var item in list.OrderBy(x => x.Agent.FullName))
        {
            <li>
                <h4>
                    <a href="/Admin/Agent/ViewDetail/@item.Agent.Guid">
                        @item.Agent.FullName2
                    </a> <small>@string.Join("; ", item.Taxonomy.Keys.Select(x => x.Name))</small>
                </h4>
            </li>
        }
    </ul>
}

@using (Html.BeginForm("OrderedList", "Agent"))
{
    <div class="row">
        <div class="col-md-6">
            <label>
                Discipline
            </label>
            @Html.DropDownListFor(x => x.DisciplineGuid, new SelectList(Model.Disciplines, "Value", "Text"), new { @class = "form-control" })
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-6">
            <button type="submit" class="btn btn-default btn-lg">Search</button>
        </div>
    </div>
}

@if (Model.Results != null && Model.Results.Any())
{
    var types = Model.Results.SelectMany(x => x.Disciplines).Select(x => x.Name).Distinct();
    if (types != null && types.Any())
    {
        foreach (var type in types.OrderBy(x => x))
        {
            @ArtistType(Model.Results.Where(x => x.Disciplines.Any(x2 => x2.Name == type)), type + "s")
        }
    }
}