﻿
<div id="QuickAddAgentModal" class="form">
    <div class="row">
        <div class="form-group col-md-6">
            <label>Name</label>
            <input type="text" name="Name" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label>First name</label>
            <input type="text" name="FirstName" class="form-control" />
        </div>
        <div class="form-group col-md-6">
            <label>Last name</label>
            <input type="text" name="LastName" class="form-control" />
        </div>
    </div>
</div>

<a href="#" class="btn btn-default btn-primary" onclick="quickAddAgentModalSaveClicked(); return false;">Save</a>