﻿@using Data.Entities
@using Services
@using Data
@using CodexMVC.Helpers
@model CodexMVC.Models.ViewAgent
@{
    ViewBag.Title = "Edit Agent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var verb = Model.Agent.Guid == null ? "Add" : "Edit";
    var hasTimeline = Model.NewActs != null && Model.NewActs.Any();
    var hasDocuments = Model.Documents != null && Model.Documents.Any();
    var hasReferredDocs = Model.ReferredDocs != null && Model.ReferredDocs.Any();
}
@helper EntityLink(IEntity entity)
{
    if (entity == null) { return; }
    var type = entity is Data.Agent ? "Agent" : entity is Place ? "Place" : entity is Artefact ? "Artefact" : entity is Category ? "Category" : entity.GetType().Name;
    <a href="/Admin/@type/ViewDetail?guid=@entity.Guid">@NameOf(entity)</a>
}
@helper AttributeCell(IEnumerable<GenericRelationNode<Agent, IEntity>>
    attributes, string editActionName, bool incoming = false)
{
    if (attributes.Any())
    {
        foreach (var attr in attributes)
        {
            var agentGuid = attr.Source.Guid;
            <div class="col-md-3">
                <p class="text-right">
                    <span style="margin-right: 5px;">@EntityLink(attr.Destination)</span>
                    <a class="btn btn-default btn-sm" href="/Admin/Agent/@editActionName?agentGuid=@agentGuid&toDestGuid=@attr.RelationToDestinationGuid">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="/Admin/Agent/DeleteBasicRelationship?agentGuid=@agentGuid&relationshipGuid=@attr.RelationToDestinationGuid&relationshipType=@attr.RelationToDestinationType" class="btn btn-default btn-sm" onclick="return confirm('Are you sure you wish to delete this relationship?');">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </p>
            </div>
        }
    }
}
@helper AttributeCell(IEnumerable<GenericRelationHyperNode<Agent, IEntity>>
    attributes, string editActionName, bool incoming = false)
{
    if (attributes.Any())
    {
        foreach (var attr in attributes)
        {
            var agentGuid = attr.Source.Guid;
            <div class="col-md-3">
                <p class="text-right">
                    <span style="margin-right: 5px;">@EntityLink(attr.Destination)</span>
                    <a class="btn btn-default btn-sm" href="/Admin/Agent/@editActionName?agentGuid=@agentGuid&hasRelationGuid=@attr.HasRelationGuid">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="/Admin/Agent/DeleteAttribute?relationGuid=@attr.Relation.Guid&agentGuid=@agentGuid" class="btn btn-default btn-sm" onclick="return confirm('Are you sure you wish to delete this relationship?');">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </p>
            </div>
        }
    }
}
@helper AttributeCellReverse(IEnumerable<GenericRelationNode<IEntity, Agent>>
    attributes, string editActionName, bool incoming = false)
{
    if (attributes.Any())
    {
        foreach (var attr in attributes)
        {
            var agentGuid = attr.Destination.Guid;
            <div class="col-md-3">
                <p class="text-right">
                    <span style="margin-right: 5px;">@EntityLink(attr.Source)</span>
                    <a class="btn btn-default btn-sm" href="/Admin/Agent/@editActionName?agentGuid=@agentGuid&toDestGuid=@attr.RelationToDestinationGuid">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="/Admin/Agent/DeleteAttribute?toDestGuid=@attr.RelationToDestinationGuid&agentGuid=@agentGuid" class="btn btn-default btn-sm" onclick="return confirm('Are you sure you wish to delete this relationship?');">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </p>
            </div>
        }
    }
}
@helper AttributeCellReverse(IEnumerable<GenericRelationHyperNode<IEntity, Agent>>
    attributes, string editActionName, bool incoming = false)
{
    if (attributes.Any())
    {
        foreach (var attr in attributes)
        {
            var agentGuid = attr.Destination.Guid;
            <div class="col-md-3">
                <p class="text-right">
                    <span style="margin-right: 5px;">@EntityLink(attr.Source)</span>
                    <a class="btn btn-default btn-sm" href="/Admin/Agent/@(editActionName+"Reverse")?agentGuid=@agentGuid&hasRelationGuid=@attr.HasRelationGuid">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="/Admin/Agent/DeleteAttribute?relationGuid=@attr.Relation.Guid&agentGuid=@agentGuid" class="btn btn-default btn-sm" onclick="return confirm('Are you sure you wish to delete this relationship?');">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </p>
            </div>
        }
    }
}
@helper AttributeRow(IEnumerable<GenericRelationNode<Agent, IEntity>> outgoing, IEnumerable<GenericRelationNode<IEntity, Agent>> incoming, string relationshipName, string relationshipType, string addActionName, string editActionName, bool multipleOutAllowed = true, bool multipleInAllowed = true)
{
    <tr>
        <td>
            <p class="text-right"><strong>@relationshipName</strong></p>
        </td>
        <td>
            @{
                var disable = false == (multipleOutAllowed || (false == outgoing.Any(x => x.RelationToDestinationType == relationshipType)) && (multipleInAllowed && false == incoming.Any(x => x.RelationToDestinationType == relationshipType)));
            }
            <div @if (disable) { <text> data-toggle="tooltip" data-placement="top" title="Only one '@relationshipName' is allowed" </text>              }>
                <a href="/Admin/Agent/@addActionName?agentGuid=@Model.Agent.Guid" @if (disable) { <text> disabled </text>                  } class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </td>
        <td>
            <div style="margin-left: 20px;margin-right: 20px;">
                @{
                    var hasOutgoing = outgoing.Where(x => x.RelationToDestinationType == relationshipType).Any();
                }
                @if (hasOutgoing)
                {
                    <div class="row">
                        @AttributeCell(outgoing.Where(x => x.RelationToDestinationType == relationshipType), editActionName)
                    </div>
                }
                @if (incoming.Where(x => x.RelationToDestinationType == relationshipType).Any())
                {
                    var rowStyle = hasOutgoing ? "border-top: dashed 2px #808080" : "";
                    <div class="row" style="@rowStyle">
                        <p><span class="glyphicon glyphicon-arrow-left"></span></p>
                        @AttributeCellReverse(incoming.Where(x => x.RelationToDestinationType == relationshipType), editActionName, true)
                    </div>
                }
            </div>
        </td>
    </tr>
}
@helper AttributeRow(IEnumerable<GenericRelationHyperNode<Agent, IEntity>> outgoing, IEnumerable<GenericRelationHyperNode<IEntity, Agent>> incoming, string relationshipName, string relationshipType, string addActionName, string editActionName, bool multipleOutAllowed = true, bool multipleInAllowed = true)
{
    <tr>
        <td>
            <p class="text-right"><strong>@relationshipName</strong></p>
        </td>
        <td>
            @{
                var disable = false == (multipleOutAllowed || (false == outgoing.Any(x => x.RelationToDestinationType == relationshipType)) && (multipleInAllowed && false == incoming.Any(x => x.RelationToDestinationType == relationshipType)));
            }
            <div @if (disable) { <text> data-toggle="tooltip" data-placement="top" title="Only one '@relationshipName' is allowed" </text>         }>
                <a href="/Admin/Agent/@addActionName?agentGuid=@Model.Agent.Guid" @if (disable) { <text> disabled </text>            } class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </td>
        <td>
            <div style="margin-left: 20px;margin-right: 20px;">
                @{
                    var hasOutgoing = outgoing.Where(x => x.RelationToDestinationType == relationshipType).Any();
                }
                @if (hasOutgoing)
                {
                    <div class="row">
                        @AttributeCell(outgoing.Where(x => x.RelationToDestinationType == relationshipType), editActionName)
                    </div>
                }
                @if (incoming.Where(x => x.RelationToDestinationType == relationshipType).Any())
                {
                    var rowStyle = hasOutgoing ? "border-top: dashed 2px #808080" : "";
                    <div class="row" style="@rowStyle">
                        <p><span class="glyphicon glyphicon-arrow-left"></span></p>
                        @AttributeCellReverse(incoming.Where(x => x.RelationToDestinationType == relationshipType), editActionName, true)
                    </div>
                }
            </div>
        </td>
    </tr>
}
@functions {
    public string Month(int month)
    {
        switch (month)
        {
            case 1: return "January";
            case 2: return "February";
            case 3: return "March";
            case 4: return "April";
            case 5: return "May";
            case 6: return "June";
            case 7: return "July";
            case 8: return "August";
            case 9: return "September";
            case 10: return "October";
            case 11: return "November";
            case 12: return "December";
            case 13: return "Spring";
            case 14: return "Summer";
            case 15: return "Autumn";
            case 16: return "Winter";
            case 17: return "Early";
            case 18: return "Late";
            default: return "???";
        }
    }
    public string NameOf(IEntity entity)
    {
        if (entity is Data.Agent)
        {
            return ((Data.Agent)entity).FullName2;
        }
        if (entity is Artefact)
        {
            return ((Artefact)entity).ToDisplay();
        }
        return entity.Name;
    }
}
<style type="text/css">
    html, body, #map-canvas {
        height: 600px;
        width: 100%;
        margin: 0;
        padding: 0;
    }
</style>
<ol class="breadcrumb">
    <li><a href="/Admin/Agent/List">List</a></li>
    <li class="active">@Model.Agent.FullName2</li>
</ol>

<div class="page-header">
    <h1>
        @Model.Agent.FullName2
        @if (Model.AgentWithAttribute != null)
        {
            <small>@Model.AgentWithAttribute.SubTitle()</small>
        }

    </h1>
</div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#Details">Details</a>
                </li>
                @if (hasTimeline)
                {
                    <li><a href="#Timeline">Timeline</a></li>
                }
                @if (hasDocuments)
                {
                    <li>
                        <a href="#Documents">Documents</a>
                    </li>
                }
                @if (hasReferredDocs)
                {
                    <li>
                        <a href="#ReferredDocs">Documents referred in</a>
                    </li>
                }
                <li>
                    <a href="#Attributes">Attributes</a>
                </li>
                <li>
                    <a href="#map-canvas">Map</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="row">
    <h4 style="color: grey;">
        @ViewBag.GeneralMessage
    </h4>
</div>

<div class="row" id="Details">
    <div class="form-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Details</h3>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Guid</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@Model.Agent.Guid</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@(Model.Agent.Name ?? "(none)")</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Sex</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@(Model.Agent.Sex ?? Sex.None)</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Honorific</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@(Model.Agent.Article ?? "(none)")</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Aliases</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">
                                @if (Model.Agent.Aliases != null)
                                {
                                    @:@string.Join(", ", Model.Agent.Aliases)
                                                                            }
                                else
                                {
                                    @:(none)
                                                                            }
                                <a href="/Admin/Agent/AddAlias?agentGuid=@Model.Agent.Guid" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Subtitle</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@(Model.Agent.Subtitle ?? "(none)")</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Importance</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">
                                @Html.TextBoxFor(x => x.Agent.Rating, new { @class = "rating" })
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">
                                @{
                                    var markdown2 = new MarkdownDeep.Markdown();
                                }
                                @Html.Raw(markdown2.Transform((Model.Agent.Description ?? "(none)")))
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Images</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">
                                @if (Model.Images.Any())
                                {
                                    <ul>
                                        @foreach (var image in Model.Images.OrderByDescending(x => x.Primary))
                                        {
                                            <li>
                                                <a href="~/Admin/Agent/EditImage?imageGuid=@image.Guid"><img src="@image.Uri" width="200" />@image.Name</a>
                                                @if (image.Primary.HasValue && image.Primary.Value)
                                                {
                                                    @:[*]
                                                                            }
                                                <a href="~/Admin/Agent/DeleteImage?imageGuid=@image.Guid&agentGuid=@Model.Agent.Guid">[delete]</a>
                                            </li>
                                        }
                                    </ul>
                                }
                                else
                                {
                                    @:(None)
                                                                    }
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @using (Html.BeginForm("Search", "Agent"))
                    {
                        <div class="form-group">
                            <input type="text" name="query" class="form-control" />
                            <button type="submit" class="btn btn-default">Search</button>
                        </div>
                    }
                </div>
                <div class="row">
                    <div style="float:right;padding-left:50px;">
                        <a href="/Admin/Act/AddAct" class="btn btn-default">+ Timeline</a>
                    </div>
                    <div style="float:right;padding-left:50px;">
                        <a href="/Admin/Agent/AddDocument?agentGuid=@Model.Agent.Guid" class="btn btn-default">+ Document</a>
                    </div>
                    <div style="float:right;padding-left:50px;">
                        <a href="/Agent/ViewDetail/@Model.Agent.Guid" class="btn btn-default">Public</a>
                    </div>
                    <div style="float:right;padding-left:50px;">
                        <a href="/Admin/Agent/ARC?agentGuid=@Model.Agent.Guid" class="btn btn-default">ARC</a>
                    </div>
                    <div style="float:right;padding-left:50px;">
                        <a href="/Admin/Agent/Edit?agentGuid=@Model.Agent.Guid" class="btn btn-default">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@if (hasTimeline)
{
    <div id="Timeline">
        <h2><a href="/Admin/Act/AddAct" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-plus"></span></a> Timeline <small>All acts that involve the agent</small></h2>
        <div class="row">
            <ul style="list-style: none">
                @{
    int last = 0;
    int lastMonth = 0;
    var lastDay = 0;
                }
                @foreach (var newAct in Model.NewActs.OrderBy(x => x.Act.Year).ThenBy(x => x.Act.Month).ThenBy(x => x.Act.Day))
                {
                    if (newAct.Act.Year.HasValue && newAct.Act.Year.Value != last)
                    {
                        last = newAct.Act.Year.Value;
                        lastMonth = 0;
                        lastDay = 0;
                        var year = newAct.Act.Decade ? newAct.Act.Year.Value.ToString() + "s" : newAct.Act.Year.Value.ToString();
                        <h2>
                            @year
                        </h2>
                    }
                    if (newAct.Act.Month.HasValue && newAct.Act.Month.Value != lastMonth)
                    {
                        lastMonth = newAct.Act.Month.Value;
                        lastDay = 0;

                    }
                    if (newAct.Act.Day.HasValue && newAct.Act.Day.Value != lastDay)
                    {
                        lastDay = newAct.Act.Day.Value;
                    }
                    if (newAct.Act.Month.HasValue)
                    {
                        <h4>
                            @Month(lastMonth) @(lastDay > 0 ? lastDay.ToString() : "")
                        </h4>
                    }
                    <li id="act-@newAct.Act.Guid">
                        @{
                    var importance = newAct.Act.Importance == Importance.Small ? "font-size: 0.9em;" : newAct.Act.Importance == Importance.Big ? "font-size: 1.5em;" : "";
                        }
                        <div style="position: relative;">
                            <div>
                                @if (newAct.Act.Name != null)
                                {
                                    <h4>@newAct.Act.Name</h4>
                                }
                                <span style="@importance">
                                    @Html.Raw(newAct.ToHtml())
                                </span> <a href="/Admin/Act/EditAct?actGuid=@newAct.Act.Guid" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
                                <a href="/Admin/Act/Delete?actGuid=@newAct.Act.Guid&entityType=Agent&entityGuid=@Model.Agent.Guid" onclick="return confirm('Are you sure you want to delete this act?');" class="btn btn-default">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </div>
                            <div style="position: absolute; left: -25px; top: 4px;">
                                @{
                                var starClass = newAct.Bookmarked ? "glyphicon-star" : "glyphicon-star-empty";
                                var starStyle = newAct.Bookmarked ? "color: red; " : "";
                                var clockStyle = newAct.InItinerary ? "color: red;" : "";
                                }
                                <a href="#" onclick="addBookmark(this); return false;" data-bookmarked="@newAct.Bookmarked.ToString().ToLower()" data-guid="@newAct.Act.Guid" data-type="Act"><span style="@starStyle font-size: 1.5em;" class="glyphicon @starClass"></span></a>
                                @*<a href="#" onclick="addItinerary(this); return false;" data-selected="@newAct.InItinerary.ToString().ToLower()" data-guid="@newAct.Act.Guid" data-type="Act"><span style="@clockStyle font-size: 1.5em;" class="glyphicon glyphicon-time"></span></a>*@
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
}
@if (hasDocuments)
{
    <div id="Documents">
        <h2>
            <a href="/Admin/Agent/AddDocument?agentGuid=@Model.Agent.Guid" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-plus"></span></a> Documents <small>Documents authored by this agent</small>
        </h2>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            @{
    var index = 0;
            }
            @foreach (var document in Model.Documents)
            {
                index++;
                var year = document.Document.Year.HasValue ? document.Document.Year.Value.ToString() : "undated";
                if (document.Document.Decade)
                {
                    year += "s";
                }
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h3 class="panel-title">
                            <a href="#collapse@(index)" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapse@(index)">@(document.Document.Name ?? "Untitled")</a> (@year)
                            <small><a href="/Admin/Agent/ViewDetail?guid=@document.MadeBy.Guid">by @document.MadeBy.FullName2</a></small>
                            <a href="/Admin/Agent/EditDocument?documentGuid=@document.Document.Guid" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
                            <a href="/Admin/Agent/DeleteDocument?documentGuid=@document.Document.Guid&agentGuid=@Model.Agent.Guid" class="btn btn-default" onclick="return confirm('Are you sure you want to delete this document?');"><span class="glyphicon glyphicon-trash"></span></a>
                        </h3>
                    </div>
                    <div id="collapse@(index)" class="panel-collapse collapse" role="tabpanel">
                        <div class="panel-body">
                            @{
                var markdown = new MarkdownDeep.Markdown();
                            }
                            @Html.Raw(markdown.Transform(document.ToHtml()))
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
@if (Model.ReferredDocs != null && Model.ReferredDocs.Any())
{
    <div id="ReferredDocs">
        <h2>
            Document references <small>Documents where this agent is referenced</small>
        </h2>
        <div class="panel-group" id="accordionTest" role="tablist" aria-multiselectable="true">
            @{
    var index = 0;
            }
            @foreach (var document in Model.ReferredDocs)
            {
                index++;
                var year = document.Document.Year.HasValue ? document.Document.Year.Value.ToString() : "undated";
                if (document.Document.Decade)
                {
                    year += "s";
                }
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h3 class="panel-title">
                            <a href="#collapseTest@(index)" data-toggle="collapse" data-parent="#accordionTest" aria-expanded="false" aria-controls="collapse@(index)">@(document.Document.Name ?? "Untitled")</a> (@year)
                            <small><a href="/Admin/Agent/ViewDetail?guid=@document.MadeBy.Guid">by @document.MadeBy.FullName2</a></small>
                            <a href="/Admin/Agent/EditDocument?documentGuid=@document.Document.Guid" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
                            <a href="/Admin/Agent/DeleteDocument?documentGuid=@document.Document.Guid&agentGuid=@Model.Agent.Guid" class="btn btn-default" onclick="return confirm('Are you sure you want to delete this document?');"><span class="glyphicon glyphicon-trash"></span></a>
                        </h3>
                    </div>
                    <div id="collapseTest@(index)" class="panel-collapse collapse" role="tabpanel">
                        <div class="panel-body">
                            @{
                var markdown = new MarkdownDeep.Markdown();
                            }
                            @Html.Raw(markdown.Transform(document.ToHtml()))
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
<div id="Attributes">
    <div class="row">
        <h2>Attributes</h2>
        <div class="table-responsive">
            <table class="table table-hover table-condensed table-striped">
                <tr>
                    <th style="width: 100px;"></th>
                    <th style="width: 50px;"></th>
                    <th></th>
                </tr>
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "is a", Label.Relationship.IsA, "AddIsA", "EditIsA")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "maker of", Label.Relationship.MadeBy, "AddMakerOf", "EditMakerOf")
                @AttributeRow(Model.BasicOutgoingRelations, Model.BasicIncomingRelations, "aspect of", Label.Relationship.AspectOf, "AddAspectOf", "EditAspectOf")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "associated with", Label.Relationship.AssociatedWith, "AddAssociatedWith", "EditAssociatedWith")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "designed", Label.Relationship.DesignedBy, "AddDesignedByReverse", "EditDesignedByReverse")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "citizen of", Label.Relationship.CitizenOf, "AddCitizenOf", "EditCitizenOf")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "born at", Label.Relationship.BornAt, "AddBornAt", "EditBornAt", multipleOutAllowed: false)
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "died at", Label.Relationship.DiedAt, "AddDiedAt", "EditDiedAt", multipleOutAllowed: false)
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "buried in", Label.Relationship.BuriedIn, "AddBuriedIn", "EditBuriedIn")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "child of", Label.Relationship.ChildOf, "AddChildOf", "EditChildOf")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "spouse of", Label.Relationship.SpouseOf, "AddSpouseOf", "EditSpouseOf")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "partner of", Label.Relationship.PartnerOf, "AddPartnerOf", "EditPartnerOf")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "knows", Label.Relationship.Knows, "AddKnows", "EditKnows")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "friend of", Label.Relationship.FriendOf, "AddFriendOf", "EditFriendOf")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "adversary of", Label.Relationship.AdversaryOf, "AddAdversaryOf", "EditAdversaryOf")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "located at", Label.Relationship.LocatedAt, "AddLocatedAt", "EditLocatedAt")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "patron of", Label.Relationship.BenefactorOf, "AddPatronOf", "EditPatronOf")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "represented in", Label.Relationship.Represents, "AddRepresentsReverse", "EditRepresentsReverse")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "worked for", Label.Relationship.WorkedFor, "AddWorkedFor", "EditWorkedFor")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "worked on", Label.Relationship.WorkedOn, "AddWorkedOn", "EditWorkedOn")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "collaborated with", Label.Relationship.CollaboratedWith, "AddCollaboratedWith", "EditCollaboratedWith")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "student of", Label.Relationship.StudentOf, "AddStudentOf", "EditStudentOf")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "studied at", Label.Relationship.StudentAt, "AddStudentAt", "EditStudentAt")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "taught at", Label.Relationship.TeacherAt, "AddTeacherAt", "EditTeacherAt")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "representative of", Label.Relationship.RepresentativeOf, "AddRepresentativeOf", "EditRepresentativeOf")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "influence on", Label.Relationship.InfluenceOn, "AddInfluenceOn", "EditInfluenceOn")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "commissioned", Label.Relationship.CommissionedBy, "AddCommissioned", "EditCommissioned")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "part of", Label.Relationship.PartOf, "AddPartOf", "EditPartOf")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "member of", Label.Relationship.MemberOf, "AddMemberOf", "EditMemberOf")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "similar to", Label.Relationship.SimilarTo, "AddSimilarTo", "EditSimilarTo")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "symbolises agent", Label.Relationship.SymbolOf, "AddSymbolOfAgent", "EditSymbolOfAgent")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "symbolises place", Label.Relationship.SymbolOfPlace, "AddSymbolOfPlace", "EditSymbolOfPlace")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "applies to", Label.Relationship.AppliesTo, "AddAppliesTo", "EditAppliesTo")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "has motif", Label.Relationship.HasMotif, "AddHasMotif", "EditHasMotif")
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "represented by", Label.Relationship.RepresentedBy, "AddRepresentedBy", "EditRepresentedBy", multipleOutAllowed: false)
                @AttributeRow(Model.OutgoingRelations, Model.IncomingRelations, "exhibiting in", Label.Relationship.ExhibitingIn, "AddExhibitingIn", "EditExhibitingIn")
            </table>
        </div>
    </div>
</div>
<div>
    <h3>Map</h3>
    <div class="col-md-12">
        <a href="#" onclick="toggleMapExpansion(); return false;" style="float: right;" class="btn btn-default btn-sm">
            <span id="map-expando" class="glyphicon glyphicon-resize-full"></span>
        </a>
        <a href="#" onclick="toggleMarkers(); return false;" style="float: right;" class="btn btn-default btn-sm">Markers</a>
        <a href="#" onclick="toggleHeatmap(); return false;" style="float: right;" class="btn btn-default btn-sm">Heat Map</a>
    </div>
    <div id="map-canvas"></div>
    @section scripts {
        <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyAtULLEkACV1qYgWl-YAFwjRoKRpHOyW9I">
        </script>
        <script src="~/Scripts/google.maps.markerclusterer.js"></script>
        <script src="~/Scripts/google.maps.cluster.js"></script>
        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        </script>
        <script>
            $(".rating").rating({
                min: 1, max: 5, size: "sm", step: 1, readonly: true
            });
        </script>
        <script type="text/javascript">
            function addBookmark(element) {
                var bookmark = $(element);
                var guid = bookmark.data("guid");
                var type = bookmark.data("type");
                var bookmarked = bookmark.data("bookmarked");
                var icon = bookmark.find("span");
                if (!bookmarked){
                    bookmark.data("bookmarked", true);
                    $.get("/API/AddBookmark", {
                        guid: guid,
                        type: type
                    }, function(response){
                        icon.removeClass("glyphicon-star-empty");
                        icon.addClass("glyphicon-star");
                        icon.css("color", "red");
                    });
                } else {
                    bookmark.data("bookmarked", false);
                    $.get("/API/RemoveBookmark", {
                        guid: guid,
                        type: type
                    }, function(response){
                        icon.removeClass("glyphicon-star");
                        icon.addClass("glyphicon-star-empty");
                        icon.css("color", "#337ab7");
                    });
                }
                return false;
            }
            function addItinerary(element) {
                var bookmark = $(element);
                var guid = bookmark.data("guid");
                var type = bookmark.data("type");
                var selected = bookmark.data("selected");
                var icon = bookmark.find("span");
                if (!bookmarked){
                    bookmark.data("selected", true);
                    $.get("/API/AddItinerary", {
                        guid: guid,
                        type: type
                    }, function(response){
                        icon.removeClass("glyphicon-star-empty");
                        icon.addClass("glyphicon-star");
                        icon.css("color", "red");
                    });
                } else {
                    bookmark.data("selected", false);
                    $.get("/API/RemoveItinerary", {
                        guid: guid,
                        type: type
                    }, function(response){
                        icon.removeClass("glyphicon-star");
                        icon.addClass("glyphicon-star-empty");
                        icon.css("color", "#337ab7");
                    });
                }
                return false;
            }
        </script>
        <script>
            /**
            Globals
            **/
            var map, markerCluster;
            var dataset = {
                map: null,
                timeline: {

                },
                artworks: {

                },
                cluster: {

                }
            };

            function initialiseTimelineMap(){

                var markers = [];
                @foreach (var item in Model.TimelineMarkers)
                {
                    foreach (var subitem in item)
                    {
                    <text>
                buildMarkerList(markers, @(subitem.Latitude), @subitem.Longitude, "@Html.Raw(subitem.ContainerName)", "@Html.Raw(subitem.Content.Replace("\"", "'"))");
                </text>
                    }
                }
                if (markers.length) {
                    var heatmap = @Html.Raw(Json.Encode(Model.TimelineHeatMap));
                    var result = generateMarkersAndHeatMap(markers, dataset.map, heatmap);
                    dataset.timeline.markers = result.markers;
                    dataset.timeline.heatmap = result.heatmap;
                    dataset.timeline.cluster = result.cluster;
                }
            }

            function initialiseArtworkMap(){

                var markers = [];
                @foreach (var item in Model.ArtworkMarkers)
                {
                    foreach (var subitem in item)
                    {
                        <text>
                buildMarkerList(markers, @(subitem.Latitude), @subitem.Longitude, "@Html.Raw(subitem.ContainerName)", "@Html.Raw(subitem.Content.Replace("\"", "'"))");
                </text>
                    }
                }
                if (markers.length) {
                    var heatmap = @Html.Raw(Json.Encode(Model.TimelineHeatMap));
                    var result = generateMarkersAndHeatMap(markers, dataset.map, heatmap);
                    dataset.artworks.markers = result.markers;
                    dataset.artworks.heatmap = result.heatmap;
                    dataset.artworks.cluster = result.cluster;
                }
            }

            function buildMarkerList(list, lat, lng, title, content) {
                var item = find(list, function (item) {
                    return item.lat == lat && item.lng == lng;
                });
                if (item) {
                    item.infoWindows.push({ title: title, content: content });
                } else {
                    var temp = {
                        lat: lat, lng: lng, infoWindows: [{ title: title, content: content }]
                    };
                    list.push(temp);
                }
            }

            var select = app.Utils.select;
            var find = app.Utils.find;
            var each = app.Utils.each;

            function generateMarkersAndHeatMap(list, map, heatmapData) {
                var markerList = select(list, function (item, __, index) {
                    var content = select(item.infoWindows, function (iw) {
                        return "<p>" + iw.content + "</p>";
                    });
                    var infowindow = new google.maps.InfoWindow({
                        content: $("<div id=\"content\" style='min-height: 150px; width: 600px;'><div id='bodyContent' style='line-height: 14px;'><p><b>{title}</b></p><div style='-webkit-column-count: 1;'>{content}</div></div></div>".fmt({
                            content: content.join(""), title: item.infoWindows[0].title || "test"
                        }))[0]
                    });
                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(item.lat, item.lng),
                        title: ""
                    });
                    google.maps.event.addListener(marker, 'click', function () {
                        infowindow.open(map, marker);
                    });
                    return {
                        marker: marker,
                        infoWindow: infowindow
                    }
                });

                var markers = select(markerList, function (item) { return item.marker });

                markerCluster = new MarkerClusterer(map, markers);

                var bounds = new google.maps.LatLngBounds();
                each(markers, function(marker) {
                    bounds.extend(marker.getPosition());
                });
                map.fitBounds(bounds);

                var heatmapTransformed = select(heatmapData, function(item){
                    return {
                        location: new google.maps.LatLng(item.Latitude, item.Longitude),
                        weight: item.Weight
                    };
                });
                var heatmap = new google.maps.visualization.HeatmapLayer({
                    data: heatmapTransformed
                });
                heatmap.set('radius', 30);

                return {
                    markers: markers,
                    heatmap: heatmap,
                    cluster: markerCluster
                };
            }
            function toggleMarkers() {
                each(dataset.timeline.markers, function(m){
                    m.setMap(dataset.map);
                });
                dataset.timeline.cluster.addMarkers(dataset.timeline.markers);
                dataset.timeline.heatmap.setMap(null);
            }
            function toggleHeatmap() {
                dataset.timeline.heatmap.setMap(dataset.map);
                each(dataset.timeline.markers, function(m){
                    m.setMap(null);
                });
                dataset.timeline.cluster.clearMarkers();
            }
            function toggleArtworksMarkers() {
                each(dataset.artworks.markers, function(m){
                    m.setMap(dataset.map);
                });
                dataset.artworks.cluster.addMarkers(dataset.artworks.markers);
                dataset.artworks.heatmap.setMap(null);
            }
            function toggleArtworksHeatmap() {
                dataset.artworks.heatmap.setMap(dataset.map);
                each(dataset.artworks.markers, function(m){
                    m.setMap(null);
                });
                dataset.artworks.cluster.clearMarkers();
            }
            function toggleMapExpansion(link) {
                var expando = $("#map-expando");
                var $map = $("#map-canvas");
                var height = parseInt($map.css("height"));
                var isContracted = height == 300;
                if (isContracted) {
                    expando.removeClass("glyphicon-resize-full");
                    expando.addClass("glyphicon-resize-small");
                }
                else{
                    expando.removeClass("glyphicon-resize-small");
                    expando.addClass("glyphicon-resize-full");
                }
                $map.css("height", isContracted ? "600px" : "300px");
                google.maps.event.trigger(dataset.map, "resize");
            }
            if (typeof window.google != "undefined"){

                var mapOptions = {
                    zoom: 14
                };
                dataset.map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

                // initialiseArtworkMap();
                initialiseTimelineMap();
            }
        </script>
    }

</div>
